[2018-01-03 16:37] brianirish commented on #496
@jtommy The documentation could probably use improving to specifically mention the import of font-awesome's CSS in the main.js being _required_ for font-awesome's icons to work at all. My assumption, and I believe @StanislavBerezin had this assumption as well, was that the font-awesome library came included in Buefy, so that all was required was to import the Buefy and Buefy's css file.

[2018-01-03 17:12] jvmonjo commented on #507
I've created a PR with this feature: #510

[2018-01-03 17:52] jtommy commented on #496
@brianirish Ok, we'll add a warning in the start docs page.

[2018-01-03 18:53] #496 closed

[2018-01-03 19:39] roni-estein opened #511 "multiple b-checkboxs in b-table"
Checkboxes inside a table
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.8]
**OS/Browser**: macos high sierra

### Description

This follows more as a question than a bug, if I have a few b-checkbox items in a in a b-table row I can't seem to get the events to bubble up to the main Vue instance. I'm looking for this in the examples but this doesn't seem possible wi

[2018-01-03 19:51] roni-estein commented on #511
As of this writing if I create a "delivered button" with the click event will bubble up to the main view instance so I can extract the prop.row data, but I can't do this conventiently with a checkbox. I'm sure it's just a lack of knowledge. There is a checked rows bind, but it seems to format itself and also just return an array of row objects. In some cases they need to be in a specific position

[2018-01-03 19:51] roni-estein commented on #511
sorry about the close, fat finger

[2018-01-03 19:57] roni-estein commented on #511
Ok, for my needs, @change.native="updateDelivered(props.row.id)" solved the problem for me. Hope this helps someone in the future.

[2018-01-03 19:57] #511 closed

[2018-01-03 22:14] wanxe commented on #423
I don't know man, but don't see any warning 😿

[2018-01-04 00:39] gkinsman opened #512 "Taginput not compatible with addons"
### Overview of the problem
Taginput does not display correctly when used with addons

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome

### Description
It looks like the addons don't account for the additional height of the taginput due to its tags:

![image](https://user-images.githubusercontent.com/130231/34545865-88e66d3a-f13b-11e7-9d7c-4a8fa8c2836d.png)

### Steps to

[2018-01-05 16:41] timaronan commented on #108
I still have this same issue with (v0.6.2). are column headers reactive yet?

[2018-01-05 17:22] teryngull opened #514 "Detailed b-table throws duplicate keys detected error"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome, Firefox, and IE11

### Description

When using the detailed table from the examples (https://buefy.github.io/#/documentation/table), there is a console error when expanding the rows. The error is:

[Vue warn]: Duplicate keys detected: '0'. This may cause an update error.
found in
---> <BTable>

[2018-01-06 12:03] ishitatsuyuki opened #515 "Horizontal fields' error messages aren't laid out correctly"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.4.4
**OS/Browser**: Firefox 57, Chrome 63 on Windows

### Description

`display: flex` is applied to horizontal fields, causing its error message to be displayed inline.

### Steps to reproduce

[code]

### Expected behavior

The message should probably laid below the input box, just as if it wasn't horizontal.

### Actual

[2018-01-06 13:39] microcipcip commented on #64
I fixed it with `yarn add vue@2.5.13 vue-template-compiler@2.5.13 vue-server-renderer@2.5.13`

[2018-01-08 05:07] ishitatsuyuki opened #516 "Consider using SSR/Nuxt.js for docs"
The documentation is not really indexed at all. We need some kind of server side rendering to make it searchable.

Result on Google: https://www.google.com/search?q=site%3Abuefy.github.io

[2018-01-08 07:36] ishitatsuyuki commented on #515
Duplicate of #500

[2018-01-08 07:36] #515 closed

[2018-01-08 08:48] Herteby commented on #505
They already have an "OK" buttton by default which closes it. One limitation though is that they can only have one action. Maybe the ability to set multiple actions would be a good idea?

[2018-01-08 12:29] cvgeldern opened #517 "<b-radio-button> matching v-model and native-value doesn't work with integers"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: Windows 10 Pro / Chrome 63

### Description

Binding `<b-radio-button>` component using `v-model` attribute does not work with integer values, while `<b-radio>` component or string values do. Using `v-model` or `v-model.number` don't make a difference (on both working `<b-radio>` and not working `<b

[2018-01-08 23:09] Youdaman opened #519 "No scrollbar on modal in IE11"
To make scrollbars appear on tall modals (where content is greater than the browser height) in Internet Explorer you have to make all parents of the modal 100% height as per https://stackoverflow.com/a/16813167

This is how I got scrollbars working for modals with tall content (for both popup and top element of standalone form/page):
[code]

[2018-01-08 23:18] Youdaman commented on #519
Note, also needed to add "!important" to the "width: auto" to make the modal wide enough for forms with field groups (worked fine without "!important" in dev, but necessary for build/dist version):
[code]

[2018-01-09 06:41] lsbyerley commented on #38
@rafaelpimpa can you point to any resources that covers creating your own animation for a buefy modal? I've tried using `:animation="fadeInUp"` inside the `<b-modal />` tag but get a vue warning saying it doesn't exist, even though i've added the transition css to the component style

[2018-01-09 08:44] modstore opened #520 "[Feature Request] Add functionality to listen to mouseover for a table row"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]

### Description

I want to be able to show/hide based on mouseover of a table row, is this possible at all?

Thanks in advance.

[2018-01-09 11:55] rafaelpimpa commented on #500
Can you take a look @electrolinux ?

[2018-01-09 11:58] rafaelpimpa commented on #501
In which component are you checking validity? in general it should check validity for empty fields.

[2018-01-09 11:59] rafaelpimpa commented on #505
We gonna "rewrite" snackbar/toast and some other components, will have this in mind.

[2018-01-09 12:01] rafaelpimpa commented on #514
This is fixed in dev branch, fixed for next release

[2018-01-09 12:01] #514 closed

[2018-01-09 12:02] rafaelpimpa commented on #520
Not currently

[2018-01-09 13:39] electrolinux commented on #500
Yep! Working on it right now...

[2018-01-09 15:17] electrolinux commented on #500
See PR: #521

[2018-01-09 17:23] lsbyerley commented on #38
@rafaelpimpa thanks for clarifying!

[2018-01-09 17:29] daetal-us commented on #501
hey @rafaelpimpa,

created a paste to better illustrate behavior: https://jsfiddle.net/0afsyg9v/64/

clicking validate explicitly calls `checkHtml5Validity()` which does not validate the empty field.

[2018-01-09 17:31] daetal-us commented on #501
...just realizing I should be using the `required` attribute (doh!)

My only complaint is that the validation message should be consistent with invalid but that's subject and solvable in userland. Disregard!

[2018-01-09 17:31] #501 closed

[2018-01-09 18:47] teryngull opened #522 "Tab content gets cut off in IE11"
### Overview of the problem

Buefy version: 0.6.2
Vuejs version: 2.5.13
OS/Browser: IE11

### Description

When using beufy's tabs (https://buefy.github.io/#/documentation/tabs), the tab content is getting cut off in IE 11. I was able to change a flex-basis CSS line for the content to fix the issue. It appears to work ok in all other browsers with this change.

.b-tabs .tab-content .tab-item {

[2018-01-09 22:06] modstore commented on #520
Updated to "feature request". Thanks for the great work so far.

[2018-01-10 03:22] lsbyerley opened #523 "Autocomplete Results Issue"
### Overview of the problem

**Buefy** version: latest
**Vuejs** version: 2.5.13
**OS/Browser**: Mac/Chrome

### Description

I've put together a simple codepen with a teamRatings array that I'm trying to use the autocomplete component on.

https://codepen.io/anon/pen/wpyZQO

When typing in the letter 'V', Villanova is not returned in the autocomplete list. Why is this and why is it returning opti

[2018-01-10 10:37] tridcatij commented on #517
@cvgeldern
Try this one:
[code]

[2018-01-10 11:34] psweeting1 commented on #108
This is still a problem, I'm using (v0.6.2) as well. Column headers are not reactive.

[2018-01-10 12:02] jwahdatehagh commented on #108
I can also confirm - not reactive yet... I have a workaround (completely reset the table):
[code]

[2018-01-10 12:21] psweeting1 opened #524 "V-for on labels"
Buefy (v0.6.2)
Vue.js (2.5.13)
Mac OS / Google Chrome

### Description

Can't not get label to duplicate in a V-for when trying to make a reactive table.

[code]

### Steps to reproduce

Step 1: create v-for="tableData, $index in tableDataSimple"  on b-table
Step 2: Bind label :label="Object.keys(tableData)[$index]"> {{ props.row[Object.keys(tableData)[$index]] }}
Step 3: Inside b-table create row

[2018-01-10 12:56] psweeting1 commented on #524
I managed to do a fix.

[code]
It works but why isn't Label reactive? This feels like a hack just get it headers to work.

[2018-01-10 13:34] Herteby commented on #506
@rafaelpimpa How about adding something like this to Field.vue?
[code]

[2018-01-10 13:59] psweeting1 commented on #108
Jwahdatehagh, where did you place this fix?

[2018-01-10 15:14] jwahdatehagh commented on #108
@psweeting1 in the component that contains the `<b-table`. I call it just before the structure of the table (columns) changes.

[code]

[2018-01-10 16:13] psweeting1 commented on #108
Many thanks jwahdatehagh!

[2018-01-10 17:22] lsbyerley commented on #523
My apologies, I misinterpreted what the `:data` prop does. I thought it was the array of data being used by autocomplete, not the filtered results from user input

[2018-01-10 17:22] #523 closed

[2018-01-11 09:58] davidwright commented on #524
I don't think this is Buefy's problem. You are looping through every row in the table to get the index of a field. So 5 rows only shows 5 fields. Extract the fields first and then build the columns based on that

const f = tableDataSimple.shift()
const fields = [];
for (var i in f) {
  if (f.hasOwnProperty(i)) {
    fields.push(i);
  }
}
add 'fields' to the return

and in the template

<b-table-co

[2018-01-11 15:04] StanislavBerezin opened #526 "DatePicker, unessesary data"
I was working with buefy and facing some problems with date picker, not really sure how to solve it.

                <span>
           <b-datepicker
                inline
               v-model="date"
               :events="events"
               indicators="bars"

            </b-datepicker>
         </span>

but if i try to display {{date}}
it shows me this weird ISO string "2018-01-11T14:00:

[2018-01-11 15:40] jtommy commented on #526
@StanislavBerezin You have to format `Date` object. You can format it by Date object methods (`getFullYear(), getMonth(), ...`) or with other lib, for example `moment`.

[2018-01-11 15:40] #526 closed

[2018-01-11 15:44] StanislavBerezin commented on #526
but it still not workig correctly if u do getFullYear() or other stuff, it still shows that weird ISO stuff and the entire calendar breaks

[2018-01-11 17:48] jtommy commented on #526
@StanislavBerezin Try {{date.getFullYear()}}. What do you see ?

[2018-01-11 23:35] darkylmnx opened #528 "Vuex & Modal system not working together..."
### Overview of the problem

**Buefy** version: [2.4.0]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description
Using Vuex state / getters with the modal sync creates problems and when not using sync the background isn't closable.

### Steps to reproduce
1. Create a Vue project and include (Vuex + Buefy)
2. Create a store with a single state property **modal** set to false
3. Create a

[2018-01-12 03:20] StanislavBerezin commented on #526
i see the logic
just need to write something like

          <p>{{date.getFullYear()}} / {{date.getMonth()+1}} / {{date.getDate()}}</p>

maybe will help somebody in the future :)

[2018-01-12 05:16] dumptyd commented on #222
@Tirke Could you please make a fiddle or just tell me how you'd simulate select+search with `b-autocomplete`?

[2018-01-12 15:01] StanislavBerezin commented on #514
I face the same issue :(

[2018-01-12 16:04] rafaelpimpa commented on #528
``.sync`` is just a syntax sugar for:

[code]

ref: https://vuejs.org/v2/guide/components.html#sync-Modifier

[2018-01-12 16:04] #528 closed

[2018-01-12 16:11] rafaelpimpa commented on #520
Have to test if there will be any performance downsides.

[2018-01-13 00:48] darkylmnx commented on #528
Well i know that, but i mean why not just use a **close** event, because using the update event makes me create a function each time which ends up like this
`<b-modal :active="isActive" @update:active="value => (value == false && $store.commit('closeModal'))">`

And this can be event longer depending on how i use my store when i have many modals. While something like this :
`<b-modal :active="isAc

[2018-01-13 13:22] Tirke commented on #222
@dumptyd

I'm sorry I don't have a lot of time to provide a fiddle, but basically you juste use `v-model` to simulate the select and you use existing search features of the autocomplete component to achieve search.

This is not at all a fully featured select but you'll have something working. If you want something more I highly suggest looking at `vue-multiselect` or other projects.

[2018-01-14 09:45] itsacorn opened #529 "Table sorting doesnt correctly sort dates."
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Windows 10 x64 / Firefox Quantum Developer Edition

### Description

b-table element sorting does not work correctly on LocaleString format ( M(M)/D(D)/YYYY, h(h):m(m):s(s) AM/PM ). Sorting seems random. <img src="https://acorn.got-no.life/d47af50a">

### Steps to reproduce

Create a table with a sortab

[2018-01-14 10:12] itsacorn commented on #529
One way to fix this could be a `sort-value` bind on the column, in which you can pass for example a UNIX timestamp, and if that `sort-value` bind is present, it will override the normal sorting, instead the value of the `sort-value` bind is used for sorting. It would probably fix this issue.

[2018-01-14 11:47] htfy96 commented on #458
I would like to see e2e tests integrated into this project. As this fantastic project grows larger and larger, the number of regressions along with each release will also increase, and automated test is the only way to prevent that happening.

[2018-01-14 21:59] lukio3 opened #530 "feature request: allow b-datepicker to sit on top of page"
### Overview of the problem

**Buefy** version: 4.0.5
**Vuejs** version: 4.0.5
**OS/Browser**: Chrome Version 63.0.3239.84 (Official Build) (64-bit)

### Description

Feature request: Allow b-dropdown element within b-datepicker to sit on top of page content (i.e. position: fixed in css terms rather than position: relative). This is how the native html5 datepicker input responds.

### Steps to rep

[2018-01-14 22:12] jtommy commented on #530
@lukio3 Could you provide  your code or an example ? By a quick example it works (see in desktop mode) https://jsfiddle.net/ynpmmbq2/

[2018-01-14 22:15] jtommy commented on #529
@itsacorn You could use `custom-sort` prop of `b-table-column`. In this way you can define a your custom sort function-

[2018-01-14 22:31] lukio3 commented on #530
Hi @jtommy

Thanks for coming back to me. I can now see that it works in your example

I was using the depreciated nav from bulma as a base. And when I put the datepicker inside the 'nav-right nav-menu' div I was getting the result as pictured.

I can see it works on the new nav from bulma; which is the same version as in your example, by placing in 'nav-end'.

I'll update to the new nav.

many th

[2018-01-14 22:35] #530 closed

[2018-01-15 07:10] STnetwork commented on #374
@OGhawsi

Hi, can you past the solution, I have some troubles too, where and how did you put the JS ? :

`<script> export default { data() { return { isOpen: true } } } </script>`

[2018-01-15 07:38] OGhawsi commented on #374
@STnetwork I would suggest learning some VueJs first, I had this problem in that time I did not know much about Vue.You can try in Vue instance data object as suggested by @jtommy.

[2018-01-15 10:16] rafaelpimpa commented on #528
Why not just add a setter to a computed variable to close the modal?

[code]

[2018-01-15 12:53] MMysiv opened #531 "Trouble with coma key (188) on taginput"
Hi guys!
There is some trouble with the taginput. It's ok for eng language, but when I try to write tags on russian/ukrainian languages and press key "," its add tag instead of add russian/ukrainian letter "Б" to the input field.
I highly recommend to delete **event.keyCode === 188** from the source code in TagInput.vue on 202 string.

[2018-01-15 19:59] #500 closed

[2018-01-15 22:32] ibanzajoe opened #532 "detailed row table sample in Buefy site giving error of duplicate keys detected"
### Overview of the problem

**Buefy** version: [0.6.1]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description
Console Error:
vue.common.js:580 [Vue warn]: Duplicate keys detected: '0'. This may cause an update error.

### Steps to reproduce
1. First Step
  copy the sample code for "detailed row" tables in Buefy website: https://buefy.github.io/#/documentation/table
2. Second Step
  p

[2018-01-16 05:39] njanke96 opened #533 "Component modal props won't update"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.3.3
**OS/Browser**: Linux/Chromium (electron)

### Description

I'm trying to use a component modal to show progress of a task, I can't seem to update my `progress` property to update the progress bar. This is more likely not a bug but rather me using the `props` option correctly.

### Steps to reproduce

I have an EventEmi

[2018-01-16 14:53] apocalyarts opened #534 "Adding a tooltip to a progress bar doesn't work"
Try this:
[code]
The progress bar disappears. I'm on latest Buefy / Vue. Browser is Chrome on Windows 10.

[2018-01-16 16:09] nikazooz opened #535 "Checking multiple table rows when "shift" key is held"
First of all, I'd like to use this opportunity to thank you for sharing these amazing UI components. :)

I wanted to ask if checking multiple table rows when holding the shift key is something that would be possible to implement, either in parent component or as part of the table component.

I kinda need such feature and was wondering if you'd accept a PR for something like that if I manage to get

[2018-01-16 22:32] bathyscaaf commented on #532
Having the same issue - there was a similar thread closed a few days ago, saying it was fixed in the dev branch and coming next release.

Here it is: https://github.com/rafaelpimpa/buefy/issues/514

[2018-01-17 03:18] pepsighan opened #536 "Decouple icons fonts from buefy"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Ubuntu/Firefox

### Description

It would be easier to the users to switch to any new font icons from different font families or use svg fonts.
For it to be realized, Icons in other components can be slots.

### Steps to reproduce

### Expected behavior

### Actual behavior

[2018-01-17 16:21] Dave3of5 opened #537 "Tabs below content"
Bit of a longshot but is there anyway of positioning the tabs below the content in the tab container or is this totally out of the hands of buefy ?

[2018-01-17 17:32] JoshZA commented on #506
👍

[2018-01-17 20:17] #494 closed

[2018-01-17 20:29] jtommy commented on #517
@cvgeldern `native-value="1"` is a string attribute and you have to bind it as@tridcatij example.

[2018-01-17 20:29] #517 closed

[2018-01-17 20:32] johnmerced opened #538 "Align label on top of attached components"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome

### Description
Can't align label on top (instead of the left) of attached components.

### Steps to reproduce
[code]

### Expected behavior
Align label and attached components vertically.

Screenshot: <br>
<img src="https://i.imgur.com/xXosfNc.png">

### Actual behavior
Seems like it's not poss

[2018-01-17 20:38] johnmerced commented on #538
Also, errors looks like this:
<img src="https://i.imgur.com/QqNXTtI.png">

[2018-01-17 20:42] jtommy commented on #538
@johnmerced At the moment you might try that:
[code]

[2018-01-18 13:03] lukio3 opened #539 "Triggering focus on Buefy components using directives"
### Overview of the problem

Unable to trigger 'focus' on buefy components through directives.

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome

### Description

In my project I use directives to trigger 'focus' on components using user actions.

For example, you click an edit button and it focuses an input component on the page.

This works fine for standard bulma compon

[2018-01-18 18:49] jbender commented on #380
This is still an issue (the race condition, setting to `null` no longer throws)

[2018-01-19 08:27] lowbits opened #540 "Add Objects to input type"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.7
**OS/Browser**: Mozilla Firefox, Chrome

### Description

I'm trying to bind a type to an `<b-field>`,  but there is an Error.
"Invalid prop: type check failed for prop "type". Expected String, got Object. "

### Steps to reproduce

1. First Step
implement somtehing like
`<b-field label="E-Mail"  :type="{'is-danger': ha

[2018-01-19 08:39] jtommy commented on #540
@lowbits At the moment `b-field` accepts a String prop as `type`.
For example, `<b-field label="E-Mail" :type="hasErrors.name? 'is-danger' : ''"`

[2018-01-19 08:48] jtommy commented on #539
@lukio3 `b-input` contains as root element a `div` tag, so you have to change your code, for example:
[code]
A similar case is that https://buefy.github.io/#/extensions/cleavejs

[2018-01-19 11:16] Dave3of5 commented on #537
Anyone have any ideas on this ?

[2018-01-19 11:55] jtommy commented on #537
@Dave3of5 It's no possibile..
You might play with `.tabs` and `.tab-content` class (for example: position absolute and set top and bottom) or move the first classs under the second by javascript.

[2018-01-19 12:26] lowbits commented on #540
solved the problem, thank you.

[2018-01-19 12:26] #540 closed

[2018-01-19 17:23] jtommy commented on #512
Double https://github.com/rafaelpimpa/buefy/issues/481

[2018-01-19 17:23] #512 closed

[2018-01-19 19:13] gkinsman commented on #512
Not sure this is a double of the other issue sorry. The other issue mentions default sizes, whereas this one is about using add-ons with the tag input - if enough tags are added to cause a wrap, add-ons should increase in size so as to match the height of the input.

I've worked around it for now with CSS hacks, but it would be nice for it to work out of the box :)

[2018-01-19 21:08] acarrera94 opened #542 "When a file is removed from selection to upload, it cannot be reselected for upload"
### Overview of the problem

**Buefy** version: [0.5.4]
**Vuejs** version: [2.3.3]
**OS MacOS High Sierra /Chrome 63.0.3239.132**:

### Description

[code]

User should be able to upload a file that was removed by accident.
I used the method call given in the documentation.
      this.dropFiles.splice(index, 1)
The reason seems to be that the internal file input element does not change its value t

[2018-01-19 21:31] jtommy commented on #542
@acarrera94 You have to update to 0.6.1 Buefy version.

[2018-01-19 21:31] #542 closed

[2018-01-19 21:34] jtommy commented on #531
@MMysiv We might add a new prop to set an array of key codes to use as tag separator. In this way you can remove o add default key codes.

[2018-01-19 21:36] #376 closed

[2018-01-20 03:11] AlexVFornazieri commented on #142
Hello guys,

I am trying use toggle function like @rafaelpimpa exemplify, but something weird happens, the log display an error said toggle is not a function.

Uncaught TypeError: this.$refs.playitemDropdown.toggle is not a function

In that case 'playitemDropdown' is the ref of my b-dropdown element.

**My env**
Buefy version: 0.5.4;
Vue version: 2.5.13;

[2018-01-20 12:57] AlexVFornazieri opened #543 "Open/Close Dropdown Programmatically: toggle is not a function"
Hello guys,

I am trying use toggle function of a `<b-dropdown>` element like @rafaelpimpa exemplify in #142, but something weird happens, the log display an error said 'toggle' is not a function.

`
Uncaught TypeError: this.$refs.playitemdrop.toggle is not a function`

In that case 'playitemdrop' is the ref of my `<b-dropdown>` element like follow code:

**The template**
[code]

**The script**
`

[2018-01-20 14:12] breadadams commented on #460
@p418's solution fixed a _similar_ issue I was facing with scoped-slots. I'm on vue & vue-template-compiler versions `^2.5.13`. Using parcel for bundling.

[2018-01-20 22:57] kunaime opened #544 "Methods called twice binding property of b-table-column"
**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.7]
**OS/Browser**: Ubuntu 17.10 / Chrome

Hello, i was trying to return a dinamically generated href of an `<a>` tag inside a` <b-table-column>` , using a method binded to the property instead of a computed because i need to pass a parameter. While debugging, i have discovered that he method is called twice. In order to make a simple test i have u

[2018-01-21 08:06] bwayne2015 commented on #514
Facing the Same Issue Here

[2018-01-21 09:07] jtommy commented on #544
@kunaime What's `test` ? `b-table-column` component doesn't except that prop.

[2018-01-21 09:12] jtommy commented on #512
@gkinsman Addons mode doesn't change the size of tag (input, select, ...). So your request it's the same of the other issue.

[2018-01-21 09:14] jtommy commented on #543
@AlexVFornazieri I'm trying to replicate it (except electron) https://jsfiddle.net/20vfxux8/. I don't see any errors.

[2018-01-21 10:28] kunaime commented on #544
I know, it was just for testing purpose and to keep the code as simple as possible, i could have used another tag nested inside `b-table-column` to replicate what was happening with my actual code, but even if doesn't expose that prop the method is being called anyway (and the property rendered in the HTML as an empty one because the `test` method returns an empty string)

[2018-01-21 10:30] jtommy commented on #544
@kunaime Ok. Could you provide us an example ?

[2018-01-21 10:39] kunaime commented on #544
Sure, this is the code with the dynamic prop applied to a link tag to make it more realistic

`<template>
    <b-table
        :data="tableDataSimple"
        :row-class="(row, index) => row.id === 1 ? 'is-warning' : ''">

        <template slot-scope="props">
            <b-table-column label="ID" width="40" numeric>
                <a :href="test()">{{ props.row.id }}</a>
            </b-table-c

[2018-01-21 10:43] kunaime commented on #544
I am sorry but the editor keeps rendering the code in a wrong way. Baiscally it's the same example code used on the Buefy documentation mage about tables

[](https://buefy.github.io/#/documentation/table)

under the "Row Status" section. I have then added a dybamic `:href="test()"` property where `test()` makes a `console.log("Called")` and then returns `www.google.com`

[2018-01-22 12:03] AlexVFornazieri commented on #543
@jtommy, thanks for watch,

In fact, in Jsfiddle no error is displayed by clicking in "Toggle (in error)" button like in Electron browser log, but anyway does not have the expected behavior in Jsfiddle either which is make the dropdown's menu items appear as well as clicking "caret-down".

I tried both Chrome and Firefox, the same behavioral fault occurs.

[2018-01-22 14:19] vitogit opened #545 "[Question] Is the onCancel callback executed when the promp is closed?"
**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]
**OS/Browser**: MacOs, Chrome

### Question

The docs says ```onCancel: Callback function when the dialog is canceled (cancel button is clicked / pressed escape / clicked outside)``` but I think the onCancel is executing even when you execute the onConfirm action (executed when is closed). Is it true? or there is something wrong with my impleme

[2018-01-22 15:44] woodgates commented on #378
Hi. I have the same issue. I cant see the sort Icon.

This is my install:
`import Buefy from 'buefy'
Vue.component(Buefy.Icon.name, Buefy.Icon)
Vue.component(Buefy.Table.name, Buefy.Table)
Vue.component(Buefy.TableColumn.name, Buefy.TableColumn)`

I reinstalled buefy today.

This is the Table.vue extract:

<b-icon
    v-show="currentSortColumn === column"
    icon="arrow-up"
    both
    size="is-

[2018-01-22 18:40] woodgates opened #546 "Toast appears always on top-left position."
Hi I have the last buefy version and I'm having problems with the toast position. It always appears on the top LEFT corner.

tested on Linux chromium and firefox.

[code]

[code]

![buefy - toast problem](https://user-images.githubusercontent.com/5682960/35237745-5a259176-ff8a-11e7-8834-42973caa8042.jpg)

[2018-01-22 18:55] woodgates commented on #546
Missed css

import 'buefy/lib/buefy.css';

[2018-01-22 18:55] #546 closed

[2018-01-22 19:23] jtommy commented on #545
@vitogit Yes, you are right but first `onConfirm` will be invoked.

[2018-01-22 20:09] vitogit commented on #545
I think it's a little confusing. What do you think is the best approach?
Update docs to say that onCancel executes when the promp is closed (after onConfirm).
Change the name to onClose.
Update the method ?
I can create a PR if you want

[2018-01-23 02:22] daetal-us opened #547 "disabled tab-item can be programmatically activated"
seems like a disabled tab should be inaccessible when disabled; currently have a prev/next implementation that exposed this issue. Thoughts?

[2018-01-23 11:42] #543 closed

[2018-01-23 16:23] orangeShadow commented on #323
Why you don't generate event change ? It's very useful if you make some hard component ?

[2018-01-23 16:56] cobaltway opened #548 "Autocomplete documentation not up to date"
### Overview of the problem

Autocomplete documentation is not up to date with examples and actual code.

### Description

**Example:** event is named "select".
**API (bottom of the page):** same event is named "selected".

The correct version is the first one, "select".

Buefy is great & have a nice day!

[2018-01-23 18:04] jtommy commented on #548
@cobaltway Thanks! It's already fixed https://github.com/rafaelpimpa/buefy/pull/518

[2018-01-23 18:04] #548 closed

[2018-01-23 19:46] swstephe opened #549 "Modal component removes scrolling from body"
### If your body is scrolling, opening up a modal dialog will remove the scrollbar.

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: Windows 7 64-bit/Chrome

### Overview of the problem

Really quick problem, that I eventually figured out and solved, but thought I should mention it anyway.

### Description

On a page which shows many products, if you click on a product card,

[2018-01-24 03:41] NemoAlex opened #550 "[Feature Request] b-button"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: all
**OS/Browser**: all

### Description

I think it will be nice if we have a b-button component like:

[code]

[2018-01-24 06:12] htfy96 opened #551 "[Feature request] b-table: support hidden toggleDetails"
# Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: all
**OS/Browser**: all
# Description

Currently, when `detailed` is specified in `b-table` component, a 40px-width toggleDetails column is always included in the rendered table. However, in some cases, we would prefer to customize our own way to expand a row (e.g. placing the icon on the right or using text as toggler), where

[2018-01-24 12:10] jtommy commented on #551
@wanxe What do you think about it ? might be useful ? (keep in mind `bTable` has several slots at the moment...)

[2018-01-24 13:39] MMysiv commented on #531
It would be great! I'll look forward to it.

[2018-01-24 13:41] Oanra commented on #367
Can you please show an example using some animation in <b-clollapse> ? Im new to buefy but in the documentation i can't find any example with animation property.

Thanks

[2018-01-24 13:49] evandroabukamel opened #552 "B-Table not checking rows programatically"
**Buefy** version: 0.6.2
**Vuejs** version: 2.5.13
**OS/Browser**: Windows / Chrome 63

### Description

In a checkable table rows, the checkbox are not checked programatically .

### Steps to reproduce

Follows the story: I have a B-Table loaded from the back-end, then I check one row and it is saved in some table. After that I want to read the register, load the table and see this row checked ag

[2018-01-24 15:41] evandroabukamel commented on #547
Well, this seem quite easy: you should keep an array with your disabled tabs and in your prev/next methods you should test if the current tab is in the disabled array.

[2018-01-24 17:01] jtommy commented on #552
@evandroabukamel Did you see `custom-is-checked` prop ?

[2018-01-24 17:14] evandroabukamel commented on #552
Yes, I did, but its use is not clear to me.

I will give it a try.

Thanks.

[2018-01-24 17:40] jtommy commented on #552
@evandroabukamel Yes maybe it might quite trivial. Anyway it's a function to compare two rows, the first parameter it's an element of checked rows and the second is a visible row.
For example: `custom-is-checked=(a, b) => { return a.id === b.id }` if your object (row) key is only `id` field.

[2018-01-24 19:32] johnpyp commented on #222
The only other feature I would want for the current autocomplete is the ability to have the results show when the person hasn't typed anything. Show all the data just sorted alphabetically.

[2018-01-24 19:39] evandroabukamel commented on #552
Oh, thanks, it worked.

But now I'm having a problem with the sorting and it is not related with this issue.   :-(

[2018-01-24 19:39] #552 closed

[2018-01-24 21:09] #531 closed

[2018-01-25 07:34] StanislavBerezin opened #553 "Getting values for time-picker"
I'm tryin to get the values of a timepicker

            <b-field label="Available from">
            <b-timepicker placeholder="Click to select..." icon="clock" :hour-format="format" v-model="set.from">
            </b-timepicker>
          </b-field>

Is there a way i can record the time a user has picked?

In my data() i have this

        set:{
          from: new Date,
          to: new Date,

[2018-01-25 11:53] wanxe commented on #551
I think that we follow's the bulma's styleguide with the paddings and maintaining some consistency.
Feel free to override some styles to adapt into your project.
In my opinion this change implies that we need to create another slot and create another layer of complexity only for (for the moment) low usecase.

[2018-01-25 12:01] jtommy commented on #553
@StanislavBerezin I don't understand very well your request.
Your variable `set.from` is a Date object and by `v-model` you have the current time.
What is your need ?

[2018-01-25 12:48] jtommy commented on #222
@johnpyp We are working on it!

[2018-01-25 12:53] #551 closed

[2018-01-25 13:10] johnpyp commented on #222
Good to hear! Not a super big deal, but it would be a great feature :)

On Jan 25, 2018 7:48 AM, "Walter Tommasi" <notifications@github.com> wrote:

[2018-01-25 15:55] lukio3 commented on #539
Many thanks @jtommy this worked perfectly.

[2018-01-25 15:56] #539 closed

[2018-01-25 17:16] Pilfer commented on #553
`npm install moment --save`

```<b-timepicker v-model="postTime" placeholder="Select Time" icon="clock-o" hour-format="12"></b-timepicker>```

And a little later:

[code]

[2018-01-25 19:21] gugarosa opened #554 "Font-Awesome v5+"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]

### Description

First of all I would like to appreciate all the work and effort done in buefy. It works like a charm!

Although, one thing that it was missing or I have missed in the documentation regards to Font-Awesome versions 5+. Is there any support to them yet?

I mean, I could not find how to import for ins

[2018-01-25 19:28] gugarosa commented on #554
Nevermind, I found out you can pass a `customClass` argument to `<b-icon>`, which will solve the problem.

[2018-01-25 19:28] #554 closed

[2018-01-25 19:30] jtommy commented on #554
@gugarosa In the next release will add support about it!

[2018-01-25 20:18] lsbyerley commented on #553
@Pilfer i think you meant to put `v-model="getHours"`

[2018-01-26 03:24] fsfj opened #555 "Searchable Table"
Hello, How to add search box in table? Is it possible?

Thank you.

[2018-01-26 04:58] StanislavBerezin commented on #553
I have the code

        <b-field label="Available from">
        <b-timepicker placeholder="Click to select..." icon="clock" :hour-format="format" v-model="set.from">
        </b-timepicker>
      </b-field>

So when a user chooses the time, like lets say 12-00AM. THe only thing that i want to get is "12-00AM", not the date, no weird strings, nothing else but plain simple "12-00AM". But with this

[2018-01-26 06:09] papakay opened #556 "[Feature Request] Multiselect with dropdown options"
Great job with this.

Please I was thinking it would be nice if we have a multi-select with dropdown options. This will really help in situation where the options are really long.

Thank you.

[2018-01-26 06:24] jtommy commented on #553
@StanislavBerezin Timepicker use a Date object as value.
When user choose a time you have to use a custom function or use a lib (for example moment) to parse Date object to String.
The format that you decide to use it's only for Timepicker view.
A similar behaviour for Datepicker.

[2018-01-26 06:24] #553 closed

[2018-01-26 14:43] lauthieb opened #557 "[Feature Request] Codeview component"
Hello guys,

I would like to know if the component "Component.vue" will be available in the library ?

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

Thanks a lot.

[2018-01-26 16:09] lsbyerley opened #558 "[Question] Datepicker using a computed date for v-model"
**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]
**OS/Browser**: MacOs, Chrome

### Question

I am using the Datepicker component on a scoreboard page. The scoreboard data is loaded by axios in the store and contains games and a scoreboard date. When the scoreboard data is loaded, I set the v-model to the scoreboard date. Since there is no event firing on selecting a date,  I'm trying to use

[2018-01-26 16:21] jtommy commented on #558
@lsbyerley `v-model` provide a two way binding and in your case you have to add a set function otherwise you might use `:value` instead of `v-model` and listen `@input` event instead of watch.
[code]

[2018-01-26 16:37] lsbyerley commented on #558
@jtommy Thanks for the response.. Ideally I'd like to use a method so that I can trigger some store commits to get the different scoreboard date data. I'm getting undefined in my method though

`@input="changeScoreboardDate(date)"`

[code]

[2018-01-26 16:42] jtommy commented on #558
@lsbyerley Please remove `date` parameter on input method binding, `@input="changeScoreboardDate"`

[2018-01-26 16:43] lsbyerley commented on #558
@jtommy Ah, I'm dumb.. awesome, thanks for your help!

[2018-01-26 16:43] #558 closed

[2018-01-26 19:58] rafaelpimpa commented on #557
No, that is used only for the docs, you can copy and use it if you will :)

[2018-01-26 19:58] #557 closed

[2018-01-26 22:30] #328 closed

[2018-01-26 22:34] lauthieb commented on #557
Ok, I understand, thanks a lot for your library ;)

[2018-01-27 04:21] lizhongyi opened #559 "icon not display"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.X]
**OS/Browser**: chrome

### Description

### Steps to reproduce

![image](https://user-images.githubusercontent.com/3292807/35468600-91ef9748-035c-11e8-9b70-46b3cb19c975.png)

[2018-01-27 08:17] taylorhoward92 opened #560 "Autocomplete type (color) property"
### Overview of the problem
**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]
**OS/Browser**: All

### Description
Would be great to be able to use the `type` property with autocomplete so that the color scheme can be set, the same as how it can be with form input, etc.

### Steps to reproduce
N/A

### Expected behavior
`<b-autocomplete type="is-danger"></b-autocomplete>`
This would result in

[2018-01-27 10:35] jtommy commented on #453
In the next release will be an extension with https://github.com/RubaXa/Sortable

[2018-01-27 10:35] #453 closed

[2018-01-27 15:08] pdiveris commented on #482
Hi there,

I am not sure if that's of any help but faced with this problem I solved it as follows.

1. My taginput declaration:

[code]
2. My data (filterTags gets populated on mounted() via an async call

[code]
4. getFilteredTags. This re-loads the suggestions from the API but removes any tags already selected. The `text` parameter is added as I am investigating whether it's worth only fetching

[2018-01-27 15:23] hetsketch opened #561 "Is it possible to remove resize from textarea?"
Hi! I'm newbie in using buefy and vue, but I would like to know how to make textarea resizeless. I've tried `.textarea { resize: none;  }`, but with scoped style it doesn't work. Any suggestions?

[2018-01-27 21:33] avrong commented on #561
Worked for me. You can try add `!important` rule to `resize` property.
[code]

[2018-01-27 21:38] avrong commented on #559
Can you show the example code? What is the font pack?

[2018-01-27 21:40] avrong commented on #555
You can add v-input outside of table and filter table rows by computed variable

[2018-01-28 02:15] lizhongyi commented on #359
me too....

[2018-01-28 03:44] taylorhoward92 opened #562 "Autocomplete dropdown overflow browser edge"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome (v64) and Safari (v11) on MacOS (10.3.2) and Safari on iOS (11.2.2)

### Description
When viewing the Autocomplete - Async with Custom Template example in the Buefy documentation in a browser window <= 420px (i.e. some mobile browsers), the autocomplete dropdown extends beyond the edge of the

[2018-01-28 08:51] jtommy commented on #359
@lizhongyi There is already a prop `mobile-modal`.

[2018-01-28 12:34] hetsketch commented on #561
@avrong it works only if I remove `scoped` from my `style` tag in component. But how to make it with `scoped`? Here is my style.
[code]

[2018-01-28 17:09] avrong commented on #561
@hetsketch I think it doesn't work with `scoped` because `<b-field type="textarea" />` is another component which adds `.textarea` class to the `<input />` element. `scoped` makes styles affect only **current** component, not child.

[Scoped CSS · vue-loader](https://vue-loader.vuejs.org/en/features/scoped-css.html)

[2018-01-29 06:28] icedman opened #563 "table mobile-cards not working in safari"
### Overview of the problem

**Buefy** version: 0.6.2 (I'm using buefy from the CDN)
**Vuejs** version: 2.5.13
**OS/Browser**: Safari 11.0.2

### Description

Table rows don't collapse as mobile cards on small screens on the Safari browser.
*On Chrome, the table renders correctly.*

### Steps to reproduce

Link buefy and vue from CDN

[code]

Use the table sample on the buefy documentation, *Get S

[2018-01-29 08:29] fsfj opened #564 "Remove dropdown and make the table in full width"
How to remove the dropdown ?

![image](https://user-images.githubusercontent.com/11935862/35500440-7244d046-0511-11e8-9c31-3e52c93381f2.png)

[2018-01-29 13:30] sempixel opened #565 "[Typo] Upload Component"
https://github.com/rafaelpimpa/buefy/blob/78e8f67551e4a39d0fdf7ea07a9580ea064ede41/docs/pages/components/upload/api/upload.js#L82

It should be `Array` here.

Thanks!

[2018-01-29 18:55] guruprasaad123 opened #566 "unable to use @extend .has-text-info in scss"
Am trying to use [Buefy](https://buefy.github.io/#/) 0.6.2 with [vue](https://vuejs.org/) 2.5.11 in my [Webpack](https://webpack.js.org/) project .I was trying to use `@extend` feature using scss but for some reason I am unable to use it any browser.Here's what I tried
[code]
And am getting this Above error.
[code]
But am sure that **.has-text-info** class exists in the _buefy.css_ which i have im

[2018-01-29 19:03] rafaelpimpa commented on #38
@lsbyerley my bad for the delay, is you are right, you have to create those extra classes

[2018-01-29 19:09] #565 closed

[2018-01-29 19:09] jtommy commented on #565
@sempixel Thanks!

[2018-01-29 19:23] rafaelpimpa commented on #108
Could you create another issue if it's still a thing?

[2018-01-29 19:26] rafaelpimpa commented on #506
Could you create a PR for it? So we can review better

[2018-01-29 21:22] jtommy commented on #561
@hetsketch I agree with @avrong. Anyway you might add class attribute to `bInput` and set a style to internal textarea.

[2018-01-29 21:22] #561 closed

[2018-01-30 01:30] icedman commented on #563
Add the doctype fixes this for Safari

[code]

[2018-01-30 03:45] FelixVicis opened #567 "b-checkbox does not support `[required=true]`"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**:
  - Ubuntu 16.04
  - Chrome 63.0.3239.108

### Description

`b-checkbox` does not support the `required=true` attribute.

### Steps to reproduce

1. Create:
[code]
2. Click submit
3. Notice submission is allowed without browser intervention

### Expected behavior

I expected that the a checkbox that

[2018-01-30 06:17] #563 closed

[2018-01-30 08:16] frantic1048 opened #568 "option to keep table header visible when data length is 0"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.2
**OS/Browser**: various

### Description

This issue is a feature request:

- an option for b-table, that keeps table being rendered with the table header
- or, make table's empty slot replace only the table body area
- or somewhat equivalent

### Context

I implemented some filter controls within custom table header. T

[2018-01-30 12:26] jtommy commented on #544
@kunaime Why do you need to call a method ? Does href depend on something that is not the same row ? Anyway methods are called where there is a rendering update and so it could be called different times.

[2018-01-30 14:00] EeSien opened #569 "How to change the format of date and limit the date can only selected started from today?"
![image](https://user-images.githubusercontent.com/26835915/35570050-f6f4466c-0608-11e8-91a9-53d172e06033.png)
i gone through the documentation but still dont know how to use.. can anyone teach me?

[2018-01-30 15:54] EeSien commented on #569
![image](https://user-images.githubusercontent.com/26835915/35576019-f34664a4-0618-11e8-937c-31c8446b2f83.png)
it will show me this error and cannot use

[2018-01-30 15:55] EeSien commented on #569
![image](https://user-images.githubusercontent.com/26835915/35576039-0241ae46-0619-11e8-8810-1aef00da1da9.png)
![image](https://user-images.githubusercontent.com/26835915/35576051-0a91250e-0619-11e8-9f9e-8856184fea96.png)
my code

[2018-01-30 18:29] htokuda10 opened #570 "Snackbar parent element is defaulting to position:absolute"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.4.2]
**OS/Browser**: Chrome v.63.0.3239.132

### Description

Using the code provided in the Buefy documentation, when no 'container' prop is provided, the default parent element should be a div with the style position:fixed, however it is creating a div with the class 'has-custom-container' appended, resulting in the st

[2018-01-30 21:22] #482 closed

[2018-01-30 22:38] jtommy commented on #569
@EeSien It's very strange. Your code is like docs example. Are you sure that datepicker works without `min-date` props ?

[2018-01-31 03:00] lsbyerley opened #571 "Datepicker adds is-unselectable class to days of next month in selected month"
### Overview of the problem

**Buefy** version: 0.6.2
**Vuejs** version: 2.5.2
**OS/Browser**: MacOs/Chrome

### Description

I am setting the min-date to -1 day and max-date to +3 days of the selected date. When viewing a day towards the end of a month, lets say today, January 30th. The days of February that are shown in January are un-selectable.

### Steps to reproduce

<img width="362" alt="sc

[2018-01-31 06:11] jtommy commented on #571
@lsbyerley You have to switch to February by next button o month select.
Days of previous and next month are always un-selectable.

[2018-01-31 06:11] #571 closed

[2018-01-31 12:28] jtommy commented on #532
Fix https://github.com/rafaelpimpa/buefy/commit/c1eef40a7d661a932d0e834ef8b3b452c6320e94

[2018-01-31 12:28] #532 closed

[2018-01-31 13:26] EeSien commented on #569
Yes, im using the latest version of Buefy and Vue..  how do i put the min-date props? i follow the docs example but unfortunately it cannot set the mindate

[2018-02-01 13:29] wdj-ac opened #572 "Timepicker: Only hours possible?"
Hi and thanks for this awesome package!
I am nearly done with a webinterface for industrial machines. Everything is done with Buefy an Chartjs.
Now I need a timepicker to only select hours and hide the minutes option. Is there a way to achieve this?

BTW: This would be even a nice feature in the datepicker (disable days, disable months, disable year)

[2018-02-01 16:59] htokuda10 opened #573 "Snackbar and Toast created elements are static on the DOM once created"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.4.2]
**OS/Browser**: Chrome v.63.0.3239.132

### Description

The created parent element for the Snackbar and Toast components do not get moved to a new defined container when any subsequent Snackbar and Toast 'open' function calls are made. This is due to the first conditional statement in the 'setupContainer' function,

[2018-02-01 19:16] jtommy commented on #569
As you can see in docs that prop works well. I think there is a issue in your project

[2018-02-01 19:18] jtommy commented on #572
About Datepicker we might add a prop to disable year and month. No plans about a Timepicker with only hours select.

[2018-02-01 19:18] #572 closed

[2018-02-01 19:25] jtommy commented on #556
@papakay Thanks. An example about your request?

[2018-02-01 20:02] papakay commented on #556
Please see the selectize multi-select example in the link below

https://selectize.github.io/selectize.js/

[2018-02-01 20:17] jtommy commented on #556
What is multi-select example ? Anyway it's like 'b-taginput` component, isn't it ?

[2018-02-01 20:25] papakay commented on #556
Please i think the link below makes it more clearer.

https://at-ui.github.io/at-ui/#/en/docs/select

You can see how the multiple select has been rendered compared to

https://buefy.github.io/#/documentation/select

[2018-02-01 20:31] gfviegas commented on #222
@Tirke of course there's components that has this feature around the web, but we are using buefy for a reason, right?

Buefy components have the look and feel that we seek in bulma and we follow all the patterns of buefy components (same attributes, the b-field "integration", etc...).

It sucks using vue-multiselect with buefy forms.. it breaks the form since its a different stylesheet, the respon

[2018-02-01 20:31] jtommy commented on #556
You might combine new autocomplete prop `open-on-focus` with `b-taginput`. For example https://codepen.io/anon/pen/jZbpvz?&editors=101

[2018-02-01 20:33] papakay commented on #556
Wow this is awesome! You are the best. I like your approach. It's so nice.

Thank you immensely for this great information.

[2018-02-01 20:34] #556 closed

[2018-02-01 21:14] bsecker commented on #559
Also having this issue. Icon pack is the default (mdi).

Relevant code:
`    <b-icon
      icon="home">
    </b-icon>`

with Buefy 0.6.2 and firefox.

[2018-02-01 21:15] jtommy commented on #559
Did you import mdi ?

[2018-02-01 23:23] bsecker commented on #559
oops, yep that solved my problem. cheers

[2018-02-02 05:29] #559 closed

[2018-02-02 11:00] Krisseck commented on #534
I am using version 0.6.3, this seems to work okay!

[2018-02-02 11:59] Tirke commented on #222
@gfviegas

Yeah, of course in an ideal world `b-select` should provide this functionality. But when you have deadlines and you need to ship a product you don't always have the choice of waiting on Buefy dev team. And Buefy dev team is not the most active and I don't think that it's the most healthy open source project. Just look at [element](https://github.com/ElemeFE/element) or [vuetify](https:/

[2018-02-02 12:14] darkylmnx commented on #549
same problem here

[2018-02-02 12:20] rafaelpimpa commented on #222
You can now use autocomplete with ``open-on-focus`` prop to work like a custom select (and it now has scrollbars).

[2018-02-02 15:02] johnpyp opened #574 "How to add canCancel to loading that is opened programmatically"
I'm trying to add the canCancel prop to a programmatically opened Loading like this:

[code]
This is the same syntax as how the modals add props programmatically, but it doesn't work for loadings and there isn't anything in the docs about it.

[2018-02-02 15:23] Herteby commented on #554
So FontAwesome is now supported! :tada:
No documentation on how you use it though :sweat_smile:
Is it the font-version or svg, and is it possible to import fa5 svg icons individually (like you can with [fontawesome-vue](https://github.com/FortAwesome/vue-fontawesome)) to reduce bundle size?

[2018-02-02 15:31] jtommy commented on #574
[code]

[2018-02-02 15:31] #574 closed

[2018-02-02 15:36] jtommy commented on #554
@Herteby New icon pack `fas` (or `fab`, `far`) and it works as previous version.

[2018-02-02 16:03] dumptyd commented on #222
Awesome! Thanks.

[2018-02-02 16:35] adrlen opened #575 "Upload component 'accept' properties bug"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: MacOS / Chrome 64

### Description

`accept` properties of Upload component works well when putting `image/*`, or `image/png` but there is an error when putting multiple mime types `image/png,image/jpeg`

### Steps to reproduce

* Add Upload component
* Add `accept` properties with multiples mime ty

[2018-02-02 17:27] johnpyp commented on #574
Oh ok, I assumed it had the "props" syntax. Is there any kind of event listener I can use for the loader? For example when it closes, will it fire an event?

[2018-02-02 17:44] jtommy commented on #574
Yes close event

[2018-02-02 17:51] marcysutton opened #576 "Accessibility needs serious attention in every one of these components"
### Lacking Accessibility in This Component Library

I found this library searching for Vue.js component examples, and sadly it was built with little to no accessibility. This excludes users with disabilities and so many others simply because there is no keyboard or screen reader support.

### Description

This library would work much better for users if accessibility requirements like keyboard op

[2018-02-02 19:02] #575 closed

[2018-02-03 05:58] taylorhoward92 opened #577 "Close autocomplete dropdown programatically?"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome 64 on OS X

I am using the Autocomplete component for search suggestions. The idea is that a user can either select a suggestion from the autocomplete dropdown or can just do a free-text search. Then I use Vue router push to show the content for the suggestion, or a search results route for f

[2018-02-03 07:16] jtommy commented on #577
@taylorhoward92 There isn't a method, maybe only `setSelected` but I think it isn't ok for you.
Anyway you might set `isActive` data to false, `this.$refs.myAutocomplete.isActive = false`

[2018-02-04 04:08] dongugkim opened #578 "you are heck awesome"
i saw you updated table something

i upgrade and i saw what a beatiful table layout is in my web app

genius

[2018-02-04 13:31] martinhbramwell commented on #319
I'm a newbie at Vue, Buefy, SCSS, etc, but have a lot of developer experience otherwise.
Nevertheless, I am mystified by this task of customization.

I cloned, installed and ran **buefy-simple**, and saw the intended page in my browser, no problem.
I changed displayed text in App.vue and Hello.vue, and saw the changes in my browser moments later, no problem.
I changed the `<a>` tag color in Hello.

[2018-02-04 13:52] wopian commented on #319
I haven't seen what Buefy Simple is, but from the code snippet, you may be missing the Buefy import after making your variable customisations.

E.g https://github.com/wopian/hibari/blob/new/src/styles/bulma.scss

[2018-02-04 17:00] martinhbramwell commented on #319
Yeah, I think it's fair to say that this is a documentation bug.

**Specifically** for newbs like me the bottom line of [Buefy Documentation--> Customizing theme with Sass](https://buefy.github.io/#/documentation/customization) states ...

So `buefy-simple` is the _official_ repo for learning how to customize Buefy, yet changing the primary color, as shown in the diff in my original post, does not

[2018-02-04 22:26] ghost opened #579 "table cant resolve text overflow css"
https://www.w3schools.com/cssref/css3_pr_text-overflow.asp

in buefy, it's not resolved in some situation like above link

[2018-02-05 02:59] chiayutsaipersonal opened #580 "file upload component broken when using 'accept' property"
**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: windows 10 /chrome 63.0.3239.132

### Description

after update from 0.6.2 to 0.6.3, file input seems to be broken if 'accept' property is used

### Steps to reproduce
1.  make a file upload input button WITHOUT setting the accept property
![image](https://user-images.githubusercontent.com/19500698/35786433-29567f46-0a62-11e8-9

[2018-02-05 12:39] jvmonjo commented on #507
New PR #581

[2018-02-05 21:17] #580 closed

[2018-02-05 21:21] jtommy commented on #578
Thanks!

[2018-02-05 21:21] #578 closed

[2018-02-06 03:25] ckpiggy commented on #579
Did you set `max-width` on your `td` ?
And please check [this article](https://stackoverflow.com/questions/9789723/css-text-overflow-in-a-table-cell)

[2018-02-06 06:24] guruprasaad123 opened #584 "Am getting ReferenceError: keep is not defined on Production"
Am using [Buefy](https://buefy.github.io/#/)[ **version : 0.6.2** ]  in my [vue-webpack project ](https://bitbucket.org/guru001/gms-webpack-buefy/src)[ **vue : 2.5.11** ].When working  in Development mode the site works fine.<br>
# Scenario
1._npm run dev_
The site works fine using webpack-dev-server.<br>
2._npm run build_
Build process is done successfully _without error_.<br>
3.opening the index

[2018-02-06 23:49] GarethTIGFreight commented on #577
I _sort of_ had a solution but with b-taginput with autocomplete but you should be able to adapt the code to work. See the *untested* code below. On the @typing event we filter the autocomplete results and append the filtered results with what you've typed.

Alternatively you can use _ref_ on the autocomplete and directly access the inputted value (?).

Good luck.

[code]

[2018-02-07 01:35] rizqyhi opened #585 "Transitionend not triggered on tab item after the content clicked"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome 64 on MacOS

### Description

I'm building a project which relies on `transitionend` event on tab item. If works fine if I don't click on the tab content. But after I click on the content, the event is not triggered anymore.

Demo: https://jsfiddle.net/rizqyhi/hmcmjne9/1/

### Steps to reprod

[2018-02-07 06:25] dumptyd opened #586 "Dropdown change event firing twice"
### Overview of the problem

`b-dropdown`'s `change` event gets fired twice for some reason

**Buefy** version: [0.6.3]
**Vuejs** version: [2.4.4]
**OS/Browser**: Firefox

### Steps to reproduce

http://jsfiddle.net/dumptyd/sepck7mq/6/

Every time you select an item, `num` increases by 2.

[2018-02-07 12:42] jarridb commented on #528
Not sure if it is a further bug but when I gave your suggestion about adding a setter to a computed variable to close the modal, the esc was still bound and will open and close the modal.

[2018-02-07 14:41] wsw70 opened #588 "How to use multiline tooltips?"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.9.2
**OS/Browser**: Windows 10 / Chrome 64

### Description

I would like to format a tooltip so that it is multiline and force the newlines.

### Steps to reproduce

An example is available at https://codepen.io/WoJWoJ/pen/qxqNrj

I tried `<br>` as the line delimiter, as well as `\n`

### Expected behavior

To get two line

[2018-02-07 17:08] grebebird commented on #103
I arrived here hoping to find a solution specifically for creating a tooltip with rendered HTML content. Is there a way to take the _styling_ from tooltip and apply it to dropdown? I can't easily figure it out. @jwahdatehagh is onto something for sure.

[2018-02-07 17:21] jwahdatehagh commented on #103
@grebebird i'm just using the excellent https://github.com/Akryum/v-tooltip with buefy/bulma styling now. If file size is an issue, you can remove Buefy's Tooltip import to make up for it 😉

[2018-02-07 17:33] grebebird commented on #103
Thanks @jwahdatehagh !

I feel like I'm on to something with using a dropdown with a "notification is-primary" inside (looks like a tooltip without the arrow), and I'm battling removing the top/bottom padding of the "dropdown-content" class, which for some reason isn't working (yet?). I feel like just adding "is-tooltip" to "b-dropdown" could encapsulate this more cleanly than I am hacking it (e.g

[2018-02-07 20:48] jtommy commented on #588
@wsw70 Thanks a lot! About `multiline`, by that prop automatically the text is multined.
If you want to force, you might set `white-space: pre` to `tooltip ` class and use `\A` (equivalent HTML is `&#xa;`), for example https://codepen.io/anon/pen/bLBaKw

[2018-02-07 21:52] jvmonjo commented on #507
PR #581 merged

[2018-02-07 21:52] #507 closed

[2018-02-07 22:01] dciancu commented on #560
+1

Looking forward to implement this.

[2018-02-07 22:12] jtommy commented on #560
@taylorhoward92 You might add `b-autocomplete` into a `b-field` like `b-input` docs.

[2018-02-07 22:21] anteriovieira commented on #566
Check out sass/node-sass#1469

Looks like this all stems from Sass.

[2018-02-08 00:11] lobo-tuerto opened #591 "Problem when adding Buefy's CSS file before other CSS files"
### Overview of the problem

A brand new Vue.js project that includes Buefy and MDI (Material Design Icons) will fail to build if Buefy's CSS file is included before MDI's CSS file.

I'm new to Vue.js, so excuse me if I'm doing something silly. I created a new app, then added `buefy` and `mdi` to my project. then included their CSS files like this on `/index.js`:

[code]

**Buefy** version: [0.6.3

[2018-02-08 03:17] guruprasaad123 commented on #566
i'll check it out @anteriovieira  , can look after this Issue [#584](https://github.com/rafaelpimpa/buefy/issues/584) am really struck on this.

[2018-02-08 11:46] diomed opened #592 "Accordion? [req]"
How come buefy doesn't have **accordion** option?

[2018-02-08 15:32] anteriovieira commented on #584
It's still not very clear to me. It looks like you have a variable called `keep` that is not defined.

[2018-02-08 15:32] anteriovieira commented on #584
I need a minimal reproduction to help you.

[2018-02-08 15:57] guruprasaad123 commented on #584
You check this [repo](https://bitbucket.org/guru001/gms-webpack-buefy/src) ..!

[2018-02-08 16:02] anteriovieira commented on #584
Sorry, I had not seen

[2018-02-08 16:04] guruprasaad123 commented on #584
first of all thanks for checking out ...
and its ok @anteriovieira have a clear look

[2018-02-08 16:27] okmkey45 opened #593 "timepicker updates to current day"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.8]
**OS/Browser**: Ubuntu 16.04/Google Chrome

### Description

for the timepicker component, the data entered for v-model must be a Date object. I set this Date object with a different date from today, like Fri Feb 09 2018 10:00:00 GMT-0500 (-05)
, something like this. When I use the timepicker and I pick a value, thi

[2018-02-08 21:15] SamUndefined opened #594 "Add delay to tooltip"
Other vue-tooltip plugins and jQuery, for example, allow the developer to add a delay which controls the amount of time the user must hover an element before its tooltip pops up. Perhaps this feature could be part of Buefy, maybe as a prop in the form of milliseconds:

[code]

By the way, thanks for this excellent component package!

[2018-02-08 23:23] johnlindquist commented on #146
I also just ran into this with Nuxt. Should this be documented or am I missing something?

[2018-02-09 15:09] stackmont opened #595 "Autocomplete dropdown position (especially for mobile)"
### Overview of the problem
Would be nice if we could specify the dropdown position (top, bottom, left, right). I think it is automatically determined right now, which works good enough most of the time, but sometimes it is positioned inconvenient or outside the screen.

For a mobile/small screens: when the dropdown is active it would be more user friendly if it was positioned underneath the autoc

[2018-02-09 20:21] #593 closed

[2018-02-09 20:32] jtommy commented on #592
@diomed Do you mean a `collapse` component wrapper ?

[2018-02-09 22:35] diomed commented on #592
right. I usually use UIkit where it's called differently:
https://getuikit.com/docs/accordion

I see that bootstrap also has example of that.
maybe you should add an example for it.

[2018-02-10 09:15] jtommy commented on #595
@stackmont In the last version, `autocomplete` component has vertical scrollbar when height is greater than 200px.

[2018-02-10 09:34] jtommy commented on #555
@fsfj  Agree with @avrong

[2018-02-10 09:34] #555 closed

[2018-02-11 13:12] hterrence opened #596 "Issue with sorting table and multiple opened detailed rows"
First of all, thanks for taking the time for developing this library.

### Description
Table sorting destroys proper order of the opened detailed rows (after sorting detailed rows should be still "attached" to its original row).

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: macOS High Sierra, reproduced on Chrome 63, Firefox 58 and Opera 51

### Steps to reproduce
1. Go t

[2018-02-11 23:52] gallowdp commented on #591
I also have this problem and am unable to solve by swapping the import order. I still get the same error.

[2018-02-12 01:48] fsfj commented on #555
Okay, thank you guys!

[2018-02-12 03:14] lobo-tuerto commented on #591
@gallowdp It has to be the last line when importing CSSs.

Or try one of the other 3 workarounds in the meantime while we get an official response from the maintainer.

[2018-02-12 12:50] jtommy commented on #596
@hterrence Thanks!
About your issue i think the problem is in your `person-details` component because you should use a `computed` prop and no a state variable (`data`)
For example:
[code]

[2018-02-12 14:39] hterrence commented on #596
@jtommy the usage of data in this example was simplified, just to show the issue. Maybe more "real life" example will be better. So here is the website that I've started working on (https://cryptovibe.io):
![image](https://user-images.githubusercontent.com/32852656/36101737-7cb4fe4e-100a-11e8-841f-b6c6f128fde0.png)

When you expand the row, data is being fetched from the server and you can change

[2018-02-12 17:40] jtommy commented on #596
@hterrence I'm looking your code and you are using an old row value. You should use  row prop of your component into template o watch that prop and update internal row variable that are you using into template.

[2018-02-12 19:31] #586 closed

[2018-02-13 09:54] Herteby opened #599 "Bug in dialogs: onCancel() gets called when clicking Confirm"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: CentOS/Chrome

### Description
When using `$dialog.confirm` or `$dialog.prompt`, the `onCancel` hook gets called even when clicking Confirm.
### Steps to reproduce
[code]
[code]
Click the Confirm button
### Expected behavior

Only onConfirm gets called.

### Actual behavior

Both onConfirm and onCancel

[2018-02-13 12:45] jtommy commented on #545
Same request: https://github.com/rafaelpimpa/buefy/issues/599

[2018-02-13 12:45] #545 closed

[2018-02-13 13:32] Dave3of5 commented on #537
ok @jtommy thanks.

[2018-02-13 13:32] #537 closed

[2018-02-13 14:09] danielschmitz opened #600 "Closable property on bMessage doesn't works properly"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description

The closable property (bMessage) doesn't works properly.

### Steps to reproduce

https://codepen.io/danielschmitz/pen/XZarRR?editors=1010

### Expected behavior

 The icon must be hidden when `closeable=false`

![image](https://user-images.githubusercontent.com/1509692/3615

[2018-02-13 14:20] adrlen commented on #600
You have to use your prop with **:** as `**:**closeable="false"` to pass a boolean to the component.

https://codepen.io/anon/pen/WMENQR?editors=1010

[2018-02-13 17:22] ruust opened #601 "Can't render Buefy components when customizing Buefy with constructors"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Google Chrome

### Description
Buefy components fail to load when I attempt to customise Buefy with the constructors instead of using the default values. If it matters, I set this up to work standalone without importing via node or webpack. The components also load without errors if I use `Vue.use(Buefy

[2018-02-13 17:27] jtommy commented on #601
@ruust Are using npm or CDN ?

[2018-02-13 17:28] ruust commented on #601
@jtommy CDN. Updated my issue description!

[2018-02-13 17:30] jtommy commented on #601
Could you provide us your code? Without constructor options is it works?

[2018-02-13 17:30] #600 closed

[2018-02-13 17:39] ruust commented on #601
@jtommy Refer to https://jsfiddle.net/am0n1hsj/. Comment out the Constructors and using `Vue.use(Buefy.default);` line would result in the datepicker appearing.

[2018-02-13 18:59] jtommy commented on #601
@ruust When you use CDN, you have to use Buefy.default with or without constructor options.

[2018-02-13 18:59] #601 closed

[2018-02-13 20:41] Urvin opened #602 "Datepicker events feature request"
Hello!
That would be great if Datepicker component emit events like monthChange, yearChange  etc.

[2018-02-13 20:57] diomed opened #603 "watch in checkbox"
https://github.com/rafaelpimpa/buefy/blob/161607032706b39a13474def7937f6efd6b2b739/src/components/checkbox/Checkbox.vue#L45

_watch is expensive and should be avoided.
That's a watch for every single form element you have with Buefy._

[2018-02-13 21:07] jtommy commented on #603
@diomed We use `watch` because in this way the component update own internal state when `value` change (`v-model`).

[2018-02-14 06:00] rizqyhi commented on #585
Sorry to mention, @jtommy, can you have a look at this, please?

[2018-02-14 13:59] adrlen commented on #481
I think it's better to keep consistency thorough all components but that's just my 2 cents, is this really not open to discussion ?

[2018-02-14 18:29] grebebird commented on #543
Follow up question: Why does toggle do nothing if "hoverable"? I have a menu showing up on hover, that, when clicks, take a user to a new page. However, the page is rendered without a full page transition, so currently, the dropdown remains displayed until the user moves off of it (while the new pages loads underneath). It's an odd UX interaction.

The "easy" way to fix this is to make the user cl

[2018-02-15 00:30] Youdaman opened #605 "dev shows custom $primary colour, build does not"
**Buefy** version: 0.6.3

### Description

Customisation of colours as per https://buefy.github.io/#/documentation/customization works in dev but not in build.

### Steps to reproduce

1. in App.vue set a custom primary colour, e.g. `$primary: #007bbc;`
2. `npm run dev` and you can see the new primary colour
3. `npm run build` and the site in dist shows the default (purple) primary colour

### Exp

[2018-02-15 00:34] Youdaman commented on #605
I did see instances of my new primary colour (007bbc) in the app css file in dist, however I did a find replace on the default primary colour (7957d5) and replaced 111 instances that had not been changed/overridden.

[2018-02-15 07:55] Youdaman commented on #605
Also had to find/replace hover and active states

[2018-02-15 08:00] Youdaman commented on #605
Turns out the problem was I still was including the beufy.css in main.js so commenting that out fixed things!
[code]

[2018-02-15 08:00] #605 closed

[2018-02-15 08:46] cvgeldern commented on #517
@tridcatij

Thanks, it works!

Still doesn't explain why `b-radio` does work without the : binding? But that's not my issue  ;)

[2018-02-15 08:53] adrlen commented on #425
@jtommy Would you accept a PR on this ?

[2018-02-15 10:14] jwahdatehagh opened #607 "Suggestion: Versioned Documentation"
I have quite a few different Buefy installations running and they are getting a little difficult to maintain with only the current documentation version live.

Have you considered versioning the documentation (e.g. like bulma does: https://versions.bulma.io/)?
How can i help with this / would you be open to contributions for this?

[2018-02-15 10:19] adrlen commented on #607
I know It's not ideal but if you didn't think about it already, you can clone the repo and checkout at the selected version to ru

[2018-02-15 11:01] jtommy commented on #425
@adrlen Yes! If possibile no a breaking change and we'll review your PR.
Thanks.

[2018-02-15 11:28] jwahdatehagh commented on #607
Thanks for the suggestion! I still think an online version would be reasonably helpful ;)

[2018-02-15 18:53] jtommy commented on #425
Close https://github.com/buefy/buefy/commit/f42665a338b442f91bd5551174e3214796bd3ac8

[2018-02-15 18:53] #425 closed

[2018-02-15 19:28] pflirae opened #610 "Visible property on Tab Item"
### Overview of the problem

It is not a problem, it is feature request.

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: All

### Description

Add visible property to Tab Item, with a boolean type, so it can be hidden from the screen based on reactive conditions.

### Steps to reproduce

This is a feature request, no steps to reproduce.

### Expected behavior

When visible

[2018-02-15 23:26] cldershem commented on #297
This just held me up for a good half hour. I think this should be more clearly documented in the docs.

[2018-02-16 09:40] guruprasaad123 commented on #584
Any updates? @anteriovieira

[2018-02-16 10:47] anteriovieira commented on #584
Hi @guruprasaad123 , I'am sorry for the delay in replying.

The cause of the problem is:

On line 364 you passed the value of the property as an expression instead of a string.

Change to

[2018-02-16 12:18] francoism90 opened #612 "How to get taginput output as array?"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.7
**OS/Browser**: Linux/Firefox

### Description

How do I attach the value of the `taginput` component to a field?

[code]
### Steps to reproduce

1. Build component
2. Use in POST

### Expected behavior

A method to convert select objects to string

### Actual behavior

object, object, object

[2018-02-16 12:53] jtommy commented on #612
@francoism90 It's a general question and it depends on what do you want see in the input tag. Anyway you could use a computed prop that read `selectedTag` and return a string of your tags.

[2018-02-16 14:23] francoism90 commented on #612
@jtommy Still learning Vue, but looks very powerful. This works:

[code]

Thanks for the help! :)

[2018-02-16 16:50] adrlen opened #613 "TagInput | Control field min-width"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: MacOS/Chrome64

### Description

When having multiple tags in TagInput, it can occur that the control field has a small width limiting what is visible.

### Steps to reproduce

Add multiple tags in tag input without having the control going back on the line

### Expected behavior

Have better vision

[2018-02-16 17:11] jtommy commented on #613
@adrlen Ok, we'll evaluate your PR, thanks!

[2018-02-16 17:18] adrlen commented on #613
Would it be possible to add it in PR #604 ? What do you think of this improvement ?

[2018-02-16 17:48] jtommy commented on #613
I prefer a new PR. I think it's a good idea!

[2018-02-16 18:37] lunfel opened #614 "Dropdown component css styling issues when used in navbar with color modifier"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Ubuntu/Chrome 64

### Description

Dropdown component breaks the bulma css styling when used in navbar with color modifier.

### Steps to reproduce

1. [Customise bulma theme](https://buefy.github.io/#/documentation/customization)
[code]
2. Change the `$primary` variable to `#3498D8;`
3. Create a na

[2018-02-16 18:40] lunfel commented on #614
![buefy-css-issue](https://user-images.githubusercontent.com/1844873/36323408-da288390-131e-11e8-8925-a3b244b47aed.png)

Test is a standard a.navbar-item

Menu is a dropdown component with a.navbar-item within

[2018-02-16 20:13] francoism90 commented on #612
@jtommy How to deal with all ready set values?
[code]

`hasTags` has been injected using the vue-component.

Thanks. :)

[2018-02-17 08:12] dumptyd opened #615 "Provide slots in datepicker for customized year and month selection"
`b-datepicker` uses HTML `select` for year and month selection, however I'd like to use `b-dropdown` or `b-autocomplete` for this instead.
Currently, there's no way to do this, it would be nice if there were slots to provide your own year and month selection UI.

[2018-02-17 14:26] mateomorrison opened #616 "Checkbox Required Tag"
### Overview of the problem
When I add "required" tag to the <b-checkbox> tag, it does not prompt a required text when submitting the form.

**Buefy** version: v0.6.3
**Vuejs** version: 2.9.2
**OS/Browser**: Mac OSX

[2018-02-18 01:39] gpassarelli opened #617 "Datepicker - Unselectable all dates, except specific ones"
Hi there, first of all, thanks for this amazing project. It is awesome.

I was looking at the documentation for the Datepicker component, and I've found that I can specify the attribute "unselectable-dates" to pass an Array of unselectable dates.
But what if I want to all dates by unselectable, except an array of selectable dates.

Is it possible to do this? If not, I could try to make a PR to all

[2018-02-18 06:13] jtommy commented on #617
@gpassarelli Thanks!
What about `min` and `max` props ?

[2018-02-18 06:20] jtommy commented on #584
Thanks @anteriovieira

[2018-02-18 06:20] #584 closed

[2018-02-18 06:21] jtommy commented on #566
Thanks @anteriovieira

[2018-02-18 06:21] #566 closed

[2018-02-18 10:34] batkor opened #619 "buefy: textarea+ckeditor"
Hi, guys!
I want integrate ckeditor plugin for ` <b-input type="textarea" v-model="project.body"></b-input>`
How the do? ty

[2018-02-18 13:44] gpassarelli commented on #617
@jommy, the problem is that I don't have a "range" of dates.
I'm working on a project that the user can choose the start date for a course, some courses start every Monday, others have specific dates, for example, April 1st, June 4th, and December 7th. And the date picker must have only these specific dates.

[2018-02-18 14:55] Sparkenstein commented on #38
Hey I tried adding the animation as you said to b-modal. It's not working. Do we have a tutorial for the beginners? Or like include `animate.css` on your own and use animations from it directly something like that

[2018-02-18 16:12] dongugkim opened #621 "bulma card show scroll bar inside"
![default](https://user-images.githubusercontent.com/25264202/36354050-dd6ad5c2-1511-11e8-964b-858156cb69a9.PNG)

i dont know why

[2018-02-18 16:53] adrlen commented on #613
I noticed an other problem when a tag width > container width.

We can put `overflow-x: scroll` on the container but then we have the scrollbar even when not needed. It might need another issue.

[2018-02-18 18:27] dongugkim commented on #621
i solved with overflow hidden.

[2018-02-18 18:37] dongugkim opened #623 "i wanna display none of section created by b-tabs"
![default](https://user-images.githubusercontent.com/25264202/36355403-09c9ef90-1526-11e8-9f34-cdd17011a4a7.PNG)

![12](https://user-images.githubusercontent.com/25264202/36355422-3c8bd1f0-1526-11e8-9887-0459c54cea80.PNG)

i wanna make from first pic to last pic

[2018-02-18 21:26] jtommy commented on #621
It's a Bulma issue. You might open an issue or a PR to Bulma project.

[2018-02-18 21:26] #621 closed

[2018-02-18 21:28] jtommy commented on #623
@dongugkim You should force to reset "tab-content" class by your css

[2018-02-18 21:32] jtommy commented on #616
Double https://github.com/buefy/buefy/issues/567

[2018-02-18 21:33] #616 closed

[2018-02-18 22:01] jtommy commented on #613
@adrlen I'm thinking an other solution about it, for example to show ".." when the word is too long.

[2018-02-19 08:59] adrlen commented on #613
That's actually a way better idea, I don't know how to implement it without having only attached tags though. It definitely needs another issue.

[2018-02-19 09:01] jtommy commented on #613
@adrlen I'll implement it later, don't worry.

[2018-02-19 13:20] jtommy commented on #619
@batkor I don't know ckeditor but reading from http://cdn.ckeditor.com/ it's quite simple, for example (v.4): https://codepen.io/anon/pen/aqqGNq?editors=1010

[2018-02-19 13:49] Alecise commented on #458
Really cool work done here, just waiting the range input and buefy will cover all my needs :) And if the slider can be custom with a specific image it would be perfect!

Thanks for all!

[2018-02-19 16:10] #623 closed

[2018-02-19 18:10] #612 closed

[2018-02-19 19:14] batkor commented on #619
ty! @jtommy
what plugin you using ?

[2018-02-19 19:15] jtommy commented on #619
CKEditor 4

[2018-02-19 19:19] batkor commented on #619
ty

[2018-02-19 20:34] jtommy commented on #617
@gpassarelli Ok, you are free to make a PR and we'll evaluate it.

[2018-02-19 20:38] jtommy commented on #615
@dumptyd  We could add a `header` slot so you can customize all (selects and buttons)

[2018-02-19 21:06] #610 closed

[2018-02-19 22:05] haphazardly commented on #569
Also experiencing the same issue, any luck @EeSien?

[2018-02-19 23:00] haphazardly commented on #569
@EeSien I resolved this issue for myself try using this:
[code]

[2018-02-20 02:49] cvince commented on #602
👍

[2018-02-20 17:02] adrlen commented on #586
Shouldn't the `change` event be fired only if the value actually changed ?

Also, I would like to deselect an item when clicking on it. I can't figure this out without implement it directly in the Dropdown component because of the `v-model` used to determine the selected. Thoughts ?

[2018-02-20 17:20] grebebird opened #626 "Ability to return autocomplete results under grouped headers"
### Description
I'm looking to use the autocomplete feature in combination with, conceptually, a grouped select list. I couldn't figure out if this was feasible within the available components today or if it would be a request for a new feature.

### Expected behavior
As a user types, the list of names matching would be returned _under their parent category header_ (such that only a sub-set of eac

[2018-02-20 20:42] #602 closed

[2018-02-21 05:48] Ben-Mack opened #630 "b-upload doesn't work with accept=".jpg""
`b-upload` work fine with attribute `accept="image/jpeg"`  but `accept=".jpg"` doesn't work.

Please see this codepen https://codepen.io/anon/pen/NyMrKy?editors=1010 (I only added `accept=".jpg"`)

[2018-02-21 05:53] Ben-Mack commented on #630
Also, on latest chrome, when I move cursor over the text `Drop your files here or click to upload`, cursor changed back to `default` state instead of `pointer`. I fixed that by styling css input width height to 0

[2018-02-21 11:52] Herteby commented on #607
Interesting idea: Since the documentation served straight from the repo by github.io, and is already properly tagged with version numbers in the repo, maybe it would be possible to do this automatically?

[2018-02-21 12:13] #613 closed

[2018-02-21 12:20] jtommy commented on #630
@Ben-Mack Accept issue fixed https://github.com/buefy/buefy/issues/575.

[2018-02-21 12:20] #630 closed

[2018-02-21 16:42] richgoldmd commented on #338
I attempted this be rewriting index.js to include only the injected components, and the rest would have to be imported explicitly.

Doing so resulted in a savings in the final bundles of about 90kb in a production build, which is about half the size of the minimized index.js in the distro (without explicitly including any components). (I extract CSS in my build so that is not included)

Savings ma

[2018-02-21 18:14] kevinhofmaenner commented on #554
I am using vue-fontawesome and fontawesome5 pro which renders the icons as svgs. I cannot get buefy to play along nicely. Am I doing something wrong or is there no support for fontawesome5 pro svg icons?

[2018-02-21 18:21] Herteby commented on #554
@kevinhofmaenner Yeah Buefy only supports the webfont icons.
I actually experimented with overriding Buefy's icon component with one that used FontAwesome's SVG icons instead. It worked fairly well actually. I decided to abandon it for the moment though, in favor of keeping it simple, as the font is just 300kb anyway.

[2018-02-21 19:42] linuxfreak90 opened #633 "How can I close a modal?"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.7
**OS/Browser**: Firefox Developer Edition

### Description

In second example: `<button class="button" type="button" @click="$parent.close()">Close</button>`

I want to close the modal as given in the first example:

[code]

### Steps to reproduce

1. Add close button to footer
2. Close the modal

### Expected behavior

[2018-02-21 19:51] linuxfreak90 commented on #633
`<button class="button" type="button" @click="isImageModalActive = false">Cancel</button>`

Maybe there is a better solution, thanks anyway. :)

[2018-02-21 19:51] #633 closed

[2018-02-21 19:56] kevinhofmaenner commented on #554
Thanks @Herteby for the quick reply!

For anyone looking for a solution, this is what I ended up doing. I wanted the fal pro icons (light) but am using vue-fontawesome which is currently incompatible with buefy.

I followed the instructions provided by fontawesome in regards to using their fa5 web fonts (https://fontawesome.com/get-started/web-fonts-with-css)

I brought over the following files in

[2018-02-22 00:13] rcubitto opened #634 "Prevent snackbar from fading out"
Is there a way to achieve this without doing something like `duration="100000"`?

[2018-02-22 09:00] alqu opened #635 "Table - sort arrow on column header does not work when using "columns" property to define simple tables"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: Mac/Chrome

### Description

When using property "columns" to define table's columns the little sort arrow on the column header is not shown on the sorted column but stays on the first column.

### Steps to reproduce

1. Define a b-table only by using the new "columns" property. Use a data source th

[2018-02-22 10:46] adrlen commented on #634
It's not possible at the moment.

[2018-02-22 11:00] adrlen opened #636 "TagInput | Commas separated tags"
In the default implementation of the TagInput component, when pressing comma key it adds the tag automatically. But when pasting a string containing multiple words separated by commas, the tag is added as it is and not separated into multiple tags.

Do you think this should be a default behaviour ?

Should we be able to add commas in tags by default and have a props to specify separators that woul

[2018-02-22 16:32] adrlen commented on #636
I implemented this here :

https://github.com/adrlen/buefy/commit/f23c4db13a3272f0c56f814fd538513e92a929ee

[2018-02-22 18:36] rcubitto commented on #634
Would you be interested in a PR for this? I could give it a try.

[2018-02-22 20:16] jtommy commented on #636
@adrlen The question is good! We could separate or get only the first word before comma (truncate).
Anyway we should check if the word contains not comma key but any keys by `confirm-key-codes` prop, for example someone might change default keys.

[2018-02-22 20:36] vortechron opened #637 "taginput drag to rearrange"
feature request.

[2018-02-22 20:52] adrlen commented on #636
It seems difficult to handle dynamically the keys actually, because then you have to split the string with the char associated with the key code.

[2018-02-22 20:55] jtommy commented on #636
Yes but comma couldn't be a separator key code

[2018-02-22 20:57] adrlen commented on #636
If you check my commit above, this case is handled. I agree it's not ideal to implement it only for comma though.

[2018-02-23 08:22] patrickabkarian opened #638 "TR attributes"
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes

There's a bunch of attributes that can be applied on TR's but Buefy can only assign the class attribute to tablerows, that's pretty limiting.

[2018-02-23 12:08] Herteby commented on #554
@kevinhofmaenner You can also just import the webfonts from the NPM package :smile:
[code]
Took me a while to figure out as they didn't mention it in the docs.

[2018-02-23 12:27] jtommy commented on #554
@Herteby At this link https://buefy.github.io/#/documentation/start we specified `Please note that Buefy doesn't include icon packs. You have to import it as you prefer (NPM, CDN, ...)`.

@kevinhofmaenner Thanks!

[2018-02-23 12:44] Herteby commented on #554
@jtommy Ah sorry, by "the docs" I meant FontAwesome's docs. Their "Use with NPM" page only talks about the SVGs and didn't mention that the webfonts are also available there.

[2018-02-23 13:57] Lolhomme commented on #588
Hey guys! I got the same issue:
my html:
`<b-tooltip class="history" :label="getHistory()" multilined>
                                <p>{{ event.history[0].action }} by {{ event.history[0].people }} on {{ event.history[0].date }}</p>
                            </b-tooltip>`

my method: return a string
`getHistory() {
        const ret = this.event.history.map(e => {
            return e.action+

[2018-02-23 14:42] Lolhomme commented on #588
Found it!
Without multilined props:
[code]

On js side:
[code]
And with your css code on above exemple!

[2018-02-23 18:26] brunoosilva opened #640 "BUG b-input with barcode scanner"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome 64.0.3282.167

### Description

Problem with `v-model` of `b-input` using barcode scanner (put data fast and press key ENTER), has delay for get data of model. I also tested with `v-model.lazy`, but don't work!

I tested with `<input v-model="" />` pure and it works normally.

### Steps to re

[2018-02-23 18:33] grebebird commented on #359
@jtommy - I was excited to see this issue was fixed, but I'm unfortunately not able to get it to work. I added **mobil-model="false"** to b-dropdown, but it still shows as a modal on smaller width screens. Have I made a dumb mistake or am I misunderstanding how it's supposed to work?

The way I recreated here was simply dragging the divider between the view and the code further to the left to simu

[2018-02-23 18:40] jtommy commented on #359
@grebebird You have to bind that prop because it accept only Boolean, for example :mobile-modal="false"

[2018-02-24 06:03] tanhs opened #643 "How to use date-formatter to format output date"
### Overview of the problem

**Buefy** version: [5.6.0]
**Vuejs** version: [5.6.0]
**OS/Browser**: Chrome

### Description
Need guide to show different format of date output from datepicker.
How to use the date-formatter to format the date into "DD-MMM-YYYY"

### Steps to reproduce
[code]
### Expected behavior

Output of date this format "DD-MMM-YYYY"

### Actual behavior

Default it show "MM/DD/Y

[2018-02-24 06:34] tanhs commented on #643
I got it fixed.

[code]

[2018-02-24 06:34] #643 closed

[2018-02-26 00:44] timwis commented on #634
I'm interested in this too -- I typically store error messages in state and set a timer to remove them from state.

[2018-02-26 07:40] #588 closed

[2018-02-26 16:52] slorenzo opened #646 "Buefy not working with Nuxt (Dependency not found)"
I'm having troubles using Beufy with Nuxt.
I followed these steps as said the documentation:

 1. Create a new file in Nuxt's `plugins` folder called `buefy.js`
 2. Paste and save it:
[code]
 3. In the `nuxt.config.js` file, add plugins: `['~plugins/buefy']` to the `module.exports` object

When I run `yarn run dev` or `npm run dev`, the console shows the following error:

    ERROR  Failed to comp

[2018-02-26 17:12] #646 closed

[2018-02-26 20:08] jtommy commented on #617
Closed https://github.com/buefy/buefy/pull/645

[2018-02-26 20:08] #617 closed

[2018-02-26 21:24] jtommy commented on #640
@brunoosilva `v-model.lazy` doesn't work with components but it's a sugar sintax of `:value="var" @change="($event) => var = $event.target.value"`.
`b-input` doesn't emit change so you should bind native event, for example `@change.native="($event) => ..."`

[2018-02-26 21:26] jtommy commented on #603
Close https://github.com/buefy/buefy/commit/c5e8899ccd307e1381d8204699b569da965df797

[2018-02-26 21:26] #603 closed

[2018-02-27 16:46] MacedoRAC opened #649 "Set td colspan/rowspan depending on the data"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13

### Description
There is any way to add **colspan** and/or **rowspan** attributes to a cell depending on the data?

[2018-02-27 16:46] philipithomas opened #650 "Releases are being tagged as "prerelease", so package managers are stuck at old versions"
Buefy releases are not being promoted from "prelease", so package managers are not upgrading past v ~0.5.4. Please mark the release as prod!

[2018-02-28 09:47] as1s opened #651 "Vertical scroll bar for b-table"
Can we have a vertical scroll bar added to the b-table component?

[2018-02-28 12:58] jtommy commented on #651
@as1s You might customize it by CSS, for example:
[code]

[2018-02-28 13:00] jwjcmw commented on #651
Will you not already get one by just setting a height on the table container?

[2018-02-28 13:05] jwjcmw commented on #651
The answer by @jtommy popped in right as I hit comment...something like that would be the way to go, imo.

[2018-02-28 14:00] rafaelpimpa commented on #650
It's not updating automatically because it has breaking changes (0.5 to 0.6), it's not a pre-release.

[2018-02-28 17:12] hetsketch opened #652 "TagInput | loading animation isn't vertical aligned"
### Overview of the problem
While I use `TagInput` component with `loading` property it isn't aligned by vertical. It doesn't look good I think, especially when `TagInput` has small size.
Here is [codepen](https://codepen.io/hetsketch/pen/rJPBWb)
**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.2]
**OS/Browser**:
MacOS/Chrome

[2018-03-01 10:02] as1s commented on #651
Yes,  that works. Thanks.
But I have the table in a tile and don't want it in fixed height but sized proportionally to the screen size.
How to determine what should be part of the component and what should be left out as custom style?

[2018-03-01 11:27] NessunKim opened #653 "b-upload doesn't work when using with accept"
### Overview of the problem

**Buefy** version: [0.6.3]

### Description

If I use b-upload component with accept property, v-model doesn't change.

[code]
I think that code should not return in for loop.

[2018-03-01 14:01] lnrdnl opened #654 "Autocomplete @select event bug"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Windows 7 / Chrome (Electron App)

### Description
The @select method of the Autocomplete triggers also when providing input in the field. I would expect it only triggers when an option is selected (either by click, enter or tab).

### Steps to reproduce
1. Consider following situation:
[code]
[code

[2018-03-01 14:16] adrlen commented on #654
Should be fixed in next release #606

[2018-03-01 14:18] adrlen commented on #653
If your bug relates to #575 , should be fixed in next release.

[2018-03-01 14:20] #653 closed

[2018-03-01 14:20] #654 closed

[2018-03-01 18:32] jwjcmw opened #655 "Render markup in tab label"
Someone brought this up previously in #479.  Could another prop be added that forces a render?  Something like....

`<span v-html="tabItem.label" v-if="htmllabel"></span>`
 `<span v-if="!htmllabel">{{ tabItem.label }}</span>`

[2018-03-01 19:01] #652 closed

[2018-03-01 21:52] jeliasson opened #656 "b-autocomplete v-model not accepting number (int/float)"
### Overview of the problem
**Buefy** version: 0.6.3
**Vuejs** version: 2.5.7
**OS/Browser**: Windows 10/Chrome

### Description
When model is a number (int/float), I'll get the error ```TypeError: e.replace is not a function```. This seems to be related to the value being parsed to method ```escapeRegExpChars```, in which function .replace() is not available on int/float types.
https://github.com

[2018-03-02 13:35] apmontgomery opened #658 "Suppress Autocomplete"
Is there anyway to suppress the autocomplete modal?  I'd like to be able to change the value of an autocomplete field without showing the autocomplete.

Use case: restoring values from localstorage currently opens all autocompletes on a page.  That is visually jarring.  I would prefer to only show the autocomplete when the field is in focus.

[2018-03-02 13:47] mateuswetah commented on #21
Hi @rafaelpimpa.

Although I understand your proposed way to use it, I really think this is a design choice. By limiting the selectable only for check (when checkable is activated) you would limit our interactions with table. It took me a time to figure out situations where this would be really not desired, but some designers working with me gave a clear example:

On Gmail's, if you click on a row

[2018-03-02 15:43] ErwanTouba commented on #592
would appreciate a collapse component wrapper aswell

[2018-03-02 17:00] hetsketch opened #659 "Add counters to the Tabs component"
I've used `Tabs` component recently and I think it would be great to add counters. Something like github has. Here is a screen
<img width="280" alt="screen shot 2018-03-02 at 19 58 26" src="https://user-images.githubusercontent.com/3451694/36911327-439c3b56-1e54-11e8-9b1f-df0ddb4896b6.png">

[2018-03-02 17:12] jwjcmw commented on #659
+1 to this...that use case is actually why I want I want #655, but having a prop for the count that could be bound would be even better.

[2018-03-02 20:43] jtommy commented on #658
@apmontgomery Could you provide us your code or an example ?

[2018-03-03 21:57] francoislevesque opened #660 "The b-icon component doesn't fire a click event."
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.2
**OS/Browser**: Windows 10/Chrome

### Description

The `b-icon` component doesn't fire a `click` event.

### Steps to reproduce

http://jsfiddle.net/aywkphtd/1/

### Expected behavior

An alert on click.

### Actual behavior

No alert on click.

[2018-03-03 21:58] adrlen commented on #660
Use `@click.native`

[2018-03-04 08:58] #660 closed

[2018-03-04 12:52] andrzejkupczyk opened #662 "The "maxlength" property is not working correctly"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Ubuntu/Chrome

### Description

The `maxlength` property (character counter) is not working correctly when you add the number modifier to a `v-model` managed input:
[code]
![zrzut ekranu z 2018-03-04 13-37-37](https://user-images.githubusercontent.com/11018286/36945635-a0687f62-1fb1-11e8-8357-188fa699a0

[2018-03-04 22:12] cvince commented on #458
sweet work. Can't wait for 0.6.4. When shall we expect it?

[2018-03-04 22:48] GarethTIGFreight commented on #549
Same problem.

The method close() at Modal.vue Line 147 calls which triggers the watch isActive() (Line 98) which triggers handleScroll() (Line 103) is only run if it's programmatic.

Should be updated to run in all scenarios (?).

[2018-03-05 09:43] kakulukia opened #663 "Event not registering"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome

### Description

Im trying to register a click event to a b-input, but its not registered and i don't know why.

Here is the code:

    section.section
      .new-item
        b-field(label="Name", @click="addItem")
          b-input(v-model="form.name", @click="addItem")
          <b-input v-mo

[2018-03-05 09:51] adrlen commented on #663
Use `@click.native`

[2018-03-05 09:54] kakulukia commented on #663
It looks like i missed a whole page of the docs?
Why is this necessary?

[2018-03-05 09:56] kakulukia commented on #663
Its working, but i still like to know why i have to do this with Buefy inputs?

[2018-03-05 10:01] adrlen commented on #663
It is not buefy related https://vuejs.org/v2/guide/components.html#Binding-Native-Events-to-Components

[2018-03-05 10:03] kakulukia commented on #663
thx

[2018-03-05 10:03] #663 closed

[2018-03-05 10:58] kakulukia opened #665 "is-danger icon missing when set dynamically"
**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Chrome

### Description

Im settings the is-danger type dynamically, which works for the red styling, but the danger icon does not appear. When set as type="is-danger" rather than dynamically the icon shows up.

### Steps to reproduce

    b-field(
        label="Name", :message="form.errors.get('name')",
        :type="{'is-danger

[2018-03-05 12:26] kakulukia commented on #665
Okay, i found a solution. When creating a property which gives back the is-danger string it works.

Is there a more elegant way to do this?

[2018-03-05 12:29] jtommy commented on #665
@kakulukia :type="form.errors.has('name') ? 'is-danger' : '' "

[2018-03-05 12:31] kakulukia commented on #665
thx

[2018-03-05 12:31] #665 closed

[2018-03-05 17:24] abhinukala opened #666 "Validations- How to validate different buefy components."
**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Windows 10/ Chrome

I have a few buefy components on my form and I am trying to do the required validation. There is not much documentation around it but I have found a [jsfiddle ](https://jsfiddle.net/rafaelpimpa/y6r57k2w/)example to validate b-input which worked like charm, however, I was not able to validate other components in

[2018-03-05 20:41] feelslike1929 opened #667 "On hover/mouseover prevent snackbar notification from disappearing"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Ubuntu 16, Chrome

### Description

An option to prevent the closing / pause the duration of a snackbar notfication would be very handy.

### Steps to reproduce

1. trigger snackbar notification
2. hover over it

### Expected behavior

On hover over the Snackbar notification, prevent it from disappe

[2018-03-05 22:36] kcop4uk opened #668 "b-checkbox value is always set to "false""
### Overview of the problem

**Buefy** version: v0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Win10, latest Chrome

### Description

b-checkbox input value attr is always set to false

### Steps to reproduce

https://jsfiddle.net/vc4kvoLn/6/

### Expected behavior

Expecting to be able to set a value attribute of an input element

### Actual behavior

Input element value is always set to "false

[2018-03-06 03:23] fsfj opened #669 "Buefy table sorting"
Hello,

![image](https://user-images.githubusercontent.com/11935862/37012643-b141b79c-2130-11e8-929a-59ebe2975dcc.png)

How to remove the dropdown box?

Thanks Buefy for the great work!

[2018-03-06 07:17] jtommy commented on #668
@kcop4uk What do you want to do?
I think in your case you should use native-value prop instead of value.

[2018-03-06 07:20] jtommy commented on #666
@abhinukala We thought about an example in extension docs section with an external library (what library we have to decide yet)

[2018-03-06 07:32] jtommy commented on #662
@andrzejkupczyk Maxlength attribute is ignored for number type. Please read that official docs https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#attr-maxlength

[2018-03-06 08:04] stein212 commented on #669
I believe you can do that by removing the b-select element.

If that does not work then It would be great if you could post a code snippet of the your table code.

[2018-03-06 08:19] fsfj commented on #669
Here's my code

`  <b-table :data="data"
                     :paginated="isPaginated"
                     :per-page="perPage"
                     :current-page.sync="currentPage"
                     :pagination-simple="isPaginationSimple"
                     :default-sort-direction="defaultSortDirection"
                     default-sort="first_name">

                <template slot-scope="pr

[2018-03-06 12:55] andrzejkupczyk commented on #662
Thanks a lot for pointing it out to me :+1: Nevertheless, counter shows up and it works until the "number" modifier is being used which is not compatible with the official documentation.

So, in my opinion, it **should count characters** OR **should not be visible** at all.

[2018-03-06 14:19] xpuu commented on #522
Thanks for the fix, works for me!

[2018-03-06 14:29] jwjcmw commented on #522
That was timely.  Your comment came in just as I was having this same issue, I might not have noticed the fix otherwise.  Worked for me!

[2018-03-06 17:29] kcop4uk commented on #668
My bad. You're very right.
Thanks!

[2018-03-06 17:29] #668 closed

[2018-03-06 17:57] mateuswetah opened #672 "Switch and Checkbox custom values do not return on form submit using DataForm()."
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Linux Ubuntu 17.10, Firefox

### Description

When wrapped inside a [DataForm](https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects) object, `b-switch` and `b-checkbox`  do not contain custom values for their _true_ or _false_ state. When the value is _true_, it goes as _

[2018-03-06 21:03] FrEaKmAn opened #673 "Preventing modal close"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 0.6.2
**OS/Browser**: Chrome

### Description

I'm trying to develop a solution where user opens a modal and enters some data. If user does a mistake and accidentally closes the modal, I want to catch before close and ask him to confirm modal close.

Checking the docs, there are no specific events for modal provided by buefy.

[2018-03-06 21:39] jtommy commented on #669
@fsfj You cannot remove it if you your columns are sortable. You might remove all sortable props to your columns or hide it by css

[2018-03-06 21:39] #669 closed

[2018-03-06 21:46] #656 closed

[2018-03-06 22:01] jtommy commented on #673
@FrEaKmAn What about `can-cancel` prop ? You might set it to false and manage close in your moda as you prefer.

[2018-03-06 22:26] jtommy commented on #634
@rcubitto We added a new prop `indefinite` to show a snackbar until it is dismissed (for example by action click)

[2018-03-06 22:26] #634 closed

[2018-03-06 22:28] jtommy commented on #667
We have just add a new prop, at the moment. See https://github.com/buefy/buefy/issues/634

[2018-03-06 22:28] #667 closed

[2018-03-06 23:03] rcubitto commented on #634
That is awesome. Thanks for the hardwork!

[2018-03-07 01:49] fsfj commented on #669
I will try your suggestion.  Thank you.

[2018-03-07 09:01] fjelsted opened #674 "Loading component spinner not centered vertically"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [X.X.X]
**OS/Browser**: Chrome, Windows 10

### Description

Spinner is horizontally centered but not vertically. Vertically it is centered around the spinner's top point.

### Steps to reproduce

Easiest way to see it is to go here: https://buefy.github.io/#/documentation/loading
Then zoom in 500% and press "Launch loading

[2018-03-07 09:31] adrlen commented on #674
It's fixed with f42665a338b442f91bd5551174e3214796bd3ac8

[2018-03-07 10:16] #674 closed

[2018-03-07 10:33] fjelsted commented on #674
Sorry about that. :) I'm still new to Github. @adrlen is there any way I could have found this out myself? Like, if you found out the centering was off, what would you do? I already searched for similar issues.

[2018-03-07 10:37] adrlen commented on #674
Hmm actually, there is no way you could have found that because I fixed it while implementing another functionality and I don't think it was ever mentioned.

It's my fault, I should have write it down in my PR then it would have appeared in your search.

[2018-03-07 11:27] fjelsted commented on #674
Well, no harm done. Thanks for the fix. :) 👍

[2018-03-07 11:59] FrEaKmAn commented on #673
Yes, I ended using canCancel: [] and manually handling close. But it doesn't show close button nor it works with ESC (which I can manually add).

Still, what others think? Is this something we could add? Like a preCancel callback?

[2018-03-07 21:06] rucuriousyet opened #675 "Cannot read property 'confirm' of undefined"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.2
**OS/Browser**: Linux/Chrome

### Description
Vue cannot find `$dialog` for the following code inside a .Vue file:
[code]

[2018-03-07 21:15] rucuriousyet commented on #675
Just figured it out (just import the Dialog module from buefy as a component and call that:
[code]

[2018-03-07 21:56] jtommy commented on #673
@FrEaKmAn We won't add somenthing like it. You could create a Modal component that extends `bModal` or a wrapper component and add your logic as you prefer.

[2018-03-07 22:04] #522 closed

[2018-03-07 22:24] FrEaKmAn commented on #673
Ok, I will do as you suggested. Thank you,

[2018-03-07 22:24] #673 closed

[2018-03-07 22:31] #615 closed

[2018-03-08 06:42] agriboz commented on #275
I am having the same issue. Can not find any solution for that.

[2018-03-08 07:00] dumptyd commented on #333
Hijacking this thread to ask a somewhat similar question. Is it possible to hide some columns when table turns into cards?

[2018-03-08 07:16] dumptyd commented on #659
Providing a slot for this would be a better solution IMO.

[2018-03-08 07:16] dumptyd commented on #615
Thank you!

[2018-03-08 07:25] jtommy commented on #615
I think, I'll add an example about header slot and how to move date table

[2018-03-08 07:30] jtommy commented on #659
@Yes, we are thinking to add a slot

[2018-03-08 07:32] jtommy commented on #655
Close https://github.com/buefy/buefy/issues/659

[2018-03-08 07:32] #655 closed

[2018-03-08 07:33] cAstraea commented on #643
How did you get it work @tanhs ? I'm getting [Vue warn]: Invalid prop: type check failed for prop "dateFormatter". Expected Function, got String.

[2018-03-08 08:28] jtommy commented on #275
@agriboz Could you provide the code that you're using when you send the date to the server or how to do you format the date?

[2018-03-09 12:44] robertbakker commented on #658
For me it happens when the data of v-model gets changed inside ```mounted() {}```. The suggestions dropdown triggers, without the user focusing the input.

[2018-03-09 13:12] jiristanglica opened #676 "[Feature Request] Clearable Input"
### Description

It would be nice to have an option to have a clearable input. I imagine it to work in a similar way as the current `password-reveal` functionality. There could be a new prop on the `b-input` component, maybe something like `clearable` (boolean). If true, an X icon button would be added in the same fashion as the password reveal button. Clicking that button would, surprise surprise

[2018-03-09 13:47] adrlen commented on #676
There is already a browser native feature with `type="search"` but it might be useful in some cases I guess.

[2018-03-09 13:48] VickyKoblinski commented on #338
This is a feature me and my team are very interested in and is preventing us from using Buefy at this time (we sadly just pulled it from the project). We'll be keeping an eye on this!

[2018-03-09 16:42] GopherJ opened #677 "Could `b-taginput` be the same size with `b-input`?"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.2]
**OS/Browser**: chrome

### Description

`b-taginput` is not the same size with `b-input`

### Steps to reproduce
[code]

### Expected behavior

the same size with `b-input`

### Actual behavior

size much more big

[2018-03-09 20:37] jtommy commented on #677
Double https://github.com/buefy/buefy/issues/481

[2018-03-09 20:37] #677 closed

[2018-03-09 22:08] #658 closed

[2018-03-09 23:04] GopherJ commented on #481
I’am doing a thing like elasticsearch filter. There is a part that I need two b-select and a b-taginput or a b-input to be in the same line. will b-taginput or b-input be charged depends on the value of the second b-select. If it’s an operator like ‘is one of’, b-taginput should be charged, otherwise b-input but they are not the same size.

So is there a possibility to change b-taginput?

Thanks!

[2018-03-10 02:55] marianomd opened #678 "Detailed table rows only on some rows"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.14]
**OS/Browser**: Chrome

### Description

I need some way to disable detailed rows on some rows. I tried using v-if on the detail template but that just renders an empty detail row.

### Expected behavior

The chevron-right should not appear on rows that don't have details. There should be a way to enable or disable

[2018-03-10 08:21] jtommy commented on #678
@wanxe What do you think about? Could it be helpful or is there a workaround to enable or disable a single row?

[2018-03-10 14:38] stuartcusackie commented on #643
I'm getting same error using the date-formatter property on the field.

I'm using the global config instead:

`defaultDateFormatter: (date) => Moment(date).format("DD/MM/YYYY")`

[2018-03-10 14:49] jtommy commented on #643
It's only an example but where is the issue ? https://codepen.io/anon/pen/dmPgwW?&editors=101

[2018-03-10 15:21] stuartcusackie commented on #643
`<b-field><b-datepicker date-formatter="formatterFunction"></b-datepicker></b-field>`

I have the formatterFunction() declared in my methods but I get the error:
[Vue warn]: Invalid prop: type check failed for prop "dateFormatter". Expected Function, got String.

[2018-03-10 15:22] jtommy commented on #643
You have to add : to date-formatter prop

[2018-03-10 17:41] MHassanSaqib opened #679 "How to disable submit button if form has errors or is there any method something like hasAnyError() that can tell the form has atleast one error?"
### Overview of the problem

**Buefy** version: [X.X.X]
**Vuejs** version: [X.X.X]
**OS/Browser**:

### Description

### Steps to reproduce

### Expected behavior

### Actual behavior

[2018-03-11 02:09] wanxe commented on #678
I think I can do it by checking the value of an additional property in the input data of the table. By example: `row.detailed`. But this means that we need to make some breaking changes to create a good solid pattern for all the cases, not only for false values.
What do you think? We can make any poll here for feature requests and decide? Wait for the next mejor version?

[2018-03-11 08:08] jtommy commented on #679
@MHassanSaqib look here https://github.com/buefy/buefy/issues/200

[2018-03-11 08:08] #679 closed

[2018-03-11 08:16] jtommy commented on #678
@wanxe I don't like to make assumptions on data. What do you think about a solution like `openedDetail` (`disabledDetail` in this case) or `isRowCheckable` (`hasRowDetail` for example) ?

[2018-03-11 17:52] drmule opened #680 "Expanded property on select component"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2]
**OS/Browser**: Win 10 home

### Description
In b-select component:

[Vue warn]: Invalid prop: type check failed for prop "expanded". Expected Boolean, got String.

### Steps to reproduce

b-select id='xx' name="xx"
                    expanded=true,
                    v-model='xx'

### Error disappears with:
b-select

[2018-03-11 17:56] drmule commented on #680
****

[2018-03-11 18:41] connor11528 opened #681 "programmatic modal - Method "isActive" has already been defined as a data property"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.15]
**OS/Browser**: Mac/Chrome

### Description

I have a list of companies. When the user clicks on a company I'd like to show a modal with the information about that company. I'm using Laravel as a backend data source.

In **companies.blade.php** I call a list item component:

[code]

Then in that component I have a

[2018-03-11 18:56] wanxe commented on #678
@jtommy Yes I'm with you 100%. I can do a PR to do that :)

[2018-03-11 19:37] drmule commented on #680
Chrome vue debugger reports Prop as 'expanded:"true,"'

[2018-03-11 19:40] adrlen commented on #680
`<b-select expanded>` or <b-select :expanded="true">

[2018-03-11 20:10] drmule commented on #680
Thanks. I am relatively new to this.

Sent from Mail for Windows 10

From: Adrien
Sent: March 11, 2018 15:40
To: buefy/buefy
Cc: drmule; State change
Subject: Re: [buefy/buefy] Expanded property on select component (#680)

<b-select expanded> or
—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-11 20:46] #680 closed

[2018-03-11 22:52] jtommy commented on #681
@connor11528 When you use programmatically mode, you shouldn't use an other modal into your component. Try for example to remove b-modal from CompanyModal.vue.

[2018-03-12 00:09] connor11528 commented on #681
Okay but if I am rendering a list of buttons that I'd like users to click in order to render a modal (like zillow.com home search), wouldn't there be a performance hit if I duplicated the modal code in every button?

It'd be cool to render a list and when you hit the button it passes the data and renders the modal with the data that is passed into it with no need to duplicate code for the modal

L

[2018-03-12 05:52] izzy26 commented on #676
Yep that's right. But I think it might be nice to have it styled bulma way. Plus it's not always suitable to use the `type="search"`. Anyway, I guess I will find some time to implement it and submit the PR, then it's up to you guys to decide :)

[2018-03-12 06:57] agriboz commented on #275
@jtommy here is the configuration.

[code]

[2018-03-12 07:34] jtommy commented on #681
Ok, but you should create a only one modal component and show/hide by active prop and no programitcally

[2018-03-12 08:24] tanhs commented on #643
Hi,
Hope this help.

                    <b-datepicker name="dob" id="dob"  v-model="dob"
icon="today"
                      placeholder="DD-MMM-YYYY" :required=isRequiredDob
:disabled=isDisabled
                      :date-formatter="dateFormatter"
                      :max-date="dobMaxDate"></b-datepicker>

dateoptions = { year: 'numeric', month: 'short', day: 'numeric' };
...
    methods: {

[2018-03-12 11:59] rafaelpimpa commented on #481
When I was creating the component I thought that the tags were just too small, but I'll change it tho, lots of requests.

[2018-03-12 12:05] GopherJ commented on #481
thanks! That will be cool!

[2018-03-12 12:18] jtommy commented on #275
@agriboz Ok, that is configuration how to you show the `datepicker` (months, days, and formatter to input) but the issue is when you send the date to the server.
You have remember that datepicker `v-model` use a Date Object and it contains timezone information.

[2018-03-12 12:46] agriboz commented on #275
@jtommy did you have any chance to see the video about the issue? i tried to explain as much as i can.

[2018-03-12 13:00] jtommy commented on #275
@agriboz Yes, sure. The issue is how to you send "sentDate" param in "/supplier/email" request.
`defaultDateFormatter` prop is only to format the selected date into the input field.

[2018-03-12 22:05] jtommy commented on #672
Fix switch https://github.com/buefy/buefy/pull/683.
You should use native-value prop for switch and checkbox but of course when value is false option you'll have any values (as native element).

[2018-03-12 22:05] #672 closed

[2018-03-12 22:11] mateuswetah commented on #672
Uhmmm ok, so the false effect was expected by native and the true one didn't worked before because the native-value binding wasn't happening on switch... that makes sense, thanks :)

[2018-03-12 22:15] acidduck commented on #306
Can't get it to work. Followed @colsen1991 guide. Now sass/css files are not loaded twice, but overrides are still not happening.

[2018-03-13 06:53] fjelsted opened #686 "Dialog cancel button doesn't indicate focus"
### Overview of the problem

**Buefy** version: 0.6.3
**OS/Browser**: Chrome v65

### Description

The cancel button has no indication of being in focus.

### Steps to reproduce

1. Go here https://buefy.github.io/#/documentation/dialog
2. Press "Launch confirm (default)"
3. Shift-tab to focus cancel button

### Expected behavior

Cancel button should light up or something.

### Actual behavior

C

[2018-03-13 07:04] fjelsted opened #687 "Dialog: Have option to set focus ['cancel', 'confirm', 'none']"
### Overview of the problem

**Buefy** version: 0.6.3
**OS/Browser**: Chrome v65

### Description

A user quick on the keys might confirm an unintended action. On the documentation page for dialogs, the example "Launch confirm (custom)"-button in red is a dialog to delete an account. A default focus on "Delete Account" would not be my first choice.

I propose to have three options for where to pla

[2018-03-13 18:43] brunoosilva opened #688 "Use context menu in row"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome 64

### Description

Problem add action in row, because the row(`tr`) don't editable. Work with `b-table-column`, but I have to repeat in all.

For example, the plugin https://github.com/vmaimone/vue-context-menu.

Do you have suggestions ?

[2018-03-13 22:12] jtommy commented on #688
@brunoosilva At the moment we prefer don't add any dependencies.
You could check Sortable example and use an external pure javascript library or a your implementation.

[2018-03-13 22:12] #688 closed

[2018-03-13 22:16] jtommy commented on #678
Close https://github.com/buefy/buefy/pull/682

[2018-03-13 22:16] #678 closed

[2018-03-13 23:29] #596 closed

[2018-03-13 23:54] prsolucoes opened #689 "Color change when build to production"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.15
**OS/Browser**: ALL (chrome, safari)

### Description

When i run my project in development mode:
https://github.com/prsolucoes/gohc-web-app

Using:
[code]

It show everything in the correct color, as describe on sass file to change bulma colors:
https://github.com/prsolucoes/gohc-web-app/blob/master/src/scss/custom-bu

[2018-03-14 00:34] uptownhr opened #690 "b-switch fires @input when value changes"
### Overview of the problem

**Buefy** version: [0.6.1]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description

When using the b-switch with `:value` property, the `@input` event fires when the user has not typed any text but the value provided updates.

### Steps to reproduce

### Expected behavior

I would expect that the @input only fires if the user has actually interacted with th

[2018-03-14 08:11] jtommy commented on #690
I have tried to replicate your issue but for me it's ok, https://codepen.io/anon/pen/yKeQxW?editors=1010.
What's the problem ?

[2018-03-14 09:21] adrlen commented on #690
I think that's the behavior @uptownhr is explaining :
https://codepen.io/anon/pen/XEXORY?editors=1010

Use `@click.native` instead of `@input` to fire only when the user is clicking. You might want to use `v-model` instead of `:value` to update the data accordingly to your user actions.
Also, `@click.native` fires twice at the moment but will be fix with #671

[2018-03-14 09:37] jtommy commented on #690
@uptownhr I'm sorry in don't understand well.
We cannot limit `input` event due its nature and @adrlen solution is ok!

[2018-03-14 09:37] #690 closed

[2018-03-14 10:09] MacedoRAC opened #691 "Completely disable sorting on table component"
### Overview of the problem

Buefy version: 0.6.3
Vuejs version: 2.5.13
Laravel version: 5.6

### Description
I'm sending from the Laravel backend a big amount of data already sorted as I want. However Buefy table resorts the data. How can I completely disable sorting in Table component? I tried to pass an empty string to ``` default-sort ``` and already tried to enable ```backend-sorting``` and n

[2018-03-14 16:32] mgattelli opened #692 "B-table does not fit the 100% of the width in IE 11"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.13]
**OS/Browser**: IE 11

### Description

A b-table does not fit the 100% of the width, it overflows.

### Expected behavior

The table must fit the 100% of the width

### Actual behavior

![sin titulo](https://user-images.githubusercontent.com/14174626/37416250-9215d76c-27ad-11e8-85fb-d89929a4bcca.png)

[2018-03-14 16:43] mgattelli commented on #689
My 2 cents...
Do you have `import 'buefy/lib/buefy.css'` in your main.js?
If so try to remove it, as the documentation suggests. (Point 3 of this part of [doc](https://buefy.github.io/#/documentation/customization))

[2018-03-14 16:57] prsolucoes commented on #689
Yes, i had, but removed now:

https://github.com/prsolucoes/gohc-web-app/blob/master/src/main.js

But the problem persists.

Thanks.

[2018-03-15 03:24] oodzchen opened #693 "Disable specific checkbox in b-table when use 'checkable'"
Now I can only check or uncheck all rows in b-table when use 'checkable'. Is there any option to disable specific checkbox in table rows?

[2018-03-15 04:38] rcubitto commented on #691
Have you tried not including the `default-sort` prop at all?

[2018-03-15 04:50] rcubitto commented on #693
I believe it will be possible in the next release. There's a new `is-row-checkable` prop that receives a function, and applies that function to each row to add the `disabled` attr to the checkbox.

[2018-03-15 05:39] dumptyd commented on #486
I need this in my app too. Currently, I'm doing something like

[code]

and this works. However, if I use pagination, it throws off the total number of rows. Because for the above to work, I have to `unshift` a dummy value to the `data` array that I pass to `b-table`.

Now if only it was possible to insert static rows that are completely decoupled from `data` then implementing this would be a bree

[2018-03-15 06:40] dumptyd opened #694 "b-pagination displaying wrong values"
### Overview of the problem

`b-pagination[simple]` displays wrong value on the last page.

### Description

If `total=18, current=2, perPage=10`, it displays `10-20` when instead it should display `10-${total}`

This can be reproduced here https://buefy.github.io/#/documentation/pagination by toggling `simple` and then entering the values I mentioned above.

[2018-03-15 06:47] dumptyd commented on #694
This line [here](https://github.com/buefy/buefy/blob/8421ade7048f901f76fb24b02179cae2a66d3eac/src/components/pagination/Pagination.vue#L57) should be changed to something like this

`{{ firstItem }}-{{ Math.min(current * perPage, total) }} / {{ total }}`

[2018-03-15 06:55] #693 closed

[2018-03-15 06:56] jtommy commented on #693
Yes, in the next release!

[2018-03-15 08:53] cAstraea commented on #672
What about dropdowns ? I'm not getting the data for them also. Had to add a name="" for b-inputs to be able to get the value but it didn't work for b-dropdowns

[2018-03-15 09:38] MacedoRAC commented on #691
@rcubitto I'm not including it already and not solved my problem. For what I understand when you don't pass a ``` default-sort ``` and you are not using ``` backend-sorting ``` the ``` b-table ``` component automatically uses the first row as ``` default-sort ```

[2018-03-15 09:59] cAstraea opened #695 "b-dropdown values"
### Overview of the problem

**Buefy** version: [X.X.X]
**Vuejs** version: [X.X.X]
**OS/Browser**:

### Description

A bit confused about the :value
Why can I have numeric values like so

`<b-dropdown-item :value="1">Option1</b-dropdown-item>
`
but can't have custom values like

`<b-dropdown-item :value="myvalue">Option1</b-dropdown-item>
`

### Steps to reproduce

### Expected behavior

### Actua

[2018-03-15 10:03] ShmatkoAndrey opened #696 "TagInput Autocomplete with allowNew separated by comma key in russian language"
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.4.2]
**OS/Browser**: all

### Description

1. Most problem - in russian keyboard on comma key placed one of letter, and if I write some words with this character - it separated
2. Comma on russian keyboard placed on `SHIFT + /` button

### Steps to reproduce

![test](https://user-images.githubusercontent.com/6275848/3745

[2018-03-15 11:14] adrlen commented on #695
`:value` is used to bind dynamic properties.

Use `value` without `:` to have a static string value.

[2018-03-15 11:30] mateuswetah commented on #672
@cAstraea,  I see your point, this is probably because the `b-dropdown-item` is not made of `input` types, such as `checkboxes`, but `<a>` tags. I suggest you to open an specific issue for that, it does makes it hard to use on forms, although I would go for `select` in most cases like this.

[2018-03-15 12:20] jtommy commented on #696
@ShmatkoAndrey What about `confirm-key-codes` prop?
You might change key codes as you prefer

[2018-03-15 12:42] ShmatkoAndrey commented on #696
@jtommy Thanks

[2018-03-15 12:42] #696 closed

[2018-03-15 12:43] #695 closed

[2018-03-15 12:45] jtommy commented on #691
@MacedoRAC Could you provide us an example about ?

[2018-03-15 14:17] grebebird commented on #452
@jtommy - looks like you marked this as "next release" but linked to an issue that was marked as "won't fix" several months before you noted this was coming in the next release. I'm assuming "won't fix" is the answer that won? If so, is there a decent work around for when toasts could be called in quick succession? If not stacking, then perhaps not showing a toast if one is already currently being

[2018-03-15 15:48] MacedoRAC commented on #691
Above can be found all the code I have. An example of ``` props.row['machines'] ``` can also be found below. In my backend I sort this machines by ``` current_reading.historical.average_in ``` as can be seen in the data, however the Buefy Table is sorting the machines by ``` code_id ```. If I'm not explaining myself properly please tell me.

## Table
[code]

## machinesHeaders
[code]

[code]

[2018-03-15 19:16] #694 closed

[2018-03-15 19:29] jtommy commented on #691
@MacedoRAC I have just tried your example and ther first row is the first element of data array (for example "PN05018955V").

[2018-03-15 20:04] jtommy commented on #689
@prsolucoes I took a look at your repository and it's ok for me. Can you confirm it ?

[2018-03-15 20:07] prsolucoes commented on #689
I made all changes to try make it work. But dont work. The problem still happening.

[2018-03-15 20:22] MacedoRAC commented on #691
I want to keep exactly the order that I receive from the backend (the order of the data above):
[code]

However if you notice buefy render them in the following order:
[code]

[2018-03-15 20:24] jtommy commented on #689
I have just built and it's ok. No default purple color

[2018-03-15 20:27] prsolucoes commented on #689
Hi,

The problem in only in production "npm run build" (dist files), not on dev (npm start).

[2018-03-15 20:32] jtommy commented on #689
Yes, I deployed it in a server and it works

[2018-03-15 20:34] prsolucoes commented on #689
Hi, you are correct, i think that can be cache files. Sorry and thanks. Can close.

[2018-03-15 20:35] #689 closed

[2018-03-15 20:36] jtommy commented on #691
I'm following your code using your static data and i see the order as you want.

[2018-03-15 20:53] MacedoRAC commented on #691
I'm running the code I post and here is the [result](https://gyazo.com/09d62bdf6be9af2a9c87fff76220947e). As you can see the data is sorted by ``` Code ID ``` instead of ``` Med. IN Stor. ``` which is how I sorted in the backend

[2018-03-15 21:04] jtommy commented on #691
Please share your code in codepen or jsfiddle or other. It's no easy help you in this way.

[2018-03-15 21:05] rcubitto commented on #691
The dataset you shared is not sorted by `current_reading.historical.average_in`. I can assert this by assigning the dataset to a variable and running

[code]

The result doesn't seem to reflect any order.

[code]

[2018-03-15 22:17] jtommy commented on #687
@fjelsted We could add a new prop `focus-on` but about 'none' value I think it's no possibile set focus to dialog modal.

[2018-03-15 22:26] jtommy commented on #686
@fjelsted It's a Bulma default style, you might customize it or we could remove 'is-light' style class

[2018-03-16 04:30] m0ngr31 opened #697 "Feature Request: Extra options on taginput"
I need to be able to confirm a user wants to remove something in the tag input before it actually removes in from the list. Would be great to have a canRemove option where I can throw up the dialog and give them a prompt first.

[2018-03-16 10:07] kdekooter opened #698 "Feature request: one-way binding for form controls (vuex support)"
Currently data is bound to form controls with the `v-model` attribute, implying two-way binding.

Vuex requires one-way binding. When `v-model` is used vuex throws the following error:
[code]

It would be great to have one-way binding supported by the Buefy components.

[2018-03-16 13:12] adrlen commented on #698
Use `:value` and dispatch actions with events handlers to update your store.

[2018-03-16 13:55] adrlen commented on #698
I think your issue is with `<b-radio>` ? I just tested with `<b-checkbox>` and `<b-switch>` and don't see any problems.

For `<b-radio>` I would set a data property in the `mounted` hook with your store value and then update the store with events handlers. If your store value is set asynchronously use a watcher to set the data property. Not sure if this is the more elegant way though.

[2018-03-16 21:38] #698 closed

[2018-03-19 04:47] rcubitto opened #700 "Allow Datepicker to be set with a string value"
**Buefy** version: 0.6.3
**Vuejs** version: 2.5.7

### Description

I was trying to seed the datepicker with a stringy date like `2018-03-19` but it is failing.

According to the docs, the `v-model` property only accepts a `Date` type. Can we extend it to also accept Strings, and use the `date-parser` to convert it to a `Date` type?

If you are interested, I could give it a try and PR a solution.

[2018-03-19 05:43] agriboz commented on #275
I didn't do any change for "sentDate" to send "/supplier/email" endpoint. Do i need to make anything different?

[2018-03-19 05:44] agriboz commented on #700
It would be great in my opinion.

[2018-03-19 07:21] jtommy commented on #275
@agriboz You should format Date Object to String or Number with your custom function or external library (for example), before to send it to your endpoint.

[2018-03-19 07:54] jtommy commented on #700
@rcubitto Ok, but you have to pay attention about that function because its behaviour is to parse a string from input text and the pattern could be different from a start date (for example if it's coming from a server)

[2018-03-19 11:12] MacedoRAC commented on #691
Thank you all. In fact, the problem never was the Buefy. My backend sorting was a bit messed up because of PHP versions. Sorry and once again thank you.

[2018-03-19 11:12] #691 closed

[2018-03-19 11:33] agriboz commented on #275
is there a good example of how to do it with nuxt/axios module interceptor?

[2018-03-19 19:33] fgortiz opened #701 "Buefy as distributed on NPM does not include the TypeScript typings"
### Overview of the problem

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.13
**OS/Browser**: Windows

### Description

Buefy doesn't have any typings when built, which makes it incompatible when using TypeScript. The only way of doing this is to painstakingly download the Buefy repo and manually add the typings to node_modules/buefy. The typings were added a month ago.

### Steps to reproduce

[2018-03-19 22:48] jtommy commented on #659
Close https://github.com/buefy/buefy/commit/f66604bb51ea53cff70a07d380b01b57024c8620

[2018-03-19 22:48] #659 closed

[2018-03-19 23:04] jtommy commented on #275
It's only an idea as example using `moment` and `axios`
[code]

[2018-03-19 23:07] jtommy commented on #681
https://github.com/buefy/buefy/issues/466

[2018-03-19 23:07] #681 closed

[2018-03-20 05:10] m0ngr31 commented on #697
I was able to hack around this, but it'd still be a nice option to have.

[2018-03-20 05:26] agriboz commented on #275
@jtommy oh, that is my bad. I was trying to do it with transformRequest config. thank you btw.

[2018-03-20 08:51] fjelsted commented on #686
@jtommy You of course are totally right. :) I will take this up with Bulma then. All buttons should have a focus indication for accessibility.

May I suggest we change 'is-light' to 'is-text'?

[2018-03-20 08:54] fjelsted commented on #687
@jtommy If 'none' isn't possible then we just leave it out. :) But a `focus-on` prop would be great. 👍

[2018-03-20 12:38] nikugogoi opened #703 "font awesome 5 in NUXT or SSR"
### Overview of the problem
Use font awesome 5 in NUXT or SSR
### Description
What is the correct way to use font awesome 5 in buefy when working in NUXT or SSR?

[2018-03-20 16:57] anteriovieira commented on #703
Hi @nikugogoi , have you tried [nuxt-buefy](https://github.com/buefy/nuxt-buefy)?

[2018-03-20 16:59] lloydroc opened #704 "Want to bind to the datepicker's changes to month and year."
### Overview of the problem

**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.2]
**OS/Browser**:
All

### Description

Wondering if there is a workaround or feature coming here.
The datepicker works great to select an actual day, but I need to bind to the month that is selected without selecting a day. On the datepicker when the user hits the pagination buttons on the left and right that switch

[2018-03-20 17:33] jtommy commented on #704
@lloydroc It will be available in the next release https://github.com/buefy/buefy/issues/602.

[2018-03-20 17:35] #704 closed

[2018-03-20 18:13] lloydroc commented on #704
Great! What is the ETA on the next release?

[2018-03-20 20:38] #687 closed

[2018-03-20 20:44] #686 closed

[2018-03-20 23:49] connor11528 commented on #466
Thanks @rafaelpimpa the docs for modals with vue bootstrap are very clean. Perhaps we could have similar behavior with Bulma? https://bootstrap-vue.js.org/docs/components/modal

[2018-03-21 09:24] Stefdv commented on #554
As a total beginner ( vue AND buefy ;p ) i would really appreciate if someone could post some code on how to setup buefy with fontawesome 5,  like where to put the imports . Does the phrase  `Please note that Buefy doesn't include icon packs. You have to import it as you prefer (NPM, CDN, ...).` mean that buefy/bulma doen't have any icons at all ?

[2018-03-21 14:15] ashitvora opened #708 "Auto-complete is too laggy"
### Overview of the problem
Auto-complete is too laggy

**Buefy** version: 0.6.3
**Vuejs** version: 2.5.16
**OS/Browser**: Windows 10 / Chrome Version 64.0.3282.186 (Official Build) (64-bit)

### Description

I have an autocomplete with data having a size of 1500+ items.
It basically an array of contacts from Google Contacts.
When I type something in the text box, there's a lot of lag. Not sure if

[2018-03-21 14:20] huguesjoyal opened #709 "Table sort problem"
### Overview of the problem
**Buefy** version: 0.6.3

Table sorting doesn't consider accented characters.

For example :

| Sort by default  | Should have |
| -------------| -------------|
| Educateur | Educateur |
| Remboureur | Électricien |
| Électricien | Remboureur |

### Possible solution
I think that the column sorting should be using the Javascript function localeCompare.

I'm currently cr

[2018-03-21 15:48] cldershem commented on #650
I haven't had the same problem as @philipithomas, but tagging every release as 'pre-release' does make it difficult to tell what's stable. When everything is 'pre-release' it loses all meaning. Is there a good reason for it?

[2018-03-21 17:20] anteriovieira commented on #701
Hi @fgortiz , try the version `v0.6.4` :slightly_smiling_face:

[2018-03-21 17:35] jtommy commented on #708
@ashitvora Do you show all 1500+ contacts at once ?

[2018-03-21 18:15] peterbabic opened #710 "Update 0.6.4 break switch component"
### Overview of the problem

**Buefy** version: [0.6.4]
**Vuejs** version: [2.5.15]
**OS/Browser**: Linux/Chromium,Firefox

### Description

After upgrading to 0.6.4, the switch component breaks. Downgrading to 0.6.3 resolves the issue.

### Steps to reproduce

1. update `package.json` with "buefy": "^0.6.4",
2. `npm install && npm run dev` (with webpack)
3. the switch stops working

### Expected

[2018-03-21 19:10] connor11528 commented on #681
This was 100% my bad. I had isActive defined somewhere else in my application. That's what was throwing things off. Thanks for your help

[2018-03-21 22:57] JeremyGranger commented on #591
Just ran into this issue. @lobo-tuerto your first workaround (swapping the css imports) worked for me. Thanks so much! What an annoying error...

[2018-03-21 23:28] GarethTIGFreight commented on #676
I do something like this...
[code]

[2018-03-22 04:13] Azeranex opened #712 "Latest 0.6.4 kill ssr (nuxt) - Edit: temp quick fix"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.16
**OS/Browser**: Chrome 64 (Windows 10)

### Description

I got error message `ReferenceError: HTMLElement is not defined` after I updated buefy to 0.6.4. Disable ssr for buefy plugin fix the issue.

### Expected behavior

Buefy working on ssr mode

### Actual behavior

Buefy not working on ssr mode

[2018-03-22 06:43] ashitvora commented on #708
Nope. Only top 5. But even the text box becomes laggy.
Here's what the data looks like - https://pastebin.com/raw/9DBBLcC1

[2018-03-22 06:43] ashitvora commented on #708
Reducing the size of data array fixed the issue.

[2018-03-22 06:43] #708 closed

[2018-03-22 10:10] rizqyhi commented on #585
Hi @rafaelpimpa could you please check out this issue. I haven't found any workaround for for a month. :)

[2018-03-22 11:01] christopherdupont commented on #712
Same issue here 👎

[2018-03-22 14:31] feryardiant commented on #712
Same issue

[2018-03-22 18:29] anteriovieira commented on #712
@jtommy , the error refers to this line https://github.com/buefy/buefy/blob/731793c0b15da85833d762edb2bc8f88912dfd0a/src/components/loading/Loading.vue#L21

I think we can change the type to `Function`

[2018-03-22 19:11] #710 closed

[2018-03-22 21:55] anteriovieira commented on #712
@Azeranex ,  the fix will be available in the next version.  But for you to continue your tasks add this line to your file nuxt.config.js

[code]

[2018-03-23 01:54] Azeranex commented on #712
@anteriovieira Thanks :)

[2018-03-23 05:59] uptownhr opened #715 "Creating Portal Wrapper Component with B-Modal"
Hi all, to ensure that the modal always shows up at the layout level, I'm trying to build a b-modal wrapper component that uses a `portal` component to send to the layout and instead of somewhere down the html tree. Straight forward example below, but what is the best way to handle the :active.sync ? Is my example below sufficient?

[code]

[2018-03-23 08:38] salihyasinseker commented on #595
It would be perfect if we could change the Autocomplete icon place (especially to right).

[2018-03-23 10:39] sohailalam2 opened #716 "Select option is not selected by default"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.2
**OS/Browser**: Windows/Chrome

### Description

Select option with *selected* property should be set as the default option, however, this is not the case with Buefy b-select component.

### Steps to reproduce

Demo can be found here -

https://jsfiddle.net/50wL7mdz/224358/

[code]

### Expected behavior

Should select

[2018-03-23 13:21] skoncal commented on #659
Does this work?  When I try to use the example code nothing gets rendered in the tab

[2018-03-23 15:47] ErwanTouba commented on #486
in need of this feature too

[2018-03-23 17:41] tristan-shelton opened #717 "Suggestion: Top pagination for tables"
I'm using Buefy for a small project and enjoying it quite a bit, but I noticed that the table component always places the pagination below the table. It would be nice if the default were above the table or if there were on option for placing it above the table so changing from a full page to a last page with only a few items is less jarring.

I would be happy to submit a pull request if you like t

[2018-03-23 18:12] lloydroc opened #718 "Events changeMonth and changeYear don't seem to work on 0.6.4"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 0.6.2
**OS/Browser**: OS X High Sierra / Firefox Developer Edition 60.0b5

### Description

Hello I'm trying to use the new events put in version 0.6.4 in Datepicker for `changeMonth` and `changeYear` they however don't seem to work.

### Steps to reproduce

Create a template like so:

[code]

The `hello` method won't get cal

[2018-03-24 10:16] aim1909 opened #719 "tabItem: Custom Header not rendering"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.16
**OS/Browser**: Win Server 2012 R2 / Chrome 64.0.3282.186

### Description

The example from the docs generates an empty list skeleton.

### Steps to reproduce

[code]

### Expected behavior

![2018-03-24 11_12_57-tabs - buefy](https://user-images.githubusercontent.com/28157366/37862872-97fec914-2f54-11e8-9ea6-fadfcba1

[2018-03-24 14:42] kieusonlam opened #720 "ReferenceError: HTMLElement is not defined"
I get this error when using Buefy v0.6.4 with Nuxt project just on today. It used to work normaly before I run "npm install". I did try to downgrade all update, but It still not work.

Then I try to generate new project using this starter template (update nuxt to 1.4.0) https://github.com/nuxt-community/starter-template and use it with buefy. But still got same errors.

Here is what I have in the

[2018-03-24 15:50] wopian commented on #720
Duplicate of #712

[2018-03-24 15:51] #720 closed

[2018-03-24 15:52] kieusonlam commented on #720
@wopian thanks for letting me know.

[2018-03-24 16:06] Dylan-DutchAndBold opened #721 "[Autocomplete] input event hits on selecting an option"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.16
**OS/Browser**: Mac OS 10.13.3, Safari 11.0.3

### Description

The input event hits on every change, which is fine ofcourse. But it will also hit when it's changed by selecting an option. And there is no way to know it's not hit by the user (the event object is not given).
When you use the autocomplete feature in comb

[2018-03-24 16:11] Dylan-DutchAndBold commented on #721
Forgotten to add that, for now I have found this solution.

I added an reference to the component and added these lines to the function that does the ajax call.
[code]

[2018-03-24 17:15] umarfarook882 opened #722 "Buefy package error in Nuxt Js?"
Hi Team,
   I am using  ``"nuxt-buefy": "0.0.4",`` I have installed and configured as per the doc in [Beufy](https://buefy.github.io). When i am run ``npm in dev mode``. I getting this error **HTMLElement is not defined**. Could anyone let me know what am i missing in installation?

[code]

[2018-03-24 17:20] wopian commented on #722
Duplicate of #712 - has been fixed but not released yet

[2018-03-24 17:34] umarfarook882 commented on #722
Thanks :) for the fast response. I hope next version will be releasing soon. Right now i fixed it temporary from the solution gave in the #712 .

[2018-03-24 17:53] jtommy commented on #722
Sorry guys. We'll release it as soon as possible

[2018-03-24 17:53] #722 closed

[2018-03-25 03:02] kewlniss opened #723 "Unable to use Dialog component with Vue.component(Buefy.Dialog.name, Buefy.Dialog)"
Before I get into the problem. I just wanted to say thanks for making such a great library. Bulma is awesome, and the work here to make it work nicely in Vue land is spectacular. So, thank you.

### Overview of the problem
Now, I could be missing something, but I'm trying to utilize the Dialog by only loading the components I need. I've had the Select component working for a while, but trying to a

[2018-03-25 07:52] ballalist opened #724 "Taginput bugs when typing Thai language."
Hello,

Ref : https://buefy.github.io/#/documentation/taginput

I have found something might be your features for Taginput. So, I'm quite sure when you type "," it will automatically add to the new tags. Am I right? So, How about another language like "Thai" language. There're another important characters can be type on "," button on the keyboard. So, if I press that. It will be the unfinished tag

[2018-03-25 07:54] ballalist commented on #724
sorry this should be close

just found some nice api "confirm-key-codes"

[2018-03-25 07:54] #724 closed

[2018-03-25 11:48] rhymes opened #725 "has-addons class disappears in <b-field> with nested controls"
### Overview of the problem

**Buefy** version: [0.6.4]
**Vuejs** version: [2.5.16]
**OS/Browser**: Mac/Chrome 65

### Description

Given a field like this:

[code]

Buefy 0.6.3 [according to the documentation](https://buefy.github.io/#/documentation/field) (see addons property) produced the following HTML for the outer div:

[code]

This is the visual result:

![screen shot 2018-03-25 at 1 27 16

[2018-03-25 18:51] adrlen commented on #725
Can you share the full component and its behaviour where this issue appear ? Thanks.

[2018-03-25 20:05] thommeo opened #726 "Error `ReferenceError: HTMLElement is not defined` when using Buefy 0.6.4 with Nuxt"
### Overview of the problem

**Buefy** version: [0.6.4]
**Vuejs** version: [2.5.16]
**OS/Browser**: nuxt v.1.4.0

### Description

Error `ReferenceError: HTMLElement is not defined` when using Buefy 0.6.4 with Nuxt

### Steps to reproduce

1. Connect Buefy to Nuxt.

`nuxt.config.js`:

[code]

`plugins/buefy.js`:

[code]

2. Install Buefy 0.6.3 and generate

[code]

Success.

3. Install Buefy 0.6.4

[2018-03-25 22:01] wopian commented on #726
Duplicate of #712 - has been fixed but not released yet

@jtommy could you reopen #712 until a new version has been published to aid visibility?

[2018-03-25 22:02] jtommy commented on #726
@wopian Ok!

[2018-03-25 22:02] #726 closed

[2018-03-25 22:31] jtommy commented on #719
Fix https://github.com/buefy/buefy/commit/249665d2119966378222dde23422114012c1558c

[2018-03-25 22:31] #719 closed

[2018-03-25 22:54] #718 closed

[2018-03-25 23:11] jtommy commented on #723
@kewlniss Did you try `import { Dialog } from 'buefy'`. Anyway `dialog` is exported as programmatic component so you can import it but use only `alert`, `confirm` and `prompt` methods.
For example:
[code]

[2018-03-26 02:58] kewlniss commented on #723
@jtommy thanks for the help.

Adding that import and then the following line:
[code]

to my main/boot file is what I needed. Then I was able to utilize `this.$dialog.confirm(...)` in my Single File Components.

Did I miss a list of imports from the docs?
I was going off of these pages
https://buefy.github.io/#/documentation/start
https://buefy.github.io/#/documentation/customization

which has the

[2018-03-26 03:20] trronaldbasco opened #727 "b-upload doesn't work with accept=".docx, .pdf""
### Overview of the problem

**Buefy** version: [0.6.4]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description

b-upload  takes only the first file extension declared on the accept attribute although you can select all the file extension declared.

### Steps to reproduce

### Expected behavior

b-upload should take the all file extension declared in the accept attribute

### Actual be

[2018-03-26 13:04] nikugogoi commented on #703
I did it so in a plugin
**/plugins/buefy.js**
[code]
**/nuxt.config.js**
[code]

[2018-03-26 15:56] psweeting1 opened #729 "Checkable headers don't work"
In the latest version of Buefy clicking check all in the header doesn't check all the checkables in the table. I've fixed the issue and done a pull request.

[code]

and

[code]

https://github.com/buefy/buefy/pull/728

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]

[2018-03-26 16:38] anteriovieira commented on #703
Hi @nikugogoi  Yes, this is a correct way.

[2018-03-26 17:11] nikugogoi commented on #703
But i cant seem to use font-awesome 5 as specified in the docs

[2018-03-26 19:50] ksr583 commented on #338
+1 for this!

[2018-03-27 08:08] rhymes commented on #725
@adrlen sure.

https://gist.github.com/rhymes/1b0658e891956287de5aff833a7815a6

[2018-03-27 08:32] adrlen commented on #725
Thanks @rhymes. I reproduced the bug eventually, it occurred when the $slots were rendered dynamically. I can see that's what is happening in your code.

Should be fixed in next release.

[2018-03-27 11:20] ais-one commented on #712
How I got mine to work

1. Create the project

[code]

2. Changed nuxt version in package.json from 1.0.0 to 1.4.0

3. Follow instructions for Nuxt in [https://buefy.github.io/#/documentation/start](https://buefy.github.io/#/documentation/start). Use the **simple usage** example

The nuxt-buefy version I installed is 0.0.4

4. Added the following to nuxt.config.js

[code]

[2018-03-27 18:12] #725 closed

[2018-03-27 18:23] jtommy commented on #729
@psweeting1 Could you replicate the issue ?

[2018-03-27 18:42] #729 closed

[2018-03-27 19:19] clementvp commented on #716
Yes i can relate the same issue.
+ when you loose focus the first time, the selected value is lost and the field came back to the placeholder content.
Very annoying.

[2018-03-27 19:21] jtommy commented on #716
@clementvp Do you use `v-model`?

[2018-03-27 19:40] clementvp commented on #716
@jtommy Oh! My apologies. It's work well with v-model.
My bad, thank you for the quick answer :)

But, careful the demo on the select page doesn't have a v-model on the b-select and the example looks broken.

[2018-03-27 19:41] jtommy commented on #716
Yes, we have just fixed, thanks!

[2018-03-27 19:41] jtommy commented on #716
@sohailalam2 You should use value attribute o two way binding

[2018-03-27 19:50] sohailalam2 commented on #716
I was trying to put different values for **:value** and the **option.name** and this did not work. However, if we keep the **value** and the **name** same then it works.

Doesent work -
[code]

Works -
[code]

[2018-03-28 13:42] j-651 opened #731 "[b-collapse] Font Awesome 5 Icon Not Changing"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.16
**OS/Browser**: Windows 10 / Google Chrome

### Description

When collapsing/expanding a `<b-collapse>` element, the `props.isOpen` event does not change, therefore leaving the icon the same.

### Steps to reproduce

1. Add a regular `<b-collapse>` card element to a page
2. For the icon, globally set `defaultIconPack:

[2018-03-28 14:18] CyrilBellotti commented on #721
We also ran into that bug ....

First is it a bug ? or should we change the way we handle our autocomplete, I did not notice any change in the documentation about that ?

Thanks for the workaround, I'll wait a little before upgrading to 0.6.3 or 0.6.4 hoping that it's fixed upstream.

[2018-03-28 15:51] jtommy commented on #731
@j-651 You are wrong. The slot prop is `open`.

[2018-03-28 15:51] #731 closed

[2018-03-28 15:55] j-651 commented on #731
@jtommy Can you provide any reason as to why the icon is not changing?  _(I'm still relatively new to Vue)_

Thank you in advance.

[2018-03-28 15:58] jtommy commented on #731
You have to use `props.open`

[2018-03-28 19:13] #712 closed

[2018-03-28 19:15] jtommy commented on #721
I think we might change it and maybe listen an other event to load async data, for example native keyup event.

[2018-03-28 19:19] jtommy commented on #651
@as1s We should see your code to understand well. Anyway it's no a Buefy issue.

[2018-03-28 19:19] #651 closed

[2018-03-28 19:21] jtommy commented on #626
@grebebird Did you try using default slot ?

[2018-03-28 19:32] grebebird commented on #626
The default slot is singular though, correct? In theory, the search could return multiple hierarchy headers. For example, if I searched for "is" above, I'd get both "Breaking Bad > Heisenberg" and "Game of Thrones > 2 Lannister matches".

[2018-03-28 19:35] jtommy commented on #626
Oh yes you are right!
To be honest at the moment it isn't in our plan.

[2018-03-28 19:42] grebebird commented on #626
Ok, no worries. Just another idea that we'd use if it was there - I wanted to be sure I wasn't missing another possible way to do this. :) I'm sure you already have plenty of ideas on your backlog, though.

[2018-03-28 21:05] nitishraj opened #732 "Radio required attribute doesn't work"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.16]
**macOS/Safari 11.0.2**:

### Description

_required_ attribute is added to the label tag instead of the input tag for Radios

### Expected behavior

 _required_ attribute should be added to the input tag
### Actual behavior

_required_ attribute is added to the label tag

[2018-03-28 23:54] feelslike1929 commented on #555
@avrong @jtommy could you provide an example or more description on how this would be done? I'm fairly new to vuejs & buefy so I would appreciate any extra info, thanks!

[2018-03-29 02:09] j-651 commented on #731
Thank you @jtommy however it is still not working on my end, even with `props.open`.  I have also retried using the example from the Buefy site ([https://buefy.github.io/#/documentation/collapse](url)] (with the appropriate icons) but to no avail.

[2018-03-29 07:13] KishorNamdeo opened #734 "IE-11 modal and Dialog body overflow scroll not visible"
when modal or dialog open in IE then the body section scroll not visible and footer section hide
![image](https://user-images.githubusercontent.com/30079342/38075070-adc55756-334e-11e8-81c7-0b788aaeddc4.png)

[2018-03-29 07:56] adrlen commented on #734
Duplicate of #519

[2018-03-29 08:05] wsw70 opened #735 "Why is $toast undefined?"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: 2.5.13
**OS/Browser**: Windows 10 / Chrome 65

### Description

I would like to add a toast to my existing (and working) code

### Steps to reproduce

I have the current (working) method in my Vue instance

[code]

which I would like to enrich with a toast:

[code]

### Expected behavior

The toast to pop-up

### Actual behav

[2018-03-29 08:19] adrlen commented on #735
Define your methods this way :

[code]
In your exemple, `this` refer to the internal scope of your method and not the component.

[2018-03-29 08:30] adrlen commented on #735
More info : https://medium.freecodecamp.org/learn-es6-the-dope-way-part-ii-arrow-functions-and-the-this-keyword-381ac7a32881

[2018-03-29 10:05] avrong commented on #555
@feelslike1929 [done](https://codepen.io/avrong/pen/KoQZor)

[2018-03-29 10:30] wsw70 commented on #735
Thank you. I use JS casually from time to time and did read about fat arrows (that was the reason I started to use them). I was under the impression that the fact that I used them did exactly the opposite of what you said: **not** to have a new, local `this` (and address, say, vue `data` elements via `this.something` instead of going through some `that = this` monstrosities).
You are obviously rig

[2018-03-29 10:30] #735 closed

[2018-03-29 11:00] adrlen commented on #735
I edited my comment as it was inexact.

[2018-03-29 11:50] #734 closed

[2018-03-29 17:39] JorgenVatle opened #736 "Tooltips are partly cut off within Tab-Item components."
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.13
**OS/Browser**: Windows 10 - Chrome

### Description

Tooltips at the edge of a `<b-tab-item>` component get partly cut off.
[![Screenshot from Gyazo](https://gyazo.com/26d228d515f754a75adb940a5e286a93/raw)](https://gyazo.com/26d228d515f754a75adb940a5e286a93)

The issue seems to have been touched upon in the Buefy road

[2018-03-30 11:22] atanderG commented on #464
how to update buefy to 0.6.0, i m using laravel 5.4

[2018-03-30 14:05] jtommy commented on #731
https://codepen.io/anon/pen/OvvQoa?&editors=101
I think you didn't import FA5 correctly.

[2018-03-30 21:36] grebebird commented on #142
@rafaelpimpa  Question on this fix:  It seems like if the b-dropdown is "hoverable", then toggle (to programmatically close the menu) is ignored.

My use-case is this: I want my menu to me hoverable on desktop, but clickable on mobile. That's actually handled ok (it doesn't do a modal on mobile, but it allows me to click on it instead, which is great). However, on mobile, when a menu item is click

[2018-03-31 11:02] cycle337 commented on #721
okay, actually, i was using `onkeyup.native.enter` for my input event when I should've been using `onkeydown.native.enter`. now it works as expected.

[2018-03-31 11:48] jtommy commented on #721
@cycle337 Yes i think it's the right way.  Anyway `v-model` listen input event and so this behaviour ("double") it's normal.

[2018-03-31 11:48] #721 closed

[2018-03-31 13:58] nikugogoi opened #738 "problem testing custom build after cloning dev branch"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: 2.5.16
**OS/Browser**: Linux, Node v8.9.4

### Description

I am trying to make some changes to your repo. So for testing my changes I tried to use the cloned repo in my project. I did not make any changes but still there is an error.

### Steps to reproduce

1. after cloning run `yarn`
2. run `yarn build`
3. run `yarn link`

[2018-03-31 16:59] aminjoharinia opened #739 "Tooltip will disappear image/button when style position absolute"
when i apply  ```style:"position:absolute"```  the history image below right will disappear and tooltip not working
[code]
[code]
after position absolute

![22](https://user-images.githubusercontent.com/6470623/38165548-8289b996-352a-11e8-9042-ef116fc64d82.png)

before position absolute

![11](https://user-images.githubusercontent.com/6470623/38165549-82ba6c6c-352a-11e8-9521-2188265b0267.png)

[2018-03-31 21:01] ianarsenault opened #740 "Remove focus on Autocomplete Option Select"
**Buefy** version: 0.6.3
**Vuejs** version: 2.5.2
**Bulma** version: 0.6.2

I'm currently trying to remove focus on autocomplete once option is selected. Here's my current example.

[code]

[code]
Currently the `@select` event passes selected option to to `playerOne` data binding on the component, but I would also like to remove the `focus` of the input. Is there a way to remove focus once option

[2018-04-01 02:32] #740 closed

[2018-04-01 02:35] ianarsenault commented on #740
My issue was able to be resolved by adding some css to a parent div of the autocomplete

[code]

[2018-04-01 21:19] onx2 opened #741 "Chrome warning on b-select"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: 2.5.16
**Ubuntu 16 / Chrome**:

### Description
Select field is triggering Chrome warning when opened:
[Violation] Added non-passive event listener to a scroll-blocking 'mousewheel' event. Consider marking event handler as 'passive' to make the page more responsive. See https://www.chromestatus.com/feature/5745543795965952

[2018-04-02 07:33] fsfj commented on #555
thanks @avrong

[2018-04-02 20:12] gierloff opened #742 "Infinity loop when using b-datepicker> inside v-for list with :value and @input"
### Overview of the problem

**Buefy** version: 0.6.4
**Vuejs** version: 2.5.13
**OS/Browser**: OS X High Sierra 10.13.3 / Chrome Version 65.0.3325.181 (Officiel version) (64-bit)

### Description

Infinity loop when using b-datepicker> inside v-for list with :value and @input

### Steps to reproduce

1. Vuex store module with array of objects.
2. Getter to get array to component.
3. V-for for dis

[2018-04-02 20:53] rapidexact commented on #700
Hi. Is anyone working on this feature ?

[2018-04-03 10:08] ccc159 opened #743 "defining theme color by user"
I know it is possible to define a primary color by setting `$primary` variable.

But from my experience, once it is compiled to CSS then we lose control of this variable.

My question is, how can we change the theme color from the frontend, i.e. by javascript on the fly? Or is it fundamentally not possible?

[2018-04-03 13:48] Sillanium commented on #700
Hi. Please check my solution https://github.com/buefy/buefy/pull/744

[2018-04-03 15:12] nextgensparx commented on #717
If this does get implemented, it would also be nice to allow having pagination on both the top and bottom.

This would be especially useful for long tables. If the user knows what they are looking for is not on the current page, they can easily cycle through the pages using the top pagination. If the user is scanning a page and then reaches the bottom, they can use the bottom pagination.

[2018-04-04 02:39] anteriovieira commented on #738
Hi @nikugogoi  I could not reproduce the error, it worked for me here.

[2018-04-04 12:35] feelslike1929 commented on #743
I'm also very interested in this functionality -- So far I can only think of refreshing the page and setting the theme in some user configuration database.

It would be great to flip between themes without any flashing or page refreshing.

[2018-04-04 12:41] feelslike1929 commented on #732
Defining all radio buttons with the same name attribute and setting an initial value has the same effect as 'required' -- hope this helps.

[2018-04-04 12:58] ccc159 commented on #743
@feelslike1929 That would be the ideal functionality.

But even by refreshing the page I don't have any clue how to realize it. As far as I understand, **sass** is *transpiled* by webpack into CSS. So the backend can't just simply set a variable somewhere without re-transpiled through webpack, which means refreshing the page won't help in any way. Or do you have an idea?

[2018-04-04 14:10] jrpruitt opened #746 "DatePicker returns wrong date"
I really love how easy it is to select a date on your DatePicker, but in testing it on your doc page, I see it sometimes returns a wrong value.
https://buefy.github.io/#/documentation/datepicker
When I select 11/04/1968, it is correct, but any earlier date returns one day prior to what was selected.
11/03/1968 returns 11/02/1968 (at least that's what I'm seeing in the date box after I click the 3r

[2018-04-04 14:13] mateuswetah commented on #524
@psweeting1 , I might be wrong, but I think the `custom-key` attribute on column already solves this, check this issue:
https://github.com/buefy/buefy/commit/af61822dd7800f9c80bf198d2d359287d820f8df

If so, I would recommend to close this issue.

[2018-04-04 14:29] #524 closed

[2018-04-04 14:34] jrpruitt commented on #746
Ok, I've verified it fails on both Chrome and Firefox in Windows, but on Linux Mint, it only fails (at that date point) in Chrome.  On Firefox, it starts failing at 04/24/1955 and earlier dates.

[2018-04-04 14:40] anteriovieira commented on #738
You could try again, this seems to be an installation failure.

[2018-04-04 15:24] Kawue opened #747 "b-upload shows input next to button"
Buefy version: 0.6.5
Vuejs version: 2.5.16
Win10 / Firefox 59.0.2

Instead of appearing overlapping the input button appears right next to ne upload button.

![grafik](https://user-images.githubusercontent.com/18120038/38317259-e8c86a86-382c-11e8-96f6-378b4a387c49.png)

[2018-04-04 16:40] jtommy commented on #747
@Kawue Did you import Buefy style (css or scss) ?

[2018-04-04 16:41] feelslike1929 commented on #743
@ccc159

I'm fairly new to Webpack, but is it possible to to check the user's settings prior to importing in a particular theme.sass? Doing this may allow you to refresh the page, let Webpack transpile sass again, and show the new theme. Or perhaps using the hot-loading, one can update the variables associated with the theme and it will automatically detect a change and re-transpile?

I've not loo

[2018-04-04 20:38] abhinukala opened #748 "Used Vee-Validate with buefy for form validations and it worked well. Trying to minimize the redundant code written on each form element to do basic validation."
**Buefy** version: [0.6.3]
**Vuejs** version: [2.5.2]
**OS/Browser**: Windows/Chrome

### Description

Currently using vee-validate to do basic validation of forms.
![code](https://user-images.githubusercontent.com/31191435/38333366-6712b5f6-3826-11e8-8b76-0ab5700786d0.PNG)

![text](https://user-images.githubusercontent.com/31191435/38332869-026e72bc-3825-11e8-9fe6-a7dd5bfd40d4.PNG)
The above code

[2018-04-05 05:33] nikugogoi commented on #738
I tried again.... Could you tell me exactly how we can test the changes we make to the project. I seem to have missed out on the contributing guidelines.
when I run `yarn build` in your project the lib directory is successfuly created. Then for testing these changes I link this package to the project where I am using buefy. But then the project throws errors during build.
P.S. I am trying this wit

[2018-04-05 06:25] Kawue commented on #747
Oh man ... that was dumb. Totally forgot about this part.

Thanks for your help.

[2018-04-05 06:25] #747 closed

[2018-04-05 12:41] anteriovieira commented on #738
I followed the steps and it worked for me. I'll try again later.

You can use the `* .spec` files to build the tests, then just run `npm run test` (you should have the minimum of test knowledge to edit spec files).

[2018-04-05 15:59] ccc159 commented on #743
@feelslike1929 thanks for your answer. But webpack is something producing the whole frontend files, instead of a sort of renderer as you thought. I will try to use vanilla CSS variable which is possible to associate with javascript. But don't know how it's gonna work.

[2018-04-05 16:02] ccc159 commented on #743
@jtommy Could you give a hint how we can achieve this?

[2018-04-05 21:08] abhinukala commented on #226
@jamespdaily @rafaelpimpa @jtommy  any workaround for this? I have similar kind of issue I am using vee-validate for validation instead of basic HTML5 validation. I have raised an issue #748 but no response yet. I want to reduce the number of lines of code. Any help would be greatly appreciated.

[2018-04-06 14:46] natxocc commented on #746
The same in my case. I confirm this.

[2018-04-06 19:43] wdj-ac opened #749 "Question: How to change Timepicker input type to button after mounted?"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.7]
**OS/Browser**: Ubuntu 16.04. / Chrome 65.0.3325.181

### Description

I need to change the Timepicker input field from type 'text' to 'button', but it does not change. Could anyone help me with this?

### Steps to reproduce

[code]

### Expected behavior
![Now](https://user-images.githubusercontent.com/9394520/3844

[2018-04-06 20:05] wdj-ac commented on #749
Okay, it seems to be a problem with Vuejs itself:
https://github.com/vuejs/vue/issues/6313

This behavior is "_fixed_" in `vue v2.5.17-beta.0`.

Is there any chance to implement a feature to only show a button for opening the dropdown menu?

[2018-04-06 20:07] jtommy commented on #749
@wdj-ac I'm sorry but at the moment no.

[2018-04-06 20:07] #749 closed

[2018-04-06 20:09] jtommy commented on #746
Thanks. We'll try an other way to format a Date without any external library dependency

[2018-04-06 20:11] jtommy commented on #637
@vortechron I'm sorry but at the moment it's not a primary need.

[2018-04-06 20:11] #637 closed

[2018-04-06 20:29] grebebird commented on #568
+1 for either fixing this issue, or updating Buefy's documentation. Oh please please do one or the other to save future developers' time. :)

The saddest thing about this issue is that Buefy's own example of this ([Sandbox with custom template](https://buefy.github.io/#/documentation/table)) is flawed, which led our team to a bunch of time spent working in circles to try to recreate what we had be

[2018-04-07 15:54] aquaminer opened #750 "accept attribute is not processed in drag & drop (upload field)"
### Overview of the problem

**Buefy** version: last
**Vuejs** version: last
**OS/Browser**: Linux (Vivaldi)
### Description

accept attribute is not processed in drag and drop
if you click on the field and select a file, you can not choose another, but if through drag and drop it accepts any files

[code]

[2018-04-07 22:22] Extarys opened #751 "Emitted value instead of an instance of Error - Help setting sass with gulp"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: "nuxt": "latest",
**OS/Browser**: Firefox 59.0.2 Linux x64

### Description

While gulp is compiling the sass file I get:
`(Emitted value instead of an instance of Error) postcss-custom-properties: /media/DarkHawk/srv/NodesProjects/NJS-social
/Website/assets/css/om.css:5941:5: Custom property ignored: not scoped to the top-le

[2018-04-08 20:12] renemendoza opened #752 "can toast have icons?"
Hello

Can toast elements have Icons inside?

thanks

[2018-04-09 11:47] jtommy commented on #750
@aquaminer What means "it accept any files"
Are they added into the array ?

[2018-04-09 11:56] jtommy commented on #752
@renemendoza Message prop is a html text, so you can add an icon but you cannot use Buefy tag.

[2018-04-09 12:52] aquaminer commented on #750
@jtommy what array are you talking about? the file appears in the dropFiles array

[2018-04-09 16:14] jtommy commented on #750
@aquaminer  I tryed your code and the array (drop files) is always 0 when the dragged files are not valid

[2018-04-09 21:28] SharpSeeEr opened #753 "BTimepicker with Clock"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: 2.5.13
**OS/Browser**: Windows 10/Chrome 65.0.3325.181

### Description

Would you be open to implementing a timepicker with a clock interface rather than number dropdowns?  Something like this:
![image](https://user-images.githubusercontent.com/4459909/38520763-f4665556-3c00-11e8-9e60-68eddf94bc81.png)
![image](https://user-

[2018-04-09 21:43] renemendoza commented on #752
thanks it works beautifully.

[2018-04-09 21:43] #752 closed

[2018-04-10 04:28] aquaminer commented on #750
@jtommy sorry, I made a mistake, sorry for wasting your time

[2018-04-10 04:28] #750 closed

[2018-04-10 16:33] jtommy commented on #741
@feelslike1929 Could you provide us an example?

[2018-04-10 16:34] jtommy commented on #742
@gierloff I think there is an issue in your code. Try that https://codepen.io/anon/pen/VXgVdJ?&editors=101

[2018-04-10 16:38] jtommy commented on #743
@ccc159 It's not possible change a variable in Javascript. You should change all occurrences about that variable in the css but it's quite heavy.

[2018-04-10 17:10] jtommy commented on #748
@abhinukala I think there is no general solution. You should create a your input+field wrapper component.

[2018-04-10 17:10] #748 closed

[2018-04-10 19:41] jtommy commented on #717
@tristan-shelton Ok, we'll review it!

[2018-04-10 20:26] anteriovieira commented on #751
Hi @Extarys , Why do you use gulp? Can I see your `nuxt.config.js` settings for `nuxt-buefy`?

[2018-04-11 10:58] carlosdevpereira opened #754 "Tooltip cut off when horizontal scrolling"
**Overview of the problem**
Buefy version: 0.6.5
Vuejs version: 2.5.13
OS/Browser: Windows 10/Chrome 65.0.3325.181

**Description**
When adding more columns to the table component, the table will start scrolling horizontally for responsive purposes. Within this scroll the tooltips of the table get cut off.
![tooltip bug](https://user-images.githubusercontent.com/24235108/38612632-40395abc-3d7f-11e

[2018-04-11 14:36] davidosuna1987 commented on #700
Hello, I have the same problem...when I pass the date from server (Y-m-d string) I'm getting the following error: Expected Date, got String.
I don't know how to solve it.

I try to use defaultDateParser but nothing happens and I get the same error message.

I'm just a begginer with Vue and Buefy and maybe is my mistake.

Thank you!

[2018-04-11 16:09] rapidexact commented on #700
@davidosuna1987 Hi. You should pass instance of Date object instead of string to datapicker. Dateparser function only for parsing date that user typing.

[2018-04-11 16:53] davidosuna1987 commented on #700
@rapidexact thank you for your answer. Ok then, if in my database I'm storing date with Y-m-d date format, how can I retrieve this data into datepicker component? That is my real question...

I don't know how to do this dinamically.

[2018-04-11 20:28] #746 closed

[2018-04-11 23:17] itsmatteomanf opened #755 "Arrow to expand table details not centered"
### Overview of the problem

**Buefy** version: 0.6.5
**Vuejs** version: 0.6.2
**OS/Browser**: macOS 10.13.5, Safari - Chrome - Firefox

![1](https://user-images.githubusercontent.com/20746019/38647834-8d82345a-3dee-11e8-964d-61a612285fa9.jpeg)

### Description

When using a table with a different height than default on the row the arrow doesn't get centered.

### Steps to reproduce

The cause for

[2018-04-12 00:30] SharpSeeEr commented on #753
My initial effort is committed on my fork in a clockpicker branch:
[Buefy Clockpicker](https://github.com/SharpSeeEr/buefy/tree/clockpicker)

Screen shot from the docs:
![image](https://user-images.githubusercontent.com/4459909/38649629-fc5056f8-3db4-11e8-8dcd-a303f9902549.png)

Inline:
![image](https://user-images.githubusercontent.com/4459909/38649691-63e0b6be-3db5-11e8-93e9-e91a58e93aef.png)

[2018-04-12 04:10] pkganthali opened #756 "Tooltip around b-input makes the text box width smaller"
`<b-input></b-input>`
is occupying full width.

I want the same full width textbox when it is surrounded by a tooltip too.

Please see the code snippets in the codepen below:
https://codepen.io/pganthali/pen/vRMgRb

[2018-04-12 12:24] rafaelpimpa commented on #753
@SharpSeeEr I like that! Mind creating a PR?

[2018-04-12 15:12] kandaj opened #759 "Use only tbale"
Hi  this is a question
How do i use only table component with css only related to table?
Can you point me to an example please?

[2018-04-12 17:53] davidosuna1987 commented on #700
@rapidexact But when the date fields are generated dinamically (I have a contacts table and the user can add more contacts uploading a csv file), I can't use a computed property, right?

That is the reason I would like to use database string dates into datepicker component...

Any idea?

Thank you again my friend!

[2018-04-12 18:57] SharpSeeEr commented on #753
Not at all!  I am still working on getting support for colors - `is-primary`, `is-info`, etc, and can create a pull request as is or after I get that in, whichever you prefer.

[2018-04-12 19:10] rafaelpimpa commented on #753
Submit when you feel it's ready :) thanks a lot

[2018-04-13 00:03] LeonRyan commented on #731
@j-651 You are probably using the Javascript/SVG version of Font Awesome 5. There seems to be a limitation with it where you can't re inject different SVGs after render.

The solution for this would be to render both icons on load as separate tags, and have your conditional statements to show and hide the relevant icon.

[2018-04-13 08:11] hetsketch opened #760 "Documentation for menu component is absent"
Hi! I've tried to find a documentation for `Menu` but i couldn't

[2018-04-13 12:50] jwjcmw commented on #760
I think that would be because there isn't a buefy menu component (that I know of).  You would just refer to the bulma docs.

[2018-04-13 13:11] gardnerluke opened #761 "[req] horizontal b-collapse"
Hi,

is it possible to add a horizontal b-collapse? I'd love to use the component as collapsible side nav.
Can't get my tries to work with a redraw.

If it's too much of a hassle no worries.

Cheers

[2018-04-13 16:53] gierloff commented on #742
Great, I looked at it and found that my problem comes from using luxon JS...
We rely on using Luxon JS in our application and Buefy Datepicker needs an JSDate object, which can easily be provided from an Luxon DateTime object using `.toJSDate()`. And I can easily convert an JSDate object to an Luxon DateTime object with `DateTime.fromJSDate('JSDate Object')`.

But this triggers an infinity loop. A

[2018-04-13 19:23] xpuu opened #763 "Autocomplete open-on-focus and !hasEmptySlot shows empty dropdown box"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.16]
**OS/Browser**: Every

### Description

Dropdown should be gone when !hasEmptySlot even while it has focus.

### Steps to reproduce

1. open-on-focus is true
2. "Empty" slot is not assigned.
3. Autocomplete field contains text, which can't be found in data.

### Expected behavior

Dropdown menu will be hidden.

![r

[2018-04-13 19:35] jtommy commented on #742
@gierloff I think because isn't the same object so for `bDatepicker` is always a new value. You should work with Date obejct and convert to DateTime when you need it.

[2018-04-13 19:38] jtommy commented on #761
@gardnerluke No, it isn't possible.

[2018-04-13 19:38] #761 closed

[2018-04-13 19:39] jtommy commented on #760
@hetsketch There isn't a Menu component at the moment but is is in our roadmap.

[2018-04-13 19:39] #760 closed

[2018-04-13 19:44] jtommy commented on #716
@sohailalam2 https://codepen.io/anon/pen/qoGzXj?&editors=101. Check it, it works.

[2018-04-13 19:56] jtommy commented on #763
@xpuu What means _"Empty" slot is not assigned._ ?
In your last screenshot I think you're using `empty` slot without content.

[2018-04-13 20:28] chrtz commented on #8
This isn't still implemented, right?

[2018-04-13 20:32] lunfel commented on #614
I got a quick fix for it

create a `custom.sass` file and put this in it

[code]

Then reference this fix after including buefy as so:

[code]

[2018-04-13 20:34] gierloff commented on #742
Thank you for your answer.
I noticed that the datepicker now accepts a date string (not included in 0.6.5 so yet to come. Do you reckon that when feeding a string into :value in the date picker that It will create an infinity loop as well?

[2018-04-13 20:38] jtommy commented on #742
@gierloff No, the datepicker at the moment doesn't accept String but we're thinking about. The issue of infinity loop is because binding value (`v-model` or `:value`) change when `input` event is emitted and so for the component is always a new value.

[2018-04-13 20:38] #742 closed

[2018-04-13 20:43] jtommy commented on #614
@lunfel Did you open an issue in Bulma repository ?

[2018-04-13 20:57] lunfel commented on #614
No because I think this is an issue with buefy only. The component nature of vue.js puts an additional div in the current context which breaks the sass rules of bulma. But technicaly Bulma has correct rules and Bulma should not be "aware" of Buefy.

[2018-04-13 21:00] jtommy commented on #614
@lunfel Ok, anyway contributions are welcome.

[2018-04-13 21:02] lunfel commented on #614
@jtommy Would you like to me to put a pull request with my proposed fix?

[2018-04-13 21:05] ciaasteczkowy commented on #8
It is. Here's documentation for it:
https://buefy.github.io/#/documentation/modal

[2018-04-13 21:06] jtommy commented on #614
@lunfel Ok, so we'll think it there is a best solution

[2018-04-13 21:16] chrtz commented on #8
OT:
Oh, I thought this would be a different approach, as the current Buefy modal component doesn't work in my case. (I tried to make it a stand alone component itself.)

[2018-04-14 11:02] dfy167 opened #764 "get tabitem 's isActive value"
i want to watch isActive value in tab . how can i to get i work.
1. ref  ugly
2. event TabItem have no event
3. ? is there any smooth way ?

[2018-04-14 11:26] vortechron opened #765 "about taginput"
when i click/choose a tag from snippet suggestion, the snippet suggestion seems to auto close, is there any way to make snippet suggestion stay open even after i choose a tag? i dont want to start retype and make an api call to make snippet suggestion appear again...

[2018-04-14 15:35] tanhs opened #766 "Datepicker in Modal form showing Invalid prop: type check failed for prop "dateFormatter". Expected Function, got String"
### Overview of the problem

Buefy version: [5.6.0]
Vuejs version: [5.6.0]
OS/Browser: Chrome:

### Description
Getting error "Invalid prop: type check failed for prop "dateFormatter". Expected Function, got String."

### Steps to reproduce
    dateoptions = { year: 'numeric', month: 'short', day: 'numeric' };

    const ModalForm = {
        props: ['startDate', 'hasCounter', 'minDate', 'maxDate'

[2018-04-14 16:27] atilkan opened #767 "icons don't work on homepage"
Macosx
Chrome
![screen shot 2018-04-14 at 19 25 55](https://user-images.githubusercontent.com/1254613/38770313-c649f908-4019-11e8-83c4-eb0c0e3ac492.png)

[2018-04-14 16:32] andrzejkupczyk commented on #662
So why is this closed?

[2018-04-14 16:50] jtommy commented on #662
@andrzejkupczyk Because maxlength is not a valid attribute for type number.

[2018-04-15 06:48] jtommy commented on #766
@tanhs `dateFormatter` prop has to be a Function. It formats a Date Object to string

[2018-04-15 06:48] #766 closed

[2018-04-15 07:01] jtommy commented on #764
@dfy167 Why do you want to watch internal `isActive` ? You might use `v-model` of `bTabs` component.

[2018-04-15 09:08] andrzejkupczyk commented on #662
Well, we've already agreed, but the core question remains, @jtommy. Current behaviour is inconsistent. Personally I would like to use the counter regardless of the field type. In my case it should work correctly or shouldn't be visible at all. Shouldn't the counter work independently? What if I DON'T want to display counter when using the `maxlength` attribute?

Btw. I love Buefy. Thank you for yo

[2018-04-15 14:52] ccc159 commented on #743
@jtommy I see. So I will close the issue. Thanks!

[2018-04-15 14:52] #743 closed

[2018-04-16 01:09] ittus opened #768 "Document links are updated"
### Description

Document links are updated
At the moment on website:

![screen shot 2018-04-16 at 10 07 35](https://user-images.githubusercontent.com/5120965/38785760-03868f3a-415e-11e8-9ea7-2616d0d8bf00.png)

### Expected behavior

`Grid System` link should be https://bulma.io/documentation/columns/
`Tile System` link should be https://bulma.io/documentation/layout/tiles/

### Actual behavior

`

[2018-04-16 07:04] nuong opened #769 "Do not trigger custom animation in collapse component"
### Overview of the problem

**Buefy** version: [0.5.4]
**Vuejs** version: [2.5.13]
**OS/Browser**: Window 10

### Description

I add an custom animation prop for b-collapse component but do not see any transition class is trigger to collapse-content, but it works when leave default setting.
Anyone help me figure it out? Thanks so much!
`<b-collapse :animation="'translate-y'" :open="false"> ... </

[2018-04-16 10:13] dfy167 commented on #764
@jtommy
there are some charts components in TabItem  and width is not fix.
i want to redraw then when this TabItem  is isactive

[2018-04-16 11:50] rafaelpimpa commented on #759
For that you have to use the source component (vue and sass), from ``src/components/table`` and ``src/scss/components`` respectively.

For more questions you should use our discord channel!

[2018-04-16 11:50] #759 closed

[2018-04-16 12:02] jtommy commented on #764
I think my solution is ok for you, isn't it ? You might listen `input` event on `bTabs` or watch the property that you are binding by `v-model`.

[2018-04-16 12:04] jtommy commented on #769
@nuong You code isn't correct because you don't need to bind `animation` prop. Try that: `<b-collapse animation="translate-y" :open="false"> ... </b-collapse>`

[2018-04-17 02:42] lunfel commented on #614
I'm trying to make a pull request to fix the issue and I am noticing that Bulma is using SASS and Buefy SCSS which seem incompatible. I tried to convert my SASS fix to SCSS, but it's a mess because of all the dependencies on the Bulma variables.

I think you were right @jtommy, the fix should be done in Bulma rather than in Buefy. I don't think it is possible to do it properly from Buefy unfortuna

[2018-04-17 05:27] jtommy commented on #614
@lunfel Did you open an issue or PR in Bulma repo ?

[2018-04-17 13:54] rlightner commented on #529
Hooking on to this issue, it would be nice if the custom sort function passed in the column that was selected so that you could maintain one sort function vs one for each column.

[2018-04-18 01:05] dfy167 commented on #764
watch the property that you are binding by v-model

[2018-04-18 01:05] #764 closed

[2018-04-18 17:33] jonagoldman commented on #481
I have a form with different types of inputs, text, selects and tags. I think all sizes should match (is-small, is-big, ...) so the form looks consistent. Thanks!

[2018-04-19 04:54] pkganthali opened #773 "DatePicker Component weird default behaviour"
In the Datepicker component `<b-datepicker>`

If we key in a 3 digit number like `786 `and tabs out, it auto populates with the value `1/1/786`

Similarly If we key in a 4 digit number like `2017 `and tabs out, it auto populates with the value `12/31/2016`

Why is this inconsistency in choosing between `12/31/{4-digit-year}` and `1/1/{3-digit-year}`?

[2018-04-19 07:29] xpuu commented on #763
Sorry for false alarm. Can't reproduce it now. Seems it was a result of some invalid hot-reload. After I restarted webpack-devserver and reloaded whole page, problem is gone. Closing the issue now.

[2018-04-19 07:29] #763 closed

[2018-04-19 14:30] ravicheema commented on #529
I worked around this issue by using a custom sort function for a date column,

[code]

[code]

[2018-04-19 16:43] jtommy commented on #723
We're working to improve singular components import and so we'll update docs. Thanks.

[2018-04-19 16:43] #723 closed

[2018-04-19 16:45] jtommy commented on #529
Yes, it is the right way.

[2018-04-19 16:45] #529 closed

[2018-04-19 22:41] jtommy commented on #773
@pkganthali Default `date-parse` prop use `Date.parse()` function so please check docs https://developer.mozilla.org/it/docs/Web/JavaScript/Reference/Global_Objects/Date/parse.
You should define a your function to parse string to date as `date-parse` prop

[2018-04-20 09:16] tanhs opened #774 "Table pagination list button appeared inside the tab"
### Overview of the problem

Buefy version: [5.6.0]
Vuejs version: [5.6.0]
OS/Browser: Chrome:

### Description

The table pagination on "ul" came out with a "dot" if the table is inside the tab.

### Steps to reproduce

          <b-tabs type="is-toggle" expanded>
              <b-tab-item label="Pre" icon-pack="fa" icon="first-order">
                @include('emr.dialysis.hd_pre')

[2018-04-21 08:04] lifenautjoe opened #775 "[Feature Request] Allow different checkboxes types/colors"
### Overview of the problem

Checkboxes can only be displayed with Bulma's primary color.

### Description

There might be cases where these checkbox might be desired to be of a different color (type).
Specifically, Bulma's element colors such as info, success, default and warn.

### Steps to reproduce

Create a checkbox item with `type="is-info"`

[code]

### Expected behavior

The checkbox shoul

[2018-04-21 14:01] biigpongsatorn opened #776 "Can i hide arrow icon in table detail or change icon type to Fontawesome ?"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.2]
**OS/Browser**: Google Chrome

### Description

Can i hide arrow icon in table detail or change icon type to Fontawesome ?

Now my icon type is `Fontawesome` but default of arrow icon in table detail feature is `mdi`, Can i change arrow icon type to `fa` or hide it ?

![image](https://user-images.githubusercontent.c

[2018-04-21 14:44] wellcaffeinated opened #777 "Unable to set position="is-bottom-left" on dropdown"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.x]
**OS/Browser**:

### Description

Setting `position="is-bottom-left"` appears to have no effect on position of dropdown content.

[2018-04-21 17:07] wanxe commented on #776
You can hide the icon in certain rows by the prop `has-detailed-visible`. Check the documentation to see more.

But if you want hide all the icons, why use detailed prop?

[2018-04-21 17:12] jtommy commented on #777
@wellcaffeinated It is the default position

[2018-04-21 17:27] biigpongsatorn commented on #776
@wanxe  I want to expand each row but I don't know how to set arrow icon type to `fa`. So i want to hide it.

[2018-04-21 17:53] biigpongsatorn commented on #776
I mean I want to hide column of arrow icon.

[2018-04-21 18:13] biigpongsatorn commented on #776
Example

[code]

Result
![image](https://user-images.githubusercontent.com/10693658/39087370-4cfa7274-45ca-11e8-95b5-cb9434eab756.png)

[2018-04-21 20:47] wanxe commented on #776
Hmmm the example worked to me...
In this codepen I'm using fontawesome:
[https://codepen.io/jnieto/pen/bMVwer](Example)

Feel free to change between to see that it works `mdi, fa, fas, far, fad`.

[2018-04-21 23:00] wellcaffeinated commented on #777
Sorry i meant "is-bottom-left". The positions aren't actually being applied. I've had to use css overrides.

[2018-04-22 05:33] biigpongsatorn commented on #776
@wanxe  OK thank you very much, I will try again. 🙂

[2018-04-22 05:33] #776 closed

[2018-04-22 23:52] GarethTIGFreight opened #778 "Taginput validation"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.13]
**OS/Browser**: all

### Description
Taginput does not accept "required".

### Steps to reproduce
`<b-tag-input :required='true'>...</b-tag-input>`
Click into input then trigger native HTML 5 form validation (e.g. clicking off the input or hitting submit within a form).

### Expected behavior
The TagInput should re

[2018-04-23 08:01] StanislavBerezin opened #779 "Feature suggestiong"
I was thinking that it would be cool to have a ready to go navbar in buefy framework. I see that there are some stuff provided by bulma but its not really adapted to vuejs and requires you to create everything urself.
Here is the fine example, https://jsfiddle.net/tbonz/80jkq0Ls/  thought it would be nice if something like that included in your docs under navbar section

[2018-04-23 09:29] davidosuna1987 commented on #700
@rapidexact Unfortunately the last days I have been trying to do it but I have not succeeded. Could you give me some guidelines on how to do it?

Thanks again.

[2018-04-23 12:25] rafaelpimpa commented on #650
Was putting everything as pre-release since we're not at 1.0 yet, but I might change it for stable releases

[2018-04-23 14:38] pkganthali commented on #773
I am not able to understand how to modify the dafault parsing done by Buefy datepicker component.

Can You please share any code sample if you have..

[2018-04-23 16:03] jtommy commented on #777
@wellcaffeinated https://codepen.io/anon/pen/NMxwex?&editors=101, what's it wrong ?

[2018-04-23 18:31] acidduck opened #780 "Update Bulma to 0.7.0"
### Overview of the problem

**Buefy** version: [0.6.2]
**Vuejs** version: [2.5.2]

### Description

I need to work with $card-header-background-color, $card-content-background-color and $card-footer-background-color that was added in Bulma 0.7.0. In general a lot has happened since Bulma 0.6.2.

[2018-04-23 22:35] wellcaffeinated commented on #777
Ahhh my mistake.
I was injecting bulma.scss directly instead of including it via buefy.css
Thanks

[2018-04-23 22:35] #777 closed

[2018-04-23 23:51] RumbleFrog commented on #780
So like this commit? https://github.com/buefy/buefy/commit/1a3794801a9a12525db00568eeff14f43c12c3da

[2018-04-24 06:17] acidduck commented on #780
Oh great, didn't see that one. :-) But it hasn't been released yet, right?

[2018-04-24 11:26] hemulin commented on #580
Still have some issues here.

### Uploading image and console.log shows:
[code]

### Uploading pdf and console.log shows:
[code]

[2018-04-24 17:02] RumbleFrog commented on #780
Yeah, not yet.

[2018-04-25 05:27] gdutwyg commented on #130
@gongzza  if i want to focus the checkbox and Press enter , the checkbox should not  be selected(but space can select), how  should i do?

[2018-04-25 05:28] gdutwyg commented on #130
@rafaelpimpa

[2018-04-25 05:29] gdutwyg commented on #130
i want to preventDefault(), but it don't work

[2018-04-25 16:37] jtommy commented on #779
@StanislavBerezin Navbar component is already in the [roadmap](https://github.com/buefy/buefy/issues/458). Stay tuned!

[2018-04-25 16:37] #779 closed

[2018-04-25 16:38] jtommy commented on #774
@tanhs Could you provide us a full example ?

[2018-04-25 16:48] jtommy commented on #773
https://codepen.io/anon/pen/XqKBNb?editors=1010
It's a very simple example and you might add that function to [global options ](https://buefy.github.io/#/documentation/constructor-options). Furthermore you should add a `date-formatter` method to have a correct and same behaviour for your locale.

[2018-04-25 19:26] rapidexact commented on #458
Hi all. I want to create bulma-menu component. Can you assign it to me ?

[2018-04-25 20:41] jtommy commented on #458
@rapidexact Contributions are always welcome!

[2018-04-26 20:19] #768 closed

[2018-04-26 20:31] jtommy commented on #692
Did you try `.table-wrapper { overflow: auto; }` ?

[2018-04-27 11:40] BigWillie opened #782 "v-model date picker"
When setting v-model on the date picker

`                <b-field label="Start Date">
                    <b-datepicker v-model="filters.startDate" placeholder="Start date..."  :max-date="maxDate"></b-datepicker>
                </b-field>`

In my app, use of the date picker is optional. However, the datepicker expects a date Object to exist on v-model. I can't have an empty v-model (empty string

[2018-04-27 11:43] jtommy commented on #782
@BigWillie You have to set null your data.

[2018-04-27 11:45] BigWillie commented on #782
I tried that before posting the issue... it didn't work...

Only it does work. I needed to restart node... sorry... no issue here 👍 thanks

[2018-04-27 11:46] #782 closed

[2018-04-28 21:58] Olusiji opened #784 "B-Select component placeholder doesnt display when v-model property is added to component"
### Overview of the problem

**Buefy** version: [0.6.5]
**Vuejs** version: [2.5.13]
**OS/Browser**: Chrome

### Description

The **placeholder** doesn't display in the **Select** component when there's a v-model property added to it

### Steps to reproduce

1. First Step
Create a b-field component with a placeholder property
2. Second Step
Add a v-model property binding the selected option with th