[2020-01-17 16:47] service-paradis commented on #2067
Related to #1094 and #1316

[2020-01-17 17:08] service-paradis commented on #2045
Yeah, it would be a good idea to reproduce their [example](https://logaretm.github.io/vee-validate/guide/3rd-party-libraries.html#buefy) in the Buefy documentation. VeeValidate links to doc and Github are also out of date.

[2020-01-17 17:16] service-paradis commented on #1977
We could use the vee-validate example from https://logaretm.github.io/vee-validate/guide/3rd-party-libraries.html#buefy for inspiration

[2020-01-17 17:17] lfkwtz commented on #2106
@jtommy  This and #1122 were closed as duplicates, but I don't believe either are. This is requesting the ability to display rich content within a tooltip.

[2020-01-17 17:32] #2109 closed

[2020-01-17 17:33] jtommy commented on #2106
Sure, using a slot

[2020-01-17 17:34] jtommy commented on #2045
https://github.com/buefy/buefy/issues/1977#issuecomment-575716255

[2020-01-17 17:34] #2045 closed

[2020-01-17 17:37] #2114 closed

[2020-01-17 17:40] lfkwtz commented on #2106
?

https://github.com/buefy/buefy/blob/dev/src/components/tooltip/Tooltip.vue#L13

the slot here allows you to display rich content which is then wrapped around the context of a tooltip, so when you hover, you see the tooltip.

but, how would one insert rich content within the tooltip itself?

[2020-01-17 19:47] jtommy commented on #2106
It's no possible now, it needs of a refactoring

[2020-01-17 19:51] lfkwtz commented on #2106
yes, that's why this shouldn't be closed as a duplicate of #972

[2020-01-17 20:06] #2038 closed

[2020-01-17 20:07] #2036 closed

[2020-01-17 21:08] FernFerret opened #2149 "Allow tabs nav element to have a custom class"
### Description

I'd like to be able to specify a custom class for the tabs nav element to enable better responsive designs. I've found that with the added width of the desktop, it's really cool to be able to use the vertical tabs for a slim layout I'm building, but on mobile it looks... not great and there isn't a good way that I see to hide the `nav` element of the `<b-tabs>` component. I'm requ

[2020-01-18 08:28] #1473 closed

[2020-01-18 10:22] #2124 closed

[2020-01-18 10:23] jtommy commented on #2112
You might create a your custom dialog using modal component at the moment

[2020-01-18 10:23] #2112 closed

[2020-01-18 10:24] jtommy commented on #2123
It's only a warning to be honest, but of course we might improve this behaviour

[2020-01-18 10:29] jtommy commented on #1957
@zedrdave is already an issue ?

[2020-01-19 10:36] #2135 closed

[2020-01-19 21:37] #2141 closed

[2020-01-19 21:40] jtommy commented on #2100
@akmadian why should carousel manage it ?

[2020-01-19 21:42] jtommy commented on #2034
@Snejj It's not in my plans at the moment, maybe it's better redesign timepicker before

[2020-01-19 21:42] #2034 closed

[2020-01-19 21:56] jtommy commented on #2131
@wookoouk did you try https://github.com/jgthms/bulma/issues/1445#issuecomment-443308954 ?

[2020-01-19 21:57] #2131 closed

[2020-01-20 07:37] rabbidas commented on #1955
A temporary solution, create our own Buefy plugin for Vue and set the config options

[code]

Then install the plugin.

[code]

[2020-01-20 09:45] wookoouk commented on #2131
Yes, I saw that,  it isn't what I asked for but I guess it's all I have if you will not allow me to implement ~`:collapse="false"`
Thanks

[2020-01-20 10:25] jtommy commented on #2131
@wookoouk you are free to make a PR if you want to add it in order to change default Bulma behaviour

[2020-01-20 13:21] kenichii opened #2151 "Dropdown z-index"
Hello mate,

Is there a way so that the dropdown will show outside the modal? im trying to do it using scss/css, but i dont get it hehe.
![image](https://user-images.githubusercontent.com/42717688/72729688-b8517480-3bca-11ea-80ef-db41a59e7d9a.png)

[2020-01-20 13:23] jtommy commented on #360
Same https://github.com/buefy/buefy/issues/292

[2020-01-20 13:23] #360 closed

[2020-01-20 13:24] jtommy commented on #2151
Same https://github.com/buefy/buefy/issues/292

[2020-01-20 13:24] #2151 closed

[2020-01-20 18:49] apolokaklab commented on #2100
@akmadian Hello, i am author carousel.
Do you mean like placeholder but for images?
Yes, i have other plans for feedback component, they **b-skeleton**, support loaded but not same like lazy load.

[2020-01-20 18:57] apolokaklab commented on #2005
@febrihidayan Silakan baca roadmap terlebih dahulu jika disetujui untuk itu.
@jtommy @nixxholas I have 2 optional:
Simple: eg `<b-skeleton width="20px" :max-width="100" />`
Custom: eg `<b-skeleton :template="media" />`

[2020-01-20 20:15] a-kriya commented on #1977
Would it not be enough to just include a link to that in the docs instead of trying to maintain two versions of the same demo (one in VeeValidate and another in Buefy)?

[2020-01-20 21:34] PaulFish-Radius commented on #2094
Experiencing same issue.

[2020-01-21 03:58] nainardev opened #2152 "[TABS] Icons aren't in same line as the header in Custom Headers"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 79

### Description

Icons don't align with the Headers in Custom Headers [TABS]

### Steps to reproduce
https://buefy.org/documentation/tabs#custom-headers

### Expected behavior
Icons should be in same line as the Header

### Actual behavior
Icons not aligning with Headers

[2020-01-21 04:45] nainardev opened #2153 "[PROGRESS] span tag is outside the progress bar in docs on mobile"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 79

### Description

### Steps to reproduce
https://buefy.org/documentation/progress/#slot

### Expected behavior
Span tag should lie inside progress

### Actual behavior

[2020-01-21 07:37] dev-roc commented on #2096
Yeah, same thing in our company app which use buefy as UI, it would be nice to see this modal bug fixed. :) Hooray to jtommy

[2020-01-21 10:03] miguelzapaton opened #2154 "Radio selection delay"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Firefox 72.x on Windows

### Description

When I click on the Radio elements e.g. at the Radio component documentation page:

https://buefy.org/documentation/radio

the selection of the value und the start of the animation ist like 300-500ms delayed.

Imo it feels a bit laggy when you use a lot of Radi

[2020-01-21 17:53] Kaisirak opened #2156 "Taginput with Autocomplete dropdown and OpenOnFocus closes on removing Tag, clicking Tag and sometimes on adding Tag"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11] and [3.0.0-alpha2]
**OS/Browser**: OSX Chrome

### Description

**Taginput** and **AutoComplete** with **OpenOnFocus** doesn't work when clicking on a **Tag**, closing a **Tag** and sporadically on adding a **Tag**.
The documentation page seems to work as intended, but when copying similar code the behavior is dif

[2020-01-21 18:25] rclement opened #2157 "Carousel never pauses timer with autoplay and no pause hover"
### Overview of the problem

**Buefy** version: 0.8.9
**Vuejs** version: 2.6.11
**Nuxtjs** version: 2.11.0
**OS/Browser**: Firefox, Chrome

### Description

Using the Carousel component with `autoplay=true` and  `pause-hover=false`, moving to another page (thus destroying the instantiated Carousel component in the previous page) does not pause the Carousel timer and still tries to access the anima

[2020-01-21 21:31] #2153 closed

[2020-01-21 21:37] jtommy commented on #2156
Tested on Chrome windows and Android without issues.

[2020-01-21 21:56] service-paradis commented on #2154
I just tried to change `$speed-slow` to 0s. Does not look to be too laggy.
![captured (1)](https://user-images.githubusercontent.com/12817388/72846577-de305500-3c6e-11ea-917f-d3fb85d5e320.gif)

[2020-01-21 22:15] service-paradis commented on #2152
I think it is related to the issue #1891. Buefy is adding a span around slot content when using the slot `header`.

The rendered element right now looks like this:
[code]
instead of:
[code]
Not sure why exactly this is the current behavior. Would probably be a breaking change to fix it.

[2020-01-22 00:01] Kaisirak commented on #2156
I just tested it on Firefox and Chrome on Windows 7, and I experience the same behavior. Did you try the codesandbox link @jtommy ?

[2020-01-22 00:06] Kaisirak commented on #2156
I've now also tested it on Android Pie with Chrome and same behavior, on removing a Tag the Autocomplete closes even though the Taginput is still focused. I tried without any extensions to see if somehow that could affect it, and again same result.
Would it help if I made a video ?

[2020-01-22 00:33] nainardev commented on #2152
So it would be fixed?

[2020-01-22 00:52] service-paradis commented on #2152
Will see with @jtommy what he is thinking about this and we could fix it in the next breaking release.

[2020-01-22 01:09] service-paradis commented on #1891
@jtommy We could add a Breaking Change label on this issue and find a way to improve the behavior.

[2020-01-22 01:13] service-paradis commented on #1749
@jtommy
Maybe we could label this issue as a potential breaking change. We could try to scope styles in their component for the next breaking release. What do you think?

[2020-01-22 06:52] jtommy commented on #2156
@Kaisirak ok

[2020-01-22 09:04] Kaisirak commented on #2156
@jtommy https://www.youtube.com/watch?v=M4WS9teHxRg&feature=youtu.be

[2020-01-22 12:34] UnluckyNinja opened #2159 "Checkbox Button works conversely when not in grouped mode."
### Overview of the problem

**Buefy** version: [0.8.10]

### Description

In the api description of [Checkbox Button](https://buefy.org/documentation/checkbox), it says:

But it actually works "**when not checked**" when using only one of it.

(It works correctly when in grouped(array) mode.)

### Steps to reproduce

Demo: https://codesandbox.io/s/staging-darkness-1cgwt

### Expected behavior

Wh

[2020-01-22 12:34] kirillsun1 opened #2160 ""Failed to execute 'remove' on 'DOMTokenList'" error occurs in navbar when beforeDestroy is executed"
Buefy version: [0.8.10]
Vuejs version: [2.6.11]
OS/Browser: Mac OS/Google Chrome (Version 79.0.3945.117), Safari (Version 13.0.4 (15608.4.9.1.3)

**Description**
After updating to Buefy 0.8.10 I started to get the following errors:

In Chrome:
[code]

In Safari:
[code]

After some debugging it turned out that the error comes from beforeDestroy method in b-navbar component:
<img width="1440" alt="S

[2020-01-22 12:35] kirillsun1 commented on #2160
Hey

I haven't found any bug template here. If there is one, please let me know, I will adjust the description.

[2020-01-22 18:15] 4KDA commented on #1907
Found a solution?

[2020-01-22 19:45] bzavalavaldivia commented on #888
I would like to use that for mobile

[2020-01-22 19:46] jtommy commented on #888
You can but without mobile cards

[2020-01-22 22:20] akmadian commented on #2100
@apolokaklab Yes, I originally opened this feature request because I wanted to be able to use a loading spinner while images are being fetched (or some other kind of placeholder), but I imagine that there will be other use cases for this feature as well.

@jtommy
If you are asking why the carousel component specifically should manage it, it seems (at least to me) to make the most sense in terms of

[2020-01-22 22:35] taracha-r opened #2161 "Table alignment issue. If two or more toggled column's labels are null."
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11]
**OS/Browser**: macOS Catalina/Chrome

### Description
If two or more column labels are null, and both can be toggled. This causes a alignment issue between the column titles and data.

I'll try to fix the issue.

### Steps to reproduce
https://jsfiddle.net/53z8o6ym/12/
Notice that the **Percentages** column title

[2020-01-22 22:55] exchgr opened #2162 "b-field doesn't associate label with nested b-input in resulting markup"
### Overview of the problem

**Buefy** version: 0.8.8
**Vuejs** version: 2.6.10
**OS/Browser**: macOS Catalina 10.5.2 / Safari 13.0.4

### Description

When nesting a `b-input` inside a `b-field` with a label, the resulting markup doesn't associate the label with the input, constituting an accessibility problem and an automated e2e testing problem.

### Steps to reproduce

[code]

### Expected beh

[2020-01-22 22:58] jtommy commented on #2162
@exchgr you might use `label-for` prop on `b-field`

[2020-01-22 23:03] #2162 closed

[2020-01-22 23:19] jtommy commented on #2156
It's really strange I'm not able to replicate it, are you to use the last version?

[2020-01-22 23:31] exchgr commented on #2162
Thanks!

[2020-01-23 00:17] irees opened #2163 "Table documentation: backend-filtering event is 'filters-change' not 'filter-change'"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: latest
**OS/Browser**: Any

### Description

Table "events" page lists "filter-change" as the event that is fired when the text inputs are changed; the correct event is "filters-change".

https://buefy.org/documentation/table/

### Steps to reproduce

See above

### Expected behavior

See above

### Actual behavior

See abov

[2020-01-23 00:18] gevera commented on #322
This doesn't work, unfortunately with the latest Buefy

[2020-01-23 00:30] Kaisirak commented on #2156
I tried it on another computer running Windows 10 and Chrome, and I get the same behavior.

If Codesandbox tells the truth, I believe it is running the latest version of Buefy (0.8.10).

<img width="267" alt="Screen Shot 2020-01-22 at 4 26 05 PM" src="https://user-images.githubusercontent.com/5866233/72946550-206f9a00-3d34-11ea-8722-1a01c0bd4473.png">

And I get the same behavior with my local ver

[2020-01-23 00:40] superbiche commented on #2160
Same issue with Buefy 0.8.10. I was upgrading from 0.8.8, just downgrading to 0.8.9 fixed it for now.

[2020-01-23 06:49] jtommy commented on #322
@gevera what?

[2020-01-23 09:05] 4KDA commented on #472
@talismax, How did you solve this problem?

[2020-01-23 09:58] GerryWilko opened #2164 "Add repeat for Carousel to stop rolling over end of list."
### Description

I would like to be able to set a flag to control whether the carousel rolls over the end of the items back to the beginning and if going backwards from the start goes to the end.

I have created a PR for this feature with a new `repeat` prop.

[2020-01-23 11:06] FlorianChretien commented on #1310
Hi !

It will be great to have this feature if possible "openDetailSRow()" and closeDetailSRow()"

Thank you <3

[2020-01-23 11:16] abacram commented on #925
Make sure your backend is configured with the same timezone because if not, your dates/datetimes will be converted. In my case my front is 1 hour plus my back timezone and when i send a datetime, back decrements 1 hour and by this cause, it saved a day off.

Hope it helps.

[2020-01-23 12:56] jtommy commented on #1310
@FlorianChretien there is already a method that you can use by refs

[2020-01-23 12:57] #2164 closed

[2020-01-23 14:08] francoism90 opened #2166 "Add autofocus to b-input"
### Description

https://www.w3schools.com/tags/att_input_autofocus.asp

[code]

### Why Buefy need this feature

It seems this isn't work at the moment. It's really useful on forms, e.g. authenticate, search, etc.

[2020-01-23 14:14] francoism90 commented on #2166
Turns out this is Vue specific(?), it doesn't work on input - you have to use `.focus()`.

[code]

Maybe it would be cool to have this as property on `b-input`, otherwise I'll close this ticket. :)

[2020-01-23 14:46] service-paradis commented on #2166
Works for me when I use `:autofocus="true"`

[2020-01-23 15:07] francoism90 commented on #2166
@service-paradis Hmm, it doesn't work for me, you set this on `b-input` or on `input`?

[2020-01-23 15:25] service-paradis commented on #2166
I'm using `b-input`. I tried to make a [codepen](https://codepen.io/service-paradis/pen/LYEqBgq?editors=1010), but unfortunately, Chrome gives me this error in console (`vue.min.js:6 Blocked autofocusing on a form control in a cross-origin subframe.`).

But as you can see, it tried to apply the autofocus.

[2020-01-23 20:07] francoism90 commented on #2166
@service-paradis I've tried using autofocus in Firefox and Chrome (both Linux), including different `b-input` elements, but non seems to focus. Weird, I really need to use `focus()` with `ref`.

The codepen indeed seems to be getting blocked, any alternatives for online testing?

[2020-01-24 05:48] rahulmehtasiemens opened #2167 "Feature Request for buefy table component"
**Our requirement for buefy table :**

- Selecting anywhere in the row should select the check box of row  : Resolved by jtommy – [Issue link ](https://github.com/buefy/buefy/issues/2130)
- Selecting another row should deselect earlier selection and select the current row : Resolved by Suggestion by jtommy – [Issue link](https://github.com/buefy/buefy/issues/2130)
- For multiple selection use chec

[2020-01-24 09:51] teuk1 opened #2168 "No translation possibilities on Buefy popups (confirm, dialog, prompt...)"
### Overview of the problem
Hello everyone,
I can **easily use traduction** with [i18n](https://kazupon.github.io/vue-i18n) **on form-element** that are based on html **but not on advanced modal components** like dialogs.

### Description
Example of code that works fine on form-element components (e.g. like on a b-input & its placeholder) :
`<b-input :placeholder="$t('searchData')" type="search" r

[2020-01-24 11:24] zedrdave commented on #1957
@jtommy I'll try to test, but this is currently a bit difficult, since I am running on a fork of Buefy that adds the timezone support I need…

[2020-01-24 12:37] melogustavo commented on #1954
Hey @MartinTuroci, I will take a look at this.

[2020-01-24 13:20] service-paradis commented on #2168
Did you tried something like this:

[code]

[2020-01-24 13:48] HughVolpe commented on #2156
I'm experiencing the same issue, both on the codesandbox and locally.
Buefy version: [0.8.10]
Vuejs version: [2.6.10]
OS/Browser: OSX Chrome and Firefox

[2020-01-24 14:18] #2168 closed

[2020-01-24 15:02] service-paradis commented on #2166
Online testing always imply iframe unfortunately, so Chrome will always block autofocus.

I dont know why it wont work for you, just tried Chrome/Firefox and Edge on my side and it is working

[2020-01-24 16:02] teuk1 commented on #2168
No @service-paradis, i get an error :
[Vue warn]: Error in v-on handler: "TypeError: this.$i18n.translate is not a function"

found in

---> <History> at src/components/History.vue
       <App> at src/App.vue
         <Root> vue.runtime.esm.js:619

[2020-01-25 07:51] jtommy commented on #2149
@FernFerret you can add a custom class to `b-tabs` and with it you are able to customize inner nav, for example `.myclass nav.tabs { ... }`

[2020-01-25 17:57] jtommy commented on #2167
@rahulmehtasiemens they are good new features and improvements to add :)

[2020-01-25 18:31] jtommy commented on #2159
Try using `:native-value="true"`

[2020-01-26 10:03] #2163 closed

[2020-01-26 10:10] jtommy commented on #2161
@taracha-r `b-table-column` needs a key (probably in the future I'll add an autogenerated id) so when you have two or more columns without a label you should use `custom-key` prop in order to identify a column, take a look at https://jsfiddle.net/6bu4pg1q/

[2020-01-26 10:10] #2161 closed

[2020-01-26 10:12] #2160 closed

[2020-01-26 10:45] jtommy commented on #2166
@francoism90 i've just tested a new project (vue 2.6+ and buefy 0.8.10) and it works well. Please share a part of code in order to test in the deep.

[2020-01-26 10:47] francoism90 commented on #2166
@jtommy This is the full code: https://github.com/francoism90/mediadb/tree/master/src/resources/js

I'm using this inside a modal: https://github.com/francoism90/mediadb/blob/master/src/resources/js/components/modal/Search.vue

Thanks for taking a look into this, it doesn't work for me and I need to use the `.focus()` in `mounted ()`.

[2020-01-26 10:49] jtommy commented on #2154
@miguelzapaton what do you mean with "a lot of Radio items in a larger form" ? An example code ?

[2020-01-26 11:09] jtommy commented on #2166
@francoism90 I think `.focus` is the only one solution at the moment using it in a modal.
There is a similar issue https://github.com/vuejs/vue/issues/10976 but as you can see in buefy dialog component we are using `.focus` on input element (prompt) https://github.com/buefy/buefy/blob/39e918aa1fe574bcc8096436080d99a7029f8279/src/components/dialog/Dialog.vue#L232

[2020-01-26 11:09] #2166 closed

[2020-01-26 11:10] #2149 closed

[2020-01-26 11:12] francoism90 commented on #2166
@jtommy OK, thanks again for the help. :)

[2020-01-26 11:31] miguelzapaton commented on #2154
Thank you for looking at this. I'm still not sure if this is an intended behaviour.

I was using Muse-UI before and when I compare the perception of switching following radio buttons:

https://muse-ui.org/#/en-US/select-control
(Radio 1, Radio 2, Radio 3)

and

https://buefy.org/documentation/radio
(Flint, Silver, Jack)

Especially in Firefox on Windows I notice a delay before the radio animation

[2020-01-26 20:38] rcoundon commented on #2083
Can this be converted into a feature request please?

[2020-01-26 20:41] jtommy commented on #2083
Table should check only current page because using backend pagination it's no possible check all data and I want to maintain the same behaviour using client side pagination.
Searchable feature is a particular case, I should think it's correct manage it in a different way

[2020-01-26 20:47] rcoundon commented on #2083
I see, can you suggest a different way?

[2020-01-27 13:57] rcoundon commented on #2083
I understand what you're saying, and the reason you would want to keep this the same. Having thought about this some more, I'm wondering if this is the way it should be.  When using backend pagination the implementer has full control of this functionality.  Whereas, if using client-side pagination, the implementer has no control (unless you can suggest a way around this?) so it feels to me like th

[2020-01-27 14:46] service-paradis commented on #2154
Just tried on Firefox, and you're right that it does not look as reactive. Weird...

[2020-01-27 15:58] taracha-r commented on #2161
Awesome, thanks!

[2020-01-27 17:31] #2159 closed

[2020-01-27 21:51] #1891 closed

[2020-01-27 21:52] jtommy commented on #2152
Close https://github.com/buefy/buefy/pull/2171

[2020-01-27 21:52] #2152 closed

[2020-01-27 22:16] jtommy commented on #2083
You might listen `check-all` event and manually add all data (`$refs.mytable.newData`) into `checked-rows` array

[2020-01-27 22:45] jtommy commented on #2128
@re2005 can you provide the full test code ?

[2020-01-28 00:54] nainardev opened #2172 "[PROGRESS] v-numberinput overflows on docs in mobile"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 80

### Description

### Steps to reproduce
https://buefy.org/documentation/progress#values

### Expected behavior
Expecting to increase the numberinput, but unable to.
Can't scroll horizontally, because it's responsive

### Actual behavior
![IMG-20200128-WA0000](https://user-images.githubuserco

[2020-01-28 09:57] cwilby commented on #1955
A nice benefit of that solution is cleaning up `main.js`, thanks @rabbidas!

[2020-01-28 13:38] service-paradis commented on #2016
Some Workaround are also mentionned in https://github.com/jgthms/bulma/issues/2503

[2020-01-28 14:46] re2005 commented on #2128
Thanks for replying @jtommy
Here it goes:
https://gist.github.com/re2005/739dc9b30c7ba0665dc08a3be6df3186

[2020-01-28 16:41] nainardev opened #2174 "[Button] TypeError button not defined"
ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎๎ฏ๎๎๎

[2020-01-28 16:47] #2174 closed

[2020-01-28 21:31] service-paradis commented on #1907
It seems the problem is not only with Buefy, but with Vue in general (https://github.com/nosir/cleave.js/issues/459, https://forum.vuejs.org/t/custom-directive-not-working-well-with-last-character-cleave-js-value-sync/63990).

[2020-01-28 23:19] altert opened #2176 "Table headers with identical labels are not shown"
#1535 # Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11]
**OS/Browser**:
macOS Mojave/ Google Chrome 79.0.3945.130
### Description

If custom template for row is used, and some of columns have identical labels, only first one is rendered on page

### Steps to reproduce

Create table with custom template and give some columns identical names
https://codepen.io/altert

[2020-01-29 06:39] jtommy commented on #2176
https://github.com/buefy/buefy/issues/2161#issuecomment-578487435

[2020-01-29 06:39] #2176 closed

[2020-01-29 17:14] florentyu commented on #568
Hello,

@willhoyle workaround doesn't work in [version 0.8.10](https://github.com/buefy/buefy/releases/tag/v0.8.10). In this version, columns in `columns` attribute are rendered.
Moreover in this case, `sortable` attribute doesn't work in the `props` slot.

[2020-01-29 17:16] #2013 closed

[2020-01-29 17:17] jtommy commented on #1957
@zedrdave does it work with your PR (merged)

[2020-01-29 17:18] zedrdave commented on #1957
I can't check on the relevant codebase right now, but will check later tonight and let you know!

[2020-01-29 17:26] #1599 closed

[2020-01-30 03:06] cain opened #2179 "Navbar classList.remove v0.8.10 Bug"
<img width="657" alt="Screen Shot 2020-01-30 at 11 56 34 am" src="https://user-images.githubusercontent.com/15246256/73416410-ed975880-4368-11ea-8f17-b5cc82277854.png">
<img width="698" alt="Screen Shot 2020-01-30 at 11 56 55 am" src="https://user-images.githubusercontent.com/15246256/73416411-ed975880-4368-11ea-9639-4f57afffcb19.png">

### Overview of the problem
Not entirely sure what's going on

[2020-01-30 05:40] rahulmehtasiemens commented on #2167
@jtommy  Thanks for considering this requirement.

Can you please provide the **ETA** of above feature? So I will communicate the same within my team and adjust our work accordingly.

[2020-01-30 06:50] jtommy commented on #2179
Already fixed https://github.com/buefy/buefy/issues/2160

[2020-01-30 06:50] #2179 closed

[2020-01-30 08:52] zedrdave commented on #1957
@jtommy Just tested and same problem is still happening… 😕

First on OSX Chrome (working as expected):
<img width="462" alt="Screenshot 2020-01-30 at 09 48 00" src="https://user-images.githubusercontent.com/746979/73433899-f9255800-4345-11ea-86df-a2ba06070caf.png">

Second on OSX Safari (date displayed is off by one day):
<img width="521" alt="Screenshot 2020-01-30 at 09 47 10" src="https://user-i

[2020-01-30 11:30] jtommy commented on #1957
@zedrdave what's your code to format the date ?

[2020-01-30 12:05] cricketthomas commented on #2043
@theshark-fb were you able to solve this? I’m also trying to add Bulma Darkly to my Vue + Buefy app

[2020-01-30 12:20] zedrdave commented on #1957
[code]

But even if I remove the formatter altogether:
[code]

the result is the same…

[2020-01-30 12:47] jtommy commented on #1957
@zedrdave did you try to see the date object? For example using `d.getDate()`

[2020-01-30 15:22] dmcbrn commented on #2112
@jtommy

This could be very useful. Can you please provide a short snippet of how exactly to do it.
It would be great if it's included in the documentation as well.

[2020-01-30 15:39] dmcbrn opened #2180 "Switch or Checkbox input In Dialog Prompt"
### Description

Similar to what we have at the moment (number and text inputs) it would be useful to implement the switch/checkbox input as well.

Similar to #2112

[2020-01-30 15:41] taverasady opened #2181 "Allow B-datetimepicker the availability to change the month's name as you can do with datepicker"
Description:

Allow b-datetimepicker to change the months (by passing an array of strings) such as with b-datepicker :months-name prop.

[2020-01-30 17:41] jtommy commented on #2180
I don't think to develop a so custom dialog, you might use programmatic modal and a your custom component

[2020-01-30 17:41] #2180 closed

[2020-01-30 17:43] jtommy commented on #2181
It's already available, just set it to `datepicker` prop or using Buefy constructor

[2020-01-30 17:43] #2181 closed

[2020-01-30 19:51] taverasady commented on #2181
I've tried the following:
Html:

  <b-datetimepicker
                rounded
                placeholder="Click to select..."
                icon="calendar-today"
                :month-names="months"
                :datepicker="{ showWeekNumber }"
                :timepicker="{ enableSeconds, hourFormat: format }">
  </b-datetimepicker>

Assume i have a array of strings named "months" ->  ['Ene

[2020-01-30 20:05] mewcrazy opened #2182 "Index number on paginated buefy table"
Hello,

I'm trying to get the index number of buefy table row. But when my table is paginated, I get a wrong index. I'm on page 10 with 10 results each page, so I expect my index to be 90, not 9. (see the attached image) - Is there any way to get the actual index/cycle number of a row?

![image](https://user-images.githubusercontent.com/6299479/73485778-0a04b680-43a4-11ea-9c88-cc704fb5d97d.png)

[2020-01-30 20:41] jtommy commented on #2181
Please take a look at the docs.
[code]

[2020-01-30 20:45] jtommy commented on #2182
Index * page ?

[2020-01-30 22:24] zedrdave commented on #1957
@jtommy oddly enough, both browsers show the right hour for `getDate()`. On the other hand `toLocaleDateString` does show the shifted date. Not sure what the different values for `tzOffset` mean…

Chrome:
<img width="444" alt="Screenshot 2020-01-30 at 23 18 57" src="https://user-images.githubusercontent.com/746979/73495826-9a98c200-43b7-11ea-9c3e-38b015e2d231.png">

Safari:
<img width="442" alt="S

[2020-01-30 23:07] cain commented on #2179
thanks @jtommy

[2020-01-31 07:10] jtommy commented on #1486
@service-paradis we might follow your idea

[2020-01-31 07:15] jtommy commented on #1957
@zedrdave btw I think will be add this idea https://github.com/buefy/buefy/issues/1486. You could try this way to format the date

[2020-01-31 10:06] WaldemarEnns commented on #1861
I am waiting for it too :) Just like @3rdSenna , i saw it already on Vuetify and would love to have this feature in Buefy too! 🚀

[2020-01-31 10:21] rahulmehtasiemens commented on #2167
@jtommy  Any update ?

[2020-01-31 11:37] francoism90 opened #2183 "Steps navigation is missing pagination"
### Overview of the problem

**Buefy** version: v0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Firefox Developer Edition/Linux

### Description

Without the `pagination` class on `<nav class="step-navigation"..>`, the margin of next/forward buttons cause the navigation to standout:

Without `pagination`:

![image](https://user-images.githubusercontent.com/5028905/73535981-285ec680-4425-11ea-9fd

[2020-01-31 12:02] taverasady commented on #2181
It seems like you're not understanding correctly, I am not trying to format the date  or time itself, the only thing I am trying to do with the b-datetimepicker is to change the names of the different months, which is not possible due to the fact that the b-datetimepicker component dosen't offer the :month-names prop, such as the b-datepicker does.

[2020-01-31 14:27] #2183 closed

[2020-01-31 14:27] francoism90 commented on #2183
Turns out you can customize the pagination including the own classes. :)

[2020-01-31 15:52] dandelionred opened #2185 "Taginput: "size" property is ignored on "maxtags" value reached"
### Overview of the problem

**Buefy** version: current (0.8.10)
**Vuejs** version: current (2.6.11)
**OS/Browser**: all

### Description

When `maxtags` value on a taginput component is reached, the rendering mode is changed and in the new mode `size` property is ignored.

### Steps to reproduce

1. Open codepen from this demo https://buefy.org/documentation/taginput/#sizes
2. Append `maxtags="4"

[2020-01-31 15:53] #2182 closed

[2020-01-31 15:55] jtommy commented on #2181
Datetimepicker offers a prop called `datepicker` and it's an object that accepts all props that offers datepicker

[2020-01-31 16:47] dandelionred opened #2187 "Taginput: broken rendering when "attached" property is enabled on "maxtags" value reached"
### Overview of the problem

**Buefy** version: current (0.8.10)
**Vuejs** version: current (2.6.11)
**OS/Browser**: all

### Description

When `maxtags` value on a taginput component is reached, the rendering mode is changed and `attached` taginput is rendered wrong.

### Steps to reproduce

1. Open codepen from this demo https://buefy.org/documentation/taginput#limits
2. Append `attached` to the

[2020-01-31 17:00] jtommy commented on #2167
@rahulmehtasiemens I am happy to review a PR that adds this feature anytime, if you can't or are not willing to work on it I will add to my pipeline but I can't sign off on any time / eta

[2020-01-31 18:35] robertmarney opened #2188 "Add throttling to table search"
### Description

Typically search criteria are longer than a single character. On large data sets the browser will hang on the first key up while it starts its filter method.  Recommend to implement lodash throttling or min-char limit before filtering as defined by prop.

### Why Buefy need this feature

User Experience

[2020-01-31 18:38] taverasady commented on #2181
I got you ! thanks for the support jtommy.

[2020-01-31 20:12] mewcrazy commented on #2182
@jtommy that obviously worked ;) thanks.

[2020-01-31 21:58] zedrdave commented on #1957
That sounds good. I'll try and have a look over the weekend.

[2020-01-31 22:47] jtommy commented on #2188
Do you mean searchable feature? You might use `backend-fltering` prop and listen `filters-change` event

[2020-01-31 22:47] #2188 closed

[2020-02-01 00:34] Heartz66 opened #2189 "undefined is not an object (evaluating 'this.carouselItems[this.activeItem].status')"
I'm not sure how these issues are caused and on which conditions but these errors are being reported to me:

`undefined is not an object (evaluating 'this.carouselItems[this.activeItem].status')`

[2020-02-01 00:36] Heartz66 opened #2190 "Remove margin on icon on empty content slot b-button"
When using `b-button` component with only using the `icon-left` or `icon-right` property (without content inside of it) there is a slight margin to the right or left. This margin should be disabled when there is no content inside of the component.

![881def04642e1c7ebac17032bb8ab261](https://user-images.githubusercontent.com/8833887/73583538-13b91780-4493-11ea-9c94-9e5c16da6369.png)

[2020-02-01 09:30] Tovli commented on #284
Following @jtommy comment about RTL support
Is there a plan for this? maybe a constructor option?

[2020-02-01 09:35] Tovli commented on #458
Hi guys
is there a plan for right-to-left support in the roadmap?
I didn't find any but wonder if there are any plans or guidelines for sites that need to support right to left locales

[2020-02-01 10:03] jtommy commented on #284
@tovil as you can see bulma author is working on it https://github.com/jgthms/bulma/commits/rtl-support

[2020-02-01 11:00] Tovli commented on #284
That's great
thanks a lot.
I really need to improve my search skills :-(

On Sat, Feb 1, 2020, 12:03 Walter Tommasi <notifications@github.com> wrote:

[2020-02-01 16:04] cypressious opened #2191 "b-navbar-dropdown that is hoverable is not closed when b-navbar-item is clicked"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Windows 10 / Firefox

### Description

Consider the following `b-navbar` with a `b-navbar-dropdown`.

[code]

### Steps to reproduce

1. Hover over the dropdown menu
2. Click on the "About" item

### Expected behavior

The dropdown is closed.

### Actual behavior

The dropdown remains open.

[2020-02-02 15:36] #2187 closed

[2020-02-02 15:52] #2190 closed

[2020-02-02 15:54] #2172 closed

[2020-02-02 17:12] #2157 closed

[2020-02-02 17:29] #1954 closed

[2020-02-02 21:25] jtommy commented on #1843
It should work using keyboard, btw double https://github.com/buefy/buefy/issues/2156

[2020-02-02 21:25] #1843 closed

[2020-02-02 21:25] #1782 closed

[2020-02-02 21:28] #1296 closed

[2020-02-02 21:28] jtommy commented on #1296
I will be possible add a right icon in the next release

[2020-02-02 21:29] #1226 closed

[2020-02-02 21:35] jtommy commented on #967
Because default slot of table renders only table column without any wrapper (div)

[2020-02-02 21:35] #967 closed

[2020-02-02 21:43] jtommy commented on #676
Add `icon-right` to input by https://github.com/buefy/buefy/commit/6e1e0fdd7c980c5cb5c51bec3764705b19f2ec2b

[2020-02-02 21:43] #676 closed

[2020-02-02 21:44] #205 closed

[2020-02-02 21:50] #1658 closed

[2020-02-02 22:59] cain commented on #2160
Thanks for fixing!

[2020-02-03 07:33] apolokaklab commented on #458
@Tovli https://github.com/jgthms/bulma/tree/rtl-support

[2020-02-03 12:57] jtommy commented on #2189
@nateleavitt can you replicate it ?

[2020-02-03 13:46] service-paradis commented on #2189
There are some places in the component code where we have this condition that surrounds access to carouselItems:
`if (this.activeItem < this.carouselItems.length)`
But, this condition is not everywhere (next, prev and changeItem functions for example). This issue can occurs if a previously visible items does not exist anymore (using `v-if` or something) and we try to access it. Kind of edge cases,

[2020-02-03 14:17] jtommy commented on #1222
It works using the "new" header slot of table column. Please, take a look at the docs.

[2020-02-03 14:17] #1222 closed

[2020-02-03 16:10] jtommy commented on #2189
@service-paradis sure, please add it :)

[2020-02-03 21:05] FlymeDllVa opened #2195 "The switch works crookedly in desktop Safari 13.0.5"
### Overview of the problem

**Buefy** version: buefy.org
**Vuejs** version: buefy.org
**OS/Browser**: MacOS Safari 13.0.5

### Description

<img width="105" alt="Снимок экрана 2020-02-04 в 00 17 29" src="https://user-images.githubusercontent.com/33265875/73691614-bc5db600-46e3-11ea-8911-b3b95faca99b.png">
<img width="108" alt="Снимок экрана 2020-02-04 в 00 17 44" src="https://user-images.githubus

[2020-02-03 22:26] lunfel opened #2196 "Carousel v-model is not in sync when using arrow navigation buttons"
### Overview of the problem

**Buefy** version: [0.8.10] (0.8.9 is also affected)
**Vuejs** version: [2.5.18]
**OS/Browser**: Linux Ubuntu

### Description

The v-model of Carousel component is not reactive on slide changes through previous and next arrow navigation buttons.

### Steps to reproduce

1. Create a simple b-carousel component with a v-model using this code (code from simple example fr

[2020-02-04 08:36] #607 closed

[2020-02-04 14:15] neuronflow opened #2197 "number input placeholder="42" does not work?"
### Overview of the problem

**Buefy** version: [X.X.X] 0.8.10
**Vuejs** version: [X.X.X] 2.6.11
**OS/Browser**: OSX Chrome

### Description
placeholders for number inputs seem to have no effect. How to set it to 42?

### Steps to reproduce

[code]

### Expected behavior

paceholder shows 42

### Actual behavior

placeholder shows min value

[2020-02-04 14:17] neuronflow commented on #2197
Maybe I am doing it wrong, but the same syntax seems to work for text inputs and there is a placeholder attribute according to: https://buefy.org/documentation/numberinput/

[2020-02-04 16:00] HugoHeneault commented on #506
I still had the original issue (doc isn't updated on https://buefy.org/documentation/field/#label-position), fixed using the "official way/workaround" proposed by @Herteby

Updating the doc would be really nice 🍻

[2020-02-04 16:07] HugoHeneault commented on #506
Whats actually weird is that doc code seems to work but not app code 🤔

See
![image](https://user-images.githubusercontent.com/4112256/73762526-97635480-4770-11ea-9979-0cba6fd0c912.png)

Vs app code

![image](https://user-images.githubusercontent.com/4112256/73762706-c679c600-4770-11ea-8ad2-84a526c4d6cc.png)

[2020-02-04 18:18] jtommy commented on #506
@Herteby and your code ?

[2020-02-05 07:59] pawepaw opened #2198 "Is it possible to create tooltip on entire table row?"
Hi,

It possible to create tooltip on entire table row in buefy? I don't see an option to customize entire table row or provide template, there are options only to provide template for specific columns. Also It doesn't seem to be possible to attach buefy tooltip to table row somehow.

[2020-02-05 08:03] geilix10 commented on #2160
Still not fixed using nuxt-buefy `0.3.21`
Any idea?

[2020-02-05 08:25] jtommy commented on #2160
I have to make a new release yet

[2020-02-05 10:20] geilix10 commented on #2160
Can you push this thread when the release is done?

[2020-02-05 12:02] rogeriotaques opened #2199 "b-table to prevent (or ignore) the click on specific columns"
### Description

A specific property for preventing the `click` event in some columns where buttons might be added to handle different actions alongside the implemented `click` handler for rows.

### Why Buefy need this feature

Having the `click` event bound for b-table is helpful to handle clicks in a row to perform some actions (e.g open a record for editing). However, in some cases, having mor

[2020-02-05 13:08] jtommy commented on #2199
@rogeriotaques currently click event is on row. We might send native event too so you should be able to call prevent default.
What do you think? What's a your use case?

[2020-02-05 13:12] jtommy commented on #2198
No it's no possible, you can add only on table cell (header or value)

[2020-02-05 13:12] #2198 closed

[2020-02-05 13:55] service-paradis commented on #1751
#2169 will make props available to customize the Input right icon

[2020-02-05 14:51] service-paradis commented on #2046
You are right. When you are clicking on an item of the list, the input focus is lost. Since the browser validate the required attribute on focus lost, the error gets displayed until the value is officially selected...

[2020-02-05 15:01] #1751 closed

[2020-02-05 15:05] #2189 closed

[2020-02-05 18:18] #1977 closed

[2020-02-05 19:18] service-paradis commented on #2197
Not sure `placeholder` are supported right now for `numberinput`. I dont see any props named `placeholder` in the [documentation at the end of the page](https://buefy.org/documentation/numberinput#api-view).

[2020-02-05 19:33] service-paradis commented on #1486
This would be a breaking change for sure. We would need to accept a new options in Buefy for the locale (ex. `en-US`). Every component where we use Date/Time/DateTime would also need to be changed.

We could use this to format the date, but even to have the localized string needed (ex. month names).

I dont know, if this will really solve the problem mentioned in #1957 though. Would need to make s

[2020-02-05 19:35] service-paradis commented on #1534
Maybe this [workaround](https://github.com/buefy/buefy/issues/1955#issuecomment-576144659) could work?

[2020-02-05 19:55] jtommy commented on #1486
@service-paradis we could use a default value, for example getting it from `navigator` object

[2020-02-05 19:59] neuronflow commented on #2197
https://codepen.io/pen?&editable=true&editors=101
But it is used in the examples :)

[2020-02-05 20:16] service-paradis commented on #2197
You're right, but it looks like it was added by mistake since it does not work. This should probably be removed from the examples.

[2020-02-05 20:20] neuronflow commented on #2197
I respectfully disagree, I would prefer to make this a feature request then :)

[2020-02-05 20:20] service-paradis commented on #1486
The only problem I see with using the browser locale (ex. `navigator`) is when a website does not support multi language. Some components would then be displayed in the user component language, but not the other element of the website.

For example, I would loo a the Buefy documentation pages where everything is in english, but then I will see month names in french when using the Datepicker.

[2020-02-05 20:22] service-paradis commented on #2197
Sure, I think we should remove them from the current docs since it could be misleading. But you can, for sure, ask for this behavior in a feature request :)

[2020-02-05 20:32] neuronflow commented on #2197
The original bulma supports it by the way..so for the moment I help myself using standard html tags and bulma css classes :/

[2020-02-05 20:33] jtommy commented on #2197
Original bulma? An example?

[2020-02-05 20:38] service-paradis commented on #2197
Buefy Input component is supporting `placeholder` like the original Bulma, but there is no `numberinput` in Bulma...

[2020-02-05 20:45] neuronflow commented on #2197
yes, you are right...the original bulma is just a text input without the nice buttons buefy provides..looks like I cannot have best of both worlds. sorry for the confusion. Do I need to create a feature request or is this bug report enough?

[2020-02-05 20:49] jvtoomey opened #2204 "Color for "button.is-link" seems incorrect"
Hi, this might've been mentioned in issue #1632, but it still seems like a mistake? The color for "button.is-link" is set to #7957d5 (purple, same as 'button.is-primary"), but I think it should be #3273dc (dark blue). All the others match up as shown on https://buefy.org/documentation/button.
Here's a picture showing the one purple oddity, and a pic of the buefy page:
![color in practice](https://

[2020-02-05 20:54] jtommy commented on #2204
You can customize it using sass/scss

[2020-02-05 20:54] #2204 closed

[2020-02-05 21:05] service-paradis commented on #2197
For the moment, you can use the type number using `b-input` (ex. `<b-input type="number" />`).

For the Request, I think you can close this one and create another one which would be cleaner.

[2020-02-06 03:09] rogeriotaques commented on #2199
Hi @jtommy , thanks for the quick reply!

Yeah, using the native events may help to implement the needed behaviour. Would you mind to give me an example of how would you implement that? I guess I've missed this from the docs!

[2020-02-06 04:46] tobiasmboelz opened #2205 "Datepicker messed up in Safari on small screens/in narrow windows"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Safari 13.0.5 on macOS and Safari on iOS 13.3

### Description

Datepicker is messed up in Safari on small screens and in narrow windows.

### Steps to reproduce

1. Open https://buefy.org/documentation/datepicker in Safari on macOS.
2. Reduce window width to about 1024 px.

or

1. Open https://buefy.o

[2020-02-06 07:40] bviala opened #2206 "Border on modal-card-head during animation"
### Overview of the problem

I don't want the default border bottom on modal card header.
I've set the bulma variable `$modal-card-head-border-bottom: none;`
It works fine when the modal is open, but the border still appears during opening and closing, resulting in a super ugly flash.
Since it's only during the animation and the elements are removed from the DOM when it's closed, I have no way to

[2020-02-06 07:48] jtommy commented on #2199
https://codepen.io/jtommy/pen/Poqopje?editable=true&editors=101

Take a look at button event `@click.stop`

[2020-02-06 07:49] jtommy commented on #2205
@tobiasmboelz Unfortunately i'm not able to test it on safari o iOS

[2020-02-06 08:56] rogeriotaques commented on #2199
That looks very clean! Kudos, @jtommy .

I did manage to implement it with `@click.native` for every `b-table-column`, but using the `@click.stop` on `b-button` seems way simpler and easy to maintain!

So, at this point, I don't feel that Buefy needs to implement this feature anymore, therefore, I'm closing the issue! But, feel free to re-open it if you disagree.

Cheers. 🍻

[2020-02-06 08:56] #2199 closed

[2020-02-06 13:29] service-paradis commented on #2206
Do you get the same results using Bulma only?
Do you get the same results using `$modal-card-head-border-bottom: none !important;`?

[2020-02-06 15:19] service-paradis commented on #2136
Juste created a new PR (#2207) with some improvements.
Would love to have your feedback on it @annam002!

[2020-02-06 23:17] bviala commented on #2206
Ok so I played a bit more with this and realized the appearing border isn't actually a border or a box shadow: it's the modal background. During the Buefy animation, modal header and body divs get separated, letting the background appear.
It just doesn't show with the default border bottom cause it's the same color.
Luckily enough the design I have to implement uses a very light opacity (0.15) whi

[2020-02-07 05:04] jacobgoh101 opened #2208 "Making TagInput's Tag content customisable"
### Description

The ability to make TagInput's Tag content customisable.

### Why Buefy need this feature

Use Case:

To implement this design, I'll need to be able to edit the HTML content for each tag. I believe this would not be an uncommon design.

![image](https://user-images.githubusercontent.com/15951104/74002507-3f179700-49aa-11ea-996f-ffddcd20b503.png)

[2020-02-07 22:47] GunnerGuyven opened #2211 "TabItems do not update isActive when their Tab index changes"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11]
**OS/Browser**: Chromium (Linux)

### Description

When Tab-Items are produced using `v-for` a Tab-Item's internal flag `isActive` is not recalculated if new tabs are introduced or removed.  This results in a doubling-up of the content of the current and previous tab occupying the parent `<b-tabs>` `activeTab` ind

[2020-02-08 18:07] Lukasiniho commented on #333
I have the same question, ie is it possible to specify that a column should not be shown on mobile?

[2020-02-08 18:12] apauly opened #2212 "Add native event to `b-table`s `@click` callback"
### Description

I'd like to add a click event to a `b-table` row and make the details open/toggle not only via the arrow but when clicking anywhere inside that row.
I know that a `b-table` does have a `@click` event which triggers for clicks on every row, but right now it seems that the native event is not passed to that callback.

However, my row does have some buttons so right now. Obviously, I

[2020-02-08 18:27] jtommy commented on #2212
You might take a look at https://github.com/buefy/buefy/issues/2199.

[2020-02-08 18:27] #2212 closed

[2020-02-08 18:47] nigelwhite opened #2213 "Carousel list - did you register the component correctly?"
### Overview of the problem

**Buefy** version: [0.8.8]
**Vuejs** version: [@vue/cli 4.2.2] in Gridsome
**OS/Browser**: Chrome

### Description

One of the Buefy carousels throws an error in Vue Gridsome

### Steps to reproduce

copied code from https://buefy.org/documentation/carousel in the Carousel List segment.
Pasted this into a new single page component in Gridsome.
Look at this page in brow

[2020-02-08 21:13] Neo-Zhixing commented on #1789
Are we 13.1.0 yet? I just found that vue-loader was still specified to be 12.1.0 in `package.json`
Ideally, can we upgrade vue-loader to the most recent version?

[2020-02-09 10:55] jtommy commented on #2213
@nigelwhite can you provide your code ? are you using bundle or individual components ?

[2020-02-09 11:03] jtommy commented on #2197
@neuronflow It's a breaking change because at the moment the default value is 0 or `min` prop

[2020-02-09 11:49] neuronflow opened #2214 "add placeholder option to number inputs"
### Description

add placeholder to number inputs as suggested by examples
inspired by:
https://github.com/buefy/buefy/issues/2197

### Why Buefy need this feature
so users know which are typical inputs for the field

[2020-02-09 11:50] neuronflow commented on #2197
I created the feature request as suggested:
https://github.com/buefy/buefy/issues/2214

[2020-02-09 13:00] #2197 closed

[2020-02-09 13:00] jtommy commented on #2214
It's a breaking change because at the moment the default value is 0 or min prop so it isn't possible to show placeholder

[2020-02-09 15:56] nigelwhite commented on #2213
My bad. I just updated to Buefy 0.8.10 and the problem went away.

Thanks for a great plugin

[2020-02-09 16:03] jtommy commented on #2213
Nice to know you are using Buefy with Gridsome :)

[2020-02-09 16:03] #2213 closed

[2020-02-09 17:38] #2191 closed

[2020-02-09 17:40] jtommy commented on #2195
I'm not able to test on MacOS, any contributions are welcome

[2020-02-09 18:07] #2185 closed

[2020-02-09 19:58] service-paradis commented on #2206
Could you customize the modal-background to have the same color as the modal content background?

[2020-02-09 20:14] nicolaipre commented on #1861
Would absolutely be nice to see a builtin dark mode implemented :-)

[2020-02-09 21:15] service-paradis commented on #2096
Probably related to a Chrome Bug explained there https://stackoverflow.com/a/59363865/2774496

Unfortunately, the workaround is not ideal.

[2020-02-09 22:08] jtommy commented on #2208
4fdbf495

[2020-02-09 22:08] #2208 closed

[2020-02-10 01:43] bviala commented on #2206
@service-paradis You can but it will not look good, the goal of a modal background is to bring out the modal itself so you need contrast.
Also, if you set a quite modal background with low opacity like I did, as soon as you have an element in the background that strongly contrasts with your modal background, you will have this ugly flash effect:
https://gfycat.com/infatuatedenviousgrunion (take a

[2020-02-10 06:23] mewcrazy opened #2216 "Menu Bug?"
Hello,

I just found a bug with the menu list? My markup looks as follows: I already tried removing the showJobs function to see if that's the reason for the thrown error, but it's not.

``
<b-menu>
	<b-menu-list>
		<b-menu-item class="mb-2 bg-purple" icon="user" label="Alle" @click="showJobs(0)"></b-menu-item>
		<b-menu-item class="mb-2 bg-transwhite80" icon="user" label="Freelancer.de"></b-menu-

[2020-02-10 06:24] mewcrazy commented on #2216
![image](https://user-images.githubusercontent.com/6299479/74125723-55a23600-4bd6-11ea-9642-6e61f0c64b86.png)

[2020-02-10 13:58] service-paradis commented on #2206
I made an error in my last post. I wanted to know if you have the same issue if you style the background color for `modal-content` the same color as your modal card header or content (in your case, in white).

[2020-02-10 14:08] service-paradis commented on #1673
This would need the `breaking-change` label

[2020-02-10 15:27] Maxiride opened #2217 "Progress bar automatic percentage calculation is wrong for any value of `max` different from 100"
# Overview of the problem

**Buefy** version: latest from CodePen
**Vuejs** version: latest from CodePen
**OS/Browser**: Firefox

### Description

From the [API](https://buefy.org/documentation/progress#api-view)

Which format should be used to display the value (if show-value is true).                               The value will be displayed as-is if using raw. **The percent using value

[2020-02-10 16:11] #2217 closed

[2020-02-10 18:12] Lukasiniho opened #2219 "Input Field with label "inside" and button add-on is not rounded"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: [X.X.X]
**OS/Browser**: Chrome on Windows 10

### Description

https://buefy.org/documentation/field#label-position
The last example shows that the input field with the button add-on does not have rounded corners.

### Steps to reproduce

https://buefy.org/documentation/field#label-position See example in documentation

###

[2020-02-10 18:38] Maxiride commented on #2217
This was insanely quick :hushed:. Great work devs! :heart_eyes:

[2020-02-10 18:59] GunnerGuyven commented on #2211
This is a more complete workaround.  Covers all the cases I have identified:
* Number of Tabs Increase or Decrease causing selected tab to change index
* Number of Tabs Decrease causing selected Tab to no longer exist
[code]
This should be automatically handled by Buefy in my opinion.  Internal handling should additionally be able to avoid extraneously triggered animations (something I haven't sol

[2020-02-10 19:30] yxngl commented on #2195
Seems to be the problem [here](https://stackoverflow.com/questions/45586256/transition-translate-width-and-height-at-same-time-in-safari). Using `scale` indeed works fine on Safari, but it is not the same effect for rounded switches.

I think a workaround is to disable the width change of the `is-elastic` class, maybe even worth an option for people who does not like the effect.

[2020-02-10 19:40] NoahStahl opened #2220 "Autocomplete with objects - store ID, display name"
**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 80

Hi there, I'm trying to implement an autocomplete and having difficulty referencing the "id" property of the option as the value/model, while displaying the "name" property. Buefy seems to only want to use one or the other. I've tried multiple approaches with the @select or @input events to set manually, but can't get t

[2020-02-10 19:50] FlymeDllVa commented on #2195
I checked it in my browser. It seems to work well. I don't know how to solve it better in the end.

[2020-02-10 20:23] yxngl commented on #2219
Addons in Bulma don't support label. With label, the first child rule for radius breaks. Bulma suggests to use a separate field for normal label position. I think in this case the label position could be put at the end of the field with addons, as it is positioned absolutely.

[2020-02-10 20:52] jtommy commented on #2220
Can you reproduce your code?

[2020-02-10 21:32] jtommy commented on #2211
@GunnerGuyven probably you are right but what item should Buefy choose in this case ?

[2020-02-10 22:51] NoahStahl commented on #2220
@jtommy Sure. I cloned the example codepen from docs and updated a bit:

https://codepen.io/noahstahl/pen/gOppXKb

The goal is to bind `selectedId` to the `id` value, not the name. Even setting the field prop to "id" and using a custom formatter to display the name, it still binds output of the formatter rather than the field. I would expect the formatter to format only for display purposes, not c

[2020-02-11 02:43] #1610 closed

[2020-02-11 05:54] bviala commented on #2206
Putting a background color on `modal-card` class does work ! But then I also have to redefine my radiuses on this class instead of using the Bulma variables.
That's a good workaround tho, thanks !

[2020-02-11 06:41] jtommy commented on #2216
https://github.com/buefy/buefy/issues/2094

[2020-02-11 06:44] jtommy commented on #1789
I upgraded a month ago but it broke something.
We need to test all components before to upgrade

[2020-02-11 13:53] service-paradis commented on #2216
Related to this Vue problem:
https://github.com/vuejs/vue/issues/10939

[2020-02-11 13:54] service-paradis commented on #2094
Related to this Vue problem:
https://github.com/vuejs/vue/issues/10939

[2020-02-11 14:09] mewcrazy commented on #2216
Sounds relatively easy to solve though: Just remove the .native? :D I'm not even sure if they still work in Vue2, I tried to use them somewhere else and they did not.

[2020-02-11 14:18] GunnerGuyven commented on #2211
There are some competing ideas there, I think.  It could try to maintain the original index, accommodating the fact that that index may no longer exist and selecting the next closest: [1,2,(3)] -> [1,(2)].  Or it could try to maintain the original tab selection: [2,(3)] -> [1,2,(3)] which is what I've done here because that is the most expedient thing I can do (I have to visit the lingering tab to

[2020-02-11 14:21] service-paradis commented on #2216
Not that easy since the `.native` is needed when the tag used is not a `a`.

[2020-02-11 15:40] mrtnzagustin opened #2225 "Error in carousel when autoplay is on"
When autoplay is activated, if you switch with vue router to another route there is an eternal error in console:

Uncaught TypeError: Cannot read property 'status' of undefined
    at o.changeItem (app.821b02909d8c2de74c83.js:1)

I assume this is a setInterval that must be (actually is not) unassigned or destroyed on beforeDestroy of the component. You can reproduce the error in the https://buefy.

[2020-02-11 18:13] #2123 closed

[2020-02-11 22:00] jtommy commented on #2220
Yes, formatter is only for display.
The component emits select event so you can get the selected object and from it the id field.
What am I missing?

[2020-02-11 22:09] jtommy commented on #2206
@bviala what Buefy should fix about it ?

[2020-02-11 22:12] jtommy commented on #2101
@super2ni there is https://bulma.dev/ at the moment but probably I'll add something when Bulma'll release CSS variables feature

[2020-02-11 22:12] #2101 closed

[2020-02-11 23:37] NoahStahl commented on #2220
Yet the formatter controls which value gets bound to the model. That's the question: is there a way to have v-model attach to the id property, which is not displayed?

[2020-02-12 01:35] kenichii opened #2226 "b-dropdown autocomplete when typing"
Hi, just wanna ask if it has a props for autocomplete for this dropdown, so that if the dropdown has many data, i just have to type it then it will select the data that is the same on what i typed,

![image](https://user-images.githubusercontent.com/42717688/74293158-e9aa0400-4d74-11ea-8fb0-7ddab8338566.png)

![image](https://user-images.githubusercontent.com/42717688/74293499-ff6bf900-4d75-11ea-8

[2020-02-12 06:42] jtommy commented on #2226
No you should use autocomplete component

[2020-02-12 06:42] #2226 closed

[2020-02-12 06:46] jtommy commented on #2220
No v-model is related to the input.
The selected Id is {{ selected.id }} in your case.

[2020-02-12 06:46] #2220 closed

[2020-02-12 06:47] kenichii commented on #2226
What i mean is autocomplete like "b-select", every time I type the key that is in the select component, then it will automatically select it

[2020-02-12 06:52] jtommy commented on #2226
I don't understand well, you should use an input as trigger slot

[2020-02-12 07:11] kenichii commented on #2226
![Untitled](https://user-images.githubusercontent.com/42717688/74311251-f563ed80-4da9-11ea-8afd-294b4dfcc65b.png)

This is actually what im saying,

[2020-02-12 07:12] kenichii commented on #2226
instead of clicking dorothy, i just typed the first letter of the options then it will automatically selected

[2020-02-12 11:38] mrtnzagustin commented on #2225
In https://github.com/buefy/buefy/blob/dev/src/components/carousel/Carousel.vue there is:

[code]

and

[code]

if i got some time i'll try to check more in deep the problem.. i found a situation where, if you use v-if, beforeDestroy is not being called (i see v-if is used in several places inside Carousel.vue) -> https://forum.vuejs.org/t/beforedestroy-hook-not-being-called-with-v-if/34921

[2020-02-12 13:59] Christilut opened #2227 "Datetimepicker blur event fires early"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome

### Steps to reproduce
See: https://codepen.io/Christilut/pen/gOpaGVQ

Notice in the console it says "blur event" after opening the datetimepicker and selecting a different date. This happens only the first time.

### Expected behavior

Blur event should only fire when closing the datetimepicke

[2020-02-12 14:35] yangwao commented on #2094
Yes, it happens when you use tag a on vue@2.6.11.
To solve the issue, downgrade to vue@2.6.10.
Keep up great work @buefy team 🙏📦

![image](https://user-images.githubusercontent.com/5887929/74344568-21cd3900-4dad-11ea-8266-c8bcf1fc97d7.png)

[2020-02-12 15:15] beastmike1 opened #2228 "is-row-checkable doesn't prevent rows from being unchecked from the header"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.10]
**OS/Browser**: Chrome

### Description

If a row is in checked-rows already and also in is-row-checkable is not checkable it appears disabled so you can't uncheck it but if you click in the header check it unchecks the already checked ones

### Steps to reproduce

1. Put the third row in the checked array in the

[2020-02-12 16:28] devendra-kumar1 opened #2229 "There is no such support of getting rid of horizontal scroll bar while using buefy tabs"
I am having requirement of showing multiple tabs horizontally. But it creates a horizontal scroll bar which looks ugly. Can you please help me out by how we can get rid of this.
 Please refer below link to see the example.

https://codepen.io/devendra-kumar157/pen/oNXjEOG?editable=true&editors=101

[2020-02-12 16:56] devendra-kumar1 commented on #364
Hi,
Thanks , that solution works perfectly.
Do we have a way that we can put angular bracket before and end of tab list and on click it can move ?

[2020-02-12 17:47] Leffe108 opened #2230 "Option to output snackbar.message etc. safely without need to first sanitize"
### Background
This continues on from #2127 on the fact that some components have message/text properties that render using v-html and require the Buefy user to sanitize input.

### Description
I think it would be helpful to have a safe message/text attribute to snackbar etc. in Buefy that uses regular {{ message }} instead of v-html. A PHP framework I've used would in this case include an "encode

[2020-02-12 18:30] Leffe108 commented on #2127
It would be useful if warnings are included in [./types/components.d.ts](https://github.com/buefy/buefy/blob/dev/types/components.d.ts) too.

[2020-02-12 18:34] Leffe108 commented on #458
Looking forward to `b-app` so the trigger-button and a modal can be provided in the same Vue Component. (this is possible now, but only if you don't absolutely position the button or the modal will be affected too)

[2020-02-12 19:39] a-kriya commented on #828
I've been using [vue-material-design-icons](https://www.npmjs.com/package/vue-material-design-icons) where necessary instead of a full icon pack, but looks like it is not possible to inject those icons in certain places.  The use-case I ran into is the navigation arrows of the carousel component.

[2020-02-12 21:59] #2228 closed

[2020-02-12 23:11] NoahStahl commented on #2220
Understood, thanks for your time!

[2020-02-13 00:04] Colorfulstan opened #2232 "Input validation fails for password pattern if matched result is falsy (but still matches)"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11]
**OS/Browser**: Chrome 80.0.3987.100

### Description
The input validation pattern deems an input invalid if the result is falsy. It should only do so if the match result is null.

Consider this pattern, here executed in the console:
`(?=.*[A-Z])(?=.*[0-9])(?=.{8,})`

The following screenshot shows that the regexp

[2020-02-13 01:00] bviala commented on #2206
As I said, I think the problem is that the buefy animation for modal somehow makes the `modal-card-header`, `modal-card-body`, and `modal-card-foot` divs separate from each other.

[2020-02-13 10:15] FlorianChretien opened #2233 "Few requests to improve the library"
Hello,

First of all thank you for your work!

I have a few requests to improve the library and make it more complete. Would it be possible to make the following improvements (or if it's planned when will it be released?):

- Sticky Header
- Searchable with exclusion (!), Upper (>) and lower (<)
- Draggable Columns

These are features that we see everywhere (boostrap view, tablesorter ...) and whi

[2020-02-13 10:20] FlorianChretien commented on #1310
@jtommy For open all details and close all details ?

[2020-02-13 11:50] jtommy commented on #1310
Only one, you should loop for each row

[2020-02-13 13:07] vnt-83 commented on #983
Problem is actual

[2020-02-13 13:22] johnpuddephatt commented on #700
As @davidosuna1987 says it currently doesn't seem straightforward to use the datepicker in combination with data loaded from a server when inputs are created programmatically.

Looking at PR [#745](https://github.com/buefy/buefy/pull/745), I think it makes sense to have a new function rather than using dateParser for two different things.

Would that work? Is naming the function then the only barr

[2020-02-13 13:28] service-paradis commented on #2232
Can you create a simple codepen where we can see the issue?
Does it work as expected if you use native input element?

[2020-02-13 14:11] Colorfulstan commented on #2232
huh, actually it's the same behaviour in the native inputs

[2020-02-13 17:21] #2232 closed

[2020-02-13 18:26] nathan-myhre opened #2234 "Prevent table columns from resizing when sorting"
### Description
Currently, table columns with the sorted prop enabled will resize when the sorted icon is added to the column header. It would be much preferred to have some padded space in the header so when the sorting icon is added on columns that contain data of the same length the column doesn't visibly resize. Column resizing can be seen in the gif below:

![resizing-columns](https://user-im

[2020-02-13 18:30] service-paradis commented on #2234
Will be fixed in the next release: https://github.com/buefy/buefy/pull/2223

[2020-02-13 18:36] nathan-myhre commented on #2234
That is great news! Thanks for the quick reply and we'll look forward to the next release.

[2020-02-13 18:36] #2234 closed

[2020-02-13 21:56] jtommy commented on #700
@johnpuddephatt can you make an example? Why should I add it in the component?

[2020-02-13 21:59] jtommy commented on #2233
1 and 2 are good features but no so sure about 3

[2020-02-13 22:20] jtommy commented on #2225
Are you using two carousels?

[2020-02-13 22:47] Neo-Zhixing commented on #1789
An alternative would be using JSX for components that can be made functional. It could in fact be easier this way.

[2020-02-13 22:49] jtommy commented on #1789
No I don't like jsx

[2020-02-13 22:52] apolokaklab commented on #2196
@lunfel Hi, Actually that was intentional, so that I could make the `b-carousel` work with the `b-carousel-list`. for now you can use event `@change` like [this](https://buefy.org/documentation/carousel#custom)

[2020-02-13 22:56] apolokaklab commented on #2225
@mrtnzagustin Hi, i author they. can you provide your code? and are you using carusel with carousel-list?

[2020-02-14 02:45] rolandschuetz opened #2235 "CSS scoping accross the whole framework"
### Overview of the problem

**Buefy** version: all

### Description

CSS across the whole framework is scattered and creates unexpected behavior.

Example one, buefy styles creep into non-buefy components:
https://codesandbox.io/s/buefy-css-creep-2edec

Example two, some in buefy defined clases do not work scoped:
https://codesandbox.io/s/buefy-scoped-css-2kb3i

[2020-02-14 04:14] Humaots opened #2236 "Takes too long to destroy b-table"
### Overview of the problem

**Buefy** version: [0.8.9]
**Vuejs** version: [2.6.11]
**OS/Browser**: windows 10/ chrome 80.0.3987.106

### Description

Thanks for your excellent work.
I'm newbie to buefy and using b-table to show data with 200 rows and 30 columns.
When I leaving the page that has the table, it takes about 30s for routing.
After I comment out the following code in table.js, it takes

[2020-02-14 09:23] cypressious commented on #1837
I had the same issue, probably because I copy pasted the default config from somewhere. Maybe there should be a console warning when the `defaultContainerElement` doesn't exist?

[2020-02-14 12:17] 4KDA commented on #2067
+

[2020-02-14 12:18] 4KDA commented on #2067
+++

[2020-02-14 14:20] johnpuddephatt commented on #700
I think my use case isn't too unusual, it's just generating a form programmatically based on data pulled from the server (PHP/Laravel in this case but could be anything).

On the server side I might define an array of form fields like this (just two fields here for simplicity):

[code]

My entry data then might look like this:
[code]

On the server I combine the two so I can make an AJAX request i

[2020-02-15 03:41] nixxholas opened #2238 "Navbar's z-index is overlapping modals"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.11]
**OS/Browser**: macOS 10.13.3 / Brave Browser

### Description
Photo describes the issue i'm in, simply put the modal doesn't flow to the top index due to the navbars. The modal is under the first (First top, last bottom) navbar in the picture

[Codepen](https://codepen.io/nixxholas/pen/WNvxxra)

<img width="1240"

[2020-02-15 08:26] jtommy commented on #700
I understand your need but probably you can apply a map function on results from server and other map function when you send data to server, don't you ?

[2020-02-15 08:41] jtommy commented on #2230
Yes, you are right

[2020-02-15 18:22] ydylla commented on #1812
Hi @jtommy,
I think this issue is not fixed.
Your commit https://github.com/buefy/buefy/commit/56c78dbd27f5c8413d8520944535d5cc8efae554 missed the Taginput component.
All other components have a export section but taginput is only exported as plugin:
https://github.com/buefy/buefy/blob/dev/src/components/taginput/index.js#L13

[2020-02-15 18:26] jtommy commented on #1812
@ydylla you're right, fixed!

[2020-02-15 18:40] #2219 closed

[2020-02-16 09:31] re2005 commented on #2128
Hey @jtommy any update on this one?

I'm also not able to test trigger('click) on "**b-**" elements. like <b-button>  and so on.

Anyone any please help ?

[2020-02-16 12:20] #1115 closed

[2020-02-16 15:23] jtommy commented on #2128
I don't understand your code.. are there some missing part compare to the native select?

[2020-02-16 15:38] jtommy commented on #2238
@nixxholas can you reproduce it on codepen or similar ?

[2020-02-16 15:48] #2227 closed

[2020-02-16 17:23] jtommy commented on #2094
Fix https://github.com/buefy/buefy/commit/4a65d76a4d543f51b02acbd3457ed4a90d580ac1

[2020-02-16 17:24] jtommy commented on #2216
Fix https://github.com/buefy/buefy/commit/4a65d76a4d543f51b02acbd3457ed4a90d580ac1

[2020-02-16 17:24] #2216 closed

[2020-02-16 17:57] #2229 closed

[2020-02-17 05:57] devendra-kumar1 commented on #2229
Hi Jtommy,
 Thanks for quick turnaround. Can you please let me know in which version of buefy this will be available ?

[2020-02-17 06:48] jtommy commented on #2229
In the next 0.8.11

[2020-02-17 08:21] mzz2017 opened #2239 "spread in object literals can not be supported on firefox 55-"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.10]
**OS/Browser**: Firefox 45.0, Firefox 52.3

### Description

`SyntaxError: invalid property id` will be showed on firefox 55-. And after I add `transpileDependencies: ["buefy"]` in vue.config.js, it works.

### Steps to reproduce

### Expected behavior

buefy can support firefox 55-

### Actual behavior

[2020-02-17 08:59] FlorianChretien commented on #2233
In the example of an ERP it can be appreciable for the user to personalize its interface

[2020-02-17 10:32] mrtnzagustin commented on #2225
@jtommy hi, i'm using just one carousel. @apolokaklab i am using just b-carousel-item.
Heres the code of my component:

[code]

[2020-02-17 14:53] service-paradis commented on #2239
Will need to see with @jtommy, But I think Buefy should support Stable version of major browsers. Firefox 55 is now 3 year old.
For older browsers, you can use Polyfills and the option to transpile dependencies like you have.

[2020-02-17 17:41] jtommy commented on #2239
Are you importing Buefy from src ?

[2020-02-17 17:43] #2239 closed

[2020-02-17 18:07] mzz2017 commented on #2239
@jtommy
![image](https://user-images.githubusercontent.com/30586220/74677441-45e8aa00-51f3-11ea-8178-4179eea564ca.png)
I import it from node_modules.

[2020-02-17 23:17] ManUtopiK opened #2240 "Can't mount datetimepicker in mobile view"
### Overview of the problem

**Buefy** version: 0.8.10

### Description

In mobile view, component datetimepicker could be mounted.
Error :
`Cannot read property '$forceUpdate' of undefined`

### Steps to reproduce

1- Add datetimepicker component
2- Toggle device in devtools (cmd+maj+M)
3- With mobile view, refresh your page
4- error.

### Expected behavior

No error.

### Error study
[Line 3](ht

[2020-02-18 03:45] emeraldelnas commented on #146
also having this rn..

[2020-02-18 05:35] kenichii commented on #2226
i hope you'll understand what im trying to say 😄

[2020-02-18 07:38] #2240 closed

[2020-02-18 12:03] nixxholas commented on #2238
@jtommy Apologies for the late response. Just got to see this. Updated the issue with the codepen.

[2020-02-18 14:50] FabianHassert0407 opened #2241 "Confirm on dialog alert triggers form.submit()"
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.5.13]
**OS/Browser**: Windows 10 / Chrome, Firefox

### Description

I use dialog alert with a confirm handler.
Pressing the OK-Button submits the sorrounding form.

### Steps to reproduce

Open the codepen link and use the alert dialog:
https://codepen.io/FabianHassert/pen/abOZyVq?editors=1010

### Expected behavior

T

[2020-02-18 15:11] travisfisher commented on #1953
Just ran into this issue today. I agree that returning a Promise would be a nice addition.

[2020-02-18 22:15] tstrohmeier commented on #458
Is support for an autoplay feature in the carousel list planned?

[2020-02-19 04:16] jtommy commented on #458
@tstrohmeier there is already autopsy feature, what do you mean?

[2020-02-19 07:28] suneab commented on #458
Can i follow the state of the next release anywhere? I'm interested it when the release will happen

[2020-02-19 10:56] abinhho commented on #2160
https://github.com/buefy/buefy/blob/ba357b801d73b54a75a6c861a2fe2d3320e6c148/src/components/navbar/Navbar.vue

[code]
should be
[code]

[2020-02-19 11:04] jtommy commented on #2160
@abinhho https://github.com/buefy/buefy/blob/dev/src/components/navbar/Navbar.vue is the last version

[2020-02-19 11:18] abinhho commented on #2160
@jtommy But it's still not released? I check some recent versions but not fixed yet.

[2020-02-19 11:20] jtommy commented on #2160
No at the moment

[2020-02-19 11:20] abinhho commented on #2160
So, I temporary fix by:
[code]

And added
[code]

Waiting for new release ❤️

[2020-02-19 13:04] jtommy commented on #2241
@FabianHassert0407 add `type="button"` attribute to button tag

[2020-02-19 13:04] #2241 closed

[2020-02-19 16:51] yangwao opened #2243 "Menu item does not resolve named route but it works."
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.10
**OS/Browser**: OSX/Chrome

### Description

Router-link **works** with named route, but the link does not seem to be resolved, no error or warning involved, it works.

![image](https://user-images.githubusercontent.com/5887929/74853701-8f91db80-533e-11ea-8746-4979c417ccff.png)

🎥https://i.imgur.com/gE0wYUF.mp4

### S

[2020-02-19 18:07] FlymeDllVa commented on #2205
Same problem

[2020-02-19 20:02] jtommy commented on #2225
I don't see any error in the console using your code

[2020-02-19 20:03] #2225 closed

[2020-02-19 20:12] jtommy commented on #2243
I'm running your project and it works well

[2020-02-19 20:53] jtommy commented on #2238
@nixxholas you should define modal before each navbar (btw not into the navbar)

[2020-02-19 21:50] service-paradis commented on #2195
Instead of changing the width when `is-elastic` class is there, we should try to use the transform property `scaleX(1.5)`.
Would need to rewrite part of the SCSS for this component, but it could work cross-browser. Would need to test it. Unfortunately, I'm not able to test on Safari right now.

[2020-02-19 21:55] nixxholas commented on #2238
@jtommy What if the modal and button are together (In a child component)

[2020-02-19 22:11] jtommy commented on #2238
No no, I mean that modal should be defined outside navbar

[2020-02-19 22:12] nixxholas commented on #2238
@jtommy Yes I get it. Its just that my child component is really deeply stuck lol, I have the button and modal together. So instead of seeing the 'Create' button and modal, its actually one component.

[2020-02-19 22:13] jtommy commented on #2238
It's ok but simply move it before navbar :)

[2020-02-20 01:24] MaxRadons commented on #934
`
<b-autocomplete
    v-model="$v.color.$model"
    placeholder="choose colors"
    field="name"
    :data="colors"
    @select="option => form.color_id = option.id"

</b-autocomplete>
`
Where colors = { { name : red , id = 1},  {name : green , id = 2} , ... }
All variables in form get submitted to the server, the variable $v.color.$modell is only for verification with Vuelidate, it will be popula

[2020-02-20 06:20] jtommy commented on #934
@MaxRadons put the selected Id in a input type hidden

[2020-02-20 07:12] Valar103769 opened #2245 "your Customization demo is error ,modify $size is not success"
**Buefy** version: 0.8.11
**Vuejs** version: 0.7.5
**OS/Browser**: chrome

 [Customization demo](https://buefy.org/documentation/customization)
Why does modifying color take effect, but modifying $ size-1 and $ size-2 does not take effect
### Description

### Steps to reproduce
[code]

### Expected behavior

example:
I want is-size-3: 1.25rem, but it is actually still 2rem on chrome dev

then  I t

[2020-02-20 08:19] yangwao commented on #2243
And it does resolve named route in hovered link well? You are in the
develop branch?

On Wed, 19 Feb 2020, 21:12 Walter Tommasi, <notifications@github.com> wrote:

[2020-02-21 00:14] Garito commented on #2240
Hi,
I have the same issue but not on mobile
I've checked the pull request modifications and instead to check if is mobile or not, you should wait for the nextTick to force the update
I'ven't tested this idea but the error is typical in vue (the refs aren't mounted yet in the mounted event of the parent)
In my case, it fails when the v-model value changes even to the today date that the picker sets

[2020-02-21 02:30] Valar103769 opened #2248 "adds icon-minus and icon-plus property on numberinput component"
### Description
### Why Buefy need this feature

For some reason, I cannot use the mdi and fs icon packs. I use iconfont. I hope to provide props so that I can modify the plus and minus icons.

thanks

[2020-02-21 06:49] jtommy commented on #2248
https://buefy.org/documentation/icon#custom-icon-pack

[2020-02-21 06:49] #2248 closed

[2020-02-21 07:35] kenichii opened #2249 "After selecting year on the datepicker"
Hi,
We encountered an issue on the datepicker after we selected a year,
then after we select outside but when we try to choose or find the year, we can't find the following year that we already selected.

![date1](https://user-images.githubusercontent.com/42717688/75013686-ba576d80-54bf-11ea-89b6-eb8b181e1db0.png)
![date2](https://user-images.githubusercontent.com/42717688/75013687-bc213100-54bf-1

[2020-02-21 08:25] Kaisirak opened #2250 "Autocomplete with Tag Input is broken (list not rendered)"
### Overview of the problem

**Buefy** version: [0.8.11]
**Vuejs** version: [2.6.11] and [3.0.0]
**OS/Browser**: Chrome on Windows 7 and Android

### Description

The Autocomplete list doesn't render with Tag Inputs.
The dropdown opens but the list is blank.

The issue happens on both the Buefy documentation and on my own project, as well as this codesandbox.

https://buefy.org/documentation/tagin

[2020-02-21 08:28] Kaisirak commented on #2156
@jtommy The issue is still present on 0.8.11. It seems like it now also affects the Buefy documentation. https://buefy.org/documentation/taginput#autocomplete

Here is the updated code sandbox : https://codesandbox.io/s/relaxed-rgb-pq0lk?fontsize=14&hidenavigation=1&theme=dark

I also opened #2250 which seems unrelated, but worth noting

[2020-02-21 08:41] jtommy commented on #2250
Please follow this https://github.com/buefy/buefy/issues/2014. I'll fix soon, thanks

[2020-02-21 08:59] ChristopheVanassche opened #2251 "Inline CSS cut-off after implementing"
### Overview of the problem

**Buefy** version: [0.8.11]
**Vuejs** version: [4.1.2]
**OS/Browser**: Chromium based browsers (Chrome in my case)

### Description

I've implemented Buefy as described. Everything works when using the CDN's, but I don't want to use those. When I implement it via the main.js file, the CSS gets cut off. (Seems like some kind of character limiting)
I'm not sure if this h

[2020-02-21 09:55] jbienesdev opened #2252 "Feature Request (Tooltip): Use target property instead of wrapping on an element"
### Description

Tooltip's current design is that it's wrapping the element that needs to show the message upon hovering.

I propose that the architecture should change or even just an additional functionality to the tooltip component that we have right now. Separating the tooltip and the element is a great design that I got from Bootstrap-Vue (https://bootstrap-vue.js.org/docs/components/tooltip/

[2020-02-21 10:53] tecaz opened #2253 "Horizontal layout for BDatetimePicker"
### Description

Consider moving to a more horizontal layout for the `BDatetimePicker` dropdown.
eg from this:

![before](https://user-images.githubusercontent.com/47509484/75028344-5ec9b780-54a0-11ea-941f-4bb8cbbbc7c9.png)

to this:

![after](https://user-images.githubusercontent.com/47509484/75028348-612c1180-54a0-11ea-8d1d-02b72a2d3adb.png)

### Why Buefy need this feature

After having used `B

[2020-02-21 10:59] Leftyx opened #2254 "button with icon does not show icon"
### Overview of the problem

**Buefy** version: 0.8.11
**Vuejs** version: 2.6.11
**OS/Browser**: ALL

### Description

Latest version of Buefy breaks the rendering of a `b-button` with `b-icon` inside (I need a button without borders).

[code]

### Steps to reproduce

1. Open this [codepen](https://codepen.io/Leftyx/pen/oNXYXEV?editors=1010)
2. Reference latest buefy version 0.8.11 (https://unpkg.

[2020-02-21 11:11] jtommy commented on #2251
Can you reproduce it on codesanbox?

[2020-02-21 11:14] jtommy commented on #2252
Yes, I need to refactor it in the next breaking version.

[2020-02-21 11:46] jtommy commented on #2249
You should change the default `yearsRange` prop (in the constructors too)

[2020-02-21 11:46] #2249 closed

[2020-02-21 13:23] service-paradis commented on #2251
I think it is only the Chrome developper tools who truncate the code in styles when it is large. The code should be there, but you cannot view it all in the console.

[2020-02-21 13:26] rcoundon commented on #2083
Hi - I've gotten this working but with what feels a little, shall we say, hacky...
I can check all the rows using the method you proposed but to deal with a deselect I'm keeping a boolean that is set to true on the first select of the check all box, then toggles false/true on each click.
Using that I can listen to the @update:checkedRows and if the boolean is false, empty the checkedRows array.
Ca

[2020-02-21 13:30] service-paradis commented on #2254
I had the same problem yesterday having a button that contains only a single HTML element.

[code]
[codepen example](https://codepen.io/service-paradis/pen/OJVbMaG?editable=true&editors=101)

My workaround for those case right now is yo add another empty an not useful element...
[code]

[2020-02-21 13:37] Leftyx commented on #2254
I can see there are loads of workarounds in place.
I am worried cause every time there is a new version something breaks.

[2020-02-21 13:43] service-paradis commented on #2254
There are 6 [workaround](https://github.com/buefy/buefy/issues?q=is%3Aissue+is%3Aopen+label%3Aworkaround) right now. Some of them are more related to Bulma than to Buefy. I dont think this is a lot.
Some of them (2 as I know) are already being checked out.

[2020-02-21 13:44] ChristopheVanassche commented on #2251
Well, that is what I was thinking at first. The problem though is that the part after the truncated code is not loaded. When I implement the buttons for example, the css doesn't get applied.

![image](https://user-images.githubusercontent.com/7403959/75038967-e3740000-54b7-11ea-85d7-90df5c052801.png)
![image](https://user-images.githubusercontent.com/7403959/75039115-41a0e300-54b8-11ea-8d95-3e66b6

[2020-02-21 13:49] ChristopheVanassche commented on #2251
I've tried the [sandbox ](https://codesandbox.io/s/epic-dawn-xyekn)environment, and it seems to work there! So I'm not actually sure what could be the problem, as I applied the same code.

[2020-02-21 13:49] service-paradis commented on #2251
It looks like there is something who prefixed every classes of the Buefy CSS file. `.Buefy_delete_25SPO` for example... Do you configure any CSS loader or something?
Looks like it comes from your configuration.

[2020-02-21 14:04] jtommy commented on #2254
@Leftyx I really apologize it was my fault during an internal test

[2020-02-21 14:06] ChristopheVanassche commented on #2251
Looks like you were right! I didn't notice it, but they got prefixed somehow indeed.
In my vue.config.js the `requireModuleExtension` got set to false, what gave me the error:

![image](https://user-images.githubusercontent.com/7403959/75040815-a7429e80-54bb-11ea-9ad8-63839812684b.png)

I've searched for quite some time on this, thanks for the help!

[2020-02-21 14:06] #2251 closed

[2020-02-21 14:25] Leftyx commented on #2254
@jtommy That's ok. I was a little bit annoyed cause my client found the issue so I had to quickly revert the changes.

[2020-02-21 14:26] jtommy commented on #2254
@Leftyx I know, and i'm sorry but I'll fix it soon

[2020-02-21 15:45] holtolee commented on #2254
If you put content in your button with a slot or more complex things like transition it is broken too.

[2020-02-21 22:19] jtommy commented on #2235
@rolandschuetz you're right, it needs some improvements

[2020-02-21 22:20] #2238 closed

[2020-02-21 22:41] jtommy commented on #2243
@yangwao you're using href attribute too, please remove it :)

[2020-02-21 22:41] #2243 closed

[2020-02-22 01:20] marianomd opened #2256 "Panel documentation link broken"
When googling for buefy panel it takes you to https://buefy.org/documentation/panel and shows a broken page. It should redirect to https://buefy.org/documentation/collapse

![image](https://user-images.githubusercontent.com/274989/75083527-01f9eb80-54f8-11ea-90b6-ae2990e5f766.png)

[2020-02-22 06:29] jtommy commented on #2256
I'll remove it

[2020-02-22 07:32] #1672 closed

[2020-02-22 07:39] jtommy commented on #2254
Close 9b15e7c2c2d206c3dfab96f9fe6a1bd19063fbf6

[2020-02-22 07:39] #2254 closed

[2020-02-22 07:39] #2250 closed

[2020-02-22 07:42] jtommy commented on #227
Added a54e146840a0f4d5eb323317f907f97a5d78f88d

[2020-02-22 07:43] jtommy commented on #2233
@FlorianChretien Added sticky header a54e146840a0f4d5eb323317f907f97a5d78f88d.
About 2 you might use backend-filtering so you are able to filter using a custom comparator

[2020-02-22 08:22] chris-doco opened #2257 "Button icons not centered in v0.8.12"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: MacOS 10.15.3/Google Chrome 79.0.3945.130

### Description

In the new version 0.8.12 if you have a button with just an icon: e.g.
`<b-button type="is-danger" icon-right="delete" />`
The button isn't centered anymore.
You can see it here: https://buefy.org/documentation/button/

### Steps to reprod

[2020-02-22 08:43] jtommy commented on #2257
At the moment you might put a b-icon into the button as workaround

[2020-02-22 08:43] #2256 closed

[2020-02-22 15:38] Christilut opened #2258 "FR: Carousel that shows multiple slides"
### Description

The carousel is really great but it would be nice if it could show multiple items at the same time. For example, I would like to show 3 items (out of many more) and they should move 1 at a time.

The same way Slick.js does it (multiple slides).

### Why Buefy need this feature

Seems like a common use of a carousel.

[2020-02-22 15:42] Christilut commented on #2258
Never mind! Of course the answer comes to me minutes after making an issue. This is totally possible with the `b-carousel-list`. I thought it was for image/text combination only at first.

Buefy rocks 💪

[2020-02-22 15:42] #2258 closed

[2020-02-23 11:41] bender-a commented on #2205
Seems to be a really weird bug in safari.
When the cells of the table get too small, safari aligns the text at the end of the cell and you have no control over the alignment anymore.
Can be fixed with min-width on the table cells, but that doesn't really solve the problem...

[2020-02-23 15:00] Khazl opened #2259 "Button - Text is not centered"
### Overview of the problem

**Buefy** version: ^0.8.10
**OS/Browser**: Chrome latest

### Description

If you open a dialog prompt, the text of the control buttons are not centered.

### Steps to reproduce

1. Open a dialog prompt
2. Check text alignment

### Expected behavior

Button text should be centered.

### Actual behavior

Button text is not centered.

![Screenshot_31](https://user-images

[2020-02-23 15:25] francoism90 opened #2261 "Slider hover slot/tooltip?"
### Description

Is it possible to have a hover tooltip on the slider component?
It would be great if the slider label would have a slot, so it can be customized.

### Why Buefy need this feature

It is already has a tooltip when clicking on a range, hovering would be nice to have. :)

Thanks.

[2020-02-23 18:50] service-paradis commented on #2259
There is an additional space before any content (ex. icons) as seen in the documentation:
![image](https://user-images.githubusercontent.com/12817388/75117860-52319480-5643-11ea-9387-fc679a84f4b2.png)

[2020-02-23 20:08] re2005 commented on #2128
Finally I've found the problem.

I was mocking the component <b-select>

Instead I've created a file importing and telling Vue to use the plugin and added that as reference on the "jest.config.js" file

Problem solved.

Check the files:
https://gist.github.com/re2005/739dc9b30c7ba0665dc08a3be6df3186

[2020-02-23 20:08] #2128 closed

[2020-02-23 20:54] Khazl commented on #2259
@service-paradis, this looks like a different issue.

[2020-02-23 21:02] mk-relax commented on #1084
Indeed there was an error in my jsfiddle, it said `:value="'null'"` instead of `:value="null"`. I fixed it, but unfortunately the bug still seems to be there in Buefy v0.8.12. Please reopen.

https://jsfiddle.net/MHfdle93ds/8buL6q5s/9/

[2020-02-24 08:25] Valar103769 opened #2262 "should provider numberinput icon prop link 'icon-minus'"
I mentioned the issue, the solution you gave me did not solve my problem, and the issue was closed by you.
I re-describe my question below   [issue](https://github.com/buefy/buefy/issues/2248)
1: I use b-numberinput instead of b-icon
2: Even if I set customIconPacks, it does not take effect intentionally,
### Description
correct <i class="iconfont if-minus"></i>
error <i class="iconfont minus"></i

[2020-02-24 08:33] jtommy commented on #2262
Please provide me an example on codesansbox

[2020-02-24 09:05] Valar103769 commented on #2262
https://codepen.io/valar123/pen/gOpgMGL

[2020-02-24 10:00] francoism90 commented on #2257
This is a bit breaking, I'm using `icon-right` a lot on buttons that only should display an icon.
What's the reason behind adding an extra span before the icon?

[2020-02-24 13:23] jtommy commented on #2257
Only a my fault, I'm sorry

[2020-02-24 13:33] francoism90 commented on #2257
@jtommy No worries! I was just wondering if one should switch to the workaround as permanent solution. :)

I'll revert the upgrade and wait for a fix. (Y)

[2020-02-24 13:46] jtommy commented on #2257
No no, I'll restore it

[2020-02-24 14:44] service-paradis commented on #2257
There is an additional space before any content (ex. icons) as seen in the documentation:
![image](https://user-images.githubusercontent.com/12817388/75117860-52319480-5643-11ea-9387-fc679a84f4b2.png)

There is an empty span who should not be there:
![image](https://user-images.githubusercontent.com/12817388/75117892-902eb880-5643-11ea-89de-549422b8411f.png)

Needed to use a hack right now to solv

[2020-02-24 15:31] yangwao commented on #2243
@jtommy after removing **href**, it now does not pass [object Object]

![image](https://user-images.githubusercontent.com/5887929/75165165-4072ee80-5722-11ea-8631-28abf0c3be77.png)

but default **a**, external links does not work now. (hover is over book icon, white coloured)

![image](https://user-images.githubusercontent.com/5887929/75165224-597b9f80-5722-11ea-90fa-0d1e301a85b0.png)
[code]

By d

[2020-02-24 18:09] Khazl commented on #2259
Closed with https://github.com/buefy/buefy/commit/5f012e040b49f33da827be596e4c0d61a1498548

[2020-02-24 18:09] #2259 closed

[2020-02-25 06:48] jtommy commented on #2243
To isn't correct for external link, in this case you have to use href

[2020-02-25 07:38] #2195 closed

[2020-02-25 07:41] #2205 closed

[2020-02-25 07:44] #2262 closed

[2020-02-25 07:46] jtommy commented on #2245
@Valar103769 could you provide an example on codesandbox ?

[2020-02-25 09:33] frellan opened #2267 "b-input type="number" not working"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: Google Chrome Version 80.0.3987.122 (Official Build) (64-bit)

### Description

I am setting `type="number"` on the `b-input`-node but the HTML5 input is still rendered as `type="text"`.

Seems to have something to do with the `newType` variable that is still set to `text`. As soon as I edit the in

[2020-02-25 09:51] frellan commented on #2267
I have two `b-input` with a `v-if` and another below it with a `v-else :loadling="true"`. I use it like that since I want the form to render when the model that the input is dependant on is fetching from the backend. I didn't have `type="number"` on the `v-else` input below it and when I added it onto that one, it works!

I thought those two were completely different components but it seems they s

[2020-02-25 10:42] tstrohmeier commented on #458
@jtommy only for the  Carousel not for the Carousel List

[2020-02-25 11:42] yangwao commented on #2243
@jtommy what's then best practice for single Menu combining router-links and external links? Like in my case and asking for others.

For now, I had to split lists for separate object and works 😇

[2020-02-25 15:25] francoism90 opened #2269 "Is it possible to increase the slider's focus?"
### Description

I really like the slider, but sometimes it's hard to actually click somewhere on the slider without using the thumb especially on small sizes:

![image](https://user-images.githubusercontent.com/5028905/75261136-e68a2b80-57ea-11ea-857b-bb3f2f3314d4.png)

### Why Buefy need this feature

It would be great to allow a bit of threshold so a change can be triggered, even when the user

[2020-02-25 15:27] lifenautjoe commented on #972
Hi there. Any chances of this happening? We would be happy to sponsor a couple hours of work on this :-)

[2020-02-25 15:59] OzoneGrif opened #2270 "Mobile: TagInput, removing a tag sets the focus on the input, opening the keyboard on smartphones"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.10]
**OS/Browser**: Android - Chrome + FireFox

### Description

Clicking the button to remove a tag sets the focus on the textual input field. While this is nice on desktop, this triggers the opening of the virtual keyboard on mobile devices. It would be nice to have an option to change this behavior.

TagInput has t

[2020-02-25 16:17] yxngl commented on #2267
Check Vue documentation for conditional rendering and key.

[2020-02-25 18:00] #2267 closed

[2020-02-26 01:40] ehutch79 opened #2272 "Icon-click and icon-right-click events trigger focus on an element that might not be there anymore."
### Overview of the problem

**Buefy** version: [0.8.11]
**Vuejs** version: [2.6.11]
**OS/Browser**: any

### Description

I am looping over an array, creating inputs with v-for, where the input has these attributes set:

icon-right="times"
icon-right-clickable
@icon-right-click="removeBreak(item, index)"

the removeBreak removes the item from from the array, which removes the input.

Then, after

[2020-02-26 01:43] ehutch79 commented on #2272
The relevant line is https://github.com/buefy/buefy/blob/dev/src/components/input/Input.vue#L240

Currently I am getting around this by triggering the actual removal in a $nextTick()

[2020-02-26 09:45] Shahinyanm opened #2273 "Do not trigger custom animation(v-leave-active) in dropdown component"
### Overview of the problem
V-enter-active working correctly, but v-leave-active doesn’t work

**Example**: [https://codepen.io/Shahinyanm/pen/QWbpMKx](https://codepen.io/Shahinyanm/pen/QWbpMKx)

**Buefy** version: [0.8.11]
**Vuejs** version: [2.6.10]
**OS/Browser**: Windows/Chrome

[2020-02-26 11:59] bender-a commented on #1789
I just made a [pr for the upgrade](https://github.com/buefy/buefy/pull/2275) of vue, vue-loader, vue-template-compiler & vue-router

[2020-02-26 14:43] Khazl opened #2276 "Select Fields for Dialog Prompts"
### Description

 I would love to have dialog prompts with selects as input.
So if you set:
[code]
You will see a select element inside your prompt.

### Why Buefy need this feature

For more flexibility and cover more use cases.
![Bildschirmfoto 2020-02-26 um 15 42 48](https://user-images.githubusercontent.com/1067634/75355404-ba37e300-58ae-11ea-818e-3ef91dc29099.png)

[2020-02-26 15:29] #2272 closed

[2020-02-26 16:34] melogustavo commented on #1914
Hello, I would like to take a look at this.
Is there anyone currently working at it?

[2020-02-26 16:36] jtommy commented on #1914
You are welcome, but I think it's no good to add in the core but only an example.
Anyway you might change my idea with a good reason :)

[2020-02-26 19:01] melogustavo commented on #2253
Hey, I will take a look at this and see if I can help you.

[2020-02-26 21:26] yxngl commented on #2269
Do you want to increase the width of the track or just make clickable region wider?

[2020-02-26 21:27] francoism90 commented on #2269
@yxngl I would like to increase the last one, the clickable region.

[2020-02-27 02:06] lmarciano9 commented on #2257
This might be causing the same misalignment if you center a column in a table because of the sorting arrow icon. Taken from the documentation page:

![Screenshot_18](https://user-images.githubusercontent.com/48482588/75405312-19681880-58ec-11ea-979e-61f6eeb7f661.png)

[2020-02-27 08:50] bender-a commented on #2257
We could fix all of this with the updates to the vue-template-compiler, vue-loader etc.
We can try to handle it with the version we are currently on, but i could not get it to work
[See template-compiler options](https://github.com/vuejs/vue/tree/dev/packages/vue-template-compiler#options)

[2020-02-27 09:07] bender-a commented on #2276
While this seems like something useful, you can always just build this by yourself using the modal, right?

[2020-02-27 09:14] Khazl commented on #2276
Yes, but I would like to use the already existing dialog API. And it would also perfectly fit into the dialog prompt semantic.

[2020-02-27 12:52] jtommy commented on #2236
@Humaots I'm working on it

[2020-02-27 12:53] #2233 closed

[2020-02-27 12:53] jtommy commented on #2273
You are right, I'll take a look soon

[2020-02-27 21:12] #2236 closed

[2020-02-27 23:24] #2273 closed

[2020-02-27 23:34] jtommy commented on #2273
I'm adding your animation in the core too ;)

[2020-02-28 08:48] Shahinyanm commented on #2273
Thank you dear :)

[2020-02-28 15:23] sookoll commented on #2257
This workaround doesn't seems to fix it. When we can hope for fixed release?

[2020-02-28 19:49] jtommy commented on #2253
Close https://github.com/buefy/buefy/pull/2280#merged-event

[2020-02-28 19:49] #2253 closed

[2020-02-28 23:39] bender-a commented on #2261
Could you please provide a codesandbox?
I don't really get what you mean, because the slider thumb already has a tooltip on hover.

Could you maybe provide something visually or in a codesandbox?

[2020-02-29 09:32] francoism90 commented on #2261
@bender-a I do mean when hovering the slider itself, not the thumb:
![image](https://user-images.githubusercontent.com/5028905/75604968-77f4e880-5ade-11ea-8c9e-8efabbdab66b.png)

I solved this by simple adding an extra parent:
[code]

[2020-02-29 09:32] #2261 closed

[2020-02-29 12:10] a-kriya commented on #2190
28e2e23 was reverted in 9b15e7c. Would that not cause this issue again?

[2020-02-29 12:16] jtommy commented on #2190
Yes, so i fixed with https://github.com/buefy/buefy/commit/454c206e73eee1236bc96e22a584a3ba10d91449

[2020-02-29 12:41] a-kriya commented on #2190
Ah, my bad.

[2020-02-29 12:46] a-kriya commented on #2190
I'd suggest using `git revert` command to revert changes, though, which would embed reference to the commit being reverted in the commit message and GH would update the original PR and commit with links to changes.

[2020-02-29 12:49] jtommy commented on #2190
Yes, my bad

[2020-02-29 13:01] a-kriya commented on #1861
Perhaps this issue can be closed as it is a duplicate of #2076. Once the PR for it is merged, the variables can be configured as documented here https://bulma.io/2019/10/15/light-dark-colors/#scheme-variables-for-dark-mode.

[2020-02-29 13:02] jtommy commented on #1861
@a-kriya I don't think we'll able to get a dark mode anyway

[2020-02-29 13:08] a-kriya commented on #1861
Which is okay since Bulma doesn't do it that way. It would be a fairly large deviation from Bulma if Buefy were to implement dark modes for individual components like Vuetify. If this ticket is marked as a feature request, is that something you're considering?

[2020-02-29 13:10] jtommy commented on #1861
No, probably when bulma is going to release CSS variables feature, do you know other way?

[2020-02-29 13:12] a-kriya commented on #1861
Nope. Either way, it's dependent on Bulma. I'm trying to see what can be done under this ticket.

[2020-02-29 13:17] a-kriya commented on #1861
Basically, would it help clean up tickets here by direct users to Bulma's issues section if a feature/fix must come from there?

[2020-02-29 13:20] jtommy commented on #1861
Is there an open issue?

[2020-02-29 13:28] a-kriya commented on #1861
Not exactly, but jgthms/bulma#2342 along with jgthms/bulma#1837 would be close. Regardless, if there are tickets here which cannot really be addressed without underlying support from Bulma, should they not be moved to that repo?

[2020-03-01 11:56] pchalamet opened #2281 "Keeping navbar expanded on mobile until closed explicitily"
### Overview of the problem

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Mobile Browsers

### Description

I can't find a way to keep the navbar opened on mobile or responsive mode on low resolution.
On example below, I would like to keep the drawer opened until the user decides to close it explicitly. This means user I would like user to interact with controls on the navba

[2020-03-01 18:03] jtommy commented on #2020
@jonathanjameswatson close https://github.com/buefy/buefy/commit/22f6b3c53a0bb33d55a1612f52341c063612f250

[2020-03-01 18:03] #2020 closed

[2020-03-02 06:00] apolokaklab commented on #2100
@akmadian okay, so waiting b-skeleton or use lazyload for better handle your images.
Because this is specific that related the roadmap rules, and I adhere to it.
@jtommy closed.

[2020-03-02 07:05] #2100 closed

[2020-03-02 08:38] bartvanremortele opened #2282 "Navbar fixed top removes body class "has-navbar-fixed-top" when dismounting and doesn't re-apply it when mounting again"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: 2.6.11
**OS/Browser**:  macOS Catalina 10.15.3 (19D76)

### Description

Navbar with fixed-top removes body class "has-navbar-fixed-top" when routing and doesn't re-apply if a different Navbar gets mounted.

### Steps to reproduce
Add vue-router and two pages both with a fixed-top navbar. Switch between the two pages. and no

[2020-03-02 08:50] Khazl commented on #2276
So, is it something we want? I could implement it and open a PR
@jtommy

[2020-03-02 08:52] farshad-sadri opened #2283 "Password Reveal Default State"
### Description

In the input component, password type, there is a "password-reveal" feature which adds the functionality of revealing password.

1. Password Reveal Default State: Visible/Hidden  -  I think adding a default state would help build better UX as in some forms it is trending to reveal passwords initially and upon user decision to hide it.
2. Reversing the reveal icon: Logically when p

[2020-03-02 10:24] pchalamet commented on #2281
I did not read enough the documentation obviously: `:close-on-click="false"` is doing the trick.

[2020-03-02 10:24] #2281 closed

[2020-03-02 11:23] Elfoslav commented on #82
The same here in 2020

[2020-03-02 12:11] jtommy commented on #82
@Elfoslav can you provide an example code?

[2020-03-02 12:56] emielmolenaar commented on #2257
Fix is already in master (https://github.com/buefy/buefy/commit/454c206e73eee1236bc96e22a584a3ba10d91449) so expect a release anytime soon.

[2020-03-02 15:20] service-paradis commented on #2283
There is a [closed discussion about #2](https://github.com/buefy/buefy/issues/1355#issuecomment-525848525) with a solution to inverse the icons.

[2020-03-02 15:43] #2283 closed

[2020-03-02 15:44] service-paradis commented on #1914
This could be done using custom column slot and Dialog component. I made a simple example:
https://codepen.io/service-paradis/pen/zYGzXae?editors=1011

[2020-03-02 15:46] jtommy commented on #1914
I agree with @service-paradis

[2020-03-02 15:46] #1914 closed

[2020-03-02 21:19] jtommy commented on #2276
@Khazl I agree with @bender-a .
You need of select but probably someone needs of other component so I don't think it's good put all on dialog

[2020-03-02 21:36] jtommy commented on #2282
https://github.com/vuejs/vue-router/issues/1380

[2020-03-02 21:36] #2282 closed

[2020-03-02 21:41] #2245 closed

[2020-03-02 22:32] #2270 closed

[2020-03-02 22:42] jtommy commented on #2269
@francoism90 Probably you're right.
@yxngl @francoism90 a PR is welcome 👍

[2020-03-03 07:54] a-kriya commented on #692
Tables display okay on IE11 for me:

![image](https://user-images.githubusercontent.com/26761352/75754163-39fffa80-5d52-11ea-9a82-1f229fe0fc11.png)

@jtommy Ticket can perhaps be closed as stale.

[2020-03-03 08:02] #692 closed

[2020-03-03 08:28] bartvanremortele commented on #2282
Thanks for the elaborate explanation. I still don't see how this is expected behaviour for the Navbar though. Why is the component watching `fixedTop`? I believe it's not the Navbar's responsibility to apply the body class.

[2020-03-03 08:38] jtommy commented on #2282
There is the same problem if I move the logic on beforeMount hook.
Without that attribute it calls beforeDestroy after beforeMount

[2020-03-03 09:51] simonjodet opened #2284 "Datepickers close on click in shadow DOM"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 80.0.3987.122 (MacOS 10.15.3)

### Description

When the Buefy app is inside a shadow DOM element, datepickers close on click. You can't change month for example.

### Steps to reproduce

Create a Vue/Buefy app inside a shadow DOM in order to isolate the app from the rest of the page.

This is e

[2020-03-03 11:44] a-kriya opened #2285 "IE11: Navbar dropdown does not expand when clicked"
### Overview of the problem

**Buefy** version: 0.8.12
**OS/Browser**: IE11/Win7

### Description

Navbar dropdown does not open when clicked in IE11 due to JS error.

### Steps to reproduce

1. Load https://buefy.org/documentation/navbar in IE11.
2. In the example navbar on the page, click on the "Info" dropdown.
3. Notice that the dropdown does not expand.
4. Notice `"Object doesn't support prop

[2020-03-03 16:34] melogustavo commented on #2269
Hey @francoism90 I would like to help you out.

@yxngl did you already start working on a PR for this?

[2020-03-03 16:41] jtommy commented on #2269
@melogustavo make your PR :)

[2020-03-03 17:01] yxngl commented on #2269
What are your thoughts and approaches to this? I didn't start. My initial idea is not to change HTML.  For workaround in a single use case, increasing the height of the track and using color gradient to fake a thinner look of track and fill will do. But these are in SCSS, do you want an API for it?

[2020-03-03 17:39] jtommy commented on #2269
@yxngl if we can manage it with a prop why not ?

[2020-03-03 21:15] jtommy commented on #2285
Double https://github.com/buefy/buefy/issues/2016.
Anyway I'm going to merge your PR

[2020-03-03 21:15] #2285 closed

[2020-03-03 21:24] #832 closed

[2020-03-03 23:29] joaopedro opened #2288 "Datapicker with Multiple clears array on first select"
**Buefy** version: [0.8.12]
**Vuejs** version: [2.5.17]
**OS/Browser**: MacOs / Chrome

### Description
When the datepicker component in binded with an array that already has elements in it, the existing dates are cleared on the first selection.

### Steps to reproduce

1. select a date

### Expected behaviour

The component should add the new date to the existing array

### Actual behaviour

Arra

[2020-03-03 23:36] jbardnz opened #2289 "Consistent pagination layouts"
### Description

I noticed a small thing that would improve Buefy, at the moment the table component and pagination component have different layouts for the pagination numbers/arrows. Even with the different positioning options, it doesn't seem like it is possible for these to have the exact same layout, this can be confusing for users of sites made with Buefy.

Taken directly from the docs, on th

[2020-03-04 07:04] jtommy commented on #2288
Fix https://github.com/buefy/buefy/commit/ae0328280e08b5350827c659fdf881cca5bbe00a

[2020-03-04 07:04] #2288 closed

[2020-03-04 07:39] #2276 closed

[2020-03-04 22:18] jtommy commented on #2289
@jbardnz you should simply wrap it into a level element

[2020-03-05 01:47] MichaelTamaki opened #2290 "Menu: active should be respected"
### Overview of the problem

Use the codepen in https://buefy.org/documentation/menu

**Buefy** version: [0.8.12]
**OS/Browser**: Linux/Firefox

### Description

Hi all, I'm integrating a menu into my application and I'm confused as to what the `active` prop actually does. If I were to set `active` to always be `false`, and then I click on the menu item, it highlights the menu item. On the flip si

[2020-03-05 08:39] RedmondLee opened #2291 "How can I customize functions when I clicked 'Login' button using a dropdown ?"
### Description

Hi there, big love of your works.
Here's a question bothering me , I'm trying to create a login form with sample code in this link:
`https://buefy.org/documentation/dropdown/#content-and-position`
However every time I clicked login ,it automaticly refreshes the page instead of send some login query. I would like to customize login button ,bind it to a click event and then trigger

[2020-03-05 10:35] squareloop1 commented on #1955
@rabbidas solution sounds nice, but does not work unfortunately. It seems like the registered components do not get the config as my icon component is still using the default MDI pack.

[2020-03-05 12:52] jtommy commented on #2291
What's your code? Btw it doesn't look a Buefy issue

[2020-03-05 12:52] #2291 closed

[2020-03-05 13:46] rcoundon opened #2292 "Table sticky-header sticks subheading not heading"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: Firefox/MacOS

### Description

When using the sticky-header property on a table that has subheadings defined, scrolling the table scrolls the main heading/column titles out of view and locks the subheading in place.

Before scrolling:

![image](https://user-images.githubusercontent.com/9136570/759

[2020-03-05 16:06] squareloop1 opened #2293 "Textarea clickable icon error: Cannot read property 'focus' of undefined"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: Win / Chrome

### Description

Clickable Icon in Textarea Input is causing a console error `vue.min.js:6 TypeError: Cannot read property 'focus' of undefined`.

### Steps to reproduce

See console output of this codepen reproduction when clicking on the textarea icon: https://codepen.io/squareloop1

[2020-03-05 17:56] #2293 closed

[2020-03-05 17:57] #2289 closed

[2020-03-05 20:04] melogustavo commented on #2269
Hey @francoism90, Just opened a PR :)

[2020-03-05 20:10] francoism90 commented on #2269
@melogustavo Thanks, great stuff!

[2020-03-05 20:21] dmcbrn opened #2295 "Disabled option in select not being highlighted (grayed out) in various browsers"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.10]
**OS/Browser**: Ubuntu Chrome 80.0.3987.106, various browsers on Windows (Firefox, Chrome, ...) not 100% sure as I don't have Windows machine handy. Works properly on Ubuntu Firefox 73.0.1

### Description

Disabled options in select are not grayed out.

### Steps to reproduce

Go to: https://buefy.org/documentati

[2020-03-05 21:10] #2269 closed

[2020-03-05 21:32] jtommy commented on #2290
I'll add a new prop `activable` (default true due to breaking change)

[2020-03-05 22:39] #2292 closed

[2020-03-06 07:17] Elfoslav commented on #302
Still not fixed in 2020

[2020-03-06 07:18] jtommy commented on #302
@Elfoslav an example?

[2020-03-06 16:39] dalholm opened #2297 "Add DOM-event with the value on filters-change"
### Description
Using backend search and filters-change i want to get the DOM-event with the value to be able to check if enter is triggered.

### Why Buefy need this feature
Today the filters-change are triggered on each character added, this force the backend to take multiple unnecessary requests

[2020-03-06 17:12] Angel10Loo opened #2298 "bug about display menu who has children"
### Overview of the problem

**Buefy** version: [X.X.X]
**Vuejs** version: [X.X.X]
**OS/Browser**:

### Description

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-03-06 17:20] jtommy commented on #2298
What? A code ? An explanation?

[2020-03-07 18:18] jtommy commented on #2083
@rcoundon that is an example https://codepen.io/jtommy/pen/eYNerNd?editable=true&editors=101

[2020-03-08 13:42] rishabhbatra10 opened #2299 "Cannot read property 'extend' of undefined buefy Toast"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: MacOS, Chrome 80.0.3987.122

### Description
Vue version:
Beufy version:
On using Toast
[code]
I get this error on the console
Cannot read property 'extend' of undefined on line 76 toast.js

### Expected behavior

The browser should give a toast saying `Toasty!`

### Actual behavior

<img width="45

[2020-03-08 14:24] jtommy commented on #2299
Are you importing the component or full bundle in the main?

[2020-03-08 16:41] hoangnkvti opened #2300 "Clockpicker card does not display outside of the modal"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.11]
**OS/Browser**: MacOS/Chrome

### Description

I use clockpicker inside a modal. But clockpicker card does not display outside the modal, so this is really difficult to select. How can I display clockpicker card outside of the modal to easy to select?

![image](https://user-images.githubusercontent.com/40649408/76

[2020-03-08 17:02] jtommy commented on #2300
Same problem https://github.com/buefy/buefy/issues/292

[2020-03-08 17:02] #2300 closed

[2020-03-09 09:51] raimondlume opened #2301 "BTable sortable table header has selectable text"
### Overview of the problem

**Buefy** version: [0.8.12]
**Vuejs** version: [2.6.16]
**OS/Browser**: Chrome

### Description

Double-clicking on a sortable table header selects the header text. From a standard UX perspective, text in control-based elements (buttons etc.) that can be clicked multiple times should have non-selectable text. A sortable table header is a control-based element (which is

[2020-03-09 11:20] sebastianszaniszlo opened #2303 "B-Table documentation missing information about the `dragleave` event"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: 2.6.10
**OS/Browser**: Chrome

### Description

There is missing documentation for the `dragleave` event on draggable tables. The `Events` tab in the docs only contains information about the `dragstart`, `dragend`, `drop` and `dragover` events. This can be a bit confusing as the draggable example makes use of the `dragleave`

[2020-03-09 17:52] #2298 closed

[2020-03-09 19:18] #2301 closed

[2020-03-09 20:54] nitishmittal1990 opened #2308 "Autocomplete Input Height Increase"
### Description

User should have option to increase the height of input.

### Why Buefy need this feature

presently size attribute increases font-size as well, but user should be given option to increase height of input.

[2020-03-09 20:54] jtommy commented on #2308
You are right

[2020-03-10 09:54] tomgif commented on #554
@dgattey you have typo in your example - should be 'fontawesome' instead of 'fortawesome'

[2020-03-10 15:42] #2303 closed

[2020-03-10 22:04] jtommy commented on #2136
@annam002 I've just merged #2207, what do you think ?

[2020-03-10 22:23] #2308 closed

[2020-03-11 09:49] tomearly opened #2311 "Sticky headers not sticking in Codepen example"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: 2.6.11
**OS/Browser**: MacOS/Firefox

### Description

Sticky headers not sticking in Codepen example (when table width reduced to around 950px)

### Steps to reproduce

1. Visit the documentation for Table - Sticky headers at https://buefy.org/documentation/table#sticky-headers
2. View the Codepen link.
3. Change the screen

[2020-03-11 12:26] melogustavo commented on #2098
Hey, I will take a look at this and then open a PR  😃

[2020-03-11 12:29] jtommy commented on #2098
@melogustavo thanks

[2020-03-11 18:18] jtommy commented on #2311
Already fixed

[2020-03-11 18:18] #2311 closed

[2020-03-11 19:24] #2297 closed

[2020-03-11 20:39] rishabhbatra10 commented on #2299
I was importing just the component, not the full bundle. Do I need to import anything else ?

[2020-03-11 20:57] rishabhbatra10 commented on #2299
Yeah sure
<img width="391" alt="Screenshot 2020-03-12 at 2 25 40 AM" src="https://user-images.githubusercontent.com/15319538/76463189-02a3e480-6409-11ea-81df-70d1ef91b6b0.png">
<img width="430" alt="Screenshot 2020-03-12 at 2 26 06 AM" src="https://user-images.githubusercontent.com/15319538/76463200-05063e80-6409-11ea-919a-7746249a7f53.png">

[2020-03-11 20:58] jtommy commented on #2299
And the main.js ?

[2020-03-11 21:00] rishabhbatra10 commented on #2299
I have not imported any thing related to buefy in main.js you can have a look.

main.js
[code]

[2020-03-11 21:01] eagleera opened #2313 "Add filter to data value on table"
### Description
Hi! So looking at tables I found out that you can't add a filter(https://es.vuejs.org/v2/guide/filters.html) to a data value when using a table, I think we can implement a feature where a column gets a new prop called filters and that it could be an array where the data of that column can be converted to their asigned filters.
Code Sample:
[code]

### Why Buefy need this feature
I

[2020-03-11 21:06] jtommy commented on #2299
You have to import Toast as Vue plugin.
`import { Toast } from 'buefy'`
And then
`Vue.use(Toast)`

[2020-03-11 21:06] #2299 closed

[2020-03-11 21:09] jtommy commented on #2313
If you need use you should use default slot and table-column component

[2020-03-12 01:49] nainardev opened #2314 "Rewrite to Vue Composition API"
Vue 3 is coming soon. We will need to convert to composition API. Vuetify is going to rewrite for their next major release.
What about us?

Add this to Milestone or something.
Also comment on what you think

[2020-03-12 01:53] nainardev opened #2315 "Buefy as Vue CLI plugin"
Is it possible to `vue add buefy`?

[2020-03-12 01:56] nainardev commented on #2314
Let this issue be open until we do it. Now now but soon

[2020-03-12 01:58] nainardev opened #2316 "Add all-contributors"
https://allcontributors.org

[2020-03-12 07:02] jtommy commented on #2315
Sure https://github.com/buefy/vue-cli-plugin-buefy

[2020-03-12 07:02] #2315 closed

[2020-03-12 08:12] Christilut opened #2317 "Carousel List not using defaultIconPrev/Next"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: [X.X.X]
**OS/Browser**:

### Description

I have added this to my buefy config:
[code]

But the `b-carousel-list` did not show these icons.

After adding
[code]
to the `b-carousel-list` component, the expected icons appear.

So it seems like the `b-carousel-list` does not use the defaultIconPrev and defaultIconNext.

[2020-03-12 13:31] service-paradis commented on #2313
Filters will probably be deprecated in Vue 3 (https://github.com/vuejs/rfcs/blob/master/active-rfcs/0015-remove-filters.md). So I dont think it would be a good idea to support this right now.

[2020-03-12 13:32] #2257 closed

[2020-03-12 16:34] alexmiddeleer opened #2319 "Question: how does the Dialog component manage state?"
Hi there, I was stopping by to ask a question about the implementation of the Dialog component. Feel free to ignore/close if you don't have time to answer, or would prefer to handle this somewhere else. We're build our own in house (unfortunately can't use Buefy since we need to support IE9). How does the programmatic Bulma mixin manage the open/closed state? I was reading https://github.com/buefy

[2020-03-12 17:51] jtommy commented on #2319
On close it calls https://github.com/buefy/buefy/blob/8ade4f897bb91fd2791c6aa1472653cfcb0a1fc6/src/components/modal/Modal.vue#L184 because Dialog extends Modal

[2020-03-12 17:51] #2319 closed

[2020-03-12 18:13] #2313 closed

[2020-03-12 22:40] jtommy commented on #2088
I'm working on it and probably will be ready for the next release

[2020-03-12 22:52] #1230 closed

[2020-03-12 22:56] #226 closed

[2020-03-12 22:57] #828 closed

[2020-03-13 13:06] service-paradis commented on #2317
Looks like it did use the default configuration (https://github.com/buefy/buefy/blob/dev/src/components/carousel/Carousel.vue#L147).
I will make some tests to see if I'm able to reproduce the issue and to see if there is something wrong.

[2020-03-13 14:09] melogustavo commented on #2098
@jtommy Whenever the clickable prop is not set, it won't let the step be clicked (behavior expected), but then when you want to go back a step, it will let you click even if it is not set.

This happens because of the following line of code:
<img width="438" alt="Captura de Tela 2020-03-13 às 11 05 59" src="https://user-images.githubusercontent.com/49168228/76627889-a16c3600-651a-11ea-9efc-383c93

[2020-03-13 14:15] service-paradis commented on #2098
@melogustavo
I dont remember exactly why this choice was made when creating this component, but this is from the doc:

[2020-03-13 14:17] melogustavo commented on #2098
Oh, Ok.. Kinda missed that part of the doc, sorry bout that 😀

thanks for the return.

[2020-03-13 18:36] gierloff opened #2321 "Tabs without headers"
We are using Buefy for our project and it's great to see ongoing updates.

A couple of times we experienced the need for tabable content, e.g. tabs without tab headers, but just the tab content, the animation and then make custom tab headers outside tab component.

It would be possible if tab headers could be hidden, then use b-tabs and set up custom buttons any where in the vue app to swap the ta

[2020-03-13 23:17] Wobbley commented on #2043
I added bulmaswatch theme overrides just fine on the 11th of February on my desktop and project has been compiling fine (last commit was 7 days ago on the 7th of March). However after setting the project up on my laptop _yarn serve_ fails with the exact same issue. I guess some update somewhere messed something up, or there are some minor differences between my laptop and desktop. Or are there som

[2020-03-14 06:46] jtommy commented on #2321
@gierloff you might hide them using CSS and change active tab by v-model or ref

[2020-03-14 08:54] dalholm opened #2322 "Format function to table row"
### Description
On my tables with buefy i use the columns property and i dont want to render html for simple tables.
Sometimes you want to manipulate the data that reference to a specific column, it would be really nice if you could add a format method on the columns object.

### Why Buefy need this feature
[code]

[2020-03-14 08:55] jtommy commented on #2322
It's similar to https://github.com/buefy/buefy/issues/2313#issuecomment-597879694

[2020-03-14 08:55] #2322 closed

[2020-03-14 18:49] P3trur0 opened #2323 "Datepicker - year selection type"
### Description

First of all, thank you for this awesome library!

The idea of this feature is to add a new datepicker type, namely `year`, to support the selection of dates by year only. For example, I have a use case scenario where users need to select only the year of a specific date. It seems Buefy misses this feature.

### Why Buefy need this feature

Because currently Datepicker has only a

[2020-03-14 23:24] jtommy commented on #2323
@P3trur0 thanks ;)

Do you need the same UI to select an year? A select or a dropdown doesn't meet your need?

[2020-03-15 23:07] Heartz66 opened #2324 "fullwidth/expanded dropdown"
https://buefy.org/documentation/dropdown/

A fullwidth/expanded feature would be really useful

[2020-03-16 09:35] VasiliyRusin commented on #833
It seems I can. Buefy 0.8.13
https://codesandbox.io/s/optimistic-archimedes-s6hqf

Upgrade from 0.8.8 broke tables.

[2020-03-16 13:46] 4KDA opened #2325 "Autocomplete bug validation required"
In the Autocomplete component, if the required attribute is present, validation only works correctly when the second choice is made.

![2020-03-16-16-37-44-min](https://user-images.githubusercontent.com/38465364/76764234-8c570780-67a5-11ea-9183-1f610a658365.gif)

**Buefy** version: 0.8.10
**Vuejs** version: 2.6.11
**OS/Browser**: Windows 10 x64, Google Chrome 79.0

[2020-03-16 15:01] #2317 closed

[2020-03-16 19:39] rahulnpadalkar commented on #2284
would like to contribute.

[2020-03-16 19:41] jtommy commented on #2284
@rahulnpadalkar sure, thanks

[2020-03-18 16:17] DQvsRA opened #2327 "Storybook implementation"
### Description

Storybook

### Why Buefy need this feature

It's common way to inspect and try component implement by leaders on the industry, look at IBM Carbon DS: https://react.carbondesignsystem.com/

[2020-03-18 17:38] jtommy commented on #2327
@DQvsRA good idea

[2020-03-18 22:42] dauriata commented on #595
This issue is marked as staled but I think unresolved.
If there is interest I am willing to submit a PR for either :
- providing a prop to be able to select dropdown position : top, down, or calculated
- modify calculated behavior as now to show dropdown down when there is not enough room both up and down ( which usually happen on mobile when the virtual keyboard is shown)

[2020-03-18 22:46] jtommy commented on #595
@dauriata ok!

[2020-03-19 00:02] SupraSummus opened #2328 "Slider is positioned wrong when in scale transform"
### Overview of the problem

**Buefy** version: 0.8.13
**Vuejs** version: 2.6.11
**OS/Browser**: linux/chromium 80

### Description

Slider component reads wrong mouse position when used in `transform: scale(..)` element.

### Steps to reproduce

https://codepen.io/suprasummus/pen/XWbYOVK

[2020-03-19 12:31] 4KDA commented on #2325
For myself, I solved the problem by validation through vee-validate

[2020-03-19 12:32] jtommy commented on #2325
@4KDA please post the code to help other users

[2020-03-19 13:04] 4KDA commented on #2325
Sandart usage vee-validate v2

[2020-03-19 13:29] MannikJ opened #2329 "Tri State Filter Dropdown With Undefined Value"
### Overview of the problem

**Buefy** version: 0.8.3
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome

### Description

Please see this example code:

[code]

### Expected behavior

Setting the `filters.late` property on the component to `undefined` should automatically select  thefirst option.

### Actual behavior

The `undefined` value is treated as `null` and therefor the option is not correct

[2020-03-19 15:31] VasiliyRusin commented on #1763
I suppose a column header and table header should use for different things. For example, I have a table head and column header. But if I use them together column header doesn't show.
![image](https://user-images.githubusercontent.com/3685852/77083885-c556dc80-6a30-11ea-8124-87a236b33c86.png)

[2020-03-19 15:40] jtommy commented on #1763
Table header slot will be removed but it the same thing of table column slot

[2020-03-19 16:06] VasiliyRusin commented on #1763
@jtommy I try to say that it's really SHOULD NOT to be the same. It makes table absolutely not customizable. Now buefy does not allow me to customize the table headers. I strongly believe that the table header is not the same as the column header. (At least while we can't get access to thead tag)

[2020-03-19 20:24] Stetzon commented on #554
changing

to

did the trick!  Thank you!

[2020-03-19 21:05] rcoundon commented on #2083
I think the workaround is acceptable, thanks for sharing.

[2020-03-19 21:05] #2083 closed

[2020-03-20 23:13] jtommy commented on #2324
I'll add a prop

[2020-03-20 23:13] #2321 closed

[2020-03-20 23:14] jtommy commented on #2329
Out of curiosity, why undefined?

[2020-03-20 23:14] jtommy commented on #2328
Why do you need it?

[2020-03-20 23:29] MannikJ commented on #2329
Because most popular query string libraries will leave out undefined values. So the distinction can be very helpful.

[2020-03-21 00:17] SupraSummus commented on #2328
I'm using vue-panzoom to control a map in a turn-based strategic game. The map has some controls on it, including sliders. vue-panzoom (wrapper around [panzoom](https://github.com/anvaka/panzoom/)) sets scale transform for child elements to achieve zooming.

[2020-03-21 02:35] tomjsalmon opened #2331 "Datepicker grey out dates broken"
### Overview of the problem

**Buefy** version: [0.8.13]
**Vuejs** version: [2.6.10]
**OS/Browser**: macOS 10.15.3, Chrome 80.0.3987.132

### Description

Ordinals randomly appearing in datepicker and dates not matching up.

![image](https://user-images.githubusercontent.com/16036590/77217663-57b6b900-6ae1-11ea-8cc1-1ede55def151.png)
![image](https://user-images.githubusercontent.com/16036590/7721

[2020-03-21 10:44] #2324 closed

[2020-03-21 10:44] jtommy commented on #2324
There is already a prop called `expanded` but it isn't in the docs

[2020-03-21 11:07] #2316 closed

[2020-03-21 18:21] #2325 closed

[2020-03-21 19:19] codebender828 commented on #2327
I can help with setting this up next weekend. 👍

[2020-03-22 07:07] hellokvn opened #2332 "Load single Buefy components as async components"
### Description

Loading single Buefy components only when I need it instead of all (or some) Buefy components globally would make the own app more lightweight. That's important to apps who really needs to care about performance. Same counts for Buefy's css. Why loading the whole css if you need only 4 component for a specific view?

### Why Buefy need this feature

Other packages offers that as w

[2020-03-22 07:12] hellokvn commented on #1161
import { Loading } from "buefy/dist/components";

gives me this:

[code]

What makes sense, since buefy/dist/components doesn't contain a index.js which exports me it's components.

[2020-03-22 07:18] luisjoserivera opened #2333 "UX Improvement: Dropdown items with has-link should not be focusable by default"
`<b-dropdown-item has-link>`

My logic is telling me that if I already declared that a dropdown item **has a link** the container should not be focusable by default.

By making this a logical default we can avoid:
- A lot of sites having links with double tab focus.
- Unnecessary additional attribute definition per item `focusable="false"`

[2020-03-22 08:40] jtommy commented on #2332
@hellokvn you should import only the component, for example
`import { BButton } from 'buefy/dist/esm/button`

[2020-03-22 08:47] jtommy commented on #2333
@luisjoserivera  you're right, when `has-link` then `focusable` will be false as default value

[2020-03-22 08:52] #2333 closed

[2020-03-22 09:40] #1666 closed

[2020-03-22 11:55] #1739 closed

[2020-03-22 13:44] GopherJ opened #2334 "BMenuItem: The .native modifier for v-on is only valid on components but it was used on <a>."
### Overview of the problem

**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.6]
**OS/Browser**: firefox AND chrome

### Description

BMenuItem: The .native modifier for v-on is only valid on components but it was used on <a>.

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-03-22 13:45] #2334 closed

[2020-03-22 15:48] Heartz66 opened #2335 "Make it possible to collapse navbar dropdown"
If you have a big navbar dropdown, the default navbar dropdown is always open which can be really annoying. Please add a feature so the navbar dropdown is not collapsed by default, a toggle-able navbar dropdown.

[2020-03-22 17:47] jtommy commented on #458
Probably this roadmap is quite outdated so I'm going to publish a new soon, stay tuned !! 🎉

[2020-03-22 17:47] #458 closed

[2020-03-23 03:35] tstrohmeier commented on #458
@jtommy Can you please publish the new ticket number here, so that I receive a notification?

[2020-03-23 06:58] jtommy commented on #458
Sure, I'll do it

[2020-03-23 10:07] robingiraud opened #2336 "Direction of tabs animations"
Hello,

First of all, thank you for your work and your responsiveness to requests.
I have a little request that might improve Buefy Tabs.

Would it be possible to implement the possibility to change the direction of the tabs animations.
For example, when I use the **vertical** property, I would like the tabs to scroll up and down. (And not horizontally by default). This would be much more intuitiv

[2020-03-23 11:06] lennycampino opened #2337 "b-carousel-list not working when importing buefy with a seperate .scss file"
### Overview of the problem

**Buefy** version: 0.8.13
**Nuxt** version: 2.11.0
**OS/Browser**: Chrome

### Description

my main.scss file:
@import "~bulma/sass/utilities/functions";
@import "~bulma/bulma";

@import "~buefy/src/scss/buefy";

buefy then works but when I try to use the b-carousel-list component it does stack vertically and not horizontal. But if I directly use buefy.css in my global

[2020-03-23 11:22] lennycampino commented on #2337
Ok I fixed it.
It does not work if I import it from the style directly:
<style lang="scss" scoped>
 @import "~/assets/scss/main.scss";
</style>

But when I import the main.scss file in the nuxt.config.js as global style then it works.
Strange because bulma also works in the <stlye> import.

[2020-03-23 11:23] #2337 closed

[2020-03-23 15:06] thedomeffm opened #2338 "Fix table column behavior with long text"
**Buefy** version: [0.8.10]
**Vuejs** version: [2.6.10]
**OS/Browser**: Linux Chrome

### Description

I gave all `<b-table-column class="w-30">...` a specified with.
If I have a long text inside of the cell, I want to truncate it, but it seems like this does not work:
![buefy_issue_table](https://user-images.githubusercontent.com/29406401/77330761-12cc9580-6d20-11ea-9337-0ce03b3ac0a2.png)

[code]

[2020-03-23 19:26] service-paradis opened #2339 "Form Elements in Carousel does not work"
### Overview of the problem

**Buefy** version: 0.8.13
**Vuejs** version: 2.6.11
**OS/Browser**: Any

### Description

I'm using the carousel element for different purposes (not only for images). I have one carousel where I give the possibility to edit some text using a textarea. Right now, clicking the textarea input does not give the focus to the element. Therefore, we cannot write in it.

### S

[2020-03-23 20:05] #2332 closed

[2020-03-23 22:39] Joebayld opened #2340 "Dropdown clipping inside sticky table"
### Overview of the problem

**Buefy** version: [0.8.13]
**Vuejs** version: [2.6.11]

### Description

When placing a dropdown in a table row, the dropdown contents are clipped. This is really only an issue when having a dropdown at the bottom of the table.

![image](https://user-images.githubusercontent.com/9399317/77369441-e1ea6180-6d1b-11ea-8659-e76768f0aca5.png)

### Steps to reproduce

1. Cre

[2020-03-24 09:36] thedomeffm opened #2342 "Prop truncate (and width %) for b-table-column"
I had issues with table columns and the width of them. I thought I solved this issue like I wrote here: https://github.com/buefy/buefy/issues/2338 - but this did not solve my issue 100%.

I want to truncate my `<p>` in table columns (`<td>`).

I suggest a prop for `b-table-column` => `truncate-text`

### Description

I want to set the width of my table columns explicit, so I added classes for the

[2020-03-24 09:37] thedomeffm commented on #2338
closed, see https://github.com/buefy/buefy/issues/2342

[2020-03-24 09:37] #2338 closed

[2020-03-24 09:55] MannikJ commented on #2329
I just realized the comparison does not even work with null either. If a dropdown item is has `null` or `undefined` as value, it is never marked as selected.

See this example:
https://codesandbox.io/s/buefy-template-r9ldv

[2020-03-24 17:40] alqu opened #2343 "No vertical scroll bar in table when using sticky header"
### Overview of the problem

**Buefy** version: [0.8.13]
**Vuejs** version: [2.6.11]
**OS/Browser**: MacOS / Chrome 80.0

### Description

The vertical scrollbar is not visible when using the sticky headers feature on b-table.

### Steps to reproduce

1. Use Chrome 80.0
2. go to https://buefy.org/documentation/table/#sticky-headers-and-columns

### Expected behavior

You should see a vertical scro

[2020-03-24 23:57] #2336 closed

[2020-03-25 02:23] Valar103769 opened #2344 ".modal"
### Overview of the problem

**Buefy** version: [0.8.13]
**OS/Browser**: chrome

### Description
 correct bulma css  [bulma demo](https://bulma.io/documentation/components/modal/)
[code]
error buefy css
[code]

[2020-03-25 07:36] user4i opened #2345 "Import buefy core variables without re-defining them"
When importing **bulma** core variables
`@import "~bulma/sass/utilities/_all";`
and we can use _without re-defining_
`$gap` (from **bulma**)

How can I import the same **buefy** core variables  to use `$checkbox-size`  (from **buefy**) ?

When I re-define **buefy** variable e.g.
`$checkbox-size: 20px`
it works for checkbox and I can use it in other css. But I don't want to re-define it, but to use

[2020-03-25 07:49] giudicelli opened #2346 "clearable on b-autocomplete"
### Overview of the problem

**Buefy** version: 0.8.13
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome 80.0.3987.132

### Description

The clear icon shows up, but nothing happens when clicked.

### Steps to reproduce

1.
<b-autocomplete :data="locations" v-model="locationName"
  :expanded="true"
  @typing="searchLocation"
  :clearable="true" @select="selectLocation($event)">
  <template slot="em

[2020-03-25 17:19] jtommy commented on #2346
@giudicelli can you provide the full code (better on codepen or similar) ?

[2020-03-25 17:22] jtommy commented on #2344
@Valar103769 the modal component adds max-width attribute too so it isn't really 100%

[2020-03-25 17:22] #2344 closed

[2020-03-25 17:24] jtommy commented on #2343
@alqu i checked it and there is no issue, probably your os hide scrollbar (ios should have this option)

[2020-03-25 17:24] #2343 closed

[2020-03-25 17:30] jtommy commented on #2340
@Joebayld it's a common issue with dropdown into a container, a good improvement could be an option to append it to body

[2020-03-25 17:34] jtommy commented on #2331
@tomjsalmon i've just tried your code on codepen and i'm not able to see ordinals. Can you provide a codepen o similar ?

[2020-03-25 17:35] #2295 closed

[2020-03-25 23:03] apolokaklab commented on #2339
@service-paradis me need investigation.
I see this related of drag event, so for now you can added `:has-drag="false"` to do that :wink:

[2020-03-25 23:21] marianomd opened #2347 "[Table] Is there a way to initialize value of searchable column filters?"
I'm trying to persist columns filters between route changes.

I have a table, I filter by a column, then navigate to an item's detail (some other component) and when I return I want the columns to continue filtered.

I need to set filter values on component creation (page load) from the route query params, or from state in vuex, or something like that.

Is it possible?

[2020-03-25 23:32] Joebayld commented on #2340
Ah gotcha. And totally. Or a prop to define where to append to. In this case I’m inside a modal.

[2020-03-26 03:19] nainardev opened #2348 "Light version of Notification component"
https://bulma.io/documentation/elements/notification/#light-colors

[2020-03-26 03:23] nainardev opened #2349 "[TAG] Light version"
https://bulma.io/documentation/elements/notification/#light-colors

[2020-03-26 03:51] nainardev opened #2350 "[NEW COMPONENT] Breadcrumb"
https://bulma.io/documentation/components/breadcrumb/

[2020-03-26 04:04] nainardev opened #2351 "[NEW COMPONENT] Panel"
https://bulma.io/documentation/components/panel/

[2020-03-26 04:06] nainardev commented on #2351
before referening https://github.com/buefy/buefy/issues/177 & closing this, Go to above link

[2020-03-26 04:09] nainardev opened #2352 "Button which `is-loading` should be disabled"
Also cursor should behave like disabled buttons

[2020-03-26 07:07] Benjamin-Lee opened #2353 "Level and table inside panel doesn't take up full width"
### Overview of the problem

**Buefy** version: 0.8.13
**Vuejs** version: 2.6.11
**OS/Browser**: MacOS 10.15.3, Safari 13.0.5

### Description

The a level and a table contained within a panel doesn't take up the full width of the panel. Also, the bottom edge of the panel is not rounded.

### Steps to reproduce

[code]

### Expected behavior

1. The level takes up the full width of the panel
2. Th

[2020-03-26 07:10] jtommy commented on #2348
Double, it will be available in the next breaking change with Bulma 0.8.x

[2020-03-26 07:10] #2348 closed

[2020-03-26 07:10] #2349 closed

[2020-03-26 07:11] jtommy commented on #2350
It's only html, I don't think to add it at the moment

[2020-03-26 07:11] #2350 closed

[2020-03-26 07:13] jtommy commented on #2351
It has been already deprecated

[2020-03-26 07:13] #2351 closed

[2020-03-26 10:02] deakdomi opened #2354 "use autocomplete in a v-for loop"
Hi,

I'd like to use the b-autocomplete component's search functionality in a v-for loop, but I can't rewrite the "filteredDataArray" function in the proper way.

Any suggestion?

Thanks a lot!

[2020-03-26 13:15] service-paradis commented on #2339
Thanks for your answer @apolokaklab :)
I'm using the `:has-drag="false"` as a workaround right now.

It looks like this is causing the issue:
https://github.com/buefy/buefy/blob/dev/src/components/carousel/Carousel.vue#L313

[2020-03-26 17:21] hoquangthaiholy commented on #1907
Hi all, I think this can fix this problem temporarily

`Vue.directive('cleave', {
    bind(el, binding, vnode) {
        const input = el.querySelector('input')
        input._vCleave = new Cleave(input, binding.value)
        input.addEventListener('input',(e) => {
            vnode.componentInstance.newValue = e.target.value
        })
    },
    unbind(el) {
        const input = el.querySelect

[2020-03-27 00:37] Sogl commented on #1035
@jtommy I have the same problem.

When I use taginput component and load tags from my backend model to it (I use `mounted()` for it: `this.tags = this.post.tags;`) I can add the same tags again with `allow-new`... How to get rid of it? In create mode all works fine.

Some explanations:
1. `this.post.tags` (Array of Objects) — tags already added to post (I use `post` prop).
![image](https://user-im

[2020-03-27 16:36] jonas87 opened #2356 "Controlling icon size on input field?"
Buefy seems to by default add the class "fa-lg" for FontAwesome icons on an input field, which makes the icons too large for my taste. While b-icon has a size prop, b-input has a prop to define the "icon-pack" and "icon" but it does not seem to have an option to control icon size.

Interestingly the FontAwesome example on the [documentation's input page](https://buefy.org/documentation/input#icons

[2020-03-27 17:27] jtommy commented on #952
Ref https://github.com/buefy/buefy/pull/2341

[2020-03-27 17:29] jtommy commented on #2356
https://github.com/buefy/buefy/pull/1776

[2020-03-27 17:29] #2356 closed

[2020-03-27 17:30] jtommy commented on #2354
@deakdomi what do you men ? Anyway it's better talk about it on Discord

[2020-03-27 17:30] #2354 closed

[2020-03-27 17:31] jtommy commented on #2352
I think it's no a good solution. By the way you can disable it using disabled prop

[2020-03-27 17:31] #2352 closed

[2020-03-27 17:32] jtommy commented on #2347
@marianomd at the moment there isn't an elegant way but this code should work:
`this.$refs.mytable.filters['firstName'] = 'xxx'`

[2020-03-27 17:32] #2347 closed

[2020-03-28 13:27] jtommy commented on #2340
@Joebayld Added `append-to-body` prop https://github.com/buefy/buefy/commit/17cfe9713b4f293d24f649bddbfc1910e49d093b

[2020-03-28 13:27] #2340 closed

[2020-03-28 14:13] jtommy commented on #292
@wanxe @donaldinos @wrabit @kerbo @sookoll Added `append-to-body` prop https://github.com/buefy/buefy/commit/6fcd9bf2edb08ebb1fa52f531eb463bacfbfe4e2

[2020-03-28 14:13] #292 closed

[2020-03-28 14:21] jtommy commented on #2046
Fix https://github.com/buefy/buefy/commit/359dc9e738ba3b6420786dfea6da5dbf3b09a124

[2020-03-28 14:21] #2046 closed

[2020-03-28 15:03] mutg opened #2358 "The Slider thumb does not follow cursor after resizing"
### Overview of the problem
**Buefy version:** 0.8.13
**Vuejs version:** 2.6.11
**OS/Browser:** Chrome 80.0.3987.149

### Description
After dragging the slider for the first time, upon resizing the slider, the next attempt at dragging will have the thumb (and value) adhering to the size the slider had during of the initial dragging event, resulting in the thumb not following the cursor.

![slider]

[2020-03-28 16:52] jtommy commented on #1163
Fix https://github.com/buefy/buefy/commit/1c71da209fb26e94d0cdba7b02f159dae8c42800

[2020-03-28 16:52] #1163 closed

[2020-03-28 16:59] afwn90cj93201nixr2e1re commented on #1163
hm, stop, you have implemented clear appending to body? Or it's just 'fix'? So, if not, then you should start making new tooltips!

[2020-03-28 17:00] jtommy commented on #1163
Soon tooltip but it will be a breaking change

[2020-03-28 23:32] jtommy commented on #1913
You should hide it by CSS using media query on mobile

[2020-03-28 23:32] #1913 closed

[2020-03-28 23:35] #516 closed

[2020-03-28 23:42] jtommy commented on #2353
It's the normal behaviour of Bulma panel, you have to set its content to fullwidth

[2020-03-28 23:42] #2353 closed

[2020-03-29 16:25] id1385 opened #2359 "modal min width and min width"
when set :width="400" to modal component its work but it set max-width="400px" style not min with so if modal content is small it not get 400px fix

i think when we set with normal int number it must be fix to this number and get 100% with in touch device

[2020-03-29 16:54] jtommy commented on #2359
There isn't max-width prop

[2020-03-29 17:29] id1385 commented on #2359
when i set modal-has-card  modal dont scroll :|
how can fix it ? i have an custom component in content of modal

[2020-03-29 17:30] jtommy commented on #2359
Please provide an example on codepen or similar

[2020-03-29 19:00] id1385 commented on #2359
tank you very much i found an example and its work and fixed problem

[2020-03-29 19:00] #2359 closed

[2020-03-30 14:33] kmohrf opened #2360 "Dropdown menu always visible with Buefy CSS (regression in 0.8.13)"
Hi,

### Overview of the problem

**Buefy** version:  0.8.13
**Vuejs** version: does not apply
**OS/Browser**: Chromium Version 80.0.3987.149 on Arch Linux

### Description

A [recent change](https://github.com/buefy/buefy/commit/e0e39609fcad93576eb31dd4730678ef35864b5a) shipped with version 0.8.13 forces the dropdown component to be open regardless of its visibility state if Buefy CSS is used. Th

[2020-03-30 18:48] anti-destin opened #2361 "Table with lots of columns with long headers expands beyond 100% width even with 'scrollable' property"
### Overview of the problem

**Buefy** version: 0.8.13
**Vuejs** version: 2.6.11
**OS/Browser**: MacOS Catalina 10.15.4/Chrome 80.0.3987.149

### Description

Adding to a table lots of columns with long headers (e.g., 'Residential property price per sqm', etc.) causes the table to expand beyond 100% width even if the 'scrollable' property is used.

### Steps to reproduce

1. Create two bulma colum

[2020-03-30 19:21] jtommy commented on #2361
You should use width property on table column

[2020-03-30 19:27] anti-destin commented on #2361
Thanks for the suggestion.

I just tried adding the width property on the columns, but it did not fix the issue.

With a lot of columns, the table just expands.

[2020-03-30 19:31] jtommy commented on #2361
Are you able to reproduce it on codepen or similar?

[2020-03-30 21:37] #2360 closed

[2020-03-30 21:45] jtommy commented on #2361
Take a look at: https://codepen.io/jtommy/pen/rNVPoxa?editable=true&editors=101

[2020-03-30 21:45] #2361 closed

[2020-03-30 22:48] anti-destin commented on #2361
I found the issue, at least in our codebase.

Our page is structured as follows:

    <div class='column is-three-fifths'>
      <b-tabs>
        <b-tab-item>
          <b-table>
            table code
          </b-table>
        </b-tab-item>
      </b-tabs>
    </div>

Now, when too many columns are added, the table expands beyond the div.

But if we fix the width of the tab item as follow

[2020-03-31 10:50] alqu commented on #2343
Hm, I checked on my **Mac** w/ Catalina, not iOS. And the problem exists in Chrome - see screenshot:
![no Scrollbars in Chrome w Buefy](https://user-images.githubusercontent.com/12250845/78017904-46757400-734d-11ea-84c5-12f22bafce0d.png)

After re-installing Chrome (and deleting my profile) it still does not work.
But the scrollbars work flawlessly on Bulma's website - so I assume that there is so

[2020-03-31 11:02] jtommy commented on #2343
@alqu
![image](https://user-images.githubusercontent.com/8029488/78019098-5ee68e00-734f-11ea-9c04-359276cd811f.png)
Chrome 80.0.3987 on MacOS (Catalina)

[2020-03-31 11:23] anti-destin commented on #2361
I investigated further and even disabled all of the custom CSS that we added, but I was unable to track down the issue or reproduce it in your codepen.

I ended up just wrapping the table inside of a div with a max-width.

This is a hacky workaround, as I need to use JavaScript to calculate and set the max-width on mount, but it works.

Of course, I would welcome a more elegant solution.

[2020-03-31 11:42] alqu commented on #2343
OK OK... then it is something REALLY weird with my Mac going on...

Sorry for wasting your time!

I do not know why this occurs on my machine, so it must interfere with something installed on that. Hm.

[2020-03-31 13:59] jtommy commented on #2327
@DQvsRA The first time I thought it was a good idea but the current docs already contains a lot of example and Codepen integration.
Why do you need it ?

[2020-03-31 21:30] #2335 closed

[2020-03-31 21:33] jtommy commented on #2088
Close https://github.com/buefy/buefy/pull/2341

[2020-03-31 21:33] #2088 closed

[2020-03-31 21:48] jtommy commented on #2346
https://codepen.io/jtommy/pen/yLNwzEb?editable=true&editors=101

[2020-03-31 21:48] #2346 closed

[2020-04-01 06:23] jtommy commented on #2076
I'm waiting for Bulma 0.8.2 or to know next steps because probably Bulma is going to release v1 instead of 0.9.0

[2020-04-01 06:25] nogic1008 opened #2363 "Built-In intellisense support for Vetur"
### Description

1. Create `tags.json` and `attributes.json` on publish automated.
1. Add `vetur` section to `package.json` like this.
[code]
1. Send PR that uses built-in json to [vuejs/vetur](https://github.com/vuejs/vetur)

### Why Buefy need this feature

Currently, intellisense support of buefy is provided via [buefy-helper-json](https://www.npmjs.com/package/buefy-helper-json).
However, it h

[2020-04-01 06:39] jtommy commented on #2363
@nogic1008 thanks but before it I have to update this package adding missing new components and props, can you help me?

[2020-04-01 06:47] nogic1008 commented on #2363
@jtommy Sure.
I will send a PR based on the current buefy version to [buefy-helper-json](https://github.com/buefy/buefy-helper-json).

[2020-04-01 06:48] jtommy commented on #2363
Awesome

[2020-04-01 07:33] fayazara opened #2364 "Sidebar won't close if overlay is disabled"
### Overview of the problem

**Buefy** version: v0.8.15
**Vuejs** version: v2.6.11
**OS/Browser**: Version 80.0.3987.132 (Official Build) (64-bit) - Ubuntu 18.10

### Description
New Component Sidebar does not close when overlay is disabled, when clicking outside.

### Steps to reproduce

1. Go to Sidebar demo [page](https://buefy.org/documentation/sidebar/)
2. Disable Overlay prop
3. Open Sidebar

[2020-04-01 09:03] YoKawaiiK opened #2365 "Global registration of individual programmatic components (Snackbar)"
How is it possible to register individual programmatic components as a plug-in so that you can access it from any Vue component?

The documentation has this way:
`import{ SnackbarProgrammatic as Snackbar } from 'buefy'`
`Snackbar.open('Look at me!')`

But this method does not work when connecting Snackbar as a plugin using:
`Vue.use(Snackbar)`.

I expect that approximately the use of a programmati

[2020-04-01 10:36] wrabit commented on #1822
@neovive did you get to a point where you are using PurgeCss in production?

[2020-04-01 14:04] neovive commented on #1822
@wrabit I was close, but opted not to use it since I continued finding classes that needed whitelisting with no way to automate the process. I might try PurgeCSS again when starting a new project, but it was very hard to integrate later on in a large project.

[2020-04-01 14:48] id1385 opened #2366 "how to make clear icon of input conditionally ?"
` <b-field>
            <b-input expanded  :icon-right="{'close-circle' : true}"
                     icon-right-clickable
                     @icon-right-click="clearValue">
            </b-input>
        </b-field>`

this code get error because icon-right want icon name
**i want to set icon right visible when input has value**
how can do it ?

[2020-04-01 14:50] jtommy commented on #2366
The error is about type, you should pass a string

[2020-04-01 14:50] #2366 closed

[2020-04-01 15:01] id1385 commented on #2366
i think You don't understand what I mean
i have not error when i use normal icon name
i want visible clear icon when input has value not empty

![Capture](https://user-images.githubusercontent.com/28746285/78152713-6d1bd380-744f-11ea-8373-72217320615c.PNG)

[2020-04-01 15:04] id1385 commented on #2366
can u help me ?

[2020-04-01 15:12] jtommy commented on #2366
`:icon-right=" mydata? 'close-circle' : ''"`

[2020-04-01 16:18] #2033 closed

[2020-04-01 16:24] jtommy commented on #2365
`import{ SnackbarProgrammatic as Snackbar } from 'buefy'` -> component (programmatic)
`import{ Snackbar } from 'buefy'` > plugin

Before to use `Snackbar.open('Look at me!')` you have to import Snackbar plugin, for example:

main.js

[code]

component.vue
[code]
or
[code]

[2020-04-01 16:24] #2365 closed

[2020-04-02 08:25] abacram opened #2368 "DateTIMEpicker how to set first day of week"
I'm struggling why first day of week is an option in the datepicker component and not in datetimepicker, could you add this feature?
Thanks!

[2020-04-02 09:34] gutisalex commented on #1907
Aaaah, I was looking forward to see this kind of fix! But unfortunatly it doesnt really fix this issue because the extra symbol still makes it into the variable. It just is not getting displayed anymore! And that is actually even worse, because the user doesnt know about what is going on, because he doesnt see the extra symbol anymore!

You can check on that when you put a watcher on the variable

[2020-04-02 11:01] gutisalex commented on #1907
Just figured a workaround for this... plain simple, just dont use v-model! Use 2 way binding instead...

Example:
In your template:
`<input
  v-cleave="mask"
  :value="someValue"
  @input.native="onInput" />`

In your script:
`onInput(event: any) {
  this.someValue= event.target._vCleave.getFormattedValue();
  }`

[2020-04-02 12:59] service-paradis commented on #2368
You can use the prop `:datepicker` to use any prop specific to the datepicker.
ex. `:datepicker="{ firstDayOfWeek: 2 }"`

[2020-04-02 12:59] #2368 closed

[2020-04-02 15:53] #2328 closed

[2020-04-02 15:53] #2358 closed

[2020-04-02 15:55] jtommy commented on #2327
@DQvsRA at the moment i don't think to add it, but i'm avaiable to hear your reasons :wink:

[2020-04-02 15:55] #2327 closed

[2020-04-02 16:55] jtommy commented on #2211
There are too many possible use cases. In my opinion user should choose the right behavior by yourself

[2020-04-02 16:57] jtommy commented on #2206
@bviala I don't think it is related to Buefy, the transition groups all modal. Probably it's related to the browser

[2020-04-02 16:57] #2206 closed

[2020-04-02 17:19] pacien opened #2371 "TagInput: pressing the enter key twice causes the last input to reappear"
### Overview of the problem

**Buefy** version: 0.8.15 (bug wasn't present in 0.8.12)
**Vuejs** version: 2.6.10
**OS/Browser**: Chromium

### Description

In some cases, pressing enter a second time in a TagInput causes the last input to reappear.

### Steps to reproduce

1. Go to https://buefy.org/documentation/taginput/#autocomplete
2. In the autocompleted TagInput field, enter "Tina"
3. Press t

[2020-04-02 17:24] jtommy commented on #2371
You are right, I'll investigate about it

[2020-04-02 17:37] GunnerGuyven commented on #2211
The problem isn't choosing the right behavior.  The problem is that buefy misbehaves in a way that can only be partially mitigated as I have explained.  Your reason for ignoring is silly, just pick a behavior and support it.

[2020-04-02 17:41] GunnerGuyven commented on #2211
At the least give the implementer the ability to set `isActive` through an exposed property.

[2020-04-02 17:45] service-paradis commented on #2211
You can use `v-model` to set the desired tab.

[2020-04-02 17:47] GunnerGuyven commented on #2211
And I do in my workaround you will see.  The problem is that the tabs themselves are tracking isActive to display themselves, and they do not respect a single currently selected tab and allow more than one to be selected at once despite the tab controller having no such concept (it can only highlight one).

[2020-04-02 17:51] katjafi opened #2372 "Column search input field placeholder"
Hi,

While using Buefy table (https://buefy.org/documentation/table/#searchable) for a project I noticed that it would be great to have a placeholder for search filter input field. Couldn't find a way to add it from your documentation, would it be possible to add this in the future?

<img width="1325" alt="Screenshot 2020-04-02 at 20 50 22" src="https://user-images.githubusercontent.com/30377332/7

[2020-04-02 17:55] service-paradis commented on #2211
Can you create a codepen explaining your issue? You can use this as a baseline:
https://codepen.io/service-paradis/pen/VwLNqxp?editable=true&editors=101

[2020-04-02 18:13] jtommy commented on #2372
If you want to customize it you should use header slot of table column component

[2020-04-02 18:16] GunnerGuyven commented on #2211
I don't even have to edit that to demonstrate it.

1. Select 'Games'
2. Click to deselect 'Show Music Item by using `v-if`'
3. Observe that now 'Games' and 'Comics' content are showing simultaneously
4. Select 'Videos'
5. Observe that now 'Videos' and 'Comics' content are showing.  'Comics' tab has to be visited to clear this lingering display.
6. Select 'Comics'
7. Observe that now only 'Comics'

[2020-04-02 18:37] service-paradis commented on #2211
Ok, I did not understand the problem correctly. I see that this is kind of disturbing to view the content of 2 tabs.
I maybe have a simple fix in mind which would look like this:
![captured (7)](https://user-images.githubusercontent.com/12817388/78287860-50cf7380-74ef-11ea-99e0-865fc6d9144b.gif)

Something along this should prevent having 2 tabs being active:
[code]

[2020-04-02 18:41] jtommy commented on #2211
@service-paradis ooh ok, thanks

[2020-04-02 18:42] service-paradis commented on #2211
Are you ok with the following fact:

[2020-04-02 18:43] #2372 closed

[2020-04-02 18:49] GunnerGuyven commented on #2211
That does not bother me.  The big deal was keeping the interface clean in some way.

Keep in mind there is an opposite issue that can happen that can be demonstrated in the following way using the example listed above:

1. Click to enable 'Show books item (by adding / removing from the array)
2. Select 'Movies'
3. Click to unenable 'Show books item (by adding / removing from the array)
4. Observe

[2020-04-02 18:58] service-paradis commented on #2211
Yes, I can reproduce this issue also where no tabs are being selected. Not exactly the same issue, but related for sure.
I will make a PR including a slightly modified version of the fix posted above. I will include in this PR a fix for the second issue when the last tab is selected.

[2020-04-02 19:00] GunnerGuyven commented on #2211
I appreciate everything.  I am sorry for my rudeness.

[2020-04-02 19:02] service-paradis commented on #2211
No problem
You can try my PR if you have some time:
https://github.com/buefy/buefy/pull/2374

[2020-04-02 21:29] jtommy commented on #1534
@PeteyRev any news?

[2020-04-03 13:09] #2211 closed

[2020-04-03 14:00] #2364 closed

[2020-04-03 14:45] #2371 closed

[2020-04-03 16:35] biapar opened #2376 "Is't possible to made the steps component vertical?"
Is't possible to made the steps component vertical?

[2020-04-03 16:53] biapar opened #2377 "Steps Component: How to block to pass next step if there is some error into actual step?"
Steps Component: How to block to pass next step if there is some error into actual step?

[2020-04-03 17:39] service-paradis commented on #2377
You can use custom pagination button. Check the first example in the doc. You can control the button `disabled`state.

[2020-04-03 17:42] #2377 closed

[2020-04-04 03:57] #1811 closed

[2020-04-04 16:53] #2331 closed

[2020-04-04 17:57] harlet commented on #1907
Or https://github.com/nosir/cleave.js/issues/459#issuecomment-609066084

[2020-04-05 14:52] biapar commented on #2377
Thanks. How to refer the next button ? Is't good to user ref?

[2020-04-05 18:04] service-paradis commented on #2377
No need to use ref. You only need to set the `:disabled` prop accordingly:

[code]

[2020-04-05 20:00] service-paradis commented on #2376
@biapar
Would love to know what you think of #2378

[2020-04-05 20:51] MelvinFrohike opened #2379 "Table Column headers not toggleable when data was empty"
### Overview of the problem

**Buefy** version: [0.8.15]
**Vuejs** version: [2.6.11]
**OS/Browser**: macOS Catalina, Safari, Chrome

### Description
Table column headers cannot be toggled on/off when the table data has been empty at some point. The actual content's columns are toggled correctly thus rendering the content columns under the wrong header.

### Steps to reproduce
I've prepared a codep

[2020-04-06 06:17] #2376 closed

[2020-04-06 16:44] P3trur0 opened #2381 "on-border/inside positioned labels do not shift when the corresponding b-field has position set to is-right"
### Overview of the problem

**Buefy** version: ^0.8.15
**Vuejs** version: ^2.6.11
**OS/Browser**: Ubuntu 18.04

### Description

When using `b-field` with `position` property set to `is-right` and `labelPosition` set either to `on-border` or `inside`, it seems that the label does not shift to right as the actual field component does.

Here you may see an example:

![image](https://user-images.git

[2020-04-06 22:31] poulinjulien opened #2382 "Gap between Upload and Filename in Field with horizontal layout"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 0.7.5
**OS/Browser**: Windows 10 - Edge, Firefox

### Description

When used in an horizontal field, there is a gap between the Upload button and the Filename span.

### Steps to reproduce

https://codepen.io/poulinjulien/pen/ExjqXeb

### Expected behavior

The Filename span should be right next to the Upload button.
![image

[2020-04-07 11:16] tomasz-lasko commented on #675
hi I have a different problem with it so I share solution:

I came back to buefy after 2 years and nobody warned me that `this.$dialog.alert('hey')` nor longer works, I missed the info in buefy :(, instead I googled much until I found that one should now use `this.$buefy.dialog.alert('hey') `

anyway I've encountered something like "$dialog is a plugin", so is $dialog a plugin for bulma, or for so

[2020-04-07 11:50] jacobgoh101 commented on #533
wow.. this is pretty bad...

**Vue's props are reactive, period.**

If Buefy Modal's props are not reactive, either

- the name should change, it shouldn't be called props, or
- it should be made reactive

This is really confusing. Please re-open this issue.

[2020-04-07 13:05] jtommy commented on #675
@tomasz-lasko you should take a look at changelog and release to see the breaking changes

[2020-04-07 15:33] tomasz-lasko commented on #675
Yes, I posted only here just in case that if someone has similar problem, they would find my info (and now yours too;) )

[2020-04-08 12:05] FlorianChretien opened #2383 "Detect click in text tag (taginput)"
Hi,
Is it possible to "click" an event on a tag (taginput)? Thank you very much again for seeing work!
Have a nice day

[2020-04-08 12:08] jtommy commented on #2383
What click event do you want to listen ?

[2020-04-08 12:14] FlorianChretien commented on #2383
To be able to detect the click on the text of the tag, to launch a method (which will execute a request and change the type)

[2020-04-08 12:38] jtommy commented on #2383
@FlorianChretien take a look at https://buefy.org/documentation/taginput#custom-selected

[2020-04-08 12:38] #2383 closed

[2020-04-08 12:55] FlorianChretien commented on #2383
I cannot detect the click on the text to execute an axios request?

[2020-04-08 13:29] FlorianChretien commented on #2383
I did not succeed with the custom-tags :/

[2020-04-08 13:31] jtommy commented on #2383
@click.natve on tag ?

[2020-04-08 13:46] FlorianChretien commented on #2383
Perfect ! Thanks you !

[2020-04-08 15:13] DazDotOne commented on #2156
I spent some time looking into this, it's pretty frustrating.

for some reason for me, adding tags always gets rid of the dropdown list (the input remains focused).

However, If I make some changes to the component using the taginput and let it hot reload, everything works.

the biggest difference I can see is this:

when inspecting:
`console.log(this.$refs.myTagInput.$refs.autocomplete.$refs.drop

[2020-04-08 18:16] chloebrqt opened #2385 "parameters of $buefy.notification.open not accepted by Typescript"
### Overview of the problem

**Buefy** version: [0.8.13]
**Vuejs** version: [2.6.11]
**OS/Browser**: Ubuntu/Firefox Developer Edition (76.0b1)

### Description

I want to open a notification if there's an error with my ajax request. I've copied and pasted what was in the documentation, that is :
[code]

Problem is, I'm using Typescript (and I'm quiet new to it) and it seems the "open" property of

[2020-04-08 22:30] jtommy commented on #2379
I'll take a look

[2020-04-08 22:36] jtommy commented on #2156
Probably, I hope to fix it soon

[2020-04-09 12:41] service-paradis commented on #2385
I will work on it. As a workaround until the new release, you can do the following:
[code]

[2020-04-09 14:45] #2385 closed

[2020-04-09 17:52] jonas87 opened #2388 "input fields in table"
How would one go about setting input fields for specific columns with 2-way binding to the underlying table data object?

To clarify what I mean, here is a simple demonstration with 2 columns that have input fields in Vuetify:
[https://codepen.io/jonas87/pen/NWGWMdP](https://codepen.io/jonas87/pen/NWGWMdP)

I started applying this to one of the buefy examples but I'm not sure what variable to bind

[2020-04-09 17:58] chloebrqt commented on #2385
Thanks a lot for the fast answer and for the workaround, this is much appreciated. :)

[2020-04-09 18:07] service-paradis commented on #2385
Ça fait plaisir ;)
Bonne journée!

[2020-04-09 18:09] chloebrqt commented on #2385
Merci à toi aussi! :)

[2020-04-09 21:39] foochris opened #2389 "Field : Add required property that would append an asterisk to label"
### Description
Add a property `required` (boolean, default: `false`), that when set to `true` would append an asterisk (or another user defined character by property) to the label. In addition, wrapping the asterisk in a `span` with either a custom or default class name would allow for ease of styling.

### Why Buefy need this feature
It would reduce the DRY that would be needed to implement such

[2020-04-09 21:42] jtommy commented on #2389
There is already https://buefy.org/documentation/field#label-slot

[2020-04-09 21:42] #2389 closed

[2020-04-09 22:04] foochris opened #2390 "Documentation : list UI Component options in as a subheader"
### Description
As a new user, it may be helpful to see the options available for each UI Component. In `Steps`, for example, a list could be displayed below the subheading, 'Response horizontal process steps', that displays Dynamic, Icons, Sizes, Types and API.

### Why Buefy need this feature
Having the list of options would allow a new user to efficiently determine if the component is suitable

[2020-04-10 02:20] nogic1008 commented on #2363
Can I send PR for [/helper-json/*.json](https://github.com/buefy/buefy/tree/dev/helper-json) directly?
I want to improve them.

[2020-04-10 06:30] jtommy commented on #2363
It's ready but I'm waiting to release the new version before to send it

[2020-04-10 15:55] Alfavio opened #2391 "Large size of library"
### Overview of the problem

**Buefy** version: `0.8.15`
**Vuejs** version: `2.6.11`
**OS/Browser**: Linux/Chrome

### Description

Library has large size. Vue GUI shows **633 kB** after build. Also CDN version has large size.

- `buefy.min.js` has **226.5 kB**
- `buefy.min.css` has **209.6 kB**

![screenshot-localhost_8000-2020 04 10-17_45_53](https://user-images.githubusercontent.com/5478075/790

[2020-04-10 16:25] jtommy commented on #2391
@Alfavio the docs is outdated about size but you can take a look at unpkg
![image](https://user-images.githubusercontent.com/8029488/79006055-94ae2280-7b58-11ea-9bdb-d7c119470a65.png)

[2020-04-10 18:30] dalholm opened #2393 "Datetimepicker"
### Overview of the problem

**Buefy** version: [2.6.11]
**Vuejs** version: [0.8.15]
**OS/Browser**:

### Description
When using datetimepicker i need to be able to parse the date but the method datetime-parser it's not triggered.

datetime-formatter is working fine though

### Steps to reproduce

```<b-datetimepicker :datetime-parser="function"/>```

[2020-04-10 21:14] jtommy commented on #2391
Gzip is about 48.5 and 38.8

[2020-04-10 21:19] jtommy commented on #2388
It's ok but `v-model` doesn't require `:`

[2020-04-10 21:19] #2388 closed

[2020-04-10 21:20] jtommy commented on #2390
Nice idea

[2020-04-11 21:44] biapar commented on #2377
How to intercept that the step is changed and in which step we are?

[2020-04-12 17:12] service-paradis commented on #2377
`v-model` to always have the displayed step index.
`@change` to know when a new step is selected.

[2020-04-13 18:12] BrauBeast opened #2395 "Icon type does not support hyphenated colors"
### Overview of the problem

**Buefy** version: [0.8.15]
**Vuejs** version: [2.6.11]
**OS/Browser**: Windows/Chrome

### Description

When using the `type` attribute for `b-icon`, colors that are more than one word and hyphenated do not apply the corresponding "has-text-[type]" class to the element.

### Steps to reproduce

1. Create icon element with `type="is-grey-dark"`

### Expected behavior

[2020-04-13 20:40] jtommy commented on #2005
Close https://github.com/buefy/buefy/pull/2394

[2020-04-13 20:40] #2005 closed

[2020-04-13 21:09] #2391 closed

[2020-04-13 21:16] jtommy commented on #2393
As you can see it works https://codepen.io/jtommy/pen/zYvvOWW?editors=1011

[2020-04-13 21:16] #2393 closed

[2020-04-13 21:40] #2381 closed

[2020-04-13 21:48] jtommy commented on #2382
It was only an example and the issue is relative to bulma

[2020-04-13 22:32] Sarah-clariondoor opened #2397 "Search does not work in IE11 in buefy table"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**: IE11 (version 11.719.18362.0)

### Description

Searching in a buefy table does not work in IE11 within vue app.

### Steps to reproduce

### Expected behavior

The list should update and show list of rows that match that search term.

### Actual behavior

Nothing. The list is the same as before.

The

[2020-04-14 00:28] kerbo opened #2398 "Dropdown Multiple with Checkboxes"
Currently the Dropdown multiple option works by highlighting selected menu items.

The component would be more intuitive to users if the checkboxes were provided for users to check.

[2020-04-14 13:37] jtommy commented on #2398
@kerbo you have to use `custom` prop to dropdow-item and you customize it as you want, for example https://codepen.io/jtommy/pen/NWGGaRP?editors=1011

[2020-04-14 13:37] #2398 closed

[2020-04-14 14:24] fverry opened #2400 "npm install or build fails with node 12 or 13 because of outdated node-sass dependency"
### Overview of the problem

**Buefy** version: 0.8.15 in ~/buefy-0.8.15
**Debian** version: 9.12
**nvm** version: 0.35.3
**Node.js** version: 13.12.0 in ~/.nvm/versions/node/v13.12.0/bin/node
**npm** version: 6.14.4 in ~/.nvm/versions/node/v13.12.0/bin/npm

### Description

When launching `npm install` or `npm run-script build` with node 12 or 13 installed, the command fails and exits. The issue

[2020-04-14 14:30] fverry commented on #2400
See https://github.com/sass/node-sass/issues/2653#issuecomment-487407331 about the error message ```Cannot download "https://github.com/sass/node-sass/releases/download/v4.11.0/linux-x64-79_binding.node":```

[2020-04-14 15:17] kerbo commented on #2398
Thanks for example. I had gone down this path and decided it shouldn't be necessary. IMHO, checkboxes should be the default behavior for this component. Not sure anyone really wants the old shift-select UI.

[2020-04-14 15:23] febrihidayan commented on #2005
@jtommy how to add component timeline?
I've been waiting 😀

[2020-04-14 15:24] jtommy commented on #2005
You can use vertical step at the moment

[2020-04-14 15:28] febrihidayan commented on #2005
@jtommy okey.
I hope this feature is added 👍

[2020-04-14 16:40] jtommy commented on #2398
@kerbo i might add prop `checkbox` on dropdown-item in order to add a checkbox when dropdown is `multiple`

[2020-04-14 17:11] kerbo commented on #2398
Thanks, if you do this, be sure to support clicking the entire menu item. That is, when clicking the menu item outside of the checkbox, the checkbox should check/uncheck.

[2020-04-15 06:42] Aishmaheshwari opened #2402 "Is there any way to make few rows selectable in b-table ?"
"vue": "2.6.10",
"buefy": "0.8.12",

Is there any way to make only checked rows selectable? something similar to :is-row-checkable.

I have a few rows non-checkable but still I can select the rows

[2020-04-15 09:46] fverry opened #2403 "Enable build from headless environment"
### Description

**Debian** version: 9.12 headless
**Node.js** version: v10.20.1
**npm** version: 6.14.4
**Buefy** version: v0.8.15

### How to reproduce issue

[code]

Trailing output :
[code]

### Investigate

Following https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md commandation at "Chrome headless doesn't launch on UNIX" I tested `ldd chrome | grep not`

[code]

N

[2020-04-15 18:12] vimalmistry commented on #1677
How to add <div class="container"> inside navbar?? This issue marked as fix. But can not find any proper doc for this.

[2020-04-15 21:27] NickeManarin opened #2406 "How to use Buefy with Unicons?"
I'm trying to use [Unicons ](https://iconscout.com/unicons?ref=vue-unicons) on my website, via [vue-unicons](https://antonreshetov.github.io/vue-unicons/).

I was able to display the icons on the page directly via the `<unicon>` tag by using this config:

[code]

[code]

The problem is that I'm not able to use the icons with Buefy elements, like this one:

[code]

Is there any way to use vue-unico

[2020-04-15 21:39] jtommy commented on #2406
You can add CSS icons at the moment. You can use it but not using icon prop

[2020-04-15 22:52] NickeManarin commented on #2406
Ok, I can use directly the CSS from [Unicon](https://iconscout.com/unicons/getting-started/line) instead of [vue-unicon](https://antonreshetov.github.io/vue-unicons/).

I didn't understand your second sentence...
Is it (the CSS version) going to work with the `icon-left` property?

[2020-04-15 23:24] #1094 closed

[2020-04-16 06:13] jtommy commented on #2406
Sure! Take a look at https://buefy.org/documentation/icon#custom-icon-pack

[2020-04-16 06:13] #2406 closed

[2020-04-16 06:15] jtommy commented on #2402
Do you mean multiple select or single select?

[2020-04-16 08:48] edwardbattistini commented on #2031
I'm quite keen to start on that. Are there any other designers keen too?
I've started a file https://www.figma.com/file/YBr5zjbZkPKRbFwaLwglaj/Buefy-Figma?node-id=1%3A1189

[2020-04-16 12:03] jtommy commented on #2031
@edwardbattistini i'm not expert but I hope you'll find other designers. Btw thanks :)

[2020-04-16 16:18] #2395 closed

[2020-04-16 16:20] #2403 closed

[2020-04-16 16:21] jtommy commented on #2400
https://github.com/buefy/buefy/pull/2404

[2020-04-16 16:21] #2400 closed

[2020-04-16 16:24] #2167 closed

[2020-04-16 16:27] jtommy commented on #1749
https://github.com/buefy/buefy/issues/2235

[2020-04-16 16:27] #1749 closed

[2020-04-16 20:27] NickeManarin commented on #2406
It works, with some issues.

I tried to @import the CSS on my App.vue, but it was not working, probably because it's a CSS and the style is set to SCSS?

@import "https://unicons.iconscout.com/release/v2.1.5/css/unicons.css";

Anyway, I had to add this line to the index.html file instead:

`<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">`

**App.vue**:

[2020-04-16 20:37] jtommy commented on #2406
Well done

[2020-04-17 04:39] timwoelfle opened #2408 "Toggle detailed rows with left/right arrow keys in focusable and selectable tables"
It's already great that rows in focusable and selectable tables can be navigated by up/down arrow keys. It would be even nicer if detailed rows could be toggled with left/right arrow keys, which I find very intuitive as reminiscent of folder navigation in e.g. Windows Explorer / macOS Finder (especially when chevron icon is visible)!

I'm currently using a custom implementation, but maybe this is

[2020-04-17 04:53] timwoelfle opened #2409 "Table mobile cards not only on mobile but also narrow boxes"
It would be great if the mobile card layout of tables could also be leveraged independent of screen-size, e.g. for use in narrow / resizable boxes.

[2020-04-17 07:01] Valar103769 opened #2410 "update bulma to 0.8.x please"
[code]

[code]
box-shadow is inconsistence

[2020-04-17 09:13] jtommy commented on #2410
What?

[2020-04-17 10:24] #2410 closed

[2020-04-17 12:57] cypressious commented on #2235
Kinda related, if we install components individually instead of calling `Vue.use(Buefy)`, how can we set options like default values for toast position and so on?

[2020-04-17 13:26] cypressious opened #2411 "Taginput doesn't show completion after deleting item or receiving focus programmatically"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**: Windows 10 / Firefox

### Description

`b-taginput` won't show the autocomplete dropdown after deleting an item and when it received focus programmatically through `taginput.focus()`.

When the component is in that state, clicking also doesn't help. Only after typing something, the dropdown will reappe

[2020-04-17 13:26] jtommy commented on #2235
@cypressious individual component doesn't share a common config but I might add a constructor for each component plugin, for example:
[code]

What do you think ?

[2020-04-17 13:32] cypressious commented on #2235
@jtommy That would be awesome.

[2020-04-17 13:35] jtommy commented on #2411
Thanks, but there is a same issue https://github.com/buefy/buefy/issues/2411

[2020-04-17 13:35] #2411 closed

[2020-04-17 14:21] foochris commented on #2390
@jtommy The implementation could be similar to the right hand column in Bootstrap Vue:

https://bootstrap-vue.js.org/docs/components/table

[2020-04-17 14:30] foochris opened #2412 "Table: add additional row to the header"
### Description

An additional header row that displays a cell that spans several header cells below: (e.x. 'Type 1', 'Type 2'):

![image](https://user-images.githubusercontent.com/1527289/79579991-5784eb80-8096-11ea-99ca-ccba332f83cc.png)

The feature requested would be similar to Bootstrap Vue:

https://bootstrap-vue.js.org/docs/components/table/#adding-additional-rows-to-the-header

### Why Bue

[2020-04-17 15:05] service-paradis commented on #2412
You can achieve this using `subheading` or `header` slot I think

[2020-04-17 15:42] foochris commented on #2412
@service-paradis The goal is the reverse of the current implementation of `subheadings`: the first row spans several of the cells in the second row. And your suggestion using the `subheading` slot will result in the subheadings prop:

https://github.com/buefy/buefy/issues/2292

https://buefy.org/documentation/table/#subheadings

[2020-04-17 16:37] jtommy commented on #458
I added a roadmap on Buefy project https://github.com/buefy/buefy/projects/6.
I have to decide if make a 0.9.x version (with breaking changes) or directly the v1.
It might depend on Bulma too

[2020-04-17 17:15] murilolivorato opened #2413 "How can I use just one Buefy component without install all Package"
Hello , I want to use just these "Select" component -
https://buefy.org/documentation/select

But I dont want install all Buefy components .
There is any how to install just this component withou install all Buefy  Package  ?
Thanks , congratulation , nice job =)

[2020-04-17 17:22] jtommy commented on #2413
Sure https://buefy.org/documentation/start, individual components

[2020-04-17 17:22] #2413 closed

[2020-04-17 18:30] P3trur0 opened #2414 "header-class property in b-table-column does not work"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**: Ubuntu 18.04/Chrome

### Description
In Buefy tables, the application of the `header-class` property seems not working.

### Steps to reproduce

1. Define a `b-table`
2. Add a slot containing a list of `b-table-column`s like this:

[code]

### Expected behavior

The header of the column should be verti

[2020-04-17 19:57] bearkfear commented on #1310
I have a table that is dinamic. I need to props all the sub-tables to open that?

[2020-04-17 21:15] davidmeeker commented on #1957
The issue seems to be that defaultDateFormatter yields incorrect results on Safari (both desktop OS X and iOS) for spring dates far in the past (likely where DST rules were different).

Chrome and Firefox both yield these results, which are as expected:

Compare to Safari:

Examining the full string (still in Safari) shows we've lost an hour:

This appears to be due to Safari not properly handling

[2020-04-18 08:51] zedrdave commented on #1957
@davidmeeker Good catch!
I have tested and indeed the bug only happens for dates further back than April 4, 1977 with my computer locale…

Modifying the date formatter as you suggest does indeed fix the problem!

[2020-04-18 12:22] jtommy commented on #2414
You should customize it with a custom class, for example
[code]

[2020-04-18 12:22] #2414 closed

[2020-04-18 12:27] jtommy commented on #1957
@zedrdave @davidmeeker so is there a universal fix to add in the core code ?

[2020-04-18 12:55] davidmeeker commented on #1957
The fix I suggested above to defaultDateFormatter is universal. I can submit a PR at some point this weekend if that would be helpful.

[2020-04-18 13:06] #2156 closed

[2020-04-18 13:06] jtommy commented on #2411
@cypressious Fixed remove but for focus try `<button @click="$refs.taginput.$refs.autocomplete.focus()">Focus</button>`

[2020-04-18 13:07] jtommy commented on #1957
@davidmeeker sure, thanks! So i can test it

[2020-04-18 13:40] jtommy commented on #2329
@MannikJ it's no easy try a way to know if null value is delibarete (your need) or in case a user didn't set the value. You should set always a value, for example empty string

[2020-04-18 13:54] slidenerd commented on #2332
CSS I havent figured out but this is how I did it for the components

import Vue from 'vue'
import { Dropdown, Icon } from 'buefy'

Vue.use(Dropdown)
Vue.use(Icon)

[2020-04-18 14:04] jtommy commented on #2235
@cypressious To be honest at the moment the Buefy config are common for all components, you might take a look at https://github.com/buefy/buefy/issues/1955#issuecomment-576144659

I could expose a BuefyConfig plugin in order to set custom options

[2020-04-18 14:11] slidenerd commented on #2337
Same problem here @import "~buefy/src/scss/buefy"; if you add this line, it has no effect but if you import the entire css file inside plugins/buefy.js thats when it works, I am using Nuxt here

[2020-04-18 15:09] Aishmaheshwari commented on #2402
Single select. My requirement is as follows:
when I am using :selected.sync="selected" I can select any row in the table. But I need a conditional check so a few rows are disabled and cannot be selected.

[2020-04-18 15:10] slidenerd commented on #1491
If i dont write import 'buefy/dist/buefy.css' and then directly @import "~buefy/src/scss/buefy" the styles are not getting applied, this scss file is being included globally in nuxt.config.js

[2020-04-18 15:38] slidenerd opened #2415 "Buefy styles are not getting applied"
### Overview of the problem

**Buefy** version: 0.8.15
**Nuxt** version: 2.12.2
**OS/Browser**:

Codesandbox.io

### Description
Buefy does not apply scss styles to imported components

### Steps to reproduce

- Create a nuxtjs codesandbox
- Install latest version of bulma
- Add node-sass and sass-loader as dev dependencies
- Import bulma scss files
- Install buefy
- Create buefy.js file under plu

[2020-04-18 17:57] runyasak opened #2416 "[Feature] Default slot component for b-upload"
### Description
I have used `b-upload` with normal button, but cannot used with `b-button`.
I'm not sure that would be the bug to fix, or it be an intention to using with normal button.

[code]

In my opinion, I suggest to make default button component for `b-upload`. So, we will no need to default button, but `default` slot still work.

[code]

### Why Buefy need this feature
Users don't need to

[2020-04-18 19:01] jtommy commented on #2416
Why ? In this way you can use button or b-button or icon or as anything you want

[2020-04-18 19:01] #2416 closed

[2020-04-19 01:34] davidmeeker opened #2418 "DateTimePicker on iOS is off by UTC offset of user's timezone"
On head of dev against iOS 13.4.1, the native datetimepicker exhibits the same problems that the native datepicker showed in #1957 -- the chosen datetime is being interpreted as being in UTC, but only on iOS Safari, not under Chrome / Android.

![Time mismatch in US Central (UTC-5)](https://user-images.githubusercontent.com/13811658/79677110-47aef980-81b3-11ea-84e7-3bbb4f991617.png)

The date comp

[2020-04-19 01:39] kerbo commented on #2412
I've tried using Labels for the top and subheadings for the bottom and can't get it to work. One of the problems is you need to add colspan to the top row and there is no way to do that. In addition to colspan, you normally want to style things like having the text in the top row centered over the spanned columns.

[2020-04-19 10:28] apolokaklab commented on #2339
@jtommy i will to refactor but i need news break changes.
@service-paradis i think can replace with `event.target.tagName === 'IMG' && event.preventDefault()`

[2020-04-19 10:29] jtommy commented on #2339
Ok no problem, make a breaking PR

[2020-04-19 15:50] okrymus opened #2420 "How to put sidebar inside an element instead of body component?"
I am trying to put sidebar inside a component instead of into body component. Is there anyway I can do it? Thank you for your help

[2020-04-19 16:19] jtommy commented on #2420
Did you try https://buefy.org/documentation/sidebar#static ?

[2020-04-19 16:52] okrymus commented on #2420
Thank you for your answer! But when I set position="static", the animation, fullheight and right do not work. Shouldn't I use the container? but I do not know how to set container

[2020-04-19 17:04] jtommy commented on #1955
@squareloop1 @rabbidas @cwilby i added the export of config component https://github.com/buefy/buefy/commit/9a887a67cedbceb0a09f32c36d5e234c4b97a030, for example:

[code]

[2020-04-19 17:04] #1955 closed

[2020-04-19 17:05] jtommy commented on #2235
@cypressious take a look at https://github.com/buefy/buefy/issues/1955#issuecomment-616183794

[2020-04-19 17:40] jtommy commented on #2415
Please take a look at https://buefy.org/documentation/customization

[2020-04-19 17:40] #2415 closed

[2020-04-19 23:24] NickeManarin opened #2421 "Overflow-x: auto in table-wrapper causes some strange behavior in tablet size"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**: Windows 10 18363.778 on all major browsers (Edge, Chrome, Firefox)

### Description

When using a b-table and resizing to a tablet size, the horizontal scrollbar appears. That scrollbar is unnecessary and appears to be triggered by an `overflow-x: auto` on the `table-wrapper` class.

### Steps to repro

[2020-04-20 07:30] rudolph2907 opened #2422 "Taginput with open on focus, doesn't show autocomplete until you start typing"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**: Windows Chrome/Firefox

### Description

Taginput with open on focus, doesn't show autocomplete when you click on the component, it only show the autocomplete once you start typing. It does work if you click away and then click on the component afterwards. But not the first time.

### Steps to reproduc

[2020-04-20 11:21] jsahner opened #2423 "DateTimePicker sets wrong focused date"
I found an issue in the DateTimePicker component. After selecting a date, the wrong one will be focused. As such, clicking on enter starts a loop of selecting wrong dates over and over (see GIF below).

The error seems to be caused by the following line: https://github.com/buefy/buefy/blob/9a887a67cedbceb0a09f32c36d5e234c4b97a030/src/components/datepicker/Datepicker.vue#L691

Using `getDate()` ins

[2020-04-20 13:58] edwardbattistini commented on #2031
will try to keep moving this one forward

[2020-04-20 18:19] NickeManarin commented on #2406
I just noticed something strange.

When using a button as is-medium or as regular size, the size applied to the icon is "is-small".
When using "is-large" it sets the icon to "is-medium".

What's happening, @jtommy ?

[2020-04-20 18:39] #2423 closed

[2020-04-20 18:41] service-paradis commented on #2345
When SASS implementations will support the use of `@use`. It will be possible to import only variables from a given component. If you're using Dart Sass in your project, you can already use `@use`:
https://sass-lang.com/documentation/at-rules/use

[2020-04-20 18:44] jtommy commented on #2345
@service-paradis good catch!

[2020-04-20 19:45] service-paradis commented on #2397
Just tried the docs on an old computer with IE11 (v. version 11.719.18362.0) and it works fine. Do you use any custom filters? Can you share your table config (maybe even create a codepen)?

[2020-04-20 20:38] NickeManarin commented on #2106
Hi @jtommy, do you have plans in adding the support for this (template support in tooltip content)?

[2020-04-20 21:02] kamaladenalhomsi opened #2425 "b-carousel-list slides functionality does not work when changing 'data' property value"
### Overview of the problem

**Buefy** version: 0.8.15
**Vuejs** version: 2.6.11
**OS/Browser**:

OS: Windows 10 Pro
Browser: Chrome 81

### Description

#### The bug

I am using the component `<b-carousel-list>` with only those two properties `data` and `items-to-show` <br>
I am binding the data prop to `items` reactive property defined in the data function <br>
and then after 3 second (setTimeou

[2020-04-20 22:17] jtommy commented on #2106
Sure, it's the v1 roadmap

[2020-04-20 22:18] jtommy commented on #2422
Can you provide a codepen or similar?

[2020-04-21 01:53] Sarah-clariondoor commented on #2397
I set up a jsfiddle a while back, not sure if that helps since that's not available in IE, but here is the link: https://jsfiddle.net/sarah_at_clariondoor/261acesg/

No custom filters, literally just pasted the code from the buefy link above into my vue component then rendered the vue app.

[2020-04-21 08:38] rudolph2907 commented on #2422
Sorry @tjommy. I've found my problem, thanks for reaching out.

[2020-04-21 08:38] #2422 closed

[2020-04-21 13:47] Aishmaheshwari opened #2426 "B-table data update unchecks the checkbox"
### Overview of the problem

**Buefy** version: 0.8.12
**Vuejs** version: 2.6.10
**OS/Browser**: Windows/Chrome

### Description
We have a b-table in out application where we are facing the below issue.
consider the below

`:data="data"
:checked-rows.sync="checkedRows"`
 where
`data = [
  { id: 1, name: 'abc'},
  { id: 2, name: 'bcd'},
  { id: 3, name: 'cde'},
];

checkedRows = [
  { id: 2, name:

[2020-04-21 13:58] lukenofurther commented on #338
I see Beufy still hasn't adopted an explicit approach to imports. I won't be using it, which is a shame as it looks very good.

[2020-04-21 14:38] jtommy commented on #338
@lukenofurther what do you mean ?

[2020-04-21 19:46] #2154 closed

[2020-04-21 22:03] #2418 closed

[2020-04-21 22:08] jtommy commented on #2426
Sure, using `custom-is-checked`. It's a function that compare the selected element with all visible rows

[2020-04-21 22:08] #2426 closed

[2020-04-21 22:09] jtommy commented on #2420
@okrymus an example?

[2020-04-21 22:14] jtommy commented on #2342
It's no easy to add at the moment, probably it's better allow user to make it using default slot

[2020-04-21 22:14] #2342 closed

[2020-04-21 23:44] NickeManarin opened #2427 "Custom dialog with multiple options"
I need to display a dialog/modal with a custom content, two buttons, pointing to two methods on the parent component.

Basically:
User clicks on button.
Dialog appears, with a title + two buttons + a cancel button.
User clicks on Button2, the dialog closes and the method this.button2() gets called on the parent component.

Is there built in solution to solve this?
(I'm new to Buefy/Vue)