[2021-12-23 23:10] Ratatinator97 commented on #3610
Hello, have you found an answer ? I'm currently struggling with the same thing

[2021-12-24 07:03] jtommy commented on #3616
Did you try to edit the default classes?

[2021-12-25 16:43] pandasamanvaya opened #3624 "Autocomplete selects wrong highlighted position"
### Overview of the problem

**Buefy** version: [0.9.13]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chromium(Brave)

### Description

The highlighted position stores the value of the last entry when navigated using arrow keys. The highlighted position changes once the list is updated, but the stored highlighted value is not updated.

### Steps to reproduce
Below is a video attached that shows the

[2021-12-28 01:07] NickeManarin opened #3625 "Unused items in virtualized table are kept on display"
### Overview of the problem

**Buefy** version: 0.9.13
**Vuejs** version: 2.6.14
**OS/Browser**: Edge Chromium Version 96.0.1054.62 (Official build) (64-bit)

### Description

Broken virtualization in table.
When navigating to last page of table and having fewer items at the last page than the total per page, the unused items will keep being displayed, just with the previous data.

### Steps to re

[2021-12-28 09:53] ireznik commented on #2505
Since I am new to the vue world, it should at least have a notice in the docs / quick start that Vue3 is not supported.
This sentence in the quick start section is imho pretty misleading:

https://github.com/buefy/buefy#quick-start

[2021-12-28 10:15] #2505 closed

[2021-12-28 16:50] chadlafontaine commented on #3428
I would also like to see this feature for both the b-pagination and the b-table components. There seems to be a desire for this, [https://github.com/buefy/buefy/issues/3274](url). Would this be okay to work on as a new feature?

[2021-12-29 15:44] giovannilaperna commented on #343
@jtommy the second example, with `@change`, doesn't work anymore. Any workaround?

[2021-12-30 08:01] jtommy commented on #343
@giovannilaperna you have to use native modifier

[2021-12-30 10:03] #3624 closed

[2021-12-30 10:03] #3616 closed

[2021-12-30 10:15] #3615 closed

[2021-12-31 15:57] patcherdev commented on #2505
Please let us know in the website that Vue 3 is not/will not be supported. We all appreciate your efforts on developing this, but after a good while searching thinking i was doing something wrong i figured out.

Like the guy above mentioned there is no mention anywhere that this doesnt support Vue 3. Thanks

[2021-12-31 21:05] ireznik commented on #2505
@rcoundon I made a pull request to update the quick start about the Vue 3 support

[2022-01-03 17:46] Ryan-Case-SingleStone commented on #3618
@jtommy there was a type with the `isNil` helper method, so this bug did not get resolved in the latest release. I just opened a PR to resolve it #3628

[2022-01-03 19:13] Mars073 opened #3630 ""undefined" class in Progress component"
### Overview of the problem

**Buefy** version: 0.9.14
**Vuejs** version: 2.6.11
**OS/Browser**: Firefox 95.0.2

### Description
When a progress bar is added in "native mode" without a defined size, an "undefined" classname is added to the tag. The problem is that since size is not required it will try to use `undefined` as the key to the associative list.

[code]

### Steps to reproduce
1. Go htt

[2022-01-03 19:27] #3630 closed

[2022-01-03 20:07] ErikKrause commented on #3614
If the line with `Number(value)` is meant to set all invalid input to null, shouldn't that line be
`let newValue = (Number(value) === 0)?0:(Number(value) || null)`

[2022-01-04 00:01] Mars073 commented on #3547
I added the feature on [a branch of my fork](https://github.com/Mars073/buefy/tree/feature/sc-3547%2Fcircular-progress-bar), the problem of the rounded version is that the data representation is not accurate and not easily correctable due to the limitations of SVG 2 (what I used), so in my opinion it would be necessary to use a canvas, but in this case it would be the accessibility which will lose

[2022-01-04 18:12] kvanalls commented on #1197
Old thread but adding what I think is a better solution for the benefit of other Googlers...

### Solution: Use deep selectors to scope child elements

@szmarczak I had the same impression but it appears that not scoping children by default is by design and can be changed by using deep selectors, which worked for me:
https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors

@cdrandin and

[2022-01-05 13:42] dumbleedore commented on #322
`        <b-table-column v-slot="props" custom-key="actions">
          <button class="button is-small is-light" @click="editRow(props.row)">
            <b-icon icon="edit" size="is-small"></b-icon>
          </button>
        </b-table-column>`
This seems to work fine for me

[2022-01-05 15:46] tesis commented on #972
Hi,
I'm not sure if this is solved - or I understood the issues you experienced, but if I appended a tooltip to a b-field,
the input field shifts. So I ended up with something like that:

[code]

[2022-01-05 19:50] chadlafontaine commented on #3428
@jtommy Would this feature be acceptable to work on?

[2022-01-05 19:52] jtommy commented on #3428
Sure, if you can I'll review jt

[2022-01-06 11:42] mcmule opened #3632 "Table details data is mixed up with siblings (multiple rows opened, filtering table data)"
### Overview of the problem

**Buefy** version: 0.9.14 (initially found using 0.9.4)
**Vuejs** version: 2.6.14 (initially found in 2.6.11)
**OS/Browser**: Chrome

### Description

Here is the context:
- you have a b-table, with detailed rows; let's say it's a table of persons.
- properties of a row are provided through table's data (in our example: the name of each person)
- but some properties di

[2022-01-06 12:47] mcmule commented on #3632
Quick note: adding a `key` to the component helps, but this re-triggers `mounted`, which is a problem (it will fetch the data once again from the API, which is not an acceptable solution here)

[2022-01-06 16:32] jtommy commented on #3632
@mcmule https://github.com/buefy/buefy/blob/5a567365f9742a5c49c8d0c3df6ddbe36b47feb7/src/components/table/Table.vue#L298

The current code provides a `v-if` instead of `v-show` as you would prefer but I don't see it as a real issue, to be honest.
You could avoid it using a local cache, for example, you call the API only the first time that the user opens the detail and the other times get data fro

[2022-01-06 16:36] #3632 closed

[2022-01-06 16:44] mcmule commented on #3632
Thanks for the answer @jtommy !

I'm currently finishing a workaround based on caching data, it's just quite complex because I have nested components, and all these components have the same problem (asynchronously fetching data based on user id). So for each one I'm deciding whether to cache it, or to just use a key and have a forced reload.

But this does the job! Happy to see you came to the sam

[2022-01-07 04:30] yasin7044 commented on #2258
Yeah but in bcarouse list we can add dots functionality if there any way to add that then it world be awesome

[2022-01-08 01:00] asmaloney commented on #2560
I realize this is an old (closed) issue, but I'm switching a vue 2 app to typescript and ran into this same import problem.

Is there a solution yet for importing individual components?

I don't see anything in the docs ([here](https://buefy.org/documentation/constructor-options)) about typescript at all.

[2022-01-11 14:26] turbopasi commented on #319
@thebspin

Thanks ! After I removed `@import "~bulma/sass/utilities/_all";` all customized colors started to work.
For example : `type="is-success"` on a tag would not use the $success variable I setup , but now it works.

[2022-01-12 16:59] fabiofdsantos commented on #3315
Does it makes sense to replace `:readonly="!editable"` with `:disabled="!editable"`?

ping @jtommy @service-paradis

[2022-01-12 17:12] jtommy commented on #3315
Probably yes, but it's a breaking change thai I wouldn't add as described https://github.com/buefy/buefy/issues/2505#issuecomment-917645589

[2022-01-15 00:20] ricardopolo commented on #2889
Is it going to be fixed in the project? Or this workaround means I need to fork and modify my own version?

[2022-01-15 00:38] ricardopolo commented on #1094
This should not be closed. It is still happening in latest version

[2022-01-16 14:23] gabrielchl commented on #3428
(just to properly link the other issue) #3274

[2022-01-16 14:48] dev-avenger opened #3638 "Sort Arrow still persist even after sorting is removed"
Overview of the problem

Buefy version: [0.9.14]
Nuxtjs version: [2.15]
OS/Browser: Chrome

Description

https://buefy.org/documentation/table/#sorting-multiple

When i use this feature with multiple sorting and backend sorting enabled. During the removal of the primary and secondary
sorting, the arrow icon is still persist even after removing all sorting.

![image](https://user-images.githubuserc

[2022-01-17 15:35] chadlafontaine commented on #3428
@jtommy I submitted the pull request. I accidentally linked my pull request #3640 to another pull request that was created without first checking if it was okay to be work on, but I fixed my mistake last night when I noticed. Let me know if I need to make any changes and I will get on it right away.

[2022-01-17 16:39] jtommy commented on #3428
Mmm there are two PR about the same issue.. what PR should I check?

[2022-01-17 16:48] gabrielleecredera commented on #3428
@jtommy #3640, thanks

[2022-01-17 17:11] gabrielchl commented on #3428
#3640 thanks

[2022-01-17 17:14] chadlafontaine commented on #3428
@jtommy Yes, please check #3640, Thank you.

[2022-01-17 23:47] Fenix-Z opened #3641 "Select event of autocomplete in v-for"
### Overview of the problem
Select event of autocomplete inside v-for is called when the array is changed.

**Buefy** version: 0.9.8
**Vuejs** version: 2.6.14
**OS/Browser**: Chrome  97.0.4692.71 / Firefox 95.0.2

### Description
When I remove (`splice`) an item from an array which is used for v-for, it causes rerendering of v-for content as expected. But also the select event of autocomplete is c

[2022-01-23 15:45] jtommy commented on #3641
Did you try setting `:key` to autocomplete?

[2022-01-24 21:33] #3638 closed

[2022-01-24 22:07] dev-avenger commented on #3638
@nimaebra  @jtommy what if formattedSorting is not equal to zero? You want two sorting priorities but remove the third one but after removing third one, the arrow will still persist.

[2022-01-25 07:53] floflo711 opened #3646 "class "b-tooltips" doesn't work with tooltips inside (Vue2)"
Hello,

### Overview of the problem

**Buefy** version: [^0.9.13]
**Vuejs** version: [^2.6.11]
**OS/Browser**: Firefox 96.0.2 (64 bits)

### Description
I had the problem about 1 year ago, the problem is still there. It's not big issue but it's not normal it's not working.

So if I take the example from Buefy https://buefy.org/documentation/tooltip, the tooltips should be spaced like the class but

[2022-01-25 08:03] floflo711 opened #3647 "Autofill of inputs by browser is annoying, how to do?"
Hello, from [here](https://laracasts.com/discuss/channels/vue/autocomplete-off-not-working), seems like the problem is still here

I am doing a project, and I have my inputs being autofilled by saved  credentials in the browser, which is annoying.

Like the link above said, seems like the browser detect something and autofill the input.

In my example, I have a user and i want to fill inputs with

[2022-01-25 08:14] floflo711 commented on #3647
[Here](https://support.iclasspro.com/hc/en-us/articles/218569268-How-Do-I-Disable-or-Clear-AutoFill-AutoComplete-Information-), it's not quite a solution we can control but the user must disable by itself the option.

I don't know what we can do from our side

[2022-01-25 09:31] gianRVN commented on #55
@LinusBorg Could you please explain to me what is "ModalComponent" there? because I try to follow your approach but nothing seems to be happened. thank you

[2022-01-25 09:49] marcinkunert opened #3648 "The Datepicker first day of the week should depend on locale"
### Description

![image](https://user-images.githubusercontent.com/2963232/150951760-4a4fa883-5e70-4fbc-b478-6210a50f817f.png)

Currently, the default first day of the week is set to Sunday. This may be valid for some countries, but isn't for others. For me, it's always pretty confusing.

### Why Buefy need this feature

According to [wiki:Week](https://en.wikipedia.org/wiki/Week) the ISO standar

[2022-01-26 12:55] Mars073 opened #3649 "Datetimepicker is resetting with time '23:59'"
### Overview of the problem

**Buefy** version: 0.9.14
**Vuejs** version: 2.6.14
**OS/Browser**: Windows 10 - Firefox

### Description
I tried to put a date in a project and realised that the date was resetting, I thought it was a shadom dom bug, but the problem is also in the documentation.

### Steps to reproduce
1. Go on [datetimepicker](https://buefy.org/documentation/datetimepicker#editable-n

[2022-01-27 16:48] balendrang commented on #1560
If i'm not selected dropdown items then if im select outside entered keyword reset, how we can do in b-autocomplete

[2022-01-27 16:50] balendrang commented on #1560
Can i get sample piece how to do ?

[2022-01-27 16:53] balendrang opened #3650 "How to reset entered input value"
If i'm not selected Dropdown-Item then entered text or keyword should reset if i click outside or validate.

[2022-01-28 08:38] jtommy commented on #3649
@Mars073 are you sure? Just tried but no issue (Windows 11 - Firefox)

https://user-images.githubusercontent.com/8029488/151514401-5053730b-b09e-403a-bbaf-45076dcab00e.mp4

[2022-01-31 13:13] oddjobz commented on #3433
Hi, any news on this one?
To expand a little, I'm seeing the same issue on Chrome, also seems to happen with the time picker widget ...
Buefy version: [0.9.14]
Vuejs version: [2.6.11]

[2022-01-31 17:18] oddjobz opened #3651 "Tag Input with autocomplete, x-offset for dropdown increments if append-to-body set"
### Overview of the problem

**Buefy** version: [0.9.14]
**Vuejs** version: [2.6.11]
**OS/Browser**: Linux/Chrome (latest)

### Description

Create a taginput item with autocomplete "inside" a model dialog, as it's inside a dialog add "append-to-body" otherwise it will be cut-off;
[code]
When you enter items normally, outside of a dialog and without "append-to-body", the drop-down always appears l

[2022-02-01 07:20] Uka4me opened #3652 "Field click event in Clockpicker does not close dropdown Datepicker"
### Overview of the problem

**Buefy** version: [0.9.14]
**Vuejs** version: [2.6.11]
**OS/Browser**: Win\Chrome, Firefox, Edge

### Description

If you install two separate Datepicker and Clockpicker components on the same page, then the Clockpicker component will not allow you to close the calendar when focus is lost.

### Steps to reproduce

1. Place two components on the page
2. Click on the Da

[2022-02-04 07:53] dagnelies commented on #3649
I can reproduce it. If you pick it with the calendar, it's just fine, but the parsing of the date is somehow screwed ...and apparently it's just the tip of the iceberg!

Using the `fr-FR`, try to **type** or copy/paste:

=> `14/02/2022, 23:00` => OK
=> `14/02/2022, 23:59` => error
=> `11/02/2022, 23:00` => OK
=> `11/02/2022, 23:59` => `02/11/2022, 23:59` ?!?!? 😆

...note that this occurs only and

[2022-02-04 11:55] re2005 commented on #483
Hey guys, is this feature ever made ? Comes quite handy to be able to disable weekends.

Cheers

[2022-02-04 12:17] re2005 opened #3653 "The unselectableDaysOfWeek option for DateTimePicker component is missing."
Noticed that the `BDatepicker` has the option `unselectableDaysOfWeek`

But the same feature is missing on the `BDatetimepicker` component.

Would be great to have it there.

Thanks

[2022-02-04 12:20] jtommy commented on #3653
You can pass it to `datepicker` object prop

[2022-02-04 12:20] #3653 closed

[2022-02-04 12:43] jtommy commented on #483
It's already ready in the last releases

[2022-02-04 13:22] re2005 commented on #3653
@jtommy sorry to ask this here, but I can't a way to limit the HOURS inside the select.

Lets, say only accept time from 9:00 to 17:00.

Thanks

<img width="418" alt="Screenshot 2022-02-04 at 10 20 10" src="https://user-images.githubusercontent.com/2920357/152536034-a5ccb21f-9486-4008-a61f-15c28455018e.png">

[2022-02-04 13:54] re2005 commented on #3653
Actually found this:

https://user-images.githubusercontent.com/2920357/152540436-f061e4b6-3184-4d75-8b29-be0d65e4ef1e.mov

May be something wrong with my code, or anyone else also having the same issue.

[2022-02-04 16:15] jtommy commented on #3653
Do you mean the autoclose on first open?

[2022-02-04 16:19] jtommy commented on #3653
Check out `minDatetime` and `maxDatetime`

[2022-02-04 22:40] #3614 closed

[2022-02-07 15:38] joe-lawrence opened #3656 "Quick start example results in "Uncaught TypeError: Vue is not a constructor""
### Overview of the problem

**Buefy** version: [0.9.14] (https://unpkg.com/buefy)
**Vuejs** version: [3.2.30] (https://unpkg.com/vue)
**OS/Browser**: Linux / Firefox

### Description

The Usage example from https://buefy.org/documentation/start results in the following console errors:
[code]

Specifying vue 2.x version: `<script src="https://unpkg.com/vue@2.*"></script>` seems to fix the problem.

[2022-02-07 17:40] jtommy commented on #3656
Buefy doesn't support Vue 3

[2022-02-07 17:40] #3656 closed

[2022-02-08 09:56] Mars073 commented on #3649
I forgot to mention that since this was the "editable" mode, I changed it directly in the input and not on the dropdown

[2022-02-09 10:47] BillelSahouli commented on #1322
Hello, Buefy have native methods for edit() delete() update() in the b-table ?
Thanks

[2022-02-09 21:00] giovannilaperna opened #3659 "B-Table searchable on custom columns not working"
### Overview of the problem

**nuxt** version: 2.15.0
**nuxt-buefy**: 0.4.14
**OS/Browser**: Ubuntu with Chrome latest version

### Description

I can't use searchable in b-table-column

### Steps to reproduce
1. Install Nuxt
2. Install buxt-buefy
3. Make a table with a searchable  b-table-column such as:
[code]

### Expected behavior

Search the column using searchable in b-table-column

### Actu

[2022-02-09 22:21] jtommy commented on #3659
@giovannilaperna you have to set `field` prop to `table-column`, for example `field="buyer.username"`

[2022-02-09 22:35] #3649 closed

[2022-02-09 22:36] jtommy commented on #3613
it's not the target of the library

[2022-02-09 22:36] #3613 closed

[2022-02-09 22:36] #3648 closed

[2022-02-10 17:05] Jimmar opened #3661 "b-dropdown on mobile does not prevent scrolling"
### Overview of the problem
Dropdown on mobile should clip the page and prevent scrolling of the background

**Buefy** version: [0.9.14]
**Vuejs** version: [2.6.14]
**OS/Browser**: MacOS/Chrome MacOS/Safari

### Description
For the dropdown component https://buefy.org/documentation/dropdown/
When opening it on a mobile device, it shows up as a modal, but it doesn't prevent scrolling like how a mod

[2022-02-10 21:06] jtommy commented on #3661
Can you make a PR? It would be good a prop like modal

[2022-02-10 22:41] scheinercc opened #3662 "[documentation] CodePen links broken"
### Overview of the problem

**Buefy** version: 0.9.14

**OS/Browser**: tested with Firefox (98.0b2) and Chrome (stable)

### Description

Any CodePen link in the documentation ends up on https://codepen.io/pen?layout=right

### Steps to reproduce

1. Go to https://buefy.org/documentation/breadcrumb
2. On the first code example click on the CodePen link
3. In Chrome the new tab loads https://codep

[2022-02-11 06:30] jtommy commented on #3662
It's not the first time, maybe a temporary issue by codepen

[2022-02-11 12:37] Jimmar commented on #3661
ok, I'll try to

[2022-02-11 13:29] scheinercc commented on #3662
I'll keep an eye out!

[2022-02-11 16:08] gamenic-pawanrai opened #3663 "numberinput with min and/or max doen't work. (Documentation demo also)"
### Overview of the problem

**Buefy** version: [0.9.14]
**Vuejs** version: [2.5.17]
**ubuntu 18.04/Chrome**:

### Description

`numberinput` component if used with min and max, max only is not working correctly. Even in the demo  found in the documentation.

Upon button click(increment or decrement) value doesn't appear in input.

### Steps to reproduce

Demo from documentation:
https://buefy.org

[2022-02-12 11:32] quezo commented on #3662
We just released a bug fix for this on CodePen. All seems to be working again.

[2022-02-12 11:37] jtommy commented on #3662
@quezo cool, thanks

[2022-02-12 11:37] #3662 closed

[2022-02-13 07:07] #3565 closed

[2022-02-13 10:53] #3663 closed

[2022-02-13 13:52] Jimmar commented on #3661
@jtommy I'm thinking about it, do we need to make it a prop ? I have it working fine now using the `is-clipped-touch` class but I'm not sure if there is a reason to not clip it since it only works on mobile when it acts as a modal ?

[2022-02-13 13:57] jtommy commented on #3661
@Jimmar probably you are right, add it

[2022-02-14 11:54] hbracy commented on #959
Was this ever implemented?

[2022-02-14 19:41] #3428 closed

[2022-02-14 21:43] Chipsnet opened #3667 "Add Search feature for the Docs"
### Description

Add a search function to Buefy documents.

### Why Buefy need this feature

Buefy is a very useful and clean component, but the lack of search makes it very difficult to use.
For this reason, I would like to see a search box feature in the documentation.

Duplicate of #1893

[2022-02-16 05:55] rajkumartreads opened #3668 "Add Font Awesome v6 support"
## Description

Currently, Buefy supports FontAwesome v4 and v5.
FontAwesome v6.0.0 was released on Feb 7, 2022.

## FontAwesome v6 overview [A few points from [documentation](https://fontawesome.com/docs/web/add-icons/how-to)]

Style | Availability | Style class | @font-face weight
-- | -- | -- | -- |
Solid | Free Plan | fa-solid | 900
Regular | Pro Plans only | fa-regular | 400
Light | Pro Plans

[2022-02-16 14:21] SomethingNew71 opened #3669 "Math Div Warnings in 0.9.15"
### Overview of the problem

**Buefy** version: 0.9.15

### Description

Math div introduced in the newest version of Buefy which is deprecated.

<img width="733" alt="Screen Shot 2022-02-16 at 9 20 02 AM" src="https://user-images.githubusercontent.com/4572799/154283721-d3ea0681-d2bf-49e7-9deb-8981bb216dad.png">

[2022-02-16 19:54] #3669 closed

[2022-02-17 20:16] shiftmed opened #3672 "B-Table Multi-filtering"
Hello! There is a weird issue I am having with the latest version.

### Overview of the problem

**Buefy** version: [0.9.14]
**Vuejs** version: [2.6.14]
**OS/Browser**: Mac OS / Chrome, Safari

### Description

When I filter the table using a single field, it works fine. When I add another filter that does not match the current table content, it keeps displaying the current results (presumably usi

[2022-02-18 07:06] #3672 closed

[2022-02-18 07:16] #3668 closed

[2022-02-18 07:32] priyam307 commented on #2889
@jtommy Can we incorporate the above change ?, tooltip flashy behaviour is evident when used with append-to-body flag.

[2022-02-20 18:21] rluisr opened #3675 "DateTimePicker + FA6 is broken"
### Overview of the problem

**Buefy** version: 0.9.16
**Vuejs** version: 2.6.14
**OS/Browser**: 98.0.4758.102

### Description

An icon sticks out from input after upgrade font awesome 6 and buefy v0.9.16.
Before the upgrade, no issue was found.

### Steps to reproduce

[code]

### Expected behavior

Fit with input like this.

![スクリーンショット 2022-02-21 3 13 09](https://user-images.githubusercontent.

[2022-02-20 19:40] jtommy commented on #3675
I added only the new icon pack, I don't think it broke something..

[2022-02-21 13:53] emielmolenaar opened #3676 "[Table] Default backend sort behaviour broken"
### Overview of the problem

**Buefy** version: [0.9.16]
**Vuejs** version: [2.6.14]
**OS/Browser**:

### Description

When using backend sorting, the payload of the @sort event always contains "asc" as sorting direction. The icons in the header are also broken.

### Steps to reproduce

1. Go to https://buefy.org/documentation/table/#async-data
2. Click the "Vote count" header a few times for exam

[2022-02-21 16:51] woodcoal commented on #3676
我也发现了同样的问题，以前版本正常，升级到 0.9.15/16 都出现错误。
初略的看了下代码，应该是 Table.vue 中 sort 函数未设置 currentSortColumn 引起的。
后台排序时，点击排序后未将当前点击的列作为当前排序列，导致点击的列无法正确的识别升序还是降序

解决办法：
open `buefy/src/components/table/Table.vue` file
find line `sort` function about line **1006**

[code]

change to:
[code]

重新编译，问题解决，但是至于是不是会影响多列排序，暂时未调试，原则上应该没有问题。

[2022-02-21 22:37] #3676 closed

[2022-02-22 01:06] EyePulp commented on #2488
Howdy;
I'm trying to get Buefy to work under a Vue 2 project running under Vite (which now supports vue 2).  If anyone's manged this (or knows 100% it can't work) I'd love to hear about it.

Thanks!

[2022-02-22 08:33] sermo-de-arboribus commented on #3553
When adding 'focus' to the triggers, the Dropdown menu opens when you use the tab key to select the Dropdown, so there is a basic accessibility to this element already.

`<b-dropdown aria-role="menu" :triggers="['click', 'focus']" >`

However, the dropdown items seem to be a problem that I couldn't figure out an accessible fix for. When the dropdown menu is open, I can also use the tab key to navi

[2022-02-22 09:41] emielmolenaar commented on #3667
Don't get me wrong, searching the docs would be great. But "very difficult to use" seems a bit exorbitant to me 😃

[2022-02-22 13:42] lucastenboom opened #3677 "Active-change event not emitted with trigger hover"
### Overview of the problem

**Buefy** version: [^0.9.14]
**Vuejs** version: [ 2.6.x]
**nuxt-buefy** version: [^0.4.3],
**OS/Browser**: google chrome 97.0.4692.71 (Official Build) (64-bit)

### Description

When applying the trigger ['hover'] on a b-dropdown component the active-change event is never emitted.

### Steps to reproduce

1. set the value of the triggers prop of a b-dropdown component

[2022-02-22 16:23] Thaurin opened #3678 "Documentation: direct links are broken"
### Overview of the problem

**Buefy** version: -
**Vuejs** version: -
**OS/Browser**: Latest Chrome

### Description

Direct links to Buefy's documentation seem to be broken.

### Steps to reproduce

1. Go [buefy.org](https://www.buefy.org)
2. Click on Documentation on the right
3. Reload the page
4. Or simply [following this link](https://buefy.org/documentation/button)

### Expected behavior

S

[2022-02-22 19:22] CobraClutch commented on #3668
It seems like the sizing is wonky when using SVG+JS method. See pen here:
https://codepen.io/cobraclutch/pen/jOaKEmG

[2022-02-23 15:48] Thaurin commented on #3678
I use the [I'm feeling lucky](https://chrome.google.com/webstore/detail/im-feeling-lucky/cnlabakikmdekpfaflaihcepfkjopgll?hl=en) Chrome extension and I used to simply hit Control-T, backslash, tab and type "Buefy button" to go straight to that page. This puts extra seconds to this workflow.

[2022-02-23 17:46] jtommy commented on #3678
Just fixed!

[2022-02-23 17:46] #3678 closed

[2022-02-23 19:05] Thaurin commented on #3678
Thanks!

[2022-02-24 03:50] sgarner commented on #3675
The sizing of icons is affected in many places with FA6 + Buefy, and not specific to `DateTimePicker`.

See also https://github.com/buefy/buefy/issues/3668#issuecomment-1048133105

[2022-02-24 13:19] mateuswetah opened #3680 "Better a11y: correct `aria-expanded` usage for Collapse"
### Overview of the problem

I've been doing some tests with the [Axe Dev Tools](https://www.deque.com/axe/devtools/) extension. It does a pretty good job on pointing accessibility errors. While I think Buefy has improved enormously in the last years regarding this topic, the reports shows that there are some misuse of Aria attributes, so we have some work to do! This is the first of a series of s

[2022-02-24 14:41] mateuswetah opened #3683 "Better a11y: correct aria-modal usage for Datepicker's Dropdown"
### Overview of the problem

I've been doing some tests with the [Axe Dev Tools](https://www.deque.com/axe/devtools/) extension. It does a pretty good job on pointing accessibility errors. While I think Buefy has improved enormously in the last years regarding this topic, the reports shows that there are some misuse of Aria attributes, so we have some work to do! This is the second of a series of

[2022-02-24 17:39] mateuswetah opened #3685 "Better a11y: correct usage of role="tablist" and role="tab" for Tabs"
### Overview of the problem

I've been doing some tests with the [Axe Dev Tools](https://www.deque.com/axe/devtools/) extension. It does a pretty good job on pointing accessibility errors. While I think Buefy has improved enormously in the last years regarding this topic, the reports shows that there are some misuse of Aria attributes, so we have some work to do! This is the third of a series of s

[2022-02-24 18:23] #3680 closed

[2022-02-24 18:24] #3683 closed

[2022-02-24 18:26] jtommy commented on #3685
I am not so expert but I trust you, free to make a PR as previous

[2022-02-24 19:31] mateuswetah opened #3687 "Better a11y: better usage of role="button" on the Dropdown trigger"
### Overview of the problem

I've been doing some tests with the [Axe Dev Tools](https://www.deque.com/axe/devtools/) extension. It does a pretty good job on pointing accessibility errors. While I think Buefy has improved enormously in the last years regarding this topic, the reports shows that there are some misuse of Aria attributes, so we have some work to do! This is the fourth of a series of

[2022-02-24 22:44] #3685 closed

[2022-02-24 22:45] #3687 closed

[2022-02-25 07:20] ItsLhoudini opened #3689 "Reset datepicker"
Is it possible to reset / unset a datepicker value? If I modify the v-model with a method, the datepicker continues showing the old data.

[2022-02-25 12:53] jtommy commented on #3689
https://buefy.org/documentation/datepicker#footer

The clear button resets the value

[2022-02-25 14:21] Jimmar commented on #3661
@jtommy this didn't get completely fixed since I didn't notice that `is-clipped-touch` is only defined in the docs styles
https://github.com/buefy/buefy/blob/dev/docs/assets/scss/_generic.scss

how should we handle this ? move it to `_helpers.scss` ?
https://github.com/buefy/buefy/blob/dev/src/scss/utils/_helpers.scss

[2022-02-25 14:40] donmb1 opened #3690 "Question - make buefy table horizontal scrollable like in the docs"
https://buefy.org/documentation/table/#sticky-headers-and-columns

In the first table here of the docs, the buefy table can be scrolled horizontal.
However, I am not able to reproduce this in my UI. My table is always "pressed" together even if there are countless columns.

I tried using `:sticky="true"` on the `<b-table-column` component but it has not effet.
The first table markups is the follow

[2022-02-25 14:52] jtommy commented on #3661
Yes

[2022-02-25 20:38] geeksilva97 commented on #3652
I can start an investigation and figure out what is happening.

[2022-02-26 08:56] #3689 closed

[2022-02-26 13:24] jtommy commented on #3646
You are right but probably it needs a full refactor or develop a directive to show a tooltip

[2022-02-27 03:53] ldonis commented on #2998
Same issue, it happens only when using v-if, workaround is use v-show instead (not really a solution)

[2022-02-27 09:14] erenbertr commented on #3675
For now I "solved" this issue with:

`.icon svg {
  width: 1em;
  height: 1em;
  max-width: 80%;
  max-height: 80%;
}`

[2022-02-28 15:59] ashwanizsktm commented on #111
I am having the same issue I have tried my wepack configuring mmultiple times but it doesn't resolve, can anyone help me with this.

[2022-02-28 17:07] mrunkel commented on #111
Commenting me too, on a ticket that was closed 4.5 years ago isn’t going to get you far.  Everything has changed since then.  File a new issue.

[2022-02-28 20:33] robingiraud opened #3693 "[NUXT] $axios undefined inside a modal"
Hi there,

I'm building an application using in Nuxt and Buefy in my frontend.
My issue is related to the context (this) inside a buefy modal component.

I'm using the nuxt package @nuxtjs/axios for fetching my API, and in any other component the function **this.$axios** is well defined.
But inside a modal component, launched with the function **$buefy.modal.open()**, the context doesn't seems to

[2022-02-28 20:43] jtommy commented on #3693
You have to pass `this` as `parent` in the modal options

[2022-02-28 21:05] #3693 closed

[2022-03-01 11:47] akshitrcrm commented on #166
why should we use form element if just using b-field also works. Just need a method to trigger the validation manually... 🥲

[2022-03-01 20:57] #3677 closed

[2022-03-01 21:32] #2998 closed

[2022-03-01 21:33] jtommy commented on #2998
Just found a way, it's really tricky because it's relative to click listener queue but I added a way to check the element with the previous sidebar content 😄

[2022-03-01 21:35] jtommy commented on #3690
@donmb1 to be honest the example that you see in the example doesn't add any css

[2022-03-01 21:38] jtommy commented on #3646
@floflo711 `b-tooltips` is in the doc code, you can copy and paste in your project

[2022-03-01 21:38] #3646 closed

[2022-03-01 22:26] #2889 closed

[2022-03-01 23:36] k-brahma opened #3696 "can't get main content of css via cdn"
Hi, it looks like cdn delivery for Buefy v0.9.18 css doesn't work.

NG

- https://unpkg.com/buefy/dist/buefy.min.css
- https://unpkg.com/buefy@0.9.18/dist/buefy.css
- https://unpkg.com/buefy@0.9.18/dist/buefy.min.css

OK

- https://unpkg.com/buefy/dist/buefy.min.js
- https://unpkg.com/buefy@0.9.18/dist/buefy.min.js [a]
- https://unpkg.com/buefy@0.9.18/dist/buefy.js
- https://unpkg.com/buefy@0.9.17

[2022-03-02 00:15] jtommy commented on #3696
0.9.19

[2022-03-02 00:15] #3696 closed

[2022-03-04 11:28] stumpin commented on #1322
Huh

On Wed, Feb 9, 2022, 5:47 AM BillelSahouli ***@***.***> wrote:

[2022-03-05 03:28] StaffOfHades commented on #2753
This issue was re-introduced by 094752d6cb01bad0c2349a9b0a63a9bfb7b0167e

[2022-03-05 03:39] StaffOfHades opened #3697 "b-field with addons does not style input correctly"
### Overview of the problem

![Screenshot from 2022-03-04 21-43-28](https://user-images.githubusercontent.com/2804982/156866421-12f0fc69-7f73-4603-ab7c-3bdc071f15f0.png)

**Buefy** version: [0.9.19]
**Vuejs** version: [2.6.12]
**OS/Browser**: Chromium

### Description

When passing a type to a parent field, the child input will not be styled (borders, icons) if that parent field additionally has o

[2022-03-05 03:45] StaffOfHades commented on #3697
This issue was introduced by 094752d6cb01bad0c2349a9b0a63a9bfb7b0167e - which form what I gather was done to fix a separate behavior.

[2022-03-06 23:20] nourspace commented on #3456
thanks, but is this mentioned somewhere? had a hard time figuring this out before ending up here

[2022-03-07 15:35] eleanorcox opened #3698 "Send null when backspacing number input"
### Overview of the problem

**Buefy** version: [0.9.19]
**Vuejs** version: [2.6.14]
**OS/Browser**: Ubuntu 18.04.5 / Chrome 94.0.4606.81

### Description

When backspacing on a numberinput, you can remove all text from the input but there is still a value in the input (which is the minimum value for the number input). E.g. you have a number input with `min = 6` and a current value of 9. You click

[2022-03-08 14:32] html-helpers opened #3699 "No column header in case of empty data"
Hi Team,

Is there a way to display column header as well in case there is no records or empty data ?

[2022-03-09 08:07] Lixus opened #3700 "Colorpicker 'input' or 'change' event does not fire when alpha is changed"
### Overview of the problem

**Buefy** version: [0.9.16]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chrome

### Description

When changing the alpha value, no input or change event is emitted by the Colorpicker component.

### Steps to reproduce

1. Change alpha value
2. Observe event timeline in Vue Dev Tools

### Expected behavior

The Colorpicker component should emit 'input' or 'change' on al

[2022-03-09 08:19] Lixus opened #3701 "Colorpicker rotation resets when selected color is white"
### Overview of the problem

**Buefy** version: [0.9.16]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chrome

### Description

When the selected color is #FFFFFF or #000000, the triangle rotates to it's default position (red). If i then try to set another color (e.g. yellow), it jumps right back to red. This makes it hard for the user to select a new color, especially if the default is set to #FFFF

[2022-03-09 08:28] Lixus opened #3702 "Colorpicker event name is not consistent with docs and other components"
### Overview of the problem

**Buefy** version: [0.9.16]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chrome

### Description

In the docs, the event is named 'input' but the Colorpicker component only emits 'change'.

### Steps to reproduce

1. Change color
2. Observe event timeline in Vue Dev Tools

### Expected behavior

I think the event name should be 'input' to be consistent with the docs and

[2022-03-09 13:08] s-nesbigall commented on #3652
Hi,
I think I know waht happens here:

- Date- and Clockpicker use a Dropdown.
- Dropdown registers a global click event to close, when user clicks outside: (document.addEventListener('click', this.clickedOutside))
- Clockpicker uses:  @click.native.stop="toggle(true)"

So if you click on the Clockpicker the dropdown appears, but the event gets stoped. The global click event listener will not trig

[2022-03-09 13:12] geeksilva97 commented on #3652
It makes sense. Would you like to open a Pull Request?

[2022-03-09 18:49] miraagee commented on #552
Is there a similar way for is-selected?
Like. `:custom-is-selected="(a, b) => { return a.name === b.name }"` ?
I have a selected object before the user clicks on one of the elements, but its not applying the "is-selected"-class on that row. Similar behaviour as the problem of [evandroabukamel]. The custom-is-checked helped me as well.

[2022-03-10 05:23] s-nesbigall commented on #3652
Hi,

sorry I can't:
- I forged the repo, but tests are failing
- I tried to commit changes, but pre-commit hooks are failing

My suggested changes are in Clockpicker.vue

`@click.native.stop="toggle(true)"` changed to `@click.native="onInputClick"`

And I added a component method:

        /*
         * Avoid dropdown toggle when is already visible
         */
        onInputClick(event) {

[2022-03-10 12:05] s-nesbigall commented on #3652
Ok, I managed to do it directly in Github.

[2022-03-10 12:35] #3652 closed

[2022-03-10 13:28] s-nesbigall opened #3704 "Disabled Clockpicker gets opacity 0.5 from dopdown."
### Overview of the problem

**Buefy** version: latest
**Vuejs** version: 2
**OS/Browser**:

If you have a disabled Clockpicker component.
The style is different drom Date- and Timepicker.
In the later two component the opacity:0.5 of the disabled inner dropdown is reoved:

    // unset opacity when dropdow is disabled
    .dropdown {
        &.is-disabled {
            opacity: 1;
        }
    }

[2022-03-11 00:17] darkylmnx opened #3705 "b-input shows validation error on focus instead of blur"
### Overview of the problem

**Buefy** version: [0.9.19]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chrome

### Description

On focus of any input with "required" attribute, it immediately shows an error.
Even on the docs it happens: https://buefy.org/documentation/input#validation
On the field called "user handle".

### Steps to reproduce

Create a `<b-input required />` and focus it.

### Expec

[2022-03-12 23:23] chadlafontaine commented on #3432
@jtommy I am experiencing this same issue when using the spacebar to select the checkbox. Would it be okay if I go ahead and fix this?

[2022-03-12 23:30] jtommy commented on #3432
@chadlafontaine you are welcome

[2022-03-14 09:41] lucas1619 commented on #2913
``> Any update on this?

we can do a ref into b-carousel-list like here:
[code]
on data create a variable:
[code]
and then set an interval  on mounted or created hook
[code]
this is all we need :D

[2022-03-14 12:47] camohub opened #3707 "B-field :message problem"
"nuxt": "^2.15.8",
"nuxt-buefy": "^0.4.11",

**Win10/Chrome**:

### Description

I have a Nuxt project with Buefy library. There is a code with b-field element which should react on :message property change. But it does not. When I change the value the whole browser freeze. The weird thing is, that :type prop works well if I remove :message prop. Console does not show any error.

The code looks li

[2022-03-14 15:35] danielclariondoor commented on #2299
The documentation is incorrect then.
<img width="1187" alt="image" src="https://user-images.githubusercontent.com/18540311/158206932-242f9c11-b9aa-4359-a9d3-5e6c4978ef42.png">

[2022-03-14 15:46] OrestHk opened #3708 "B-Sidebar close when clicking on content added after mount"
### Overview of the problem

**Buefy** version: 0.9.19
**Vuejs** version: 2.6.14
**OS/Browser**: Chrome / Firefox - Windows

### Description

When using b-sidebar component with dynamic content, the sidebar closes when you click on an item added after mount.
Take for exemple a sidebar openning with static content, and content that is added after an API call, clicking on the static content won't cl

[2022-03-14 15:58] kissu commented on #2299
@danielclariondoor not sure why you're saying this.

[2022-03-14 16:32] jtommy commented on #3707
@camohub can you reproduce your code on codesandbox?

[2022-03-14 17:55] danielclariondoor commented on #2299
The accepted solution is a different usage than the original bug. I am also experiencing the exact problem described in this bug. It should work, according to the docs, but it does not. The solution here does not solve the issue the programmatic implementation described in the docs.

[2022-03-15 09:30] camohub commented on #3707
Ok so newer version of Buefy fix the problem, but causes new one. Now :message works as expected but :type does not set is-danger if there is also grouped tag. In another words, if I use :type + grouped on field component it type does not work. Can you look at it please?

I really dont know how to make codesandbox example for something like Nuxt application. Sorry for that.

[2022-03-15 13:03] jtommy commented on #3697
@StaffOfHades you are right but i don't remember why i removed the line that set type prop, probably something from https://github.com/buefy/buefy/issues/3577#issuecomment-963874805

[2022-03-18 19:11] lucraraujo commented on #3705
I find it annoying too, but there is a way to change this behavior. You can either:
Set the `defaultUseHtml5Validation` option to false on your constructor options to stop this behavior system wide or use the `use-html5-validation` attribute on your b-input element. Something like this:
[code]

[2022-03-18 20:42] darkylmnx commented on #3705
@lucraraujo this doesn't work for me since I want the validations.
It is a bug since before in previous versions I had no issue with that, it did this on blur and not on focus.

[2022-03-18 20:48] lucraraujo commented on #3705
Yep! You're right! I just realized this. The problem is here: https://github.com/buefy/buefy/blob/deaa4a89ad8f0cb4e901d5e899e0b91e263943fa/src/utils/FormElementMixin.js#L117
I'm trying to find if there are other side effects is I remove this line.

[2022-03-18 21:59] darkylmnx commented on #3705
It seems to have been added in v0.9.9: https://github.com/buefy/buefy/blob/v0.9.9/src/utils/FormElementMixin.js

The commit tied to it was: https://github.com/buefy/buefy/commit/cb0868ba19735df593e43f7626ef4571bfb33bca

And I don't see how number validation and when the validation starts are related.

Can you enlighten us @fabiofdsantos ?

[2022-03-18 22:23] #3705 closed

[2022-03-19 17:05] fabiofdsantos commented on #3705
I think it was related to https://github.com/buefy/buefy/issues/3059

[2022-03-19 17:08] fabiofdsantos commented on #3705
I think it was related to https://github.com/buefy/buefy/issues/3059 but maybe a bug has been introduced on the "fix".

[2022-03-20 13:20] QuentinGab opened #3713 "Tooltip with append-to-body is offsetted when used on button"
### Overview of the problem

**Buefy** version: [0.9.19.]
**Vuejs** version: [2.6.14]
**OS/Browser**: Edge 99, Chrome

### Description

If you put b-tooltip with append-to-body around a button, the tooltip is offsetted to the top.

![image](https://user-images.githubusercontent.com/40128136/159164148-83ea4199-982a-4935-8bcd-6397fa1a3244.png)

### Steps to reproduce

Just check this codepen:
https:

[2022-03-27 04:37] sgarner commented on #3702
This bug also means that the component can't use `v-model`, only manual bindings to `:value` and `@change`.

[2022-03-27 15:04] korenLevi opened #3715 "Buefy table default-sort prop"
### Overview of the problem

**Buefy** version: [0.9.13]
**Vuejs** version: [2.6.12]
**OS/Browser**:

### Description
I have a table that has a date column and I want to sort it by date as a default sort, but is sorting my column as alphabetical order.
Someone that can help ?

### Steps to reproduce

### Expected behavior

### Actual behavior

[2022-03-29 13:41] johnegus opened #3716 "B-table checkable type (color)"
### Description

There needs to be an easy way to change the color of the checkable prop within a b-table.
### Why Buefy need this feature
Checkable feature is used for a lot of diverse reasons within b-tables, so there needs to be a different color option than the "is-primary" default.

[2022-03-30 17:19] agersea commented on #3270
The example doesn't work in Nuxt for me either.  I had to punt and go with a button addon.

[2022-04-01 12:29] lucastenboom opened #3717 "b-datepicker broken functionality on mobile"
### Overview of the problem

**Buefy** version: 0.9.19
**Vuejs** version: 2.6.11
**OS/Browser**: linux ubuntu Mozilla firefox 98.0.2 (64-bit) &
**OS/Browser**: linux ubuntu Chrome Version 99.0.4844.51 (Official Build) (64-bit) &

### Description

On mobile devices or mobile view in internet browsers the datepicker component does not load properly, instead some browser related native datepicker com

[2022-04-03 20:55] fabiofdsantos commented on #3647
@floflo711

This issue isn't related with Buefy.

Check this: https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

[2022-04-04 05:55] #3647 closed

[2022-04-04 12:32] html-helpers opened #3718 "Multiple values support in auto complete"
Hi Team,

Thank you for creating such a useful library...!!!

I want to have a multiple selection feature in auto complete, as like lagacy select control.

I really need this feature.

[2022-04-04 15:07] jtommy commented on #3718
@html-helpers thanks.

Did you try tagsinput?

[2022-04-04 15:07] #3718 closed

[2022-04-05 10:54] lucastenboom commented on #3717
Nevermind, I missed the prop 'mobile-native' in the documentation. setting this prop to false fixes this issue and therefore I'm closing the issue

[2022-04-05 10:54] #3717 closed

[2022-04-06 02:46] MsDacia opened #3719 "<b-upload> to accept heic images"
`<b-upload
	v-model={this.uploadedImage}
	accept="*.heic"
	class="file-label"
	expanded

### Description

<b-upload /> to accept *.heic images

### Why Buefy need this feature

Because it is a commonly used image source

[2022-04-06 07:51] bittorala opened #3720 "Datepicker start and end caught simultaneously when inside carousel"
### Overview of the problem

**Buefy version** 0.9.19
**Vue version** 2.6.11

### Description

Sometimes when using a datepicker inside a carousel, with the datepicker in range mode, a single click can fire both the range-start and range-end event, thus selecting a one-day interval with a single click, instead of starting the range. Below is an example.

### Steps to reproduce

Start selecting int

[2022-04-06 20:58] jtommy commented on #3719
Sane problem with native input file?

[2022-04-07 05:52] #3716 closed

[2022-04-07 05:53] jtommy commented on #3702
@Mars073 can you take a look?

[2022-04-07 05:53] jtommy commented on #3701
@Mars073 can you take a look?

[2022-04-07 05:54] jtommy commented on #3700
@Mars073 can you take a look?

[2022-04-07 05:56] jtommy commented on #3699
There is showHeader prop but the default is true.
Can you replicate the problem?

[2022-04-07 09:13] Mars073 commented on #3701
I will try to fix this. The problem is that the white does not belong to any hue and in my helper it is calculated at a zero angle

[2022-04-07 12:51] #3699 closed

[2022-04-07 12:55] html-helpers opened #3723 "Context menu or Action item column in table"
Hi Team,

I am using buefy table component in my component to display data in tabular format. I need to know does buefy table supports any kind of context menu or action item column like edit, delete etc... ?

Thank you...!!!

[2022-04-08 06:44] html-helpers commented on #3718
No, I tried to implement auto complete control but I can't see any options in how to make it multiple selection of values from filtered result.

Thank you...!!!

[2022-04-08 09:48] Heliodromel commented on #2965
Hi, do you guys have any news about this issue in Bulma ?

[2022-04-08 12:03] rduthel opened #3724 "Duplicate header-selectable property in the documentation"
### Overview of the problem

**Buefy** version: [Not applicable]
**Vuejs** version: [Not applicable]
**OS/Browser**: Not applicable

### Description
Hello,
It is not really a bug, rather a typo in the documentation: In [the `API` part of Table](https://buefy.org/documentation/table/#api-view) there is a duplicate `header-selectable` property for the `b-table-column`.
Is it intentional?

![image2](

[2022-04-10 19:51] donmb1 opened #3726 "Horizontal scrollable table ignores column width"
### Overview of the problem

**Buefy** version: [0.9.17]
**Vuejs** version: [2.6.14]
**OS/Browser**: Chrome 100.0.4896.75

### Description

When applying `width` to a table column it is being ignored on tables that overflow.

### Steps to reproduce

https://codepen.io/donmb1/pen/ExoReaq?editors=1010
Please check the computed `columns()` and the column `first_name` and `last_name`

### Expected beh

[2022-04-12 14:32] robingiraud commented on #3202
:up: That would be great ! :)

[2022-04-12 19:25] #3700 closed

[2022-04-12 19:26] #3702 closed

[2022-04-12 19:26] #3701 closed

[2022-04-12 21:26] #3432 closed

[2022-04-14 05:50] jtommy commented on #3707
Yes, I removed in a previous release a prop but probably for a reason. I need to understand why and if I can restore to fix it easily

[2022-04-16 19:09] #3179 closed

[2022-04-16 19:09] #3273 closed

[2022-04-16 19:09] #3274 closed

[2022-04-16 19:09] #3220 closed

[2022-04-16 19:09] #3275 closed

[2022-04-16 22:07] 7iomka commented on #3450
(

[2022-04-17 09:23] #3082 closed

[2022-04-17 09:32] #3707 closed

[2022-04-18 06:49] rogeriotaques commented on #3304
It has been almost a year already since this issue was reported. Any progress?

[2022-04-18 08:34] #3324 closed

[2022-04-19 00:21] juanfabrega commented on #2841
@wishinghand did you ever find a solution to this? I am facing the same issue at the moment.

[2022-04-19 00:58] StaffOfHades commented on #3697
Is this resolved by 36e0dd1055eddd1c10034382434baa9a13da569a?

[2022-04-19 06:29] jtommy commented on #3697
Yes, it should be ok

[2022-04-19 06:29] #3697 closed

[2022-04-19 06:30] jtommy commented on #2841
Try `td-class` prop

[2022-04-19 20:27] Mars073 commented on #3719
@MsDacia can you consider using the correct syntax defined by the w3c?
[code]
Note that if you want to be sure that users can choose the HEIC format (which is common only on Apple devices), you specify this mask to include it in the images: `image/*,.heic`, it may not be displayed in the web browser.

[2022-04-19 20:28] #3719 closed

[2022-04-19 20:29] #3724 closed

[2022-04-20 14:38] iplanwebsites opened #3731 "Input with emoji don't show the right length"
### Overview of the problem

**Buefy** version: 0.9.19
**Vuejs** version: 2.x
**OS/Browser**:

### Description

Length of strings with Emoji in input isn't accurate.

![image](https://user-images.githubusercontent.com/787729/164255022-9ca70f7c-0999-406b-a73c-35ca366a91e2.png)

There's disparity between browser implementation, it'd be nice to have a solid way to validate length using the right func

[2022-04-21 02:02] mbonii opened #3732 "WE REALLY NEED SUPPORT FOR VUE 3 PLEASE!!"
### Description

In the company I am working on we are migrating from Vue 2 to 3 and we really need the version for Vue 3

## Support for Vue 3

### Why Buefy need this feature

[2022-04-21 05:51] jtommy commented on #3732
Do you think that is a good way to ask something?
Also, please remember that it is an open source project.

By the way https://github.com/buefy/buefy/issues/2505

[2022-04-21 05:55] jtommy commented on #3723
You can use `dropdown` component into a `table-column` in the `default` slot or `header` slot

[2022-04-21 05:55] #3723 closed

[2022-04-21 09:39] fortsharif commented on #2131
Hey I'm having trouble with this, how did you go abut hacking the background-color of .navbar-menu. Anything is better than nothing for me right now.

[2022-04-22 02:35] #3732 closed

[2022-04-23 17:02] fracz commented on #3668
Ran into the same issue and even prepared a code sandbox before I saw this (closed??) issue. It may help, maybe.

https://codesandbox.io/s/buefy-sidebar-forked-x3yv38?file=/src/App.vue

[2022-04-25 04:15] #3288 closed

[2022-04-25 04:15] #3291 closed

[2022-04-25 04:15] #3292 closed

[2022-04-25 04:15] #3298 closed

[2022-04-25 04:15] #3300 closed

[2022-04-25 04:15] #3305 closed

[2022-04-25 04:15] #3303 closed

[2022-04-25 04:15] #3307 closed

[2022-04-25 04:15] #3306 closed

[2022-04-25 04:15] #3313 closed

[2022-04-25 04:15] #3317 closed

[2022-04-25 04:15] #3318 closed

[2022-04-25 04:15] #3319 closed

[2022-04-25 04:15] #3312 closed

[2022-04-25 04:15] #3320 closed

[2022-04-25 04:15] #3281 closed

[2022-04-25 04:15] #3311 closed

[2022-04-25 04:15] #3039 closed

[2022-04-25 04:16] #3093 closed

[2022-04-25 04:16] #3339 closed

[2022-04-25 04:16] #3348 closed

[2022-04-25 04:16] #3350 closed

[2022-04-25 04:16] #3005 closed

[2022-04-25 04:16] #3358 closed

[2022-04-25 04:16] #3380 closed

[2022-04-25 04:16] #3385 closed

[2022-04-25 04:16] #3387 closed

[2022-04-25 04:16] #3391 closed

[2022-04-25 04:16] #3208 closed

[2022-04-25 04:16] #3416 closed

[2022-04-25 09:30] robingiraud commented on #3320
@jtommy

[2022-04-25 12:44] yooouuri commented on #3732
It is not jet published to npm, but im gonna make a "successor" to Buefy

https://github.com/yooouuri/bulma-vue

Will have the same API as Buefy, made for Vue 3.

[2022-04-25 12:44] yooouuri commented on #2505
It is not jet published to npm, but im gonna make a "successor" to Buefy

https://github.com/yooouuri/bulma-vue

Will have the same API as Buefy, made for Vue 3.

[2022-04-25 13:37] #3406 closed

[2022-04-25 13:38] #3426 closed

[2022-04-25 13:39] #3434 closed

[2022-04-25 13:39] #3449 closed

[2022-04-25 13:40] #3455 closed

[2022-04-25 13:41] #3465 closed

[2022-04-25 13:42] #3471 closed

[2022-04-25 13:43] #3474 closed

[2022-04-25 13:44] #3338 closed

[2022-04-25 13:44] #3499 closed

[2022-04-25 13:46] #3077 closed

[2022-04-25 13:46] #3514 closed

[2022-04-25 13:48] #2412 closed

[2022-04-25 13:49] #3510 closed

[2022-04-25 13:50] #3412 closed

[2022-04-25 13:50] #3458 closed

[2022-04-25 13:51] #3480 closed

[2022-04-25 13:52] #3326 closed

[2022-04-25 13:53] #3555 closed, assigned to nobody

[2022-04-26 12:25] GMartigny opened #3734 "Dynamic table columns are not reactive"
### Overview of the problem

**Buefy** version: v0.9.20
**Vuejs** version: v2.6.14
**OS/Browser**: any

### Description

When I build a table with dynamic columns, changing the columns count don't refresh the view. What I mean by "dynamic columns" is having columns as an array and looping over `b-table-column` with a `v-for`.

### Steps to reproduce

 1. Have a `b-table`
 2. Set an array in a `com

[2022-04-27 19:05] #3558 closed

[2022-04-27 21:20] jtommy commented on #3734
I think to understand the problem

[2022-04-28 07:32] highoncarbs commented on #3651
Any fix for this ?

[2022-04-28 12:58] oddjobz commented on #3651
My fix was to move the entry box to the top of the dialog and change the drop-down to it didn't extend beyond the bounds of dialog, then to remove the append-to-body. Probably not the fix you're looking for (!) but that was the only way I could get it to behave ...

[2022-04-28 18:36] von-maurus commented on #833
Thank you! @dehypnosis. This solution solved my problem because I need to use `<b-table-column>` because I have dynamic columns with custom properties, but the table didn't re-render the whole thing like someone said in this thread. I build a custom table component and passed the different variables as props from my main view to the component. My reduced code was the following:

@jtommy is this is

[2022-04-28 21:06] donmb1 opened #3736 "BDatepicker Expected String, got Object"
### Overview of the problem

**Buefy** version: [2.15.8]
**Vuejs** version: [2.6.14]
**OS/Browser**: Mac OS Montery 12.3.1 / Chrome Version 100.0.4896.127 (Official Build) (arm64)

### Description

Serving a Javascript `Date` Object to the Buefy Datepicker results in a console warn. The Datepicker works still fine as expected.

[code]

### Steps to reproduce

[code]

### Expected behavior

No cons

[2022-04-28 21:08] jtommy commented on #3736
@donmb1 it accepts only `Date` object

[2022-04-28 21:10] donmb1 commented on #3736
@jtommy
Yes but I am passing a Date Object?
See above `new Date(value)`

[2022-04-28 21:13] #3734 closed

[2022-04-28 21:13] jtommy commented on #833
@von-maurus just fixed here https://github.com/buefy/buefy/issues/3734

[2022-04-28 21:17] jtommy commented on #3736
@donmb1 https://codepen.io/jtommy/pen/wvywWRM?editors=101&layout=right i'm not able to replicate it to be honest

[2022-04-28 21:20] donmb1 commented on #3736
Me neither on your pen. I will investigate further. Thanks for helping

[2022-04-28 21:22] #3736 closed

[2022-04-29 19:18] von-maurus commented on #2412
I just needed this feature I need to implement like two subheadings, its somehow possible right now?

[2022-04-30 18:43] highoncarbs commented on #3651
Yep , Doing the same thing for now. 🙃

@rafaelpimpa any suggestions

[2022-05-03 06:33] donmb1 commented on #3726
Hey folks. any comment on this?
Right now it makes my table really ugly. I want to manipulate the column width but it's not possible. Maybe it would work manually with the right css selector?

[2022-05-03 09:09] skru commented on #2043
As per the bulmaswatch docs: Make sure you import bulma before the _overrides.scss for the theme to work properly.

@import "variables";
@import "bulma";
@import "overrides";

[2022-05-05 10:07] foufrix commented on #3667
this issue can be closed, there is now a search bar thanks to @Mars073 🙏

[2022-05-05 10:11] #3667 closed

[2022-05-06 13:36] fahdaddi commented on #3311
I have the same issue, @photogsy did you find a solution?

[2022-05-06 14:11] photogsy commented on #3311
I worked around the issue by saving the user's sort preferences in local storage and then restoring them after the table loads. It works well and it's actually a better ux than just setting a default sort.

[2022-05-06 14:13] xiaoxiao99 opened #3737 "Validation error indicator not disappear if input element has .control sibling"
### Overview of the problem
Buefy version: 0.9.19
Vuejs version: 2.x
OS/Browser:

### Description
If input element has .control sibling,  error indicator does not disappear even if value updated to valid one.
e.g.
[https://codepen.io/xiaoxiao22/pen/wvyKQgP](https://codepen.io/xiaoxiao22/pen/wvyKQgP)
In the **Number** input field,
input an invalid **3**, error indicator shows up.
input a valid **10

[2022-05-06 14:27] xiaoxiao99 commented on #3737
Maybe duplicated with #3077 , which was closed before solved.

[2022-05-06 21:22] #3737 closed

[2022-05-09 06:09] Chipsnet commented on #3667
Thanks for all contributors!

[2022-05-11 03:46] vladbar123 opened #3739 "b-datepicker does not allow to manually type dates in British format"
[code]

[code]

If I try to type 12/05/2022 b-datepicker changes it to 05/12/2022.
If I try to type 13/05/2022 - the date disappears - only the blanc field.

Looks like b-datepicker ignores GB format, no matter what.``

[2022-05-12 09:17] tommed commented on #2290
Same here!

[2022-05-13 15:14] coalacode-com opened #3740 "Color picker return bad value"
Hello,
I have a problem with colorpicker, when I have a color in a nested structure it displays as an object.

{{ form }}

[code]

### Overview of the problem

**Buefy** "^0.9.20",
**Vuejs** version: 2.6.14
**OS/Browser** Firefox development:

### Description

When click thumb color and choose random color returned this object values

### Expected behavior

return HEX

[2022-05-16 09:16] squarou opened #3741 "Question : Datepicker : how to show formatted date and save in diffrents formats ?"
Hi,

I use Datepicker to store a date in a form, which post to the DB. This is a "classic" html/php form that I'm using.

- I want my users to pick a date.
- Then, in the input field, the date might be like DD/MM/YYYY
- Then, when I submit the form, I'd like to save the date in YYYY/MM/DD HH:mm:ss in the database (don't want to handle a formatting function in the backend)

I'm using moment to form

[2022-05-16 10:53] vladbar123 commented on #3739
Additional info:
OS - Windows 10
Browser: Google Chrome Version 100.0.4896.88 (Official Build)

[2022-05-16 11:22] jtommy commented on #3741
The function props that you mentioned are only for datepicker usage because it accepts only Date object.
It doesn't the format that toy receive and the format that you send, so you have to transform to Date object on get and transform it from Date object on post

[2022-05-16 11:22] #3741 closed

[2022-05-16 11:53] squarou commented on #3741
Ok @jtommy thanks for your answer. Can you confirm that I can display a DD/MM/YYYY value and send the same date with a format in YYYY/MM/DD HH:mm:ss ?

[2022-05-16 11:55] jtommy commented on #3741
Sure, the function that you are using is only for display purpose. The date object always contains the time part too

[2022-05-16 11:57] squarou commented on #3741
Ok thanks, I'll continue to search how to pass the formated date object in my form, avoiding using hidden input fields ;-)

[2022-05-19 17:09] MatiasVerdier commented on #3037
@jtommy You can take a look to how libraries like https://floating-ui.com/ achieve the positioning depending on the space available

[2022-05-19 18:15] jtommy commented on #3037
Autocomplete already works in a similar way

[2022-05-26 14:04] joaoGabriel55 commented on #3731
I can take a look @iplanwebsites

[2022-05-26 17:16] #3731 closed

[2022-05-27 15:58] iplanwebsites commented on #3731
Thanks @joaoGabriel55 !

[2022-05-31 18:06] pedrosimao commented on #1481
Virtual scroller would actually solve performance issues on the Table component without the need for pagination (which is not the best UX design in most cases)

[2022-06-01 08:38] pedrosimao commented on #2809
@jtommy what do you think of using this library as an optional prop of b-table component `https://github.com/Akryum/vue-virtual-scroller`? If you think it might be accepted as a PR I will work on it.

[2022-06-01 09:11] jtommy commented on #2809
No, as  you can read in the docs and readme I wanted to avoid external dependencies

[2022-06-02 09:10] pedrosimao commented on #2809
The library is actually very small, why avoiding it? We could always copy and paste some code from it, but the result is almost the same. Isn't Bulma itself an external dependency?

[2022-06-02 09:13] jtommy commented on #2809
Yes, the only dependencies are Vue and Bulma.
I know it might be a big work but I prefer to maintain in this way

[2022-06-07 12:12] MarijnSt opened #3746 "Placeholder causes an issue on tablets"
### Overview of the problem

**nuxt-buefy**: ^0.4.4,
**nuxt**: ^2.15.3,
**OS/Browser**: android and apple tablets, chrome browser (also tested and found these issues in browserstack)
Issue can also be found in the docs

### Description

I noticed this issue on tablets only. It works fine on mobile or a laptop/pc. It's pretty inconsistent but I noticed it happens with some of the examples in the do

[2022-06-09 20:09] #3484 closed

[2022-06-13 18:18] Spacarar commented on #3433
I'm having this issue as well, and ran into this before opening my own issue.

to help document this issue I've created two codepens.

- V0.9.21 not working as expected.
    - https://codepen.io/Wolfwood_/pen/YzedOJp?editors=1111
- V0.8.20 working as expected.
    - https://codepen.io/Wolfwood_/pen/ZErVMPN?editors=1111

Hopefully this will help get this issue some attention.

[2022-06-13 18:32] jq-87 commented on #3560
This is still an issue.

[2022-06-13 18:53] Spacarar commented on #3553
I think that #3551 is the reason why #3443 is an issue. Datepicker uses dropdown under the hood, but this makes the datepicker require 2 tabs to get to the actual input.

[2022-06-13 18:58] Spacarar commented on #3433
This seems to stem back to PR #3363 as commented in #6553

[2022-06-13 21:41] WAmadeus commented on #3433
You are right.

The addition of 'tabIndex="0"' in 'dropdown-trigger' is causing this problem. If you open devtools in your codpen example and manually remove it, it starts to work as expected.

![image](https://user-images.githubusercontent.com/1168674/173450102-a30014c2-6707-4b2a-ac39-d5c09d06cebd.png)

Maybe some sort of js to remove it can be a workaround until a proper fix is commited.

[2022-06-13 21:48] jtommy commented on #3433
@WAmadeus @Spacarar any PR are welcome

[2022-06-14 15:07] Spacarar commented on #3433
@jtommy here's a PR that adds a prop `trigger-tabindex` to the dropdown component and sets it to `-1` in the datepicker's dropdown to solve this issue. It was the easiest solution I could think of, but if you have another solution I'm open to suggestions.

https://github.com/buefy/buefy/pull/3749

[2022-06-15 00:25] akicho8 opened #3750 "How to let the b-table draggable function run on a iOS?"
It can be operated from the mouse, but it cannot be operated from the touch operation (iOS).

### Steps to reproduce

https://codepen.io/akicho8/pen/rNJPxWq

### Expected behavior

If drag the first line of the table to the second line, `0 -> 1` displayed.

### Actual behavior

The tr element does not lifts.
The screen scrolls up and down.

### System configuration

**Vue.js**: 2.6.11
**Buefy**: 0

[2022-06-15 13:01] Frankisgek commented on #3726
Having the same issue, any progress on this issue?

[2022-06-15 15:38] arambert commented on #1741
We're seeing the same behavior today with buefy 0.9.13
I think it's happening due to the use of router-link (nuxt-link in our case) to a page using the same layout.

[2022-06-19 21:47] uacode opened #3751 "Multiple import"
### Overview of the problem

**Buefy** version: 0.9.21
**Vuejs** version: 2
**OS/Browser**: fc36 / Chrome latest

### Description

When I use import SnackbarProgrammatic in multiple files, I has an error
Error in mounted hook: "TypeError: Cannot read properties of undefined (reading 'extend')"

https://i.imgur.com/ipLWzDn.png
https://i.imgur.com/MoPofwz.png

### Steps to reproduce

Try to use in m

[2022-06-20 01:56] darkylmnx opened #3752 "checkHtml5Validity not called on input when value changed: error stays in the UI despite value present"
### Overview of the problem

**Buefy** version: [0.9.19]
**Vuejs** version: [2.6.14]
**OS/Browser**:

### Description

When a field with required attribute is emptied after it has been filled, there's an error which is normal.
When you fill in the field via the value attribute or v-model (without user interacting), the error stays.

It's because the validity check is only done if the valud changed

[2022-06-20 06:24] jtommy commented on #3751
You have to import Snackbar plugin or the full bundle in the entry point

[2022-06-20 06:24] #3751 closed

[2022-06-20 10:44] amrullohrobbani commented on #1255
for the addition of tr in THead, is it already implemented?

[2022-06-20 17:11] ajomuch92 opened #3753 "Tooltip Glitchy"
**Buefy** version: 0.9.20
**Vuejs** version: 2.6.11
**OS/Browser**: Safari MacOS Monterey

### Description

When I add the prop **appendToBody** to tooltip component, to show it inside a modal, the behavior is glitchy

### Steps to reproduce

1. Put a tooltip inside a modal
2. Set appendToBody prop to true
3. Try on Safari

### Expected behavior
Normal like other tooltips instances

[2022-06-20 17:13] ajomuch92 commented on #3753
This is an example
https://user-images.githubusercontent.com/32050436/174651164-b91a480c-62bb-415d-baf8-acb7cf538a3e.mp4

[2022-06-22 10:08] friedow commented on #3752
This is caused by the PR https://github.com/buefy/buefy/pull/3712 which was merged in 0.9.20. Until this is fixed you can solve your problem by downgrading to v0.9.19.

### Cause Description
https://github.com/buefy/buefy/pull/3712 causes an error in the validation which was originally fixed with https://github.com/buefy/buefy/pull/3430. Since https://github.com/buefy/buefy/pull/3712 reverts a par

[2022-06-22 17:18] jtommy commented on #3752
@friedow would you like to make a PR?

[2022-06-23 06:03] friedow commented on #3752
Sure I can look into it :). This will probably take a few minutes to figure out how to preserve both functionalities (https://github.com/buefy/buefy/pull/3430 & https://github.com/buefy/buefy/pull/3712).

[2022-07-01 12:38] hphil63 commented on #2359
I can confirm this behaviour. setting :width prop results in setting style="max-width" and not style="width" or style="min-width", which would be perhaps even better option. I'm using nuxt-buefy version 0.4.13

[2022-07-07 21:05] mouadTaoussi commented on #3726
Hello! I'm about to understand your issue and might be fix it when I got it
can you explain me the pen you have shared ?

[2022-07-07 21:11] donmb1 commented on #3726
@mouadTaoussi sure

The Pen is from the buefy documentation on horizontal scrollable tables.
Horizontal scroll works just fine

But in contrast to a default table, the `width` parameter on the table columns ins being ignored. In the Pen the `first_name` column has a `width` set to 300 but it's not applied. This makes the table unflexible and not good looking.

[2022-07-08 06:14] donmb1 commented on #3726
correct

[2022-07-08 12:58] regexj opened #3755 "Taginput within table details will collapse details"
### Overview of the problem

**Buefy** version: 0.9.4
**Vuejs** version: 2.6.12
**OS/Browser**: Mint/Chrome

### Description
If you place a [taginput](https://buefy.org/documentation/taginput/) within the [detailed row of a table](https://buefy.org/documentation/table/#detailed-rows), each time you press enter to submit a new tag it will collapse the detail row.

### Steps to reproduce

1. Create

[2022-07-10 08:57] #3579 closed

[2022-07-10 08:57] #3588 closed

[2022-07-10 08:57] #3596 closed

[2022-07-10 08:57] #3260 closed

[2022-07-11 09:39] Ishac79 opened #3756 "Group by colums"
### Description

Hi, is it possible to get "group by" as it is show in the attach images using Buefy?

[2022-07-13 15:57] wesdevpro opened #3757 "Font awesome icons fill screen on iphone with nuxtjs, sass, and SSR"
https://github.com/buefy/nuxt-buefy/issues/124

[2022-07-14 08:39] Dharmendra205111014 commented on #3187
Can we reopen this, this is a very much needed feature from table completeness point of view.

[2022-07-14 22:38] wesdevpro commented on #3757
### CSS applied on Desktop Chrome.
[code]

### CSS applied on Iphone 11 IOS 15
[code]

[2022-07-14 23:43] wesdevpro commented on #3757
As of right now, I will be using MDI until this issue is resolved.  MDI renders perfectly fine ✌🏼

[2022-07-21 21:46] knot22 opened #3758 "horizontal b-field ignores CSS rule"
### Overview of the problem

**Buefy** version: 0.9.21
**Vuejs** version: 2.6.11
**OS/Browser**: Windows 11/Chrome 103.0.5060.114

### Description

When a horizontal `b-field` has a CSS rule applied to align the `field-body` text right, the rule is ignored.  When equivalent Bulma code has the same rule applied, that rule is honored.  This implies the behavior is related to the Buefy component.

##

[2022-07-22 00:49] TheEvilCoder42 commented on #3668
Same issue, I solved it (temporarily) by setting the respective sass variables:
[code]
(Or `em` if that better suits you)

[2022-07-22 12:43] Jimmar opened #3759 "src-fallback doesn't work with srcset"
### Overview of the problem

**Buefy** version: [0.9.21]
**Vuejs** version: [2.6.14]
**OS/Browser**:MacOS 12.4/Chrome 103.0.5060.114

### Description

`src-fallback` doesn't seem to work when using `srcset` or `srcset-sizes` with `srcset-formatter`.
you get a broken image.

### Steps to reproduce

This for example shows a broken image
[code]

### Expected behavior
the `src-fallback` should be load

[2022-07-23 16:45] kwekubright commented on #716
Removing the v-model in my case worked. Thanks @jtommy

[2022-07-23 16:46] kwekubright commented on #716
Removing the v-model solve the issue in my case. Thanks @jtommy

[2022-07-24 18:18] felipepodolan commented on #1170
Was this ever addressed? Can I import Buefy table using a different name than "b-table" ?

[2022-07-30 06:29] zhaolinlau opened #3760 "Navbar's Dropdown Not Being Hoverable After Adding Collapsible"
### Overview of the problem

**Buefy** version: [0.9.21]
**Vuejs** version: [2.7.8]
**Windows 11/Firefox**:

### Description

Navbar's dropdown not being hoverable after adding collapsible

### Steps to reproduce

`
<b-navbar-dropdown label="Programme" boxed hoverable collapsible>
	<b-navbar-item href="#">
		TVET
	</b-navbar-item>
	<b-navbar-item href="#">
		Academic
	</b-navbar-item>
</b-navbar-d

[2022-07-31 20:52] #3547 closed

[2022-07-31 20:53] #3625 closed

[2022-07-31 20:53] #3542 closed

[2022-07-31 20:54] #3592 closed

[2022-08-02 20:12] NicoHood commented on #3648
To me it looks like a pretty good support. At least for the most important browsers. Needing to hardcode it or adding a special setting would make the application using this library more confusing.
https://caniuse.com/mdn-javascript_builtins_intl_locale_weekinfo

[2022-08-02 20:29] jtommy commented on #3648
I can support it but only a few browser versions will use it

[2022-08-03 06:12] NicoHood commented on #3648
That'd be great! :)

[2022-08-04 06:26] zhaolinlau opened #3761 "selected option not working in b-select"
### Overview of the problem

**Buefy** version: [0.9.21]
**Vuejs** version: [2.7.8]
**OS/Browser**: Windows 11/Firefox

### Description

selected option not working in b-select

### Steps to reproduce

`<b-field>
  <b-select>
     <option value="vue">vue</option>
    <option value="bulma">bulma</option>
      <option  value="buefy" selected>buefy</option>
</b-select>
</b-field>`

### Expected beha

[2022-08-04 09:31] alerchedahl commented on #1131
This appears not to be in the latest release branch - am I missing something or is it just not ready yet?
Thanks!

[2022-08-04 21:36] jtommy commented on #3755
You might to use `keypress.native.stop` or similar

[2022-08-05 09:59] gables-bh opened #3764 "Add searchable-class like header-class or cell-class"
### Description

Hi, in my project I am using a table which must have 4 columns with sticky tags and they must always be displayed on the left. With the headerClass and cellClass tags I can fix the elements on the left but not the "search" field because "left: 0" is set in the scss code.
I searched for a workaround using the "searchable" column slot but didn't get the results I hoped for.
This is

[2022-08-08 11:11] vikiival opened #3768 "Update to Vue 2.7"
### Description

It would be nice to update the internal bulma packages to [Vue 2.7](https://github.com/vuejs/vue/blob/main/CHANGELOG.md#270-2022-07-01)

### Why Buefy need this feature

As I am aware that Buefy has a Vue3 successor. It would be nice to maintain the latest compatibility with the existing Vue2 projects before they migrate to Vue3

[2022-08-08 12:08] jtommy commented on #3768
At the moment Vue is a peer dependency, it should work with Vue 2.7 too

[2022-08-10 07:57] naneps opened #3769 "check the parent and child check all along"
### Description
checkable data has parent and child

 When I have data in table, is data has parent and child, when parent in table is checked, all children of parent are checked too
### Why Buefy need this feature
makes it easier when you want to delete child data from the parent

[2022-08-13 05:26] jtommy commented on #3761
You should use binding (v-model or value)

[2022-08-13 05:26] #3761 closed

[2022-08-13 05:37] #3768 closed

[2022-08-14 01:07] #3641 closed

[2022-08-14 01:07] #3650 closed

[2022-08-16 12:20] iris-dblain opened #3770 "Unable to set the Id on b-table"
[code]
This gets appended to the paging component (if enabled) or completely omitted if not.
Is it possible to set the ID without wrapping in another div?

[2022-08-17 16:40] Tanny-Griz opened #3771 "Prop mobile-modal in datetimepicker not working"
hi! The prop -> :mobile-modal='false' in datetimepicker not working (like in datepicker) I don’t want Modal in mobile screen. is there a solution?

"nuxt-buefy": "^0.4.23",
"vue": "^2.6.12",

[2022-08-18 06:15] jtommy commented on #3771
Try using `:datepicker="{ mobileModal: false }`

[2022-08-18 06:15] #3771 closed

[2022-08-18 06:32] Tanny-Griz commented on #3771
it works! thank you!

[2022-08-18 12:47] ASHWINIAJIT opened #3772 "The attribute min-date of Datepicker is not working for ipad and iphone devices."
### Overview of the problem

**Buefy** version: [0.9.13]
**Vuejs** version: [2.6.11]
**OS/Browser**: Chrome

### Description

The attribute min-date of Datepicker is not working for ipad and iphone devices.

However, it is working for android devices. Also it seems to be working fine for all devices when checked in browser stack.

**min-date for this particular scenario is 18-Aug-2022**

### **And

[2022-08-18 13:37] jtommy commented on #3772
Native picker doesn't support it, you should disable it using `mobile-native` prop

[2022-08-18 13:37] #3772 closed

[2022-08-19 13:19] donmb1 commented on #3726
@mouadTaoussi any findings? could you reproduce it?

[2022-08-22 02:38] RenanRSilva commented on #1338
@erwanpoupard Did you find a solution?

[2022-08-23 10:25] vakrolme opened #3774 "Native support for using FontAwesome alongside Material Icons"
### Description

Make it easy to use both FontAwesome and Material Icons in one project.

So, components like `b-button` use `b-icon` internally, and it [takes](https://github.com/buefy/buefy/blob/adba1eb0c3bf0cc9779fe8ad2e2d19e239f04f7e/src/components/button/Button.vue#L53) `icon-pack` as a prop.

Within `b-icon`, there's a calculated property `useIconComponent`, and it seems like in order to mak

[2022-08-23 19:36] von-maurus commented on #3254
Hey can you help on showing the prev/next buttons for month selection when you override with header slot?
I don't know how to do it

[2022-08-23 21:29] vakrolme commented on #3774
I found a better workaround. Create an intermediary component that would properly render either Material or FontAwesome icon based on its prefix, and set it as `defaultIconComponent` in the buefy constructor options. Then whenever `<b-icon>` is invoked, the props will get passed straight down to this agnostic component, which will in turn do the rendering of either FontAwesomeIcon, or `<i>` with a

[2022-08-25 20:40] momander commented on #1160
Here is what I did to make b-tables use automatic width (instead of the default 100%):

[code]

[2022-08-26 14:49] titoff002 opened #3775 "Integration with vue3 (nuxtjs 3) ? is Ok ?"
Hello,

Do you have a date for the migration/use of buefy with **vue3** (preferably with **nuxtjs3**)?

If it's already done: do you have a tutorial for integration and use with nuxtjs 3?

Thank you.
Have a good day.

[2022-08-26 18:05] jtommy commented on #3775
There is no Vue 3 version but you might use Oruga + official theme https://github.com/oruga-ui/theme-bulma

[2022-08-26 18:05] #3775 closed

[2022-08-26 21:50] von-maurus commented on #2787
@jtommy Hi! this feature is available right now? Or do you have some other options to do this multicolumns feature?

[2022-09-01 14:03] Minhyme opened #3779 "Add Slot to Table Check All"
### Description
Provide a slot wrapping the existing b-checkbox for checking all rows.

[code]

### Why Buefy need this feature
When using pagination, you can either use the default functionality of selecting all on the current page, or override this behavior by catching the check-all event. You cannot however do both. Providing a slot and binding the computed variables to that slot will allow peo

[2022-09-04 13:40] Hyperion2400 opened #3780 "Some domains on the expo page have expired or lead to broken websites"
### Description

This isn't really a bug with the framework but I don't know where else to report this. Several domains on the expo page https://buefy.org/expo have expired or lead to broken websites. They should probably be removed as it doesn't make a good impression on people who might be interested in using the framework.

Expired:

- https://crawly.app/
- https://yakety.co.uk/

Broken or not

[2022-09-04 14:06] jtommy commented on #3780
You can make a PR to delete theme

[2022-09-07 16:32] jazzzz commented on #3113
The issue is still present because the fix was reverted in #3257. I reproduce the bug with Buefy version 0.9.19.

[2022-09-12 09:31] l4k5hm4n opened #3783 "Landing on any website URL throws a 404"
### Overview of the problem

Opening the website through a direct url throws 404

**OS/Browser**: Chrome/Safari

### Description

Website throws a 404 when tried to access through a direct link. Routing works as expected when you navigate to the desired page from homepage ( buefy.org )

### Steps to reproduce

1. visit https://buefy.org/documentation
2. you should see a 404 as in attached screensh

[2022-09-12 09:51] #3783 closed

[2022-09-12 13:49] GMartigny commented on #3740
Colorpicker component returns a `Color` object when updated. If you want to display it, you need to parse it to string using `toString`.

[code]

[2022-09-13 08:34] GMartigny opened #3785 "Tabs item loose the 'tab-item' class when user defines it"
### Overview of the problem

**Buefy** version: 0.9.21
**Vuejs** version: 2.7.8
**OS/Browser**: Chrome

### Description

If you define a `class` on a `<b-tab-item>`, it looses its `tab-item` default class. This is unexpected and can make it harder to define CSS rules for all tab items.

### Steps to reproduce

[code]

### Expected behavior

All tab items should have the `tab-item` class **and** th

[2022-09-13 16:20] luna-red commented on #3202
What happened to this request for a feature?  I am needing to multi-select rows, not check boxes, and am going to have to figure out a work around.  Multi selection of rows is a common scenario in front end development.  Worst case scenario, I'll have to build my own table but more than likely just use css for highlighting the multiple rows with a separate array tracking selected items.

[2022-09-13 21:00] JDurman opened #3786 "Infinite Scroll For Autocomplete doesn't work with using only arrow keys"
### Overview of the problem

**Buefy** version: [0.9.22]
**Vuejs** version: [2.6.11]

### Description

When scrolling down the autocomplete list using just the arrow keys the infinite scroll check will not fire the event. It works using the mouse however.

### Steps to reproduce

1. focus the autcomplete
2. hit the down arrow till you hit the bottom of the list.

### Expected behavior

Should grab

[2022-09-13 21:13] #3786 closed

[2022-09-13 21:17] #3433 closed

[2022-09-14 08:53] neonanal commented on #3783
Still happening -- each browser restart I get all 404 pages that were opened on Buefy docs website prior the restart.

[2022-09-14 09:07] jtommy commented on #3783
What pages?

[2022-09-14 09:49] neonanal commented on #3783
Every single one of them

[2022-09-17 17:48] Kashalls commented on #3074
Still seems to be a present issue even almost 2 years later. Bulma does not wish to fix this.

[2022-09-21 01:09] xiaoxiao99 opened #3789 "Move label position leftward for numberinputs when controls-alignment="right""
### Description
Currently, for numberinputs with **controls-alignment="right"**, the label position is misaligned with other types of inputs.
![buefy](https://user-images.githubusercontent.com/8103965/191391416-166e57e5-a1f3-45bc-ab3d-cffef1ca4193.png)

Code pen live example is here
https://codepen.io/xiaoxiao22/pen/zYjzXPx

It makes sense to align label with others for this specific case.

### Wh

[2022-09-21 02:34] #3234 closed

[2022-09-21 13:46] Moritz-Schmidt opened #3791 "Table subheading slot not working"
### Overview of the problem

The subheading slot of the b-table component is not being displayed.

**Buefy** version: [0.9.22]
**Vuejs** version: [2.7.10]
**OS/Browser**: Linux Arch (5.19.9-arch1-1) / Firefox (104.0.2)

### Description

When using the slot in the column element it works, but not in the table element.
According to the documentation the Table component should have a "subheading"-slo

[2022-09-21 14:00] Moritz-Schmidt commented on #3791
same problem with the custom header slot

[2022-09-22 20:17] #3708 closed

[2022-09-24 17:16] wobsoriano commented on #2488
any update @EyePulp ?

[2022-09-26 13:59] EyePulp commented on #2488
@wobsoriano Vite works fine with vue2 at this point, and thus, no special issues using buefy.

**However --pay attention to which Vue version you're running:**

For Vue < v2.7 you need an [older vite plugin](https://github.com/underfin/vite-plugin-vue2)

But if you're using vue 2.7, you can use the newer [official plugin](https://github.com/vitejs/vite-plugin-vue2).

[2022-09-27 16:15] didaquis commented on #3116
In my opinion, the request @dmitry-gerasimov makes is really interesting.
If you have multiple elements with the "append-to-body" option and you want to customize the styles independently you are going to have a lot of problems. However, adding something like what @dmitry-gerasimov indicates would solve it elegantly.

[2022-09-28 09:50] cakecatz opened #3792 "Datepicker cause inifinite loop if change month by keyboard"
### Overview of the problem

**Buefy** version: 0.9.22
**Vuejs** version: 2.6.11
**OS/Browser**: MacOS/Chrome

### Description

https://github.com/buefy/buefy/blob/dev/src/components/datepicker/DatepickerTableRow.vue#L370
https://github.com/buefy/buefy/blob/dev/src/components/datepicker/DatepickerTableRow.vue#L166-L168

`changeFocus` check `nextDay` is selectable, but it always return `false` if n

[2022-09-28 18:28] kerrigan614 commented on #3208
Was there ever any resolution to this issue? I'm running into the same problem.

[2022-09-29 09:25] komxvl opened #3794 "Dot inside input"
Hi! Thanks for this amazing library. I have some problems with the input component. When I finish entering text and fast-clicking two spaces the dot append inside the input.
<img width="523" alt="Screenshot 2022-09-29 at 12 24 03" src="https://user-images.githubusercontent.com/29713494/192994284-a390b6e9-9b97-422f-8357-6a50da9eec52.png">

[2022-09-29 09:54] jtommy commented on #3794
Thanks!
It's not a Buefy issue, did you try using a native input?

[2022-09-29 09:54] #3794 closed

[2022-09-29 10:27] komxvl commented on #3794
Thanks for your answer, the same behavior, it's so strange...

[2022-09-30 11:51] #3779 closed

[2022-10-04 10:02] rahulmomentum commented on #1198
@LarryBarker I am facing the same issue. How did you sort out this issue? Thanks in advance.

[2022-10-05 09:55] holtolee commented on #3792
I reproduced this issue on one of my project, nice catch. +1

[2022-10-06 15:20] geeksilva97 commented on #3791
I would like to investigate it.

[2022-10-07 02:18] geeksilva97 commented on #3760
Investigating

[2022-10-08 00:19] urielgi opened #3801 "Change the background color dialogs"
Hi,

**Description:**
Add the property to change the background color of dialogs and/or modals.

**Why**
To increase the number of properties that can be edited in a dialog and to give more emphasis to the dialog (is-danger, is-warning, etc.)

[2022-10-10 10:10] swarmukhdefault opened #3802 "Full width sidebar doesn't have a close button"
### Overview of the problem

**Buefy** version: [0.9.22]
**Vuejs** version: [3.2.40]
**OS/Browser**: Windows 11/Brave

### Description

Full width sidebar does not have a close button. It can be closed by pressing the `Esc` key however. This behaviour can confuse a user who is desperately trying to close the sidebar but is unable to find the close/exit button.

**Note:** As a controlled component,

[2022-10-16 10:41] Hyperion2400 commented on #3802
I would also expect the sidebar to close if a swipe left is detected on mobile (or swipe right if the sidebar is on the right).
At least for a default width sidebar. Not sure if it makes sense for a fullwidth sidebar from a UX perspective.

[2022-10-17 06:11] neonanal commented on #3752
Hello,
I'm trying to call  `this.$refs.input.checkHtml5Validity()` to  validate text input that has value set programmatically (i.e. w/o user input), but cannot trigger `valid=false` state unless I modify input value from keyboard, i.e. add or delete symbol. Neither focus nor blur nor calling `this.$refs.input.checkHtml5Validity()` trigger validationc check. Is it a feature or I'm doing something

[2022-10-17 07:08] neonanal commented on #3752
Actually, disregard my message, seems like some quirk of html5 `checkValidity()` fn, as I cannot get false from it even with bare `<input>` tag unless I interact with it. Will look deeper and post back.

[2022-10-26 07:58] anti-destin opened #3804 "Table: in a numeric column header, the sort icon is on the right side, but should be on the left"
### Overview of the problem

In a numeric column header, the sort icon is on the right side, but it should be on the left.

**Buefy** version: 0.9.22
**Vuejs** version: 2.6.14
**OS/Browser**: macOS Big Sur 11.7/Ungoogled Chromium 106.0.5249.103

### Description

In a numeric column header, the sort icon is on the right side, but according to the documentation, it should be on the left.

### Steps

[2022-11-02 04:13] scheinercc commented on #3668
Related to this? https://github.com/FortAwesome/Font-Awesome/issues/18663#issuecomment-1160205450

[2022-11-06 19:22] camohub opened #3805 "Vue 3 support"
What is going on with migration to Vue 3? Is there a hope Buefy will support Vue 3 or not?

[2022-11-08 00:50] wesdevpro commented on #3805
@camohub from my understanding, buefy will not be moved to support vue3. **However**, there is a buefy/bulma theme _being developed_ for Oruga UI. [oruga-ui/theme-bulma](https://github.com/oruga-ui/theme-bulma)

[2022-11-09 07:40] feedanal opened #3806 "progress bar won't update on Message"
Hello,
I'm using a simpliest example of Message w/ progress bar attached, and the bar does not seem to be updated. All styles and values are in place, but the progress value is not decreasing, console log is empty. I tried importing individual components and the whole Buefy -- same result.

Non-working example:
https://codepen.io/feedanalytics/pen/YzvNVzN

Can it be related to https://github.com/b

[2022-11-13 07:07] #3675 closed

[2022-11-13 07:07] #3690 closed

[2022-11-13 07:07] #3704 closed

[2022-11-13 07:08] #3713 closed

[2022-11-14 21:24] #3805 closed

[2022-11-16 03:23] rogeriotaques commented on #3304
Hi, there! Has this issue been fixed?

[2022-11-16 06:40] Tharabas commented on #3304
Nope, still open, and now I doubt it will be fixed.

[2022-11-16 12:07] rogeriotaques commented on #3304
Why? I guess I'm missing something! 😐

[2022-11-17 22:14] camohub commented on #3805
Its sad. Very sad.

[2022-11-17 22:18] wesdevpro commented on #3805
I totally agree. Buefy has a lot of potential and Buefy is awesome for turning around great static websites. Unfortunately I don't have enough understanding about buefy's setup. Otherwise I would contribute and make the upgrade to vue3 @camohub  @Tommy

[2022-11-25 15:18] glumb commented on #3272
The issue still persists in Buefy V9.22

[2022-11-26 17:14] #3272 closed

[2022-11-26 17:14] jtommy commented on #3272
@glumb just fixed!

[2022-11-29 05:00] FuckAnyProblem commented on #2519
Hi, I'm just trying frame like Buefy, I don't know how to change the variable, could you tell how to use it?